{#
/**
 * @file
 * Theme implementation for bmc_section_nav.
 *
 * Available variables:
 * - context_nav
 * - toggle_button
 *
 * @ingroup themeable
 */
#}
{% if context_nav|render|trim %}
    <div class="bmc-section-nav navigation"  role="navigation" aria-label="Section">
        {% if toggle_button %}
            <button class="section-nav__toggle bmc-section-nav__nav-toggle" aria-expanded="false">
                <span class="visually-hidden">Expand</span>
              {% trans %}
                In This Section
              {% endtrans %}
            </button>
        {% endif %}
        <div class="bmc-section-nav__nav-menu section-nav__panel">
            {{ context_nav }}
        </div>
    </div>
{% endif %}
