{#
/**
 * @file
 * Theme implementation for an bmc_context_nav
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menu %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<nav{{ attributes.addClass('site-context-nav') }}>
    {{ menu.menu_links(items, 0) }}
</nav>

{% macro menu_links(items, menu_level) %}
    {% import _self as menu %}
    {% if items %}
        <ul>
            {% for item in items %}
                {%
                    set classes = [
                        item.below ? 'has-children'
                    ]
                %}
                 <li{{ item.attributes.addClass(classes) }}>
                    {{ link(item.title, item.url) }}
                    {% if item.below %}
                    sdfsdfs
                        {{ menu.menu_links(item.below, menu_level) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
