{% if announcements|length >= 0 or today|length >= 0 or upcoming|length >= 0  %}

  {% if heading %}
    <h1 style="font-size: 22px;
      text-align: center;
      background-color:  {{ color }};
      color: #ffffff;
      padding: .4em .3em .4em .6em;
      display: block;
      margin: 0;
      font-weight: bold;
      line-height: 125%;"
    >
      {{ heading }}
    </h1>
  {% endif %}

  {% if announcements|length > 0 %}
    <h2 style="font-size: 20px;
      text-align: center;
      padding: .4em .3em .4em .6em;
      color: {{ color }};
      display: block;
      margin: 0;
      font-weight: bold;
      line-height: 125%;
      text-transform: uppercase"
    >
      Announcements
    </h2>

    {% for  item in announcements %}
      <p><strong><span style="font-size:18px">
      {% if item['#uri']|length > 0 %}
        <a href="{{ item['#uri'] }}" style="color: {{ color }};">{{ item['#title'] }}</a>
      {% else %}
        <span style="color: {{ color }};">{{ item['#title'] }}</span>
      {% endif %}
        </span></strong><br>
      {% if item['#blurb'] %}
        {{ item['#blurb'] }}
      {% endif %}
      </p><hr/>
    {% endfor %}

  {% endif %}

  {% if today|length > 0 %}
    <h2 style="font-size: 20px;
      text-align: center;
      padding: .4em .3em .4em .6em;
      color: {{ color }};
      display: block;
      margin: 0;
      font-weight: bold;
      line-height: 125%;
      text-transform: uppercase"
    >
      Today's Events
    </h2>

    {% for  item in today %}
      <p><strong><span style="font-size:18px">
        <a href="{{ item['#href'] }}" style="color:{{ color }};">{{ item['#title'] }}</a>
        </span></strong><br>
        {{ item['#blurb'] }}
      </p>
      <p>
        {% if item['#location_choice'] is defined %}
          {{ item['#location_choice'] }}<br/>
        {% endif %}
        {% if item['#location'] is defined %}
          {{ item['#location'] }}<br/>
        {% endif %}
        {% if item['#location_details'] is defined %}
          {{ item['#location_details'] }}<br/>
        {% endif %}
        <strong>{{ item['#date'] }}</strong></p>
      {% if item['#ddigest_date'] %}
        <strong>Daily Digest Date:</strong>
        {% for date in item['#ddigest_date'] %}
          {{ date['value'] }}
        {% endfor %}
      {% endif %}
      <hr/>
    {% endfor %}
  {% endif %}

  {% if upcoming|length > 0 %}
    <h2 style="font-size: 20px;
      text-align: center;
      padding: .4em .3em .4em .6em;
      color: {{ color }};
      display: block;
      margin: 0;
      font-weight: bold;
      line-height: 125%;
      text-transform: uppercase"
    >
      Upcoming Events
    </h2>

    {% for  item in upcoming %}
      <p><strong><span style="font-size:18px">
        <a href="{{ item['#href'] }}" style="color:{{ color }};">{{ item['#title'] }}</a>
        </span></strong><br>
        {{ item['#blurb'] }}
      </p>
      <p>
        {#  code for Event Form Restructure 9/2023 #}
        {% if item['#location_choice'] is defined %}
          {{ item['#location_choice'] }}<br/>
        {% endif %}
        {# -END- code for Event Form Restructure 9/2023 #}
        {% if item['#location'] is defined %}
          {{ item['#location'] }}<br/>
        {% endif %}
        {% if item['#location_details'] is defined %}
          {{ item['#location_details'] }}<br/>
        {% endif %}
        <strong>{{ item['#date'] }}</strong></p>
      {% if item['#ddigest_date'] %}
       <strong>Daily Digest Date:</strong>
        {% for date in item['#ddigest_date'] %}
          {{ date['value'] }}
        {% endfor %}
      {% endif %}
      <hr/>
    {% endfor %}
  {% endif %}

{% endif %}
