<!-- begin tridget -->
<!-- TAB MODULE BEGIN -->
<div class="tabbed">
  <!-- TAB CONTENT PANELS BEGIN -->
  <!-- TAB 1 PANEL BEGIN -->
  <section id="section1">

    <form target="_blank" class="search" action="https://tripod.brynmawr.edu/discovery/search" method="get" id="searchForm" name="searchForm" enctype="application/x-www-form-urlencoded; charset=utf-8">
      <input type="text" id="primoQueryTemp" name="query" aria-label="Search Tripod" value="" size="128" maxlength="128" class="form-text" />

      <!-- Fixed parameters -->
      <input type="hidden" name="tab" value="LibraryCatalog"/>
      <input type="hidden" name="vid" value="01TRI_INST:BMC">
      <input type="hidden" name="search_scope" value="BMC_Catalog">
      <button id="submit" name="op" value="Search" type="submit">Search Tripod</button>
    </form>
    <p>Tripod is the TriCollege Libraries' catalog.  Find other <a target="_top" href="https://www.brynmawr.edu/lits/trico-catalogs" title="other collection and search tools">collections &amp; search tools.</a>
    </p>
  </section>
  <!-- TAB 1 PANEL END -->
  <!-- TAB CONTENT PANELS END -->
</div>
<!-- TAB MODULE END -->
<!-- end tridget -->
