h2,
h3,
h4,
h5,
h6,
p,
ul li,
ol li {
  color: #002858;
}
h2 {
  font-size: 27px;
}
h3,
h5 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}

a {
  color: #C73500;
  font-weight: 600;
  text-underline-offset: .25em;
  text-decoration-thickness: 1px;
}

blockquote {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: center;
  background: #F1EEE9;
  padding: 1.4em 30px 1.5em;
  margin: 0 0 60px 40px;
  position: relative;
  width: 335px;
  float: right;
}

.cta--button--primary {
  color: #002858;
  font-family: "dunbar-tall", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.35px;
  display: inline-block;
  background: #FFC600;
  border: 2px solid #FFC600;
  padding: 0.5em 1.2em;
  margin: 0.2em 0;
}

.cta--button--secondary {
  color: #002858;
  font-family: "dunbar-tall", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.35px;
  display: inline-block;
  border: 2px solid #002858;
  background: transparent;
  padding: 0.5em 1.2em;
  margin: 0.2em 0;
  transition: all 300ms;
}

.intro-wysiwyg {
  font-family: "turnip", serif;
  font-weight: 390;
  font-size: 1.3125rem;
  font-style: italic;
  line-height: 1.75rem;
}
hr {
  margin: 2em 0;
  border: #BAA890 solid 1px;
}
hr.branded {
  border: #FC4D0F 2px solid;
  list-style: none;
  margin: 2em 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.video-embed-field-launch-modal {
  display: none;
}

drupal-entity[data-align=left],
drupal-entity[data-align=right] {
  max-width: 45%;
}

drupal-entity[data-align=left] {
  float: left;
}

drupal-entity[data-align=right] {
  float: right;
}

table {
  border: 0;
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
}

table thead {
  background-color: #FFC600;
  border-bottom: 4px solid #BAA890;
}

table td,
table th {
  font-family: "dunbar-tall", sans-serif;
  font-size: 1.0625rem;
  letter-spacing: 0.4px;
  line-height: 1.625rem;
  color: #002858;
  text-align: left;
  padding: 8px 12px;
  border: 1px solid #BAA890;
  vertical-align: top;
  min-width: 90px;
}

table th {
  font-weight: 600;
}

table td {
  font-weight: 400;
}
