.campaign-banner {
  margin: 0 -20px;
  opacity: 1;
  transition: opacity 300ms;
  @media (min-width: $break-medium) {
    position: fixed;
    right: 90px;
    bottom: 0;
    width: 380px;
    z-index: 9999;
  }
  &.hide {
    @media (min-width: $break-medium) {
      
      opacity: 0;
    }
  }
  a {
    display: flex;
    background: transparent;
    &:hover {
      border: 1px solid $color-yellow!important;

      .campaign-banner__cta-txt {
        color: $color-yellow!important;
      }
    }
    &:hover, &:focus {
      outline-color: $color-white;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0 20px;
    @media (min-width: $break-medium) {
      padding-top: 10px;
    }
  }
  &__title,
  &__cta {
    margin-bottom: 15px;
    @media (min-width: $break-medium) {
      flex: 0 1 50%;
      margin-bottom: 10px;
    }
  }
  &__title {
    max-width: 180px;
    padding-right: 20px;
  }
  &__cta {
    display: inline-flex;
    align-items: center;
    width: 10em;
    background: transparent;
    transition: all 300ms;
  }
  &__cta-img {
    img {
      width: 50px;
      height: 36px;
      object-fit: cover;
    }
  }
  &__cta-txt {
    font-size: rem(13);
    line-height: 1.61;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 7px 17px 8px 0;
    transition: all 300ms;
  }
}