{#
/**
 * @file
 * Template for Program Type taxonomy term
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div class="prog-type">
  <div class="prog-type__title prog-type--{{ content.field_prog_type_class.0 }}">
    {{ name.0 }}
  </div>
  <div class="prog-type__tooltip">
    {{ content.field_prog_type_tooltip.0 }}
  </div>
</div>
