{#
/**
 * @file
 * Theme override for Social Callout channels field.
 *
 * @see template_preprocess_field()
 */
#}

{% if multiple %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% else %}
  {{ item.content }}
{% endif %}

