{#
/**
 * @file
 * Theme override for Feature: Large - CTA field.
 *
 * @see template_preprocess_field()
 */
#}

{% for item in items %}
  <a href="{{ item.content['#url'] }}" class="{{ item.content['#options'].class }}">{{ item.content['#title'] }}</a>
{% endfor %}
