{#
/**
 * @file
 * Theme override for Timeline items field.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'timeline__item-pos'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div class="timeline__item-pos--{{ loop.index is even ? 'right' : 'left' }}">{{ item.content }}</div>
  {% endfor %}
</div>
