{#
/**
 * @file
 * Theme override for Special List Small items field.
 *
 * @see template_preprocess_field()
 */
#}
<ul class="special-list-small__list">
  {% for item in items %}
    <li class="special-list-small__list--item">{{ item.content }}</li>
  {% endfor %}
</ul>
