{#
/**
 * @file
 * Theme override for Feature: Large - CTA field.
 *
 * @see template_preprocess_field()
 */
#}
<ul class="fdrop__links">
  {% for item in items %}
    <li class="fdrop__link">{{ item.content }}</li>
  {% endfor %}
</ul>
