{#
/**
 * @file
 * Theme override for Special List Small items field.
 *
 * @see template_preprocess_field()
 */
#}
<ul class="feat_grid__items__list">
  {% for item in items %}
    <li class="feat_grid__items__list_item has-link">{{ item.content }}</li>
  {% endfor %}
</ul>
