{#
/**
 * @file
 *Theme override for News content type
 * Focus on Bulletin elements
 *
 * @see template_preprocess_field()
 */
#}
<ul class="news__rellinks">
  {% for item in items %}
    <li class="news__rellinks">{{ item.content }}</li>
  {% endfor %}
</ul>
