{#
/**
 * @file
 * Theme override for Special List Small items field.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'feat-lg__img-wrap'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
  {% endfor %}
</div>
