{#
/**
 * @file
 * Theme override for News content type
 * Focus on Bulletin elements
 *
 * @see template_preprocess_field()
 */
#}
<ul class="news__relreads">
  {% for item in items %}
    <li class="news__relread">{{ item.content }}</li>
  {% endfor %}
</ul>
