{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}
<ul class="social_media_connect">
  {% for item in items %}
    <li class="social_media_connect_item__wrapper">{{ item.content }}</li>
  {% endfor %}
</ul>
