{#
/**
 * @file
 * Theme override for Feature: Large - CTA field.
 *
 * @see template_preprocess_field()
 */
#}

{% for item in items %}
  <h1 class='visually-hidden'>Bryn Mawr Alumnae Bulletin: {{ item.content }}</h1>
{% endfor %}
