{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}

  {# NOTE: beginning of  <div class="tabs-wrap"> is on the paragraph--vert_tab.html.twig
  to get the image field to use as the background to the tabslist #}



    <ul class="tabs-list" role="tablist">
  {% for item in items %}
      <li class="vert_tab__list-item" role="presentation">
       <button id="tab{{ item.vti.itemsID }}-{{ loop.index }}" class="vert-tabs-list" type="button" role="tab" aria-selected="false" aria-controls="tabpanel{{ item.vti.itemsID }}-{{ loop.index }}">{{ item.vti.title }}</button>
      </li>

{% endfor %}
    </ul>
  </div> {# END tabs-wrap, see note above #}

  <div class="tabs-details">
  {% for item in items %}

    <button id="tab{{ item.vti.itemsID }}-{{ loop.index }}" class="tab_drawer_heading" type="button" role="tab" aria-selected="false" aria-controls="tabpanel{{ item.vti.itemsID }}-{{ loop.index }}">
      {{ item.vti.title }}
    </button>

    <div id="tabpanel{{ item.vti.itemsID }}-{{ loop.index }}" class="vert-tab-detail" role="tabpanel" aria-labelledby="tab{{ item.vti.itemsID }}-{{ loop.index }}" tabindex="-1"> {{ item.vti.detail|raw }}</div>

  {% endfor %}
  </div>



