{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}

<div class="admino_country"><strong class="admino_field_label">Countries: </strong>
{%  for item in items|sort %}
  {% if loop.last %}
    {% set separator = '' %}
  {% else %}
    {% set separator = ', ' %}
  {% endif %}
  {{ item.content }}{{ separator }}
{% endfor %}
</div>
