{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}
{{ attach_library('bmc_d9/bulletin-carousel') }}

<div class="bulletin-carousel paragraph" aria-roledescription="Carousel">

  <div class="bulletin-carousel-header">
    <div id="skip-carousel">
      <a href="#past-carousel">Skip carousel</a>
    </div>
  </div>

  <div class="bulletin-carousel__items">
    {% for item in items %}
    <div class="bulletin-carousel__item">
    {{ item.content }}
    </div>
    {% endfor %}
  </div>

  <div class="bulletin-carousel-footer">
    <a name="past-carousel" tabindex="-1" id="past-carousel"></a>
  </div>

</div>
