{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  'home',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
]
%}
<div{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    {% if title %}
      <h1 class="visually-hidden">{{ title }}</h1>
    {% endif %}
    {% if content.field_home_carousel.0 %}
      <div class="home__carousel" aria-roledescription="Carousel" aria-label="{{content.field_home_hero_carousel_label.0}}">
        {{ content.field_home_carousel }}
      </div>
      <div aria-live="polite" class="visually-hidden carousel-live-region"> </div>
    {% endif %}
    {% if content.field_home_body.0 %}
      <div class="home__body">
        {{ content.field_home_body }}
      </div>
    {% endif %}
  </div>
</div>
