{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('node__content') }}>
    {% if content.field_ofc_ser_intro.0  %}
    <div class="page__intro">
      <div class="page__intro--text">
        {{ content.field_ofc_ser_intro.0 }}
      </div>
    </div>
    {% endif %}
    {% if inside_bmc %}
      {% if content.field_page_quicklinks %}
        <div class="page__intro--quicklinks">
          {{ content.field_page_quicklinks }}
        </div>
      {% endif %}
    {% endif %}

    
    {% if content.field_ofc_ser_paras %}
      <div class="ofc_ser__body page__body">
        {{ content.field_ofc_ser_paras }}
      </div>
    {% endif %}
  </div>
</article>