{#
/**
 * @file
 * Theme override to display a Bulletin Explore,
 * built in Basic Page content type.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'bulletin-explore',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
{{ attach_library('bmc_d9/bulletin-explore') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="page__intro-links">
      {% if content.field_page_intro.0  %}
      <div class="page__intro">
        <div class="page__intro--text">
          {{ content.field_page_intro.0 }}
        </div>
      </div>
      {% endif %}
      {% if inside_bmc %}
        {% if content.field_page_quicklinks %}
          <div class="page__intro--quicklinks">
            {{ content.field_page_quicklinks }}
          </div>
        {% endif %}
      {% endif %}
    </div>
    {% if content.field_body|render is not empty %}
      <div class="page__body">
        {{ content.field_body }}
      </div>
    {% endif %}
    <div class="bulletin-col-wrapper">
      <div class="bulletin__explore-stories__content bulletin__col--content">
        {{ drupal_view('bulletin_explore', 'block_1')}}
      </div>
      <aside aria-labelledby="bulletin__explore-stores__sidebar__aside-heading" class="bulletin__explore-stories__sidebar bulletin__col--side">
        <h2 id="bulletin__explore-stores__sidebar__aside-heading" class="bulletin__explore-stories__label">Explore Stories</h2>
        {{ drupal_view('bulletin_issues', 'block_2') }}
        {{ drupal_view('bulletin_section', 'block_1') }}
        {{ drupal_view('bulletin_topics', 'block_1') }}
      </aside>
    </div>
  </div>
</article>
