{#
/**
 * @file
 * Theme override for Event nodes in Full display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  'event',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
{{ attach_library('bmc_d9/sharethis') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="sharethis-wrapper">
      <div class="sharethis sharethis--bulletin sharethis-inline-share-buttons"></div>
    </div>
    <div class="event__content-wrap">
      {% if detail_image.src %}
        {% if detail_image.style != "teaser" %}
          <figure role="group" class="event__detail-image {{ detail_image.style }}">
          <img
            src="{{ detail_image.src }}"
            alt="{{ detail_image.alt }}"
            height="{{ detail_image.height }}"
            width="{{ detail_image.width }}" />
          {% if content.field_event_img_caption.0 %}
            <figcaption class="event__detail-image--caption">{{ content.field_event_img_caption.0 }}</figcaption>
          {% endif %}
        </figure>
        {% endif %}
      {% endif %}
      {% if content.field_event_body %}
        <div class="event__body">
          {{ content.field_event_body }}
          {% if content.field_event_paras %}{{ content.field_event_paras }}{% endif %}
        </div>
      {% endif %}
      {#  code for Event Form Restructure 9/2023 #}
      {% if content.field_virtual_event_access_link.0 %}
        <div class="event__link"><span class="event__link--label">Virtual Access Link:</span>
          <div class="event__link-wrapper">
            {{ content.field_virtual_event_access_link }}
          </div>
        </div>
      {% endif %}
      {#  -END- code for Event Form Restructure 9/2023 #}
      {% if content.field_event_audience.0 %}
        <div class="event__audience"><span class="event__audience--label">Audience:</span> {{ content.field_event_audience[0]['#title'] }}</div>
      {% endif %}
      {% if event_types %}
        <div class="event__type"><span class="event__type--label">Type(s):</span> {{ event_types }}</div>
      {% endif %}
      {% if content.field_event_contact_name.0 %}
        <div class="event__contact"><span class="event__contact--label">Contact:</span>
          <div class="event__contact-wrapper">
            {{ content.field_event_contact_name.0 }}
            {% if content.field_event_contact_email  %}
              <br /> {{ content.field_event_contact_email }}
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% if content.field_tags.0 %}
        <div class="event__tags tagged-as">
          <h2 class="event__tags-title tagged-as__title"><span>Tagged as</span></h2>
          <ul>
            {% for tag in tags %}
              <li><a href="{{ tag.path }}" class="tag">{{ tag.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="event__disclaimer">
        <p>Bryn Mawr College welcomes the full participation of all individuals in all aspects of campus life. Should you wish to request a disability-related accommodation for this event, please contact the event sponsor/coordinator. Requests should be made as early as possible.</p>
      </div>
    </div>
  </div>
</article>
