{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'news-teaser-3up news-listing',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{% set contentClasses = [
  'node__content',
  'news-listing__items--item',
  'has-link'
]
%}

{% set identifierName = identifier.name %}
{% if identifierName == 'Marketing' %}
  {% set identifierName = 'College News' %}
{% endif %}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass(contentClasses) }}>
    <div class="news-listing__left">
      {% if content.field_news_img.0 %}
        <div class="news-listing--img">
          {{ content.field_news_img }}
        </div>
        {% else %}
          <div class="news-listing--img default-img">
            <img src="/{{ base_path ~ directory }}/assets/img/image-backup.png" alt="">
          </div>
      {% endif %}
    </div>
    <div class="news-listing__right">
      {%  if content.field_news_date %}
       <div class="news-listing__date">{{ content.field_news_date }}</div>
      {% endif %}
      <h3 class="news-listing__title">        
        <a href="{{ url }}">
          {{ label.0 }}
        </a>
      </h3>
      {% if parent_node_identifier %}
      {% if identifier != parent_node_identifier %}
        <div class="identifiers">
          <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifierName }}</div>
        </div>
      {% endif %}
      {% else %}
      <div class="identifiers">
        <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifierName }}</div>
      </div>
      {% endif %}
    </div>
  </div>
</article>
