{#
/**
 * @file
 * Theme override to Bookshelf Item node in teaser explore mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{% set bulletin_issue_title = content.field_bulletin_issue.0 %}
{% set bulletin_issue_id = node.field_bulletin_issue.entity.tid.value %}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="spotlight__col spotlight__col--img">
    {% if content.field_spotlight_img %}
      <div class="spotlight-image">
        {{ content.field_spotlight_img }}
      </div>
    {% endif %}
    </div>
    <div class="spotlight__col spotlight__col--content">
      <h2 class="spotlight-title">
        {% if label and not page %}
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        {% endif %}
      </h2>
      <div class="spotlight-blurb">
        {{ content.field_spotlight_blurb.0 }}
      </div>
      <div class="spotlight__more">
        <span>More from</span>
        <a href="/bulletin/explore?issue[]={{ bulletin_issue_id }}">
          {{ bulletin_issue_title }}
        </a>
      </div>
    </div>
  </div>
</article>
