{#
/**
 * @file
 * Theme override for News node in Bulletin Full display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  'news',
  'bulletin-article',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
{{ attach_library('bmc_d9/colorbox') }}
{{ attach_library('bmc_d9/bulletin-news') }}

{% set bulletin_issue_title = content.field_bulletin_issue.0 %}
{% set bulletin_issue_id = node.field_bulletin_issue.entity.tid.value %}

{# Logic to determine where the image gets rendered if NOT featured #}
{% if content.field_news_bulletin_featimg.0['#markup'] == 'Off' %}
 {% set feature = false %}
  {% if not feature and content.field_news_img_orientation.0['#markup'] == 'detail_wide' %}
    {% set img_wide = true %}
  {% endif %}
{% endif %}

{% if content.field_news_img_orientation.0['#markup'] == 'detail_portrait' %}
  {% set img_portrait = true %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    {% if content.field_news_summary.0 %}
      <div class="bulletin-article__summary">{{ content.field_news_summary.0 }}</div>
    {% endif %}
    {% if content.field_news_author.0 %}
      <p class="bulletin-article__author">By {{ content.field_news_author.0 }}</p>
    {% endif %}

    <div class="bulletin-col-wrapper">
      <div class="bulletin-article__body bulletin__col--content">
        {% if img_wide %}
          <div class="bulletin-article__img-wrap">
            {{ content.field_news_img }}
          </div>
        {% endif %}
        {% if content.field_news_body %}
          <div class="bulletin-article__body--text">
            {{ content.field_news_body }}
          </div>
        {% endif %}
        {% if content.field_news_paras.0 %}
          <div class="bulletin-article__body--paras">{{ content.field_news_paras }}</div>
        {% endif %}
        {% if content.field_news_source.0 %}
          <div class="bulletin-article__body--source">
            {{ content.field_news_source.0 }}
          </div>
        {% endif %}
        {% if content.field_news_bulletin_drop_in.0 %}
          <div class="bulletin-article__body--drop-in">
            {{ content.field_news_bulletin_drop_in.0 }}
          </div>
        {% endif %}

      </div>
      <div class="bulletin-article__sidebar bulletin__col--side">

        {% if img_portrait %}
          <div class="bulletin-article__img-wrap">
            {{ content.field_news_img }}
            {% if content.field_news_img_caption %}
              <p>{{ content.field_news_img_caption.0 }}</p>
            {% endif %}
          </div>
        {% endif %}
        {% if content.field_news_bulletin_scta.0 %}
          <div class="bulletin-article__sidebar--cta">{{ content.field_news_bulletin_scta }}</div>
        {% endif %}
        {% if bulletin_sidebar_gallery %}
          <div class="bulletin-article__sidebar--gallery">
            {% for item in bulletin_sidebar_gallery.items %}
              <a href="#" data-colorbox-gallery="bulletin-sidebar-gallery" data-colorbox-inline='
          <div class="bulletin-article__sidebar--lightbox">
          <img src="{{ item.lightbox.src }}"
              alt="{{ item.alt }}"
              height="{{ item.lightbox.height }}"
              width="{{ item.lightbox.width }}" /><br />
              <span class="bulletin-article__sidebar--lightbox--caption">
              {{ item.caption }}
              </span></div>'>
              <img
                src="{{ item.thumbnail.src }}"
                alt="{{ item.alt }}"
                height="{{ item.thumbnail.height }}"
                width="{{ item.thumbnail.width }}"
                rel="sidebar-gallery"
              /></a>
          {% endfor %}
          {% if bulletin_sidebar_gallery.main_caption %}
            <div class="bulletin__article--gallery--caption">
              {{ bulletin_sidebar_gallery.main_caption }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if content.field_news_bulletin_s_text.0 %}
        <div class="bulletin-article__sidebar--custom-text">
          {{ content.field_news_bulletin_s_text }}
        </div>
      {% endif %}
        {% if content.field_news_bulletin_s_rellinks.0 %}
          <div class="bulletin-article__sidebar--related-links">
            <h3>Related Links</h3>
            {{ content.field_news_bulletin_s_rellinks }}
          </div>
        {% endif %}
        {% if content.field_news_bulletin_s_relreads.0 %}
          <div class="bulletin-article__sidebar--related-reading">
            <h3>Related Reading</h3>
            {% for item in node.field_news_bulletin_s_relreads %}
              {{ drupal_entity('node', item.target_id,'teaser_bulletin_related') }}
            {% endfor %}
          </div>
        {% endif %}
    </div>

  </div>
  <div class="bulletin-article__meta">
    <div class="bulletin-article__meta--inner">
      <div class="sharethis sharethis--bulletin sharethis-inline-share-buttons"></div>
      <div class="bulletin-article__more">
        More from <a href="/bulletin/explore?field_bulletin_issue_target_id[0]={{ bulletin_issue_id }}">
          {{ bulletin_issue_title }}
        </a>
      </div>
    </div>
  </div>
    <div>

      <p class="bulletin-date">Published on:<span class="news__date"> {{ content.field_news_date.0 }}</span></p>

    </div>
  {#
   /**
    * Communications has requested we temporarily disable/hide Disqus
    * Commenting out the code until they decide to remove it permanently.
    *<div class="bulletin-disqus-comments">
    *  {{ content.field_news_bulletin_disqus_cmnt }}
    *</div>
    */
   #}
</article>
