{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'progdesc',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <a id="#top"></a>
    <div class="progdesc--pre-content">{{ content.field_progdesc_precontent }}</div>
    <div class="progdesc--cta">{{ content.field_progdesc_cta }}</div>
    <div class="progdesc--description">
      {{ drupal_entity('block', 'progdesc', check_access=false) }}
    </div>

    <div class="progdesc--post-content">{{ content.field_progdesc_postcontent }}</div>
    <div class="progdesc--smcallout">{{ content.field_progdesc_smcallout }}</div>
  </div>
</article>
