{#
/**
 * @file
 * Theme override to Bookshelf Item node in teaser explore mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{% set bulletin_issue_title = content.field_bulletin_issue['#items'][0].entity.parent.entity.label %}
{% set bulletin_issue_id = node.field_bulletin_issue.entity.tid.value %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="bookshelf-cover">
    {% if content.field_bookshelf_cover %}
      <div class="bookshelf-cover-image">
        {{ content.field_bookshelf_cover }}
      </div>
    {% endif %}
    </div>
    <div class="bookshelf__col bookshelf__col--content">
        <h2 class="bookshelf-title">
          {% if label and not page %}
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
          {% endif %}
        </h2>
      <div class="bookshelf__more">
        {% if content.field_bulletin_issue.0 %}
            <span>More from</span>
            <a href="/bulletin/explore?issue[]={{ bulletin_issue_id }}">
              {{ bulletin_issue_title }}
            </a>
        {% endif %}
      </div>
    </div>
  </div>
</article>
