{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'admino',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="admino__wrap page__body">

    {% if (content.field_admino_email.0) or (content.field_admino_phone.0) %}
    <div class="admino__contact-wrap">
      <h2 class="admino__contact small-label">Contact</h2>
        {% if (content.field_admino_email.0) %}
          <div class="admino__contact__email">
            <span class="visually-hidden">Email</span>
            <a href="mailto:{{ content.field_admino_email.0 }}">{{ content.field_admino_email.0 }}</a>
          </div>
      {% endif %}
      {% if (content.field_admino_phone.0) %}
        <div class="admino__contact__phone">
          <span class="visually-hidden">Phone</span>
          <a href="tel:{{ content.field_admino_phone.0 }}">{{ content.field_admino_phone.0 }}</a>
        </div>
      {% endif %}
      </div>
    {% endif %}

    <div class="admino__right-col">
      <div class="admino__details">
        {% if content.field_admino_add_resp.0 %}
          <div class="admino__add-resp">
            <strong class="admino_field_label">Additional Responsibilities:</strong> {{ content.field_admino_add_resp.0 }}
          </div>
        {% endif %}

        {% if (content.field_admino_country.0) or (content.field_admino_state.0) %}
          {% if (content.field_admino_country.0 | render is not empty) %}
           {{ content.field_admino_country }}
          {% endif %}
          {% if (content.field_admino_state.0 | render is not empty) %}
           {{ content.field_admino_state }}
          {% endif %}
        {% endif %}
      </div>
    {% if content.field_admino_desc.0 %}
      <div class="admino__body">
        <h2>About</h2>
        {{ content.field_admino_desc }}
      </div>
    {% endif %}
    </div>
  </div>
</div>
