{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'admino-teaser',
]
%}

{% block node %}
  <div class="admino-teaser">
    {%  if content.field_admino_img.0 %}
      <div class="admino-teaser__img">
        {{ content.field_admino_img }}
      </div>
    {% endif %}
    <div class="admino-teaser__info">
      <div class="admino-teaser__title-wrapper">
        <div class="admino-teaser__title">
          {% if title_attributes %}
            <h2{{ title_attributes }}>
              <a href="{{ url }}">{{ content.field_admino_fname.0 }} {{ content.field_admino_lname.0 }}
                {% if content.field_admino_name_info.0 %}
                , {{ content.field_admino_name_info.0 }}
                {% endif %}
              </a>
            </h2>
          {% endif %}
        </div>
        {% if content.field_admino_job_title.0 %}
          <div class="admino-teaser__job-title">
          {{ content.field_admino_job_title.0 }}</div>
        {% endif %}
      </div>
      {% if (content.field_admino_email.0) or (content.field_admino_phone.0) %}
        <div class="admino-teaser__contact">
          <h3 class="admino-teaser__contact-header">Contact</h3>
          <div class="admino-teaswer__contact-items">
            {%  if  content.field_admino_email.0 %}
              <div class="admino-teaser__contact-item admino-teaser__contact-item--email">
                <span class="visually-hidden">Email</span>
                <a href="mailto:{{ content.field_admino_email.0 }}">{{ content.field_admino_email.0 }}</a>
              </div>
            {% endif %}
            {% if content.field_admino_phone.0 %}
              <div class="admino-teaser__contact-item admino-teaser__contact-item--phone">
                <span class="visually-hidden">Phone</span>
                <a href="tel:{{ content.field_admino_phone.0 }}">{{ content.field_admino_phone.0 }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {%  endif %}
    </div>
  </div>
{% endblock node %}
