{#
/**
 * @file
 * Theme override to Announcement node in full display mode.
 *
 * @see template_preprocess_node()
#}
{%
  set classes = [
  'anncmnt',
  'anncmnt--full',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
      {% if content.field_anncmnt_body.0 %}
        <div class="anncmnt__body">
          {{ content.field_anncmnt_body }}
          {% if content.field_anncmnt_url.0 %}
            <div class="anncmnt__body--source">
              {% if content.field_anncmnt_url.0['#title'] is empty %}
                <span>For more:</span>
              {% endif %}
              <a href="{{ content.field_anncmnt_url.0['#url'] }}" target="_blank">
                {% if content.field_anncmnt_url.0['#title'] %}
                  {{ content.field_anncmnt_url.0['#title'] }}
                {% else %}
                  {{ content.field_anncmnt_url.0['#url'] }}
                {% endif %}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% if tags %}
      <div class="anncmnt__tags tagged-as">
          <h2 class="anncmnt__tags-title tagged-as__title"><span>Tagged as</span></h2>
        <ul>
          {% for tag in tags %}
            <li><a href="{{tag.url}}" class="tag">{{ tag.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</article>
