{#
/**
 * @file
 * Theme override for News node in Teaser: Bulletin Explore display mode.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'news',
  'bulletin-article',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{{ attach_library('classy/node') }}

{% set bulletin_issue_title = content.field_bulletin_issue.0 %}
{% set bulletin_issue_id = node.field_bulletin_issue.entity.tid.value %}
{% set bulletin_tag_title = content.field_tags.0 %}
{% set bulletin_tag_id = node.field_tags.entity.tid.value %}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>

    <div class="bulletin__tex__col v__col--img">
    {% if content.field_news_img %}
      <div class="bulletin__tex-image">
        {{ content.field_news_img }}
      </div>
    {% endif %}
    </div>
    <div class="bulletin__tex__col bulletin__tex--content">

      <h2 class="bulletin__tex-title">
        {% if label and not page %}
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        {% endif %}</h2>

      <div class="bulletin__tex-blurb">
        {{ content.field_news_summary.0 }}
      </div>
      <div class="bulletin__tex__more">
        {% if content.field_bulletin_issue.0 %}
          <div class="bulletin__tex--issue">
            <span>More from</span>
            <a href="/bulletin/explore?issue[]={{ bulletin_issue_id }}">
              {{ bulletin_issue_title }}
            </a>
          </div>
        {% endif %}
        {% if content.field_tags.0 %}
          <div class="bulletin-tex__tags">
            <span>Topics</span>
            <ul>
              {% for tag in tags %}
                <li><a href="/bulletin/explore?topic[]={{ tag.tid }}">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>


  </div>
</article>
