{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'story',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="story__header">
      <div class="story__media">
        {% if story_type == 'standard' %}
          {% if content.field_story_img %}
            <div class="story__header--img">
              {{ content.field_story_img }}
              {% if content.field_story_video.0 %}
              {{ attach_library('bmc_d9/story') }}
                <div class="story__header--video">
                  {{ content.field_story_video }}
                </div>
              {% endif %} {# end content.field_story_video #}
            </div>
          {% endif %} {# end content.field_story_img #}
        {% endif %} {# end story_type == 'standard' #}
        {% if content.field_story_quote %}
          <blockquote class="story__header--quote">
            <span class="quote__name"></span>
            {{  content.field_story_quote }}
          </blockquote>
        {% endif %} {# end content.field_story_quote #}
      </div>
      {% if content.field_story_intro.0  %}
        <div class="story__header--intro-text page__intro">
          <div class="page__intro--text">
            {{ content.field_story_intro.0 }}
          </div>
        </div>
      {% endif %} {# end content.field_story_intro #}
    </div>
    {% if content.field_story_body %}
      <div class="story__body">
        {{ content.field_story_body }}
      </div>
    {% endif %} {# end content.field_story_body #}
    {% if content.field_story_paras.0 %}
      <div class="story__flexible-content">
        {{ content.field_story_paras }}
      </div>
    {% endif %} {# end field_story_paras #}
     {% if tags %}
      <div class="story__tags tagged-as">
        <h2 class="story__tags-title tagged-as__title"><span>Tagged as</span></h2>
        <ul>
        {% for tag in tags %}
          <li><a href="{{ tag.path }}" class="tag">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %} {# end tags #}
    {# places All Stories CTA at bottom of story detail node on MD and SM screens
    placed at top for featured story in page-title.html.twig #}
    <div class="story__bottom"><a href="#" class="cta--button--primary breadcrumb-replace">All Stories</a></div>
  </div>
</article>
