{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }}>
  {%- for layoutSection in content._layout_builder -%}
    {% block layoutSectionContent %}
      {{- layoutSection -}}
    {% endblock %}
  {%- endfor -%}
</article>
