{#
/**
 * @file
 * Theme override to Bookshelf Item node in teaser display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>


  <div{{ content_attributes.addClass('node__content') }}>
    {% if content.field_bookshelf_cover %}
      <div class="bookshelf-cover">
        {{ content.field_bookshelf_cover.0 }}
      </div>
    {% endif %}
    {% if content.field_bookshelf_display_title.0 %}
      <div class="bookshelf-title">
        <a href="{{ url }}" rel="bookmark">
          {{ content.field_bookshelf_display_title.0 }}
        </a>
      </div>
    {% endif %}
    {% if content.field_bookshelf_author_display.0 %}
      <div class="views-field-field-display-author">
        {{ content.field_bookshelf_author_display.0 }}
      </div>
    {% endif %}
  </div>
</article>
