{#
/**
 * @file
 * Theme override to Bookshelf Item node in full display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'spotlight',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="bulletin-col-wrapper">
      <div class="spotlight__col bulletin__col--content">
      <div class="spotlight-body">
        {{ content.field_spotlight_body.0 }}
      </div>
    </div>

      <div class="spotlight__col bulletin__col--side">
        {% if content.field_spotlight_side_cta.0 %}
          <div class="bulletin-cta">
            {{ content.field_spotlight_side_cta }}
          </div>
        {% endif %}
      {% if content.field_spotlight_img %}
        <div class="spotlight-image">
          {{ content.field_spotlight_img }}
        </div>
      {% endif %}

      {# Set appropriate title_lvl based on parent header #}
      <div class="spotlight-title">{{ node.title.value }}</div>
      {% if node.field_spotlight_type.value == 'alumna' %}
        {% if content.field_spotlight_job_title %}
        <div class="spotlight-prof-title">{{ content.field_spotlight_job_title.0 }}</div>
      {% endif %}
      {% elseif node.field_spotlight_type.value == 'faculty' %}
        {% if content.field_spotlight_job_title %}
        <div class="spotlight-prof-title">
          {{ content.field_spotlight_job_title.0['#context'].value  ~ ', ' ~ content.field_spotlight_program.0['#context'].value }}
        </div>
      {% endif %}
      {% elseif node.field_spotlight_type.value == 'student' %}
        {% if content.field_spotlight_program.0 %}
        <div class="spotlight-prog">{{ content.field_spotlight_program.0 }}</div>
      {% endif %}
      {% elseif node.field_spotlight_type.value == 'topical' %}
        {% if content.field_spotlight_topical_subtitle %}
        <div class="spotlight-topical-subtitle">{{ content.field_spotlight_topical_subtitle.0 }}</div>
      {% endif %}
      {% endif %}
      {% if content.field_spotlight_side_related.0 %}
        <div class="bulletin-side-related">
          {{ content.field_spotlight_side_related }}
        </div>
      {% endif %}

    </div>
    </div>
  </div>
</article>
