{#
/**
 * @file
 * Theme override to Bookshelf Item node in teaser display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('node__content') }}>
    {% if content.field_news_img %}

        {{ content.field_news_img }}

    {% endif %}
    {% if content.field_bulletin_section %}
    {{ content.field_bulletin_section }}

    {% endif %}
    {% if label and not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {% if content.field_news_summary %}
    {{ content.field_news_summary }}
    {% endif %}
    <span class="more-reading">
    <a href="{{ url }}" rel="bookmark">Read More</a>
    </span>
  </div>
</article>
