{#
/**
 * @file
 * Theme override to display an Honor Roll node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'honor_roll',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('bmc_d9/donor-list')  }}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>

    <div class="page__body">
      {% if content.field_honor_roll_body %}
        <div class="honor_roll__body">
          {{ content.field_honor_roll_body }}
        </div>
      {% endif %}
      <div class="honor_roll__donors accordion__all">
        <button class="accordion__expand-all">{{ 'Expand All'|t }}</button>
        <button class="accordion__collapse-all js-disabled" aria-expanded="false"
                disabled>{{ 'Collapse All'|t }}</button>
      </div>
      {% if content.field_honor_roll_donor %}
        <div class="honor_roll__donors accordion__items">
          {{ content.field_honor_roll_donor }}
        </div>
      {% endif %}
    </div>
    </div>

</article>
