{#
/**
* @file
* Theme override for Event nodes in Teaser 3-Up display mode.
*
* @see template_preprocess_node()
*
* @todo Remove the id attribute (or make it a class), because if that gets
*   rendered twice on a page this is invalid CSS for example: two lists
*   in different view modes.
*/
#}
{%
  set classes = [
  'event-teaser-3up',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{% set contentClasses = [
  'node__content',
  'event-teaser-3up__items--item',
  'has-link'
]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass(contentClasses) }}>
    <div class="card-wrapper__left">
      {% if content.field_event_img.0 %}
        <div class="event-teaser-3up__img">
          {{ content.field_event_img }}
        </div>
      {% else %}
        <div class="event-teaser-3up__img default-img">
          <img src="/{{ base_path ~ directory }}/assets/img/image-backup.png" alt="">
        </div>
      {% endif %}
      {% if date.end_month %}
      <div class="event-teaser-3up__dates">
      <div class="event-teaser-3up__date event-date">
      <div class="event-teaser-3up__date--month-day event-date__moda">
      <span class="event-teaser-3up__date--month event-date__month">{{ date.start_month }}</span>
      <span class="event-teaser-3up__date--day event-date__day">{{ date.start_date }}</span>
        <span class="event-teaser-3up__date--year">{{ date.start_year }}</span>
      </div>
      <span class="event-teaser-3up__dates--separator">-</span>
      <div class="event-teaser-3up__date">
      <div class="event-teaser-3up__date--month-day event-date__moda event-date__range">
      <span class="event-teaser-3up__date--month event-date__month">{{ date.end_month }}</span>
      <span class="event-teaser-3up__date--day event-date__day">{{ date.end_date }}</span>
        <span class="event-teaser-3up__date--year">{{ date.end_year }}</span>
      </div>
      </div>
      {% elseif date.end_date %}
        <div class="event-teaser-3up__date event-date">
          <div class="event-teaser-3up__date--month-day event-date__moda event-date__range">
            <span class="event-teaser-3up__date--month event-date__month">{{ date.start_month }}</span>
            <span class="event-teaser-3up__date--day event-date__day">{{ date.start_date }} - {{ date.end_date }}</span>
            <span class="event-teaser-3up__date--year">{{ date.start_year }}</span>
          </div>
        </div>
      {% else %}
        <div class="event-teaser-3up__date event-date">
          <div class="event-teaser-3up__date--month-day event-date__moda">
            <span class="event-teaser-3up__date--month event-date__month">{{ date.start_month }}</span>
            <span class="event-teaser-3up__date--month event-date__day">{{ date.start_date }}</span>
            <span class="event-teaser-3up__date--year">{{ date.start_year }}</span>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="card-wrapper__right">
      {% if date.all_day %}
        <div class="event-teaser-3up__time event-time"><span>All Day</span></div>
      {% else %}
        <div class="event-teaser-3up__time event-time"><span>{{ date.start_time }} - {{ date.end_time }}</span></div>
      {% endif %}
      {{ title_prefix }}
      <h4{{ title_attributes }} class="event-teaser-3up__title">
        <a href="{{ url }}">
          {{ label }}
        </a>
      </h4>
      {{ title_suffix }}
      {#  code for Event Form Restructure 9/2023 #}
      {% if content.field_event_location_choice %}
        <span class="event-teaser-3up__location-choice">{{ content.field_event_location_choice }}</span>
      {% endif %}
      {% if event_location %}
        <span class="event-teaser-3up__location">{{ content.field_event_location }}</span>
      {% endif %}
    </div>
  </div>
</article>
