{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'story-listing',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{% set contentClasses = [
  'node__content',
  'story-listing__items--item',
  'has-link'
]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass(contentClasses) }}>
    {% if content.field_story_img.0 %}
      <div class="story-listing--img">
        {{ content.field_story_img }}
      </div>
    {% else %}
      <div class="story-listing--img default-img">
        <img src="{{ base_path ~ directory }}/assets/img/image-backup.png" alt="">
      </div>
    {% endif %}
    {% if content.field_story_video.0 %}
      <div class="story-listing__video-label"><span class="story-listing__video-label--text">Video</span></div>
    {% elseif content.field_story_label.0 %}
      <div class="story-listing__story-label">
        <span class="story-listing__story-label--text">{{ node.field_story_label.entity.name.value }}</span>
      </div>
    {% elseif story_type == 'featured' %}
      <div class="story-listing__feat-label"><span class="story-listing__feat-label--text">Featured</span></div>
    {% else %}
      <div class="story-listing__no-label"></div>
    {% endif %}
    <h3 class="story-listing__title">
      {{ label.0 }}
    </h3>
    {% if content.field_story_subtitle.0 %}
      <div class="story-listing__subtitle">{{ content.field_story_subtitle }}</div>
    {% endif %}
    {% if content.field_story_quote.0 %}
      <div class="story-listing__quote">
        <blockquote>
          <div class="quote__name"></div>
          {{ content.field_story_quote }}
        </blockquote>
      </div>
      {% else %}
        <div class="story-listing__quote"></div>
    {% endif %}
    {% if content.field_story_cta %}
      <a href="{{ url }}">
        <div class="story-listing__cta cta-button">
          {{ content.field_story_cta }}
        </div>
      </a>
    {% endif %}
    {#
    {% if parent_node_identifier %}
      {% if identifier != parent_node_identifier %}
        <div class="identifiers">
          <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifier.name }}</div>
        </div>
      {% endif %}
    {% else %}
      <div class="identifiers">
        <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifier.name }}</div>
      </div>
    {% endif %}
    #}
  </div>
</article>
