{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'news-wrap__item',
  'news-title-only',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'news-title-only__items--item',
  'has-link'
  ]
%}

{{ attach_library('classy/node') }}
<div{{ attributes.addClass(classes) }}>
  <div{{ content_attributes }}>
    {%  if content.field_news_date %}
     <span class="news-title-only__date">{{ content.field_news_date }}</span>
    {% endif %}
    <h3 class="news-title-only__title">      
      <a class="news-title-only__link" href="{{ url }}">
        {{ label.0 }}
      </a>
    </h3>
    {% if parent_node_identifier %}
    {% if identifier != parent_node_identifier %}
      <div class="identifiers">
        <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifier.name }}</div>
      </div>
    {% endif %}
    {% else %}
      <div class="identifiers">
        <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifier.name }}</div>
      </div>
    {% endif %}
  </div>
</div>
