{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
 {% if content | render is not empty %}
  <div{{ content_attributes.addClass('node__content') }}>
  {% if content.field_page_quicklinks | render is not empty %}
    <div class="page__intro-links">
      <div class="intro-h1-wrapper">
        {% if not content.field_page_hero_img | render is not empty %}
          <h1>{{ node.label }}</h1>
        {% endif %}
  {% endif %}
      {% if content.field_page_intro.0  %}
          <div class="page__intro">
            <div class="page__intro--text">
              {{ content.field_page_intro.0 }}
            </div>
          </div>
        {% if content.field_page_quicklinks | render is not empty %}
          </div> 
        {% endif %}
      {% endif %}
      {% if inside_bmc %}
        {% if content.field_page_quicklinks | render is not empty %}
          <div class="page__intro--quicklinks">
            {{ content.field_page_quicklinks }}
          </div>
        {% endif %}
      {% endif %}
    {% if content.field_page_quicklinks | render is not empty %}
    </div>
    {% endif %}

    {% if content.field_body|render is not empty %}
      <div class="page__body">
        {{ content.field_body }}
      </div>
    {% endif %}
  </div>
{% endif %}
</article>
