{#
/**
 * @file
 * Theme override for Directory nodes in Full display mode.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'directory',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{% set area_of_focus = content.field_dir_rsrch_intrst_label|render %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="directory__details">
      <div class="directory__columns">
        <div class="directory__contact">
          {% if
            content.field_dir_email.0 is defined or
            content.field_dir_phone.0 is defined or
            content.field_dir_website.0 is defined or
            content.field_dir_building.0 is defined or
            content.field_dir_office_hours.0 is defined or
            content.field_dir_leave_status.0 is defined or
            content.field_dir_cv.0 is defined
          %}
            <h2 class="small-label">Contact</h2>
            {% if content.field_dir_email.0 %}
              <div class="directory__contact-email directory__icons">
                <span class="visually-hidden">Email</span>
                {{ content.field_dir_email.0 }}
              </div>
            {% endif %}
            {% if content.field_dir_phone.0 %}
              <div class="directory__contact-phone directory__icons">
                <span class="visually-hidden">Phone</span>
                <a href="tel:{{ content.field_dir_phone.0 }}">{{ content.field_dir_phone.0 }}</a>
              </div>
            {% endif %}
            {% if content.field_dir_website.0 %}
              <div class="directory__contact-website directory__icons">
                <span class="visually-hidden">Website</span>
                {{ content.field_dir_website.0 }}
              </div>
            {% endif %}
            {% if content.field_dir_building.0 %}
              <div class="directory__contact-building directory__icons">
                <span class="visually-hidden">Location</span>
                {{ content.field_dir_building.0 }}
              {% if content.field_dir_room %}
                {{ content.field_dir_room.0 }}
              {% endif %}
              </div>
            {% endif %}
            {% if content.field_dir_office_hours.0 %}
              <div class="directory__contact-hours directory__icons">
                {{ content.field_dir_office_hours }}
              </div>
            {% endif %}
            {% if content.field_dir_leave_status.0 %}
              <div class="directory__contact-status directory__icons">
                {{ content.field_dir_leave_status }}
              </div>
            {% endif %}
            {% if content.field_dir_cv.0 %}
              <div class="directory__contact-cv">
                <a href="{{ content.field_dir_cv.0 }}">CV (PDF)</a>
              </div>
            {% endif %}
          {% endif %}
        </div>
        <div class="directory__def">
          {% if departments %}
            <div class="directory__def-dept">
              <h2 class="directory__def-dept--title small-label">Department/Subdepartment</h2>
              <ul>
                {% for dept in departments %}
                  {% if dept.children %}
                    <li>{{ dept.link|raw }}: {{ dept.all_children }}</li>
                  {% else %}
                    <li>{% if dept.link %}{{ dept.link|raw }}{% else %}{{ dept.name }}{% endif %}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if content.field_dir_education.0 %}
            <div class="directory__def-education">
              <h2 class="small-label">Education</h2>
              {{ content.field_dir_education.0 }}
            </div>
          {% endif %}
          {% if content.field_dir_research_interests.0 %}
            <div class="directory__def-focus">

              {% if area_of_focus %}
                <h2 class="small-label">{{ content.field_dir_rsrch_intrst_label }}</h2>
              {% else %}
                <h2 class="small-label">Areas of Focus</h2>
              {% endif %}

              {{ content.field_dir_research_interests.0 }}
            </div>
          {% endif %}
        </div>

        {% if content.field_dir_body.0 or content.field_dir_socialmedia.0 %}
          <div class="directory__body">
            {% if content.field_dir_body.0 %}
              <h2 class="directory__body-title">Biography</h2>
              {{ content.field_dir_body }}
            {% endif %}
            {% if content.field_dir_socialmedia.0 %}
              {{ content.field_dir_socialmedia.0 }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
