{#
/**
 * @file
 * Theme override for Directory nodes in Teaser display mode.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'directory-teaser',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  content.field_dir_image.0 ? 'has-image',
]
%}
{{ attach_library('classy/node') }}
{{ attach_library('bmc_d9/clear-btn') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="directory-teaser__introduction">
      {% if name  %}
        <h2 class="directory-teaser__name">
          <a href="{{ url }}">{{ name }}</a>
        </h2>
      {% else %}
        <h2 class="directory-teaser__name">
          <a href="{{ url }}">{{ label.0 }}</a>
        </h2>
      {% endif %}
      {% if content.field_dir_title %}
        <div class="directory-teaser__title">
          {{ content.field_dir_title }}
        </div>
        {% if content.field_dir_title_note.0 %}
          <div class="directory-teaser__title-note">{{ content.field_dir_title_note }}</div>
        {% endif %}
      {% endif %}
    </div>
    <div class="directory-teaser__dept">
      {% if departments %}
        <h3 class="small-label">Department</h3>

        <ul>
          {% for dept in departments %}
            <li>{% if dept.link %}{{ dept.link|raw }}{% else %}{{ dept.name }}{% endif %}</li>
          {% endfor %}
        </ul>

      {% endif %}
    </div>
    <div class="directory-teaser__contact">
      {% if
        content.field_dir_email.0 is defined or
        content.field_dir_phone.0 is defined or
        content.field_dir_building.0 is defined
      %}
        <h3 class="small-label">Contact</h3>
        {% if content.field_dir_email.0 %}
          <div class="directory-teaser__contact-email directory-teaser__icons">
            <span class="visually-hidden">Email</span>
            {{ content.field_dir_email }}
          </div>
        {% endif %}
        {% if content.field_dir_phone.0 %}
          <div class="directory-teaser__contact-phone directory-teaser__icons">
            <span class="visually-hidden">Phone</span>
            <a href="tel:{{ content.field_dir_phone.0 }}">{{ content.field_dir_phone.0 }}</a>
          </div>
        {% endif %}
        {% if content.field_dir_building.0 %}
          <div class="directory-teaser__contact-building directory-teaser__icons">
            <span class="visually-hidden">Location</span>
            {{ content.field_dir_building.0 }}
            {% if content.field_dir_room %}
              {{ content.field_dir_room.0 }}
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="directory-teaser__image">
      {% if content.field_dir_image.0 %}
        <div class="directory-teaser__photo">
          <img src="{{ content.field_dir_image.0 }}" alt="{{ label.0 }} headshot" width="244" height="244"/>
        </div>
      {% endif %}
    </div>
  </div>
</article>
