{#
/**
 * @file
 * Theme override for Directory nodes in Teaser: People List display mode.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'directory-teaser-ppllist',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  content.field_dir_image.0 ? 'has-image',
]
%}
{% set text = content.field_dir_research_interests|render|striptags %}

{% set area_of_focus = content.field_dir_rsrch_intrst_label|render %}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="directory-teaser-ppllist__introduction">
      {% if name %}
        <h3 class="directory-teaser-ppllist__name">
          <a href="{{ url }}">{{ name }}</a>
        </h3>
      {% else %}
        <h3 class="directory-teaser-ppllist__name">
          <a href="{{ url }}">{{ label.0 }}</a>
        </h3>
      {% endif %}
      {% if content.field_dir_title %}
        <div class="directory-teaser-ppllist__title">
          {{ content.field_dir_title }}
        </div>
        {% if content.field_dir_title_note.0 %}
          <div class="directory-teaser-ppllist__title-note">{{ content.field_dir_title_note }}</div>
        {% endif %}
      {% endif %}
    </div>
    {% if content.field_dir_research_interests.0 %}
      <div class="directory-teaser-ppllist__focus">
        <div class="directory-teaser-ppllist__focus-label small-label">

          {% if area_of_focus %}
            {{ content.field_dir_rsrch_intrst_label }}
          {% else %}
            Areas of Focus
          {% endif %}

        </div>
        <div class="directory-teaser-ppllist__focus-content">
          {{ text|length > 150 ? text|slice(0,150) ~ '...' : text }}
        </div>
      </div>
    {% endif %}

    <div class="directory-teaser-ppllist__contact">
      {% if
        content.field_dir_email.0 is defined or
        content.field_dir_phone.0 is defined or
        content.field_dir_building.0 is defined or
        content.field_dir_cv.0 is defined
      %}
        <div class="small-label">Contact</div>
        {% if content.field_dir_email.0 %}
          <div class="directory-teaser-ppllist__contact-email">
            <span class="visually-hidden">Email</span>
            {{ content.field_dir_email.0 }}
          </div>
        {% endif %}
        {% if content.field_dir_phone.0 %}
          <div class="directory-teaser-ppllist__contact-phone small-text">
            <span class="visually-hidden">Phone</span>
            <a href="tel:{{ content.field_dir_phone.0 }}">{{ content.field_dir_phone.0 }}</a>
          </div>
        {% endif %}
        {% if content.field_dir_building.0 %}
          <div class="directory-teaser-ppllist__contact-building small-text">
            <span class="visually-hidden">Location</span>
            {{ content.field_dir_building.0 }}
            {% if content.field_dir_room %}
              {{ content.field_dir_room.0 }}
            {% endif %}
          </div>
        {% endif %}
        {% if content.field_dir_cv.0 %}
          <div class="directory__contact-cv">
            <a href="{{ content.field_dir_cv.0 }}">CV (PDF)</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="directory-teaser-ppllist__image">
      {% if content.field_dir_image.0 %}
        <img src="{{ content.field_dir_image.0 }}" alt="{{ label.0 }} headshot" width="244" height="244"/>
      {% endif %}
    </div>
  </div>
</article>
