{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'courses',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  {% if content %}
    <div{{ content_attributes.addClass('node__content') }}>
      <div class="page__body">
        <a id="#top"></a>
        {% if content.field_courses_precontent %}
          <div class="courses--pre-content">{{ content.field_courses_precontent }}</div>
        {% endif %}

        {% if content.field_courses_cta %}
          <div class="courses--cta">{{ content.field_courses_cta }}</div>
        {% endif %}
        <div class="courses--schedule">
          {{ drupal_entity('block', 'course_schedule', check_access=false) }}
        </div>
        <div class="courses--listing">
          {{ drupal_entity('block', 'course_listing', check_access=false) }}
        </div>
        {% if content.field_courses_postcontent  %}
          <div class="courses--post-content">{{ content.field_courses_postcontent }}</div>
        {% endif %}
        {% if content.field_courses_smcallout %}
          <div class="courses--smcallout">{{ content.field_courses_smcallout }}</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</article>

