{#
/**
 * @file
 * Theme override for the Events listing page node.
 *
 * This requires hook_theme_suggestions_node_alter() to be in place in order to call this template.
 * This is so we can set the template programmatically rather than by a node ID or existing theme suggestions.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'event-listing-page',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
  <article{{ attributes.addClass(classes) }}>
    <div{{ content_attributes.addClass('node__content') }}>
      <div class="page__body">
        {% if content.field_body.0 %}
        {{ content.field_body }}
        {% endif %}
        {% if events_listing_section_title %}
          <h2 class="event-listing-page__main_listing">{{ events_listing_section_title }}</h2>
        {% endif %}
        {% if featured_event_nodes %}
        {{ drupal_view('events', 'listing', featured_event_nodes) }}
        {% else %}
          {{ drupal_view('events', 'listing') }}
        {% endif %}
      </div>
    </div>
  </article>
