{#
/**
 * @file
 * Theme override to Announcement node in full display mode.
 *
 * @see template_preprocess_node()
#}
{%
  set classes = [
  'anncmnt',
  'anncmnt--teaser',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="anncmnt_teaser--content">
      {% if content.field_anncmnt_body[0] %}
        <a href="{{ url }}" class="anncmnt_teaser--link">
      {% elseif content.field_anncmnt_url[0] %}
        <a href="{{ content.field_anncmnt_url[0]['#title'] }}" class="anncmnt_teaser--link">
      {% endif %}
        <div class="anncmnt_teaser--title">{{ label.0 }}</div>
      {% if (content.field_anncmnt_body[0]) or (content.field_anncmnt_url[0]) %}
        </a>
      {% endif %}
      {% if content.field_anncmnt_blurb[0] %}
        <div class="anncmnt_teaser--blurb">
          {{ content.field_anncmnt_blurb.0 }}
        </div>
      {% endif %}
    </div>
    {% if urgent %}
      <div class="visually-hidden">Urgent</div>
      <div class="anncmnt_teaser--icon anncmnt_teaser__icon--urgent"></div>
    {% endif %}
    {% if content.field_anncmnt_date[0] %}
       <div class="visually-hidden">Posted</div>
       <div class="anncmnt_teaser--date">{{ content.field_anncmnt_date }}</div>
    {% endif %}
  </div>
</article>

