{#
/**
 * @file
 * Theme override for Event nodes in Teaser display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  'event-teaser',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}">
    <div{{ content_attributes.addClass('node__content') }}>
      {% if content.field_event_img.0 %}
        <div class="event-teaser__img">
          {{ content.field_event_img }}
        </div>
      {% endif %}
      {% if date.end_month %}
        <div class="event-teaser__dates">
          <div class="event-teaser__date">
            <div class="event-teaser__date--month-day">
              <span class="event-teaser__date--month">{{ date.start_month }}</span>
              <span class="event-teaser__date--month">{{ date.start_date }}</span>
            </div>
            <div class="event-teaser__date--year"><span>{{ date.start_year }}</span></div>
          </div>
          <span class="event-teaser__dates--separator">-</span>
          <div class="event-teaser__date">
            <div class="event-teaser__date--month-day">
              <span class="event-teaser__date--month">{{ date.end_month }}</span>
              <span class="event-teaser__date--month">{{ date.end_date }}</span>
            </div>
            <div class="event-teaser__date--year"><span>{{ date.end_year }}</span></div>
          </div>
        </div>
      {% elseif date.end_date %}
        <div class="event-teaser__date">
          <div class="event-teaser__date--month-day">
            <span class="event-teaser__date--month">{{ date.start_month }}</span>
            <span class="event-teaser__date--month">{{ date.start_date }} - {{ date.end_date }}</span>
          </div>
          <div class="event-teaser__date--year">
            {% if date.end_year %}
              <span>{{ date.start_year }} - {{ date.end_year }}</span>
            {% else %}
              <span>{{ date.start_year }}</span>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="event-teaser__date event-date">
          <div class="event-teaser__date--month-day event-date__moda">
            <span class="event-teaser__date--month event-date__month">{{ date.start_month }}</span>
            <span class="event-teaser__date--month event-date__day">{{ date.start_date }}</span>
          </div>
          <div class="event-teaser__date--year">
            <span>{{ date.start_year }}</span>
          </div>
        </div>
      {% endif %}
      {% if date.all_day %}
        <div class="event-teaser__time"><span>All Day</span></div>
      {% else %}
        <div class="event-teaser__time"><span>{{ date.start_time }} - {{ date.end_time }}</span></div>
      {% endif %}
      {{ title_prefix }}
      <h3{{ title_attributes }} class="event-teaser--title">{{ label }}</a></h3>
  {{ title_suffix }}
  {#  code for Event Form Restructure 9/2023 #}
  {% if content.field_event_location_choice %}
    <span class="event-teaser-3up__location.choice">{{ content.field_event_location_choice }}</span>
  {% endif %}
  {#  code for Event Form Restructure 9/2023 - see ~line 1016 bmc_custom.module for how this variable generates #}
  {% if event_location %}
    <span class="event-teaser__location">{{ event_location }}</span>
  {% endif %}
  </div>
  </a>
</article>
