{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'news-feature',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{% set contentClasses = [
  'node__content',
  'news-feature--item',
  'has-link'
]
%}

{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass(contentClasses) }}>
    {% if content.field_news_img.0 %}
      <div class="news-feature--img">
        {{ content.field_news_img }}
      </div>
      {% else %}
        <div class="news-feature--img default-img">
          <img src="{{ base_path ~ directory }}/assets/img/image-backup.png" alt="">
        </div>
    {% endif %}
    <div class="news-feature__details">
      {%  if content.field_news_date %}
      <div class="news-feature__date">{{ content.field_news_date }}</div>
      {% endif %}
      <h2 class="news-feature__title">        
        <a href="{{ url }}">
          {{ label }}
        </a>
      </h2>
      {%  if content.field_news_summary %}
        <div class="news-feature__summary">{{ content.field_news_summary.0 }}</div>
      {% endif %}
    </div>
  </div>
</article>
