{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'story-feature',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('node__content') }}>
    <div class="story-feature">
      <div class="story-feature__wrapper">
        <div class="story-feature__inner">
          <div class="story-feature__left">
            {% if content.field_story_img %}
              <div class="story-feature__left--img">
                {{ content.field_story_img.0 }}
              </div>
            {% endif %}
          </div>
          <div class="story-feature__right">
            <div class="story-feature__right--inner">
              <h2 class="story-feature__right--title">{{ label }}</h2>
              {% if content.field_story_subtitle.0 %}
                <div class="story-feature__right--subtitle">{{ content.field_story_subtitle.0 }}</div>
              {% endif %}
              {% if content.field_story_cta %}
                <a href="{{ url }}">
                  <div class="story-feature__right--cta">{{ content.field_story_cta }}</div>
                </a>
              {% endif %}
            </div>
          </div>
        </div>

         {% if content.field_story_quote %}
            {{ attach_library('bmc_d9/scrollAnimation') }}
            <div class="story-feature__right--quote">
              <blockquote>
                <div class="quote__name"></div>
                {{ content.field_story_quote }}
              </blockquote>
            </div>
          {% endif %}


        {#
        {% if parent_node_identifier %}
          {% if identifier != parent_node_identifier %}
            <div class="identifiers">
              <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifier.name }}</div>
            </div>
          {% endif %}
        {% else %}
          <div class="identifiers">
            <div class="identifier identifier--{{ identifier.class_modifier }}">{{ identifier.name }}</div>
          </div>
        {% endif %}
        #}

      </div>
    </div>


  </div>

</article>
