{#
/**
 * @file
 * Theme override for News node in Full display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
  'news',
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
{{ attach_library('classy/node') }}
{{ attach_library('bmc_d9/sharethis') }}
        
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content news__content-wrap') }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <div class="sharethis-wrapper">
      <div class="sharethis sharethis--bulletin sharethis-inline-share-buttons"></div>
    </div>
    {% if detail_image.src %}
      {% if detail_image.style != "teaser" %}
      <figure role="group" class="news__detail-image {{ detail_image.style }}">
        <img
          src="{{ detail_image.src }}"
          alt="{{ detail_image.alt }}"
          height="{{ detail_image.height }}"
          width="{{ detail_image.width }}" />
        {% if content.field_news_img_caption.0 %}
          <figcaption class="news__detail-image--caption">{{ content.field_news_img_caption.0 }}</figcaption>
        {% endif %}
      </figure>
        {% endif %}
    {% endif %}

    <div class="news__body {{ detail_image.style }}">
      {% if content.field_news_body %}
        <div class="news__body--text">
          {{ content.field_news_body }}
        </div>
      {% endif %}
      {% if content.field_news_source.0 %}
        <div class="news__body--source">
          <span>Read more:</span>
          {{ content.field_news_source.0 }}
        </div>
      {% endif %}
      {% if content.field_news_paras.0 %}
        <div class="news__body--paras">{{ content.field_news_paras }}</div>
      {% endif %}

    </div>
    {% if tags %}
      <div class="news__tags tagged-as">
        <h2 class="news__tags-title tagged-as__title"><span>Tagged as</span></h2>
        <ul>
        {% for tag in tags %}
          <li><a href="{{ tag.path }}" class="tag">{{ tag.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</article>
