<div id="office-service-app">
  <div class="office__search-filters">
    <h2 class="visually-hidden" id="updatesearch-heading-label">Search and Filter Offices and Services</h2>
    <form v-on:submit.prevent="updateSearch" aria-labelledby="updatesearch-heading-label">
      <div class="search-field">
        <label for="office-search">Search</label>
        <input id="office-search" type="text" ref="searchInput" placeholder="">
        <input type="submit" value="submit">
      </div>
    </form>
    <button
    :disabled="!(activeLetter != 'all' || searchTerms != '')"
    v-on:click="clearFilters"
    class="office__clear">Clear</button>
    <div class="alpha-search">
      <div>
        <button v-on:click="setAlphaFilter('all', $event)" aria-current="true" class="all active">All</button>
      </div>
      <div v-for="letter in letters" :key="letter.letter">
        <button v-on:click="setAlphaFilter(letter.letter, $event)" aria-current="false" :disabled="letter.disabled">${letter.letter}</button>
      </div>
    </div>
  </div>
  <div class="visually-hidden" aria-live="polite">
    ${filteredResults.length} Offices and Services
  </div>
  <div class="office__results">
    <h2 class="visually-hidden">Results</h2>
    <div v-for="office in filteredResults" class="office__result">
      <div class="office__result__left">
        <h3 class="office__result__title">
          <a :href="office.link">${office.office_title}</a>
        </h3>
        <div class="office__result__description" v-html="office.description"></div>
      </div>
      <div class="office__result__right">
        <h4 class="office__result__contact">Contact</h4>
        <div class="office__result__contect-info">
          ${office.contact_name}, ${office.contact_title}
        </div>
        <div v-if="office.contact_email.length">
          <div class="office__result__email">
            <span class="visually-hidden">Email</span>
            <a :href="'mailto:'+office.contact_email">${office.contact_email}</a>
          </div>
        </div>
        <div v-if="office.contact_phone.length">
          <div class="office__result__phone">
            <span class="visually-hidden">Phone</span>
            <a :href="'tel:'+office.contact_phone">${office.contact_phone}</a>
          </div>
        </div>

        {#         <div v-if="office.contact_phone.length">
          <div class="office__result__phone">
            <span class="visually-hidden">Phone</span>
            ${office.contact_phone}
          </div>
        </div> #}
      </div>
    </div>
  </div>
</div>

{{ attach_library('bmc_d9/office') }}
