{#
/**
 * @file
 * Theme override to Bookshelf Item node in full display mode.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'bulletin-bookshelf',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    {% if content.field_bookshelf_author_full.0 %}
      <div class="field-name-field-full-author">
        {{ content.field_bookshelf_author_full.0 }}
      </div>
    {% endif %}
    <div class="bulletin-col-wrapper">
        <div class="bookshelf__col bulletin__col--content">
        {% if content.field_bookshelf_body.0 %}
          <div>
            {{ content.field_bookshelf_body.0 }}
          </div>
        {% endif %}
      </div>

      <div class="bookshelf__col bulletin__col--side">
       {% if content.field_bookshelf_cover %}
         <div class="bookshelf-image">
            {{ content.field_bookshelf_cover }}
          </div>
       {% endif %}
      </div>
    </div>
  </div>
</article>


