{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{{ attach_library('bmc_d9/search') }}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="block-content__content">
    {{ content }}
  </div>
</div>
