{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}

{% block content %}
  {{ content }}
{% endblock %}
