{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'campaign-banner',
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class
  ]
%}

{{ attach_library('bmc_d9/campaign-banner') }}
<div{{ attributes.addClass(classes) }}>
  <div class="campaign-banner__content" style="background-color: #{{ content.field_camp_bg_color.0 }}">
    {% if content.field_camp_title_img %}
      <div class="campaign-banner__title">
        {{ content.field_camp_title_img.0 }}
      </div>
    {% endif %}
    <a href="{{ content.field_camp_cta_txt[0]['#url'] }}" class="campaign-banner__cta" style="border: 1px solid #{{ content.field_camp_cta_color.0 }}">
      <div class="campaign-banner__cta-img">
        {{ content.field_camp_cta_img.0 }}
      </div>        
      <div class="campaign-banner__cta-txt" style="color: #{{ content.field_camp_cta_color.0 }}">
        {{ content.field_camp_cta_txt[0]['#title'] }}
      </div>
    </a>
  </div>
</div>