{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('bmc_d9/alert') }}
{% set visible = content.field_alert_visible.0['#markup'] %}

{% if visible == '1' %}
  <div class="alert" role="region" aria-label="alert">
    <div role="alert">
      <div class="alert__text">
        <h2 class="alert__title">
          <span class="hidden alert__date">{{ content.changed.value|date("d/m/YH:i") }}</span>
          {{ content.field_alert_title.0 }}
        </h2>
        <div class="alert__desc">
          {{ content.field_alert_desc.0 }}
        </div>
      </div>
      <div class="alert__cta">
        {{ content.field_alert_cta }}
      </div>
      <button class="alert__close">Close Alert</button>
    </div>
  </div>
{% endif %}