{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <div class="pagerer-container">
    <div class="pagerer-center-pane">
      <nav class="pager bmc-pager" role="navigation" aria-labelledby="{{ heading_id }}">
        <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
        <ul class="pager__items js-pager__items">
          {% if items.previous %}
            {% if items.previous.href is defined %}
              <li class="pager__item pager__item--previous">
                <a href="{{ items.previous.href }}" title="{{- items.previous.title -}}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}
                  {% if data_filterfocus_target is defined %}
                    data-filterfocus-target="{{ data_filterfocus_target }}"
                  {% endif %}
                >
                  <span class="visually-hidden">{{- items.previous.reader_text -}}</span>
                </a>
              </li>
            {% else %}
              <li class="pager__item pager__item--previous">
                <span aria-hidden="true" role="presentation">{{- items.previous.text -}}</span>
              </li>
            {% endif %}
          {% else %}
            <li class="pager__item pager__item--previous pager__item--disabled">
              <a class="visually-hidden" role="link" aria-disabled="true">Previous</a>
            </li>
          {% endif %}
          {# Now generate the actual pager piece. #}
          {% for key, item in items.pages %}
            <li class="pager__item{{ current == key ? ' is-active' : '' }}">
              {% if current == key %}
                {% set title = 'Current page'|t %}
              {% else %}
                {% set title = 'Go to page @key'|t({'@key': key}) %}
              {% endif %}
              <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}
                {% if data_filterfocus_target is defined %}
                  data-filterfocus-target="{{ data_filterfocus_target }}"
                {% endif %}
              >
                <span class="visually-hidden">
                  {{ current == key ? 'Current page'|t : 'Page'|t }}
                </span>
                {{- key -}}
              </a>
            </li>
          {% endfor %}
          {# Print next item if we are not on the last page. #}
          {% if items.next %}
            {% if items.next.href is defined %}
              <li class="pager__item pager__item--next">
                <a href="{{ items.next.href }}" title="{{- items.next.title -}}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}
                  {% if data_filterfocus_target is defined %}
                    data-filterfocus-target="{{ data_filterfocus_target }}"
                  {% endif %}
                >
                  <span class="visually-hidden">{{- items.next.reader_text -}}</span>
                </a>
              </li>
            {% else %}
              <li class="pager__item pager__item--next">
                <span aria-hidden="true" role="presentation">{{- items.next.text -}}</span>
              </li>
            {% endif %}
          {% else %}
            <li class="pager__item pager__item--next pager__item--disabled">
              <a class="visually-hidden" role="link" aria-disabled="true">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endif %}
