{% set attributes = attributes.setAttribute('role', 'timer') %}
{% if aria_labelledby is not empty %}
  {% set attributes = attributes.setAttribute('aria-labelledby', aria_labelledby) %}
{% endif %}
<div {{ attributes.addClass('kwoodcountdown') }}>
  <div class="kwoodcountdown__timer"></div>
</div>
