{#
/**
 * @file
 * Override default theme implementation to display a group.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}

{% set id = group.id.value %}

<h1 class="group__title">
  {{ label }}
</h1>

<div class="group__content">
  <div class="group__content-col group__content-col--left">
    <div class="group_desc">
      {{ content.field_gp_desc.0 }}
    </div>
  </div>
  <div class="group__content-col group__content-col--right">
    <h2 class="group__heading"> {{ content.field_gp_sec_links['#title'] }} </h2>
    {{ content.field_gp_sec_links }}
    <div class="group__add-content">
      <div class="group__add-item">
        {% if allowed_types is defined %}
          <div class="field__label">
            <h2 class="group__heading">Add content to <em>{{ label }}</em></h2>
          </div>
          <div class="group__add-links">
            {% for type, label in allowed_types %}
              <div class="field__item">
                <a href="/group/{{ id }}/content/create/group_node:{{ type }}">{{ label }}</a>
              </div>
            {% endfor %}
            </div>
          {% endif %}
        </div>
      <div class="group__add-item">
        {% if allowed_anon_types is defined %}
          <div class="field__label">
            <h2 class="group__heading">Submit content</h2>
          </div>
          <div class="group__add-links">
          {% for type, label in allowed_anon_types %}
            <div class="field__item">
              <a href="/node/add/{{ type }}">{{ label }}</a>
            </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

