{#
/**
 * @file
 * Theme override to present an aggregator feed.
 *
 * The contents are rendered above feed listings when browsing source feeds.
 * For example, "example.com/aggregator/sources/1".
 *
 * Available variables:
 * - title: (optional) Title of the feed item.
 * - content: All field items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given element.
 * - attributes: HTML attributes for the wrapper.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_aggregator_feed()
 *
 * used in conjunction with: themes/bmc_d9/templates/content/aggregator-item.html.twig
 * and themes/bmc_d9/templates/paragraphs/paragraph--rss-feed.html.twig
 */
#}
<div{{ attributes.addClass('aggregator-feed') }}>
  {{ title_prefix }}
  {% if title and full %}
    <h2{{ title_attributes }}>{{ title }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ content|without('field_original_source') }}
  {% if content.field_original_source and not full %}
    <div{{ attributes.addClass('rss-feed__source-cta') }}>{{ content.field_original_source }}</div>
  {% endif %}
</div>
