{#
/**
 * @file
 * Theme override to display News Listing Container: GSSWSR block.
 *
 * Term IDs used in the Twig Tweak embeds below correspond to the terms from the 'Themes' taxonomy vocabulary.
 *
 * @see template_preprocess_block()
 */
#}
<h2 class=\"catalog-data\">{{ heading }}</h2>
{% for item in items %}
  {{ item }}
{% endfor %}
