{#
/**
 * @file
 * Theme override to display News Listing Container: GSSWSR block.
 *
 * Term IDs used in the Twig Tweak embeds below correspond to the terms from the 'Themes' taxonomy vocabulary.
 *
 * @see template_preprocess_block()
 */
#}

<div class="bmc_course_listing__item">

  <h3 id="{{ homedepartment }}{{ catalognumber }}">
    {{ homedepartment }} {{ catalognumber }} {{ longtitle }}
  </h3>
  {% if topics|length > 0 %}
    <p>
      {% for topic in topics %}
        <span class="courses-topic">{{ topic }}</span>
        {% if not loop.last %}<br/>{% endif %}
      {% endfor %}
    </p>
  {% endif %}

  {% if terms %}
    <p class="courses-term">{{ terms }}</p>
  {% endif %}

  {% if description %}
    <p class="courses-description">{{ description }}</p>
  {% endif %}

  {% if majorattr %}
    <p class="courses-instructor">{{ majorattr }}</p>
  {% endif %}

  {% if approaches|length > 0 %}
    {% for approach in approaches %}
      <p class="courses-instructor">{{ approach }}</p>
    {% endfor %}
  {% endif %}

  {% set counts_toward = [] %}
  {% for concdesc in concdescs %}
    {% if concdesc not in counts_toward %}
      {% set counts_toward = counts_toward|merge([concdesc]) %}
    {% endif %}
  {% endfor %}
  {% for crosslist in crosslists %}
    {% if crosslist not in counts_toward %}
      {% set counts_toward = counts_toward|merge([crosslist]) %}
    {% endif %}
  {% endfor %}

  {% if counts_toward|length > 0 %}
    <p class="courses-instructor">Counts Toward: {{ counts_toward|sort|join('; ') }}.</p>
  {% endif %}

  <p><a href="#top">Back to top</a></p>

</div>
