.tabbed {
  margin-bottom: 2em;
}

/* LIBRARY SEARCH FORM */
.tabbed #searchForm {
  padding: 1em 0;
}

.tabbed #searchForm input,
.tabbed #searchForm textarea,
.tabbed #searchForm select {
  background: #ffffff;
  border: 1px solid #cccccc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px #ccc;
  color: #555555;
  font: 18px/21px 'Helvetica Neue', sans-serif;
  padding: 5px;
  -webkit-appearance: revert;
}

.tabbed #searchForm input[type=text],
.tabbed #searchForm select {
  height: 2.5em;
  width: 73%;
  margin-bottom: .5em;
  max-width: 800px;
}
@media (max-width: 800px) {
  .tabbed #searchForm input[type=text],
  .tabbed #searchForm select {
    width:100%;
    max-width: 700px;
  }
}

.tabbed #searchForm input[type=text]:focus,
.tabbed #searchForm select:focus {
   border: 1px solid #aaaaaa;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   box-shadow: 0 1px 1px #cdcdcd;
 }

.tabbed #searchForm input[type=radio],
.tabbed #searchForm input[type=checkbox] {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
}

.tabbed #searchForm option {
  padding: 0 0 0 5px;
  margin: 4px;
}

.tabbed #searchForm textarea {
  height: 120px;
  overflow: auto;
  padding: 5px;
}

.tabbed #searchForm textarea:focus {
   border: 1px solid #aaaaaa;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   box-shadow: 0 1px 1px #cdcdcd;
 }

.tabbed #searchForm button {
  overflow: visible;
  width: auto;
}

.tabbed #searchForm input[type=submit],
.tabbed #searchForm button[type=submit] {
  border-radius: 6px;
  height: 3em;
  width: 25%;
}

@media (max-width: 800px) {
  .tabbed #searchForm input[type=submit],
  .tabbed #searchForm button[type=submit] {
    width:100%;
    margin-left: 0;
  }
}
