.alert {
  overflow: hidden;
  background: $color-lantern;
  padding: 15px 45px 15px 20px;
  position: relative;
  display: none;
  z-index: 100;

  @media (min-width: $break-medium) {
    padding: 7px 65px 13px 20px;
    > div {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: $break-large) {
    padding: 20px 80px;
    > div {
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__title {
    font-family: $font-proxima;
    font-size: rem(17);
    font-weight: 700;
    margin-top: 0;

    @media (min-width: $break-medium) {
      display: inline;
      margin-right: 15px;
    }
  }

  &__text {
    @media (min-width: $break-medium) {
      margin-top: 5px;
    }

    @media (min-width: $break-large) {
      margin: 0;
    }
  }

  &__desc {
    @media (min-width: $break-medium) {
      display: inline;
    }
  }

  p {
    margin: 0.1em 0 0.5em;

    @media (min-width: $break-medium) {
      display: inline;
    }
  }

  &__cta a {
    @include cta-button-secondary();
   /* border-color: black;
    border-width: 1px;*/

    &:hover {
    /*  color: $color-yellow;
      background: $color-black;*/
    }

    &:focus {
      outline-color: $color-grey6!important; //override .has-home-hero header a:focus
    }

    @media (min-width: $break-medium) {
      margin: 0 0 0 15px;
    }
  }

  &__close {
    color: transparent;
    position: absolute;
    top: 12%;
    right: 2%;
    width: 32px;
    height: 32px;
    border: 0;
    background: url(../assets/icons/icons_close_blue.svg);
    filter: brightness(0);

    &:hover {
      filter: brightness(1);
    }

    &:focus {
      outline-color: rgba($color-grey6, 0.5)!important; //override .has-home-hero header button:focus
    }

    @media (min-width: $break-medium) {
      top: 20%;
    }

    @media (min-width: $break-large) {
      top: 25%;
      right: 3%;
    }
  }
}

.inside-bryn-mawr h2.alert__title {
  font-size: rem(17);
}
