.header-container__bulletin {
  overflow: hidden;
  position: relative;
  min-height: 132px;
  border-bottom: 1px solid $z-grey;

  &.open-menu {
    border-bottom: 0;
  }

  @media (min-width: $breakpoint-medium-width) {
    margin-left: 100px;
    height: auto;
    border-bottom: 0;
  }

  @media (min-width: $breakpoint-xlarge-1100) {
    margin-left: 90px;
  }

  .header__logo {
    display: block;
    width: 225px;
    max-width: 50%;

    &:focus {
      outline: 2px solid;
    }

    @media (min-width: $breakpoint-medium-width) {
      margin: 2em 0 1.25em 0;
      width: 217px;
      float: left;
    }

    @media (min-width: $breakpoint-xlarge-1100) {
      width: 233px;
    }

    img {
      width: 60%;
      max-width: 225px;
      min-width: 120px;
      position: relative;
      top: 12px;
      left: 40px;

      @media (min-width: $breakpoint-medium-width) {
        width: 100%;
        left: auto;
        top: auto;
      }

      @media (min-width: $breakpoint-xlarge-1100) {
        width: 233px;
        max-width: 233px;
      }
    }
  }

  .meanmenu-reveal {
    width: 72px;
    height: 48px;
    padding: 13px 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 23px;
    font-size: 1px;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    outline: none;
    z-index: 1000;
    border: 0;
    background: transparent;

    @media (min-width: $breakpoint-medium-width) {
      display: none;
    }

    span {
      display: block;
      background: #000000;
      height: 5px;
      margin: 4px 0 0 22px;
      width: 25px;
    }
  }

  .header__menu--top {
    @media (min-width: $breakpoint-medium-width) {
      width: auto;
    }

    @media (min-width: $breakpoint-medium-width) {
      margin-bottom: 3.25em;
    }

    @media (min-width: $breakpoint-xlarge-1100) {
      margin-bottom: 2em;
    }
  }

  .menu--bulletin {
    @media (min-width: $breakpoint-medium-width) {
      float: left;
    }

    @media (min-width: $breakpoint-xlarge-1100) {
      padding-right: 52px;
      float: right;
    }

    ul {
      margin: 3.5em 0 0;

      @media (min-width: $breakpoint-medium-width) {
        float: left;
        margin: 5.5em 0 0;
      }
    }

    li {
      position: relative;
      float: left;
      list-style: none;
      width: 100%;
      border-bottom: 1px solid #d4d4d4;

      @media (min-width: $breakpoint-medium-width) {
        margin: 0 5px;
        width: 110px;
        padding: 0 10px 0 0;
        border-bottom: 0;
      }

      @media (min-width: $breakpoint-medium-large-width) {
        width: 150px;
      }

      @media (min-width: $breakpoint-xlarge-1100) {
        width: auto;
        min-width: 200px;
      }

      &:first-child {
        border-top: 1px solid #0396d3;

        @media (min-width: $breakpoint-medium-width) {
          border: 0;
        }
      }
      &.menu-item--active-trail {
        a {
          color: $lightblue;
          margin-top: 0;
        }
        &:before {
          content: url(../assets/img/bulletin-arrow-light.png);
          //content: 'it works!';
          display: block;
          color: $lightblue;
        }
      }
    }
    a {
      color: #0396d3;
      text-align: center;
      text-transform: none;
      font-weight: normal;
      padding: 20px 0;
      font-weight: bold;
      font-size: 100%;
      display: block;
      width: 100%;

      @media (min-width: $breakpoint-medium-width) {
        color: #000;
        text-align: left;
        padding: 0.5em 0;
        border-top: 1px solid black;
        margin-right: 20px;
        font-size: 0.9em;
        margin-top: 23px;
        width: auto;

        &:hover {
          color: $blue;
        }

      }

      @media (min-width: $breakpoint-medium-large-width) {
        font-size: 1em;
      }

      @media (min-width: $breakpoint-xlarge-1100) {
        font-size: 1.5em;
      }
    }
  }

  .header__menu {
    display: none;

    @media (min-width: $breakpoint-medium-width) {
      display: block;
    }

    &.visible {
      display: block;
    }
  }

  .search {
    text-align: center;
    margin-top: 1em;
    clear: both;
  }

  .search {
    border-top: 1px solid $z-grey;
    text-align: left;

    input[type="search"] {
      background: transparent;
      width: 75%;
      border: 0;
      padding: 10px 0 5px 10px;

      @media (min-width: $breakpoint-medium-width) {
        width: calc(100% - 54px);
      }
    }

    input[type="submit"] {
      color: transparent;
      width: 40px;
      height: 44px;
      padding: 0;
      border: 0;
      background: url(../assets/icons/main-search.png) no-repeat center;
    }
  }

  .open-search {
    font-family: SSGlyphish;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-top: 1px white;
    padding: 0.5em;
    cursor: pointer;
    border: 0;
    display: block;
    margin: 0 auto;
    background: transparent;

    &:hover {
      color: $blue;
    }

    @media (min-width: $breakpoint-medium-width) {
      position: absolute;
      right: 20px;
      top: 112px;
    }

    @media (min-width: $breakpoint-xlarge-1100) {
      right: 24px;
      top: 98px;
    }
  }

  .search form {
    display: none;

    &.visible {
      display: block;
      background: rgba(255,219,0,0.1);

      @media (min-width: $breakpoint-medium-width) {
        width: 90%;
        margin: 1em 1em 1em 6%;
      }
    }
  }

  h3 {
    display: none;
    color: #231F20;
    font-family: "Berlingske Serif", serif;
    text-transform: none;
    position: fixed;
    width: 145px;
    margin-left: -1em;
    background: white;
    z-index: 99;
    font-weight: bold;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    font-size: 0.85em;
    top: -50px;
    left: -115px;
    @media (min-width: $breakpoint-medium-768) {
      display: block;
    }

    @media (min-width: $breakpoint-medium-width) {
      font-size: 1.3em;
      top: -20px;
      left: -110px;
    }
  }

  .back-to-edu {
    font-size: 1.3em;
    text-align: center;
    padding: 20px 0;
    clear: both;

    @media (min-width: $breakpoint-medium-width) {
      position: absolute;
      top: 0;
      right: 0;
      padding: 30px 2em;
    }

    @media (min-width: $breakpoint-xlarge-1100) {
      padding: 30px 32px;
    }

    a {
      color: $midgrey;
      font-style: italic;
      @media (min-width: $breakpoint-medium-width) {
        color: $z-dark-grey;
      }

      &:hover {
        text-decoration: underline;

        @media (min-width: $breakpoint-medium-width) {
          color: $blue;
          text-decoration: none;
        }
      }

      &:after {
        content: "right";
        font-family: SSGlyphish;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        text-rendering: optimizeLegibility;
        white-space: nowrap;
        font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 0.75em;
        padding-left: 0.25em;
      }
    }
  }

  .header__menu--top {
    @media (min-width: $breakpoint-medium-width) {
      float: right;
      padding: 0 50px 0 30px;
    }

    @media (min-width: $breakpoint-xlarge-1100) {
      padding: 0 30px;
    }
  }
}
