/***********
~FOOTER
***********/

.footer-container__bulletin {
  // general
  font-family: $sans;
  max-width: 100%;
  padding: 0 0 70px 30px;
  border-top: 1px solid $z-grey;
  display: flex;
  flex-direction:column;
  overflow: hidden;
  @include m-links-blue; // link colors

  @media (min-width: $breakpoint-small-width) {
    flex-direction:row;
  }
  @media (min-width: $breakpoint-medium-768) {
    padding: 0 0 70px 90px;
  }

  ul {
    margin: 0 0 2em 0;
    list-style: none;
    padding: 0;
    text-align: center;
    li {
      margin-bottom: .6em;
      font-weight: 600;
      font-size: 1.2em;
      line-height:1.8em;

      @media (min-width: $breakpoint-small-width) {
        line-height: 1em;
      }
    }
    a {
      color: $z-black;
      &:hover {
        color: $z-dark-blue;
      }
    }
    @media (min-width: $breakpoint-small-width) {
      text-align: left;
    }
  }

  .left-footer {
    display: flex;
    flex-direction: column;
    font-size:100%;
    width: 100%;
    ul.menu {
      text-align:center;
      @media (min-width: $breakpoint-medium-768) {
        text-align: left;
      }
    }
    .footer__menu--magazine { //main 3 links
      padding: 0 0 0 2em;

      a {
        color: $lightblue;
        &:hover {
          color: $z-dark-blue;
        }
      }
      ul li {
        display:list-item;
        font-family:$font-berlingske;
        font-size:1.5em;
        font-weight: 800;
        &:after {
          content: " ";
          font-weight: 200;
          padding: 0 1em;
        }
        &:last-child::after {
          content: " ";
        }
        @media (min-width: $breakpoint-med-lg-868) {
          display:inline-block;
          &:after {
            content: " // ";
          }
        }
      }
      @media (min-width: $breakpoint-medium-768) {
        padding-left: 0;
        margin: 0;
      }
    }
    .footer__menu--alumnae ul li { // links with + before
      display:list-item;
      a {
        color: $z-black;
        &:hover {
          color: $z-dark-blue;
        }
      }
      &:before {
        content: "+";
        font-weight: 800;
        font-size: 1.5em;
        padding-right: .25em;
        color: $z-yellow;
        line-height: 1rem;
      }
      @media (min-width: $breakpoint-medium-768) {
        padding: 0;
      }
      @media (min-width: $breakpoint-med-lg-868) {
        display: inline-block;
        width:49%;
      }
    }
    ul.social-icons {
      clear: both;
      margin-bottom: 2em;
      width: 100%;
      li {
        margin-bottom: 0;
        list-style-type: none;
        line-height:3.2em;
        a {
          @include bulletin-social-regular;
          font-size: 1.6em;
          text-align: center;
          color: white;
          background: $lightblue;
          width: 65px;
          height: 55px;
          float: left;
          &:hover, &:focus {
            background: $z-dark-blue;
          }
          &:focus {
            outline-offset: -5px;
          }
        }
        // a.twitter uses svg downloaded from sharethis, located in our asset/icon directory.
        // Change made to footer-container-bulletin.html.twig within bmc_custom module
        a.twitter {
           content:"";
          font-size:1px;
        img {
          padding: 0 0 16px 0;
          width: 40px;
          height: auto;
        }

        }
      }
    }
  }
  .right-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align:center;
    @media (min-width: $breakpoint-medium-768) {
      margin-top:rem(64);
      padding-left:0;
      margin-left:0;
    }
    @media (min-width: $breakpoint-1200) {
      flex-direction: row;
    }

    .footer__logo { // logo
      text-align: center;
      width: 47%;
      margin: 1.5em auto 0;
      padding: 0;
      max-width: 200px;
      @media (min-width: $breakpoint-small-width) {
        margin: 1em auto 0;
        padding: 0;
      }
      @media (min-width: $breakpoint-large-width) {
        margin: 1em 0 0 0;
        padding: 0 10%;
      }
      img {
        min-width:120px;
      }
    }
    .footer__menu--bmc { // college links
      margin: 1.4em 2em;
      text-align: center;
      a {
        color: $z-black;
        &:hover {
          color: $z-dark-blue;
        }
      }
      ul.menu {
        @media (max-width: $breakpoint-large-width) {
          text-align: center;
        }
      }
      @media (min-width: $breakpoint-1200) {
        margin: 1em 1.4em;
      }
    }
  }
}

/* Back to Top button */
.btt {
  color: transparent;
  width: 70px;
  height: 70px;
  overflow: hidden;
  background: url(../assets/img/backtotop.png) no-repeat center center;
  border: 0;
  transition: all 300ms;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  text-indent: -9999px;
  z-index: 100;

  &:hover {
    opacity: 0.8;
  }

  &.visible-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    top: auto;
    display: unset;
  }
}
