/* back to top button */
.btt {
  @include carousel-arrow();

  position: absolute;
  right: 10px;
  transform: rotate(-90deg);
  top: 0;
  margin-top: -17px;
  transition: all 300ms;
  background-color: $color-lantern;
  border: solid 1px $color-chiffon;
  z-index: 100;

  &:hover {
    background: url(../assets/icons/icons_arrow_blue.svg);
    background-color: $color-chiffon;
    border-color: $color-lantern;
  }

  @media (min-width: $break-medium) {
    right: 30px;
  }

  @media (min-width: $break-large) {
    &.visible-scroll {
      position: fixed;
      bottom: 20px;
      right: 30px;
      top: auto;
    }
  }
}

.footer__prefooter {
  position: relative;
 /* margin-top: -35px; */
  width: 100%;
  min-height: 170px;
  background-color: $color-black;
  /* needed to adjust to prevent black background from showing as a top border
  .footer-container__inside & {
    margin-top: 0;
  }*/

  img {
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.6;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.prefooter {
  &__img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: relative;
    padding-bottom: 25px;
    padding-top: 60px;
    z-index: 10;
    width: 100%;

    @media (min-width: $break-medium) {
      padding:60px 40px 55px;
    }

    @media (min-width: $break-large + 75px) {
      padding: 140px 75px 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: rem(28);
    font-weight: 400;
    color: $color-white;
    text-align: center;
    margin-bottom: 0.6em;

    @media (min-width: $break-medium) {
      font-size: rem(40);
      text-align: left;
      margin-bottom: 0.1em;
    }

    @media (min-width: $break-large) {
      font-size: rem(60);
      margin: 0;
    }
  }
}
/* needed to override typography.css inside h2 style */
.inside-bryn-mawr h2.prefooter__title {
  @media (min-width: $break-large) {
    font-size: rem(60);
  }
}


.prefooter__ctas {
  .field__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $break-medium) {
      justify-content: flex-start;
    }

    a {
      @include cta-button-primary();

      outline-color: $color-white;
      margin: 5px;

      @media (min-width: $break-medium) {
        margin: 5px;
      }
    }
  }
}


.footer-container {
  position: relative;
  background-color: $color-lantern;
  padding: rem(40) rem(80) rem(80);
  @media (min-width: $break-x-large-plus) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  /* container for left-footer: logo-contact-sm, mid-footer: link-farm, right-footer: footer-image */
  &__main {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*padding: 0 100px;*/
    @media (min-width: $break-medium) {
      flex-direction: row;
      flex-wrap:wrap;
      align-items: normal;
      padding: 0;
    }
    @media (min-width: $break-large) {
      flex-wrap:nowrap;
    }
  }
}

footer {

  .footer__logo {
    max-width: 250px;
    min-width: 200px;
    margin: 0 auto 20px;
    @media (min-width: $break-medium) {
      margin: 0 0 25px;
    }
    @media (min-width: $break-large) {
      max-width: 350px;
      min-width: 300px;
      width: 100%;
    }
    /* treatment to hide/display logo for mobile or desktop field */
    &--desktop {
      display: none;

      @media (min-width: $break-large){
        display: block;
      }
    }
    &--mobile {
      display: block;

      @media (min-width: $break-large) {
        display: none;
      }
    }
    img {
      /*max-height: 85px;*/
      width: auto;
      min-width: 200px;
      @media (min-width: $break-medium) {
        min-width: 225px;
        /*max-height: 72px;*/
      }
      @media (min-width: $break-large) {
        max-height: 100px;
      }
    }

  }

  .footer__contact {
    font-size: rem(16);
    font-weight: 400;
    max-width: 200px;
    line-height: rem(20);
    text-align: center;
    margin: 50px auto 20px;
    @media (min-width: $break-large) {
      margin: 0 0 25px;
      text-align: left;
    }

    a {
      font-weight: 400;
      text-decoration: none;
      color: $color-navy;

      &:hover {
        text-decoration: underline;
        color: $color-evergreen;
      }
    }
  }

  .footer__address {
    margin-bottom: 1.5em;
    font-weight: 800;

    @media (min-width: $break-medium) {
      margin-bottom: 1.3em;
    }
  }

  .footer__social {
    padding: 25px 0 0;
    @media (min-width: $break-medium) {
      margin-left: -8px;
      padding: 15px 0 0;
    }
  }

  .left-footer {

    width: 100%;
    padding: 0;
    @media (min-width: $break-medium) {
      width: 350px;
      padding: 25px 65px;
    }
    @media (min-width: $break-large) {
      width: rem(400);
      padding: 0 25px 25px;
      margin-right: 10px;
    }
  }

 .mid-footer {
   width: 100%;
   padding: 0;
   position: relative;
   margin: 25px 0;

   /* used for vert line before list farm */
   &:before {
     content: '';
     background-color: $color-chiffon;
     position: absolute;
     height: 0;
     width: 0;
     top: -4%;
     @media (min-width: $break-medium) {
       width: 2px;
       height: 106%;
     }
   }
   @media (min-width: $break-medium) {
     margin: 35px 0;
     width: calc(100% - 350px); /* -350px setting to accommodate left-footer width */
   }
   @media (min-width: $break-large-plus) {
     width: 45%;
   }
    @media (min-width: $break-x-large-plus) {
      padding: 0;
    }

   &-wrapper {
     text-align: center;
     @media (min-width: $break-medium) {
       padding: 0 25px;
       text-align: left;
     }
     @media (min-width: $break-x-large) {
       padding: 0 25px 0 2.5em;
       text-align: left;
     }
/* link farm styles */
     &--links {
       list-style: none;
       margin: 0;
       height: 90%;
       padding-left: 0;
       columns: 165px;
       column-count:1;
       @media (min-width: $break-medium) {
         column-count:2;
         column-gap: 27px;
       }

       &-item {
         list-style: none;
         display: inline-block;
         width: 100%;
         margin: 0;
         page-break-inside: avoid;
         break-inside: avoid;
         a {
           font-family: $font-proxima;
           font-size: rem(22);
           line-height: rem(26);
           padding: 8px 0;
           font-weight: 600;
           text-decoration: none;
           color: $color-navy;
           display: inline-block;
           &:hover {
             color: $color-evergreen;
             text-decoration: underline;
           }
         }
       }
     }
   }
  }

  .right-footer {
    width: 0; /* hides on smaller screen */

    img {
      width: 100%;
    }

    @media (min-width: $break-large-plus) {
      width: 200px;
      margin: 0 0 20px;
    }
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: .3em 0;
  padding: 0;

  @media (min-width: $break-large) {
    justify-content: flex-start;
  }

  @media (min-width: $break-x-large-plus) {
    /*margin: 0;*/
  }

  li {
    list-style: none;
    padding: 0 5px;
  }

  a {
    background: transparent;
    display: inline-block;
    overflow: hidden;
    color: transparent;
    height: 100%;
  }

  a span {
    display: inline-block;
    width: 38px;
    height: 38px;

    flex-grow: 0;
    flex-shrink: 0;
    transition: all 300ms;

    @media (min-width: $break-medium) {
      width: 28px;
      height: 28px;

    }
  }

  a span.sm-callout--facebook {
    &:hover {
      background: url(../assets/icons/icons_facebook.svg) no-repeat center;
      background-size: 100%;
    }
  }

  a span.sm-callout--instagram {
    &:hover {
      background: url(../assets/icons/icons_instagram.svg) no-repeat center;
      background-size: 100%;
    }
  }

  a span.sm-callout--linkedin {
    &:hover {
      background: url(../assets/icons/icons_linkedin.svg) no-repeat center;
      background-size: 100%;
    }
  }

  a span.sm-callout--tiktok {
    &:hover {
      background: url(../assets/icons/icons_tiktok.svg) no-repeat center;
      background-size: 100%;
    }
  }

  a span.sm-callout--twitter {
    &:hover {
      background: url(../assets/icons/icons_twitter.svg) no-repeat center;
      background-size: 100%;
    }
  }

  a span.sm-callout--youtube {
    &:hover {
      background: url(../assets/icons/icons_youtube.svg) no-repeat center;
      background-size: 100%;
    }
  }
}

.footer-container__bottom {
  font-size: rem(14);
  font-weight: 500;
  padding: 7px 0;
  border-top: 1px solid $color-chiffon;
  clear: both;

  @media (min-width: $break-medium) {
    @include clearfix();
  }

  @media (min-width: $break-x-large-plus) {
    width: 100%;
    display: flex;
    padding: 12px 0;
  }

  .footer-container__copyright {
    font-size: rem(12);
    @media (min-width: $break-large) {
      white-space: nowrap;
    }
  }

  .footer-container__menu--utility {
    a {
      font-weight: 500;
    }

    @media (min-width: $break-large) {
      margin-left: auto;
    }
  }

  ul {
    margin: 1em 0;
    column-count: 2;

    @media (min-width: $break-large) {
      margin: 0.3em 0 0;
      column-count: 1;
    }

    @media (min-width: $break-x-large-plus) {
      margin: 0;
      text-align: right;
    }

    li {
      margin: 0.5em;
      padding: 0;
      display: block;

      @media (min-width: $break-large) {
        margin: 0 0 0 1.5em;
        display: inline-block;

        &:first-child {
          margin-left: 0;
        }
      }

      span {
        @media (min-width: $break-large) {
          margin: 0 10px;
        }
      }
    }

    a {
      font-weight: 400;
      text-decoration: none;
      color: $color-navy;

      &:hover {
        text-decoration: underline;
        color: $color-evergreen;
      }
    }
  }
}
