// BMC Group theme styles
.path-group .action-links {
	.button-action {
		background-image: none;
	}
}

.path-group .region-content-bottom-wrapper {
	padding: 0;
}

// Group landing page
.group__content {
	display: flex;
	margin: 2rem 0;
	flex-flow: column nowrap;

	@media (min-width: $break-medium) {
		flex-flow: row nowrap;
	}
}

.group__content-col {
	@media (min-width: $break-medium) {
		flex-basis: 67%;
	}

	&--left {
		padding-right: 3rem;

		@media (max-width: $break-medium - 1px) {
			order: 2;
		}
	}

	&--right {
		@media (min-width: $break-medium) {
			flex-basis: 33%;
		}

		@media (max-width: $break-medium - 1px) {
			order: 1;
		}
	}
}

.group__heading {
	font-size: 1.25rem;
}

.group__add-content {
	margin: 2rem 0;
}

.group__add-item {
	margin: 2rem 0;
}

// Group Drupal views
.view-group-nodes {
	margin: 2rem 0;

	.dropbutton {
		a {
			background-image: none;
			text-decoration: none;
		}
	}

	.view-filters .form--inline{
		@media (min-width: $break-medium) {
			display: flex;
		}
	}

	.js-form-item {
		margin: 1rem 0;

		@media (min-width: $break-medium) {
			flex-basis: 40%;
			margin: 0;
			padding-right: 20px;
		}
	}

	th {
		white-space: nowrap;

    a {
      background-image: none;
      color: $color-navy;
    }
  }




	input[type="submit"] {
		padding: 7px 1.75rem;
	}
}
.view-group-members,
.view-group-nodes {
  td .dropbutton a {
    font-size: 14.5px !important;
  }
}
