$menu-small: 57px;
$menu-medium: 74px;
$menu-large: 94px;


.header-container__menu--left {
  font-size: rem(14px);
  padding: 0 20px 40px;
}

.header-container__menu--left--social {
  margin: 1.55em -15px;

  @media (min-width: $break-large) {
    margin: 1.8em -15px;
  }
}

.header__menu--theme-switcher,
.header__menu--top > nav {
  display: none;
}

.header__menu--theme-switcher {
  @media (min-width: $break-large) {
    font-size: rem(14);
    display: block;
    float: right;
    clear: right;
    margin-bottom: 23px;
    position: relative;
    z-index: 2000;

    .menu {
      margin: 0;
      display: flex;

      li {
        margin: 0 27px 0 0;
        list-style: none;
        padding-bottom: 0.4em;
        margin-bottom: -0.4em;

        &:last-child {
          margin-right: 0;
        }

        &.menu-item--expanded.focused {
          &.grad_top_level:before {
            background: $color-grey3 !important // force under all conditions;
          }

          ul {
            max-height: 200px;
            visibility: visible;
            transition: all 300ms;
          }

          >button:before {
            content: "";
            opacity: 1;
            transition: all 300ms;
          }

          &:after {
            transform: rotate(90deg) rotateY(-180deg);
          }
        }

        &.menu-item--expanded {
          padding-right: 20px;
          position: relative;
          z-index: 1000;
          margin-right: 23px;

          &.is-active {
            button {
              font-weight: 700;
            }
          }

          >button {
            color: #000;
            font-weight: 500;
            background: transparent;
            border: 0;
            padding: 0;
          }

          >button:before {
            content: "";
            position: absolute;
            left: -10px;
            right: -6px;
            background: $color-lantern;
            z-index: -1;
            top: -2px;
            height: 29px;
            border-bottom: 1px solid $color-bronze;
            opacity: 0;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
            transition: all 300ms 300ms;
          }

          ul {
            position: absolute;
            width: 225px;
            background: $color-lantern;
            padding: 8px 0;
            z-index: 100;
            display: block;
            margin-top: 5px;
            margin-left: -10px;
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            transition: all 300ms 300ms;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);

            li {
              font-size: rem(14);
              padding: 0.4em 20px;
              margin: 0;
              line-height: 1.25;

              a {
                font-weight: 400;

                &:hover {
                  color: $color-evergreen;
                  text-decoration: underline;
                  border:none;
                }

                &.is-active {
                  font-weight: 700;

                  &:after {
                    content: none;
                  }
                }
              }
            }
          }

          &.remove-delay ul,
          &.remove-delay a:before {
            transition-delay: 0s;
          }

          &:after {
            content: "";
            position: absolute;
            top: 5px;
            width: 16px;
            height: 16px;
            right: 0;
            transform: rotate(90deg);
            background: url(../assets/icons/icons_arrow.svg) no-repeat center / 100%;
          }
        }
      }

      a {
        color: $color-navy;
        font-weight: 500;
        text-decoration: none;
        padding: 0 3px 10px 0;

        &.is-active {
          font-weight: 700;
          position: relative;
          border-bottom: solid 2px $color-lantern;


        }

        &:hover {
          position: relative;
          border-bottom: solid 2px $color-lantern;
        }
      }
    }
  }
}


.header-container__menu {
  position: fixed;
  top: $menu-small;
  bottom: 0;
  left: auto;
  right: -100%;
  background: $color-white;
  padding: 0 20px;
  overflow: auto;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  width: 100%;

  h2 {
    display: none;
  }

  @media (min-width: $break-medium) {
    padding: 0 50px;
    top: $menu-medium;
  }

  @media (min-width: $break-large) {
    background: $color-feather;
    padding: 0 75px;
    top: $menu-large;
  }

  .active-link-display {
    font-size: rem(17);
    font-weight: 700;
    padding: 0 20px;
    display: block;
  }

  .header-container__menu-cols {
    opacity: 0;
    transition: all 300ms 300ms;
  }


  .menu--main,
  .menu--gsas,
  .menu--postbac,
  .menu--socialwork,
  .menu--inside {
    font-size: rem(16);
    margin: 0 -20px;
    border-bottom: 1px solid $color-bronze;

    @media (min-width: $break-medium) {
      border-bottom: 0;
    }

    @media (min-width: $break-large) {
      font-size: rem(21);
      margin-top: 115px;
    }

    ul {
      margin: 10px 0 5px;

      @media (min-width: $break-medium) {
        margin: 40px 0;
      }

      ul {
        font-size: rem(17);
        border: 0;
        margin: 0;
        padding: 0.55em 0 0;
        display: none;

        li {
          border: 0;
          padding: 0;
          margin: 0.7em 0;
        }

        a {
          color: $color-black;
          font-weight: 400;
          text-transform: none;
          letter-spacing: 0;

          &.is-active {
            color: $color-black;
          }

          &::after {
            content: none;
          }
        }
      }
    }

    li {
      padding: 15px 16px;
      border-bottom: 1px solid $color-bronze;
      list-style: none;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }

      @media (min-width: $break-large) {
        padding: 12px 0;
      }
    }

    a {
      @include cta-arrow(sm);

      color: $color-navy;
      font-size: rem(17);
      font-weight: 700;
      background: transparent;
      display: inline-block;
      padding-right: 4em;

      &:after {
        margin: 0.75em 0 0 1px;
        border-color: $color-navy;

        @media (min-width: $break-large) {
          width: 22px;
          height: 22px;
        }
      }

      &.is-active {
        color: $color-navy;

        &:hover {
          color: $color-navy;
        }
      }
    }

    &__button {
      color: transparent;
      width: 28px;
      height: 28px;
      border: none;
      right: 16px;
      position: absolute;
      top: 12px;
      overflow: hidden;
      background-color: transparent;
      padding: 0;

      &[aria-expanded="true"] {
        &:after {
          background: url(../assets/icons/icons_minus_yellow.svg) no-repeat center / 24px;
        }
      }

      &:after {
        content: "";
        background: url(../assets/icons/icons_plus_yellow.svg) no-repeat center / 24px;
        transition: all 300ms;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 24px;
        width: 24px;
        transform: translate(-50%, -50%);
      }

      &:hover {
        &:after {
          filter: brightness(0);
        }
      }
    }
  }

  .menu--marketing-ancillary,
  .menu--gsas-ancil,
  .menu--postbac-ancil,
  .menu--socialwork-ancil {
    margin-top: 1.5em;

    @media (min-width: $break-medium) {
      margin-top: 0;
    }
  }

  .menu--marketing-ancillary,
  .menu--marketing-resources-for,
  .menu--gsas-ancil,
  .menu--gsas-resources-for,
  .menu--postbac-ancil,
  .menu--postbac-resources-for,
  .menu--socialwork-ancil,
  .menu--socialwork-resources-for {
    ul {
      margin: 1em 0;

      @media (min-width: $break-medium) {
        margin: 1.5em 0;
      }

      @media (min-width: $break-large) {
        font-size: rem(14);
      }
    }

    li {
      margin: 0.4em 0;
      padding: 0;
    }

    a {
      color: $color-navy;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        color: $color-evergreen;
        text-decoration: underline;
      }
    }
  }

  .menu--marketing-resources-for,
  .menu--gsas-resources-for,
  .menu--postbac-resources-for,
  .menu--socialwork-resources-for {
    ul {
      @media (min-width: $break-medium) {
        margin: 0.8em 0 0.9em;
      }
    }
  }


  h2 {
    display: block;
    font-family: $font-proxima;
    font-size: rem(16);
    font-weight: 800;
    margin-top: 1.7em;

    @media (min-width: $break-medium) {
      margin-top: 2.5em;
    }

    @media (min-width: $break-large) {
      margin-top: 25px;
    }
  }
}

.header-container__search-button {
  display: none;

  @media (min-width: $break-medium) {
    display: block;
    width: 35px;
    height: 35px;
    border: 0;
    position: absolute;
    right: 70px;
    top: 50%;
    margin: -16px 0 0;
    background: url(../assets/icons/icons_search_blue.svg) no-repeat center;
    filter: brightness(0);

    &:hover {
      filter: brightness(1);
      background-color: $color-lantern;
    }
  }

  @media (min-width: $break-large) {
    right: 124px;
    bottom: 50%;
    transform: translateY(50%);
    top: auto;
    margin: 0;
  }

  &[aria-expanded="true"] {
    background: url(../assets/icons/icons_close.svg) no-repeat center;

    &+.header-container__search {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
  }
}

.header-container__search {
  width: calc(100% - 95px);
  position: absolute;
  top: 10px;
  left: 20px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: opacity 300ms;

  input[type="search"] {
    width: 100%;
    height: 36px;
    border: 1px solid $color-grey3;
    border-radius: 0;
    appearance: none;
    padding: 0.65em;
    max-width: 100%;

    &::placeholder {
      color: #767676;
      opacity: 1;
    }
  }

  input[type="submit"] {
    @include ir();

    width: 32px;
    height: 32px;
    right: 3px;
    top: 50%;
    margin-top: -16px;
    position: absolute;
    border: 0;
    background: transparent url(../assets/icons/icons_search_blue.svg);
    filter: brightness(0);
    outline-offset: -2px;

    &:hover {
      filter: brightness(1);
    }
  }

  @media (min-width: $break-medium) {
    top: 19px;
    left: auto;
    width: 270px;
    right: 175px;
  }

  @media (min-width: $break-large) {
    top: auto;
    bottom: 28px;

  }
}

.not-inside-bmc {
  .header-container__search input {
    outline-color: $color-white;
  }
}

.header__logo {
  width: 80%;
  @media (min-width: $break-medium) {
    width: 350px;
  }


  /* treatment to hide/display logo for mobile or desktop field */
  &--desktop {
    display: none;

    @media (min-width: $break-large){
      display: block;
    }
  }
  &--mobile {
    display: block;

    @media (min-width: $break-large) {
      display: none;
    }
  }

  a {
    background: transparent;
  }

  img {
    width: auto;
    max-height: 60px;
    min-width: 200px;
    max-width: 100%;

    @media (min-width: $break-medium - 310) {
      min-width: 200px;
      max-height: 80px;
    }
    @media (min-width: $break-medium) {

    }

    .header-container__marketing & {
      @media (min-width: $break-medium - 310) {
        max-height: 60px;
      }
      @media (min-width: $break-large) {
        max-height: 94px;
      }
    }

    @media (min-width: $break-large) {
      min-width: 100%;
      max-width: 100%;
      max-height: 94px;
    }
  }
  .header-container__gsswsr & {
    width: 84%;
    @media (min-width: $break-medium - 410) {
      width: 86%;
    }
    @media (min-width: $break-medium - 310) {
      width: 92.75%;
    }
    @media (min-width: $break-medium) {
      width: 500px;
    }
  }
}

.block-bmc-custom-header-container-gsas,
.block-bmc-custom-header-container-postbac,
.block-bmc-custom-header-container-gsswsr {
  background: $color-white;



  .header__logo {
    @media (min-width: $break-large) {

    }
  }
}

.header-container__nav-button {
  position: absolute;
  top: 17%;
  margin-top: 0px;
  right: 20px;
  width: 36px;
  height: 36px;
  background-color: $color-white;
  border: 0;
  padding: 0 15px;
  transition: all 300ms;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 300ms;
    background: transparent url(../assets/icons/icons_menu.svg) no-repeat center / 32px 32px;

    @media (min-width: $break-medium) {

    }

    @media (min-width: $break-large) {

    }
  }

  &:hover {

    background-color: $color-lantern;

    &:after {

    }
  }

  &[aria-expanded="true"] {
    &:after {
      background-image: url(../assets/icons/icons_close_blue.svg)
    }
  }
  @media (min-width: $break-medium - 310) {
    top: 15%;

  }
  @media (min-width: $break-medium) {
    top: 25%;
    right: 20px;
    text-align: left;
  }

  @media (min-width: $break-large) {
    bottom: 50%;
    right: 80px;
    transform: translateY(50%);
    top: auto;
  }

  span {
    @include element-invisible();

    /* @media (min-width: $break-medium) {
     @include element-invisible-off();

      .show-large {
        @include element-invisible();

       @media (min-width: $break-large) {
          @include element-invisible-off();
        }
      }
    }*/
  }
}

.header__menu--top {
  @media (min-width: $break-large) {
    font-family: $font-dunbar;
    font-size: rem(15.6);
    font-weight: 700;
    letter-spacing: 0.4px;
    display: block;
    float: right;
    margin-right: 155px;
    margin-top: -5px;
    width: calc(100% - 500px);
    white-space: nowrap;

    > nav {
      display: block;
    }

    a {
      color: $color-navy;
      text-decoration: none;
      padding: 12px;

      &:hover {
        color: $color-navy;
        background-color: $color-lantern;
      }

      &.is-active {
        color: $color-black;

        &:hover {
          color: $color-swungblue;
        }
      }
    }

    .menu {
      display: flex;
      justify-content: flex-end;
      margin: 0 15px 0 0;

      li {
        margin: 0 .5px;
        list-style: none;
      }
    }
  }
}

.header-container__menu--left--social {
  a {
    background: transparent;
    display: inline-block;
    overflow: hidden;
    color: transparent;
  }

  a span {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0 5px;
    flex-grow: 0;
    flex-shrink: 0;
    filter: brightness(0);
    transition: all 300ms;

    &:hover {
      filter: brightness(1);
    }
  }
}

.open-menu .marketing .header-container__search {
  @media (min-width: $break-medium) {
    width: 270px;
  }
}


.block-bmc-custom-header-container-marketing,
.block-bmc-custom-header-container-gsas,
.block-bmc-custom-header-container-postbac,
.block-bmc-custom-header-container-gsswsr {
  padding: 14px 20px;
  position: relative;
  @include clearfix();
  z-index: 10000;
  height: 60px;

  @media (min-width: $break-medium - 310) {
    height: 80px;
  }

  @media (min-width: $break-medium) {
    padding: 19px 25px 14px 20px;

  }

  @media (min-width: $break-large) {
    padding: 17px 22px 17px 27px;
    height: 94px;
  }

  .header-container__menu {
    background-color: $color-lantern;
    padding: 0;

    @media (min-width: $break-medium) {
      width: calc(467px + var(--scrollbar-width));
      left: auto;
    }


  .header__menu--theme-switcher {
    background: $color-navy;
    display: block;
    margin: 20px;
    float: none;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms 300ms;

    .open-menu & {
      opacity: 1;
    }

    .toggle-theme--switcher {
      font-family: $font-dunbar;
      font-size: rem(12.5);
      font-weight: 600;
      letter-spacing: 0.4px;
      line-height: rem(14);
      display: block;
      padding: 10px 20px;
      border: 0;
      border-bottom: 1px solid $color-grey3;
      width: calc(100%);
      position: relative;

      &:focus {
        outline-color: white;
        outline-offset: -3px;
      }

      &.expanded {
        &:after {
          content: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        right: 15px;
        width: 11px;
        border-bottom: 1px solid $color-white;
        top: 50%;
        transform: rotate(90deg);
      }

      &:before {
        content: "";
        position: absolute;
        right: 15px;
        width: 11px;
        border-bottom: 1px solid $color-white;
        top: 50%;
      }
    }

    .block-bmc-custom-theme-switcher {
      padding: 20px;
      display: none;
    }


    ul {
      margin: 0;
      flex-direction: column;
      display: flex;

    }

    li {
      margin-bottom: 0.5em;
      list-style: none;
      border-bottom: 0;
      padding: 0;
      line-height: 1.47;

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        margin-bottom: 0;
      }

      &.menu-item--expanded {
        position: relative;
        z-index: 2500;

        &.is-active {

          button {
            font-weight: 700;
            color: $color-yellow;

            @media (max-width: $break-large - 1) {
              border-bottom: 1px solid $color-yellow;
            }

            &:before {
              @media (max-width: $break-medium -1) {
                content: "";
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                background: #F8E19B;
                position: absolute;
              }
            }

            &:after {
              filter: invert(0);
              background: url(../assets/icons/icons_arrow-yellow.svg) no-repeat center/100%;
            }
          }
        }

        @media (min-width: $break-medium) {
          padding-right: 30px;
        }

        >button {
          position: relative;
          z-index: 10;
          border: 0;
          padding: 0;
          background: transparent;
        }

        >button:before {

          @media (min-width: $break-medium) {
            content: "";
            position: absolute;
            left: -10px;
            right: -30px;
            background: $color-yellow;
            z-index: -1;
            top: -5px;
            bottom: auto;
            height: 29px;
            width: auto;
            border-bottom: 1px solid $color-grey3;
            opacity: 0;
            transition: all 300ms;
          }

          @media (min-width: $break-large) {
            background: transparent;
            border-bottom: 0;
          }
        }

        &.focused {
          button:before {
            opacity: 1;
          }

          ul {
            max-height: 200px;
            visibility: visible;
          }

          >button:after {
            transform: rotate(90deg) rotateY(-180deg);
          }

          >button {
            outline-color: $color-grey4;
          }
        }

        >button:after {
          content: "";
          position: absolute;
          top: 3px;
          width: 16px;
          height: 16px;
          transform: rotate(90deg);
          filter: invert(1);
          margin-left: 5px;
          background: url(../assets/icons/icons_arrow.svg) no-repeat center / 100%;

          @media (min-width: $break-medium) {
            top: 2px;
          }
        }

        ul {

          z-index: 100;
          display: block;
          max-height: 0;

          position: relative;
          width: 100%;
          visibility: visible;
          background: $color-navy;
          margin: 0;
          max-height: inherit;
          padding: 0;


          li {
            font-size: rem(14);
            margin: 0.5em 0;
            padding: 0;
            border: 0;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: $color-white;
              text-decoration: none;
              border: 0;


              &:hover {
                color: $color-lantern;
                text-decoration: underline;
              }
            }
          }
        }
      }

      a {
        &:hover {
          color: $color-lantern;
          text-decoration: underline;
        }
      }

    }

    button {
      text-align: left;
    }

    li button {
      @include element-invisible();
    }

    a,
    button {
      font-size: rem(14);
      font-weight: 500;
      color: $color-white;
      outline-color: $color-white;
      background: transparent;
      text-decoration: none;
      display: block;
      outline-offset: -3px;


      &.is-active {
        color: $color-white !important;
        font-weight: 700;
        position: relative;

        @media (min-width: $break-large) {
          color: $color-white;

          &:after {
            display: none;
          }
        }
      }

      @media (min-width: $break-medium) {
        padding: 0 0 2px 0;
        border: 0;
      }
    }

    nav>ul>li>a,
    nav>ul>li>button {
      display: inline-block;
    }
  }
  }

  .header-container__nav-button {


    @media (min-width: $break-large) {


    }
  }

  .header-container__search-button {


    @media (min-width: $break-large) {

    }
  }
}

.header__menu--top:after {
  content: unset; /* set to unset so page width doesn't get effected by full menu off to the side until opened */
  position: fixed; /* when set to fixed it creates a weird gap when logged in or when alert banner is present  */
  width:calc(100% + var(--scrollbar-width));
  height: 75px;
  background-color: white;
  z-index: 10000;
  right: -100%;
  top: 0;
  z-index: 0;
  transition: all 300ms;

  @media (min-width: $break-medium) {
    width: calc(467px + var(--scrollbar-width));
  }

  @media (min-width: $break-large) {
    height: 116px;
  }
}


.open-menu {
  overflow: hidden;
  padding-right: var(--scrollbar-width);

  &:before {
    content: "";
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10000;
  }

  .header__menu--top:after {
    content: ""; /* set to "" so menu populates when open  */
    position: absolute; /* when set to fixed it creates a weird gap when logged in or when alert banner is present  */
    right: calc( var(--scrollbar-width) * -1);

  }
  .header__menu--top:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }



  .block-bmc-custom-header-container-marketing,
  .block-bmc-custom-header-container-gsas,
  .block-bmc-custom-header-container-postbac,
  .block-bmc-custom-header-container-gsswsr,
  .block-bmc-custom-header-container-inside {
    z-index: 50000;
    background: $color-white;

    @media (min-width: $break-medium) {
      background-color: $color-white;
    }

    .header-container__search {
      @media (min-width: $break-medium) {}

      @media (min-width: $break-large) {
        right: 175px;
      }
    }
  }

  .header-container__menu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    right: 0;
    transition: right 300ms;


  }

  .header-container__menu-cols {
    opacity: 1;
  }

  .header-container__search-button {
    visibility: hidden;
    opacity: 0;
  }

  .inside-bryn-mawr .header-container__search-button {
    @media (min-width: $break-large) {
      visibility: visible;
      opacity: 1;
    }
  }

  .header-container__search {
    top: 10px;
    left: 20px;
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition-delay: 300ms;

    @media (min-width: $break-medium) {
      top: 19px;
      left: auto;
      width: 226px;
      right: 135px;
    }

    @media (min-width: $break-large) {
      top: auto;
      right: 245px;
      bottom: 28px;
      width: 270px;
    }
  }

  .inside-bryn-mawr .header-container__search {
    @media (min-width: $break-large) {
      top: 127px;
      right: 15px;
      bottom: auto;
      visibility: hidden;
    }
  }

  .not-inside-bmc {
    .header-container__search input {
      outline-color: #808080;
    }
  }
}

@mixin addUnderline() {
  >a {
    color: $color-chiffon;
    font-weight: 700;
    position: relative;

    @media (min-width: $break-large) {
      color: $color-navy;
    }
  }

  >a:before {
    content: "";
    position: absolute;
    height: 1px;
    background: $color-chiffon;
    bottom: -1px;
    left: 0;
    right: 0;

    @media (min-width: $break-medium) {
      left: -10px;
      right: -10px;
      bottom: -5px;
    }

    @media (min-width: $break-large) {
      background: $color-wisteria;
    }
  }
}

.page-wrapper.marketing {
  .menu--theme-switcher {
    .Bryn-Mawr-Home {
      @include addUnderline();
    }
  }
}

.page-wrapper.inside-bryn-mawr,
.block-bmc-custom-header-container-inside {
  .menu--theme-switcher {
    .Inside-Bryn-Mawr {
      @include addUnderline();
    }
  }

  .header-container__menu .header-container__menu-cols {
    @media (min-width: $break-medium) {
      display: flex;
      flex-direction: row-reverse;
      height: 100%;
    }

    @media (min-width: $break-large) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  .header-container__menu .header-container__menu-cols .header-container__menu--right {
    @media (min-width: $break-medium) {
      padding-left: 40px;
      position: relative;
      width: 50%;
    }

    @media (min-width: $break-large) {
      width: auto;
    }
  }

  .header-container__menu .header-container__menu-cols .header-container__menu--left {
    @media (min-width: $break-medium) {
      margin: 0;
      padding: 40px 0 0;
      width: 50%;
    }

    @media (min-width: $break-large) {
      width: auto;
      padding: 0;
    }
  }
}

@mixin white-header {
  .header__logo img {
    filter: invert(1);
  }

  .header-container__search-button {
    filter: brightness(100);
    background: url(../assets/icons/icons_search_yellow.svg) no-repeat center;

    &[aria-expanded="true"] {
      filter: brightness(10);
      background: url(../assets/icons/icons_close_yellow.svg) no-repeat center;
    }

    &:hover {
      filter: brightness(1);
    }
  }

  header {


    .header-container__menu {

      a:focus,
      button:focus {
        @include focusStyles();
        outline-offset: -2px;
      }
    }
  }

  .block-bmc-custom-header-container-gsas,
  .block-bmc-custom-header-container-postbac,
  .block-bmc-custom-header-container-gsswsr {
    background: transparent;
  }

  .menu a.is-active {
    color: $color-white;

    &:hover {
      color: $color-yellow;
    }
  }

  .header__menu--theme-switcher .menu {
    a.is-active {
      color: $color-yellow;

      &:after {
        background: $color-yellow;
      }
    }
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded:after {
    filter: invert(1);
  }

  .header__menu--top a {
    color: $color-white;

    &:hover {
      color: $color-yellow;
    }
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded.is-active>button {
    color: $color-yellow;
    font-weight: 700;
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded.is-active:after {
    background: url(../assets/icons/icons_arrow-yellow.svg) no-repeat center/100%;
    filter: invert(0);
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded.is-active:before {
    background: $color-yellow;
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded.focused>button {
    @media (min-width: $break-medium) {
      color: $color-black;
    }
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded.focused:after {
    filter: brightness(0);
  }

  &.open-menu,
  .open-menu & {

    .block-bmc-custom-header-container-marketing,
    .block-bmc-custom-header-container-gsas,
    .block-bmc-custom-header-container-postbac,
    .block-bmc-custom-header-container-gsswsr {
      background: $color-white;
    }

    .header__logo img {
      filter: invert(0);
    }

    header {

      a:focus,
      button:focus {
        outline-color: #808080;
      }
    }

    .header__menu--theme-switcher .menu li.menu-item--expanded:after {
      filter: invert(0);
    }

    .menu a.is-active {
      @media (min-width: $break-large) {
        color: $color-swungblue;
      }

      &:hover {
        color: $color-grey4;
      }
    }

    .header__menu--theme-switcher .menu a.is-active {
      &:hover {
        color: $color-yellow;

        @media (min-width: $break-large) {
          color: $color-grey4;
        }
      }

      &:after {
        @media (min-width: $break-large) {
          background: $color-brightblue;
        }
      }
    }


    .header__menu--top a {
      color: $color-black;

      &:hover {
        color: $color-grey4;
      }
    }

    .header__menu--theme-switcher .menu a,
    .header__menu--theme-switcher .menu li.menu-item--expanded>button {
      outline-color: $color-white;

      @media (min-width: $break-large) {
        //color: $color-black;
        outline-color: #808080;

        &:hover {
          color: $color-grey4;
        }
      }
    }

    .header__menu--theme-switcher .menu li.menu-item--expanded.is-active:before {
      background: $color-brightblue;
    }

    .header__menu--theme-switcher .menu li.menu-item--expanded.is-active:after {
      filter: invert(1);
    }
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded button {
    @media (min-width: $break-large) {
      color: $color-white;
    }
  }

  .header__menu--theme-switcher .menu li.menu-item--expanded.focused {
    button {
      @media (min-width: $break-medium) {
        outline-color: #808080;
      }
    }

    a {
      outline-color: #808080;
    }
  }
}

.has-home-hero {
 /* @include white-header(); */
}

.has-featured-story {
 /* @include white-header(); */
}

.block-bmc-custom-header-container-marketing,
.block-bmc-custom-header-container-gsas,
.block-bmc-custom-header-container-postbac,
.block-bmc-custom-header-container-gsswsr {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0;
  @media (min-width: $break-medium - 310) {
    padding: 0 30px;
    margin: 26px 0;
  }
}

.header-container__marketing,
.header-container__gsas,
.header-container__gsswsr,
.header-container__postbac {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.header-container__marketing {
  .header__menu--top {
    width: calc(100% - 650px); /* -650px setting to accommodate logo width */
    text-align: right;
    margin-right: 0;
    margin-top: -2px;
  }
}
.header-container__gsas,
.header-container__gsswsr,
.header-container__postbac {
  .header__menu--top {
    width: calc(100% - 750px);  /* -750px setting to accommodate logo width */
    text-align: right;
    margin-right: 0;
    margin-top: -2px;
  }
}

.has-home-hero.open-menu {
  .header__menu--theme-switcher {
    .menu {
      a {
        &:hover {
          color: $color-chiffon;
        }
      }
    }
  }
}
