.block-bmc-custom-header-container-inside {
  padding: 0 20px;
  margin: 26px 0;
  position: relative;
  @include clearfix();

  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 20000;
  height: 70px;
  @media (min-width: $break-medium - 310) {
    padding: 0 30px;
  }

  @media (min-width: $break-medium) {
    height: 80px;
  }

  @media (min-width: $break-large) {
    padding: 0 75px 0 19px;
    margin: 5px 0;
    height: 146px;
    display: block;
  }
  .header-container__inside {
    width: 100%;
    height: auto;
  }

  .header__logo {
    width: 80%;
    @media (min-width: $break-medium) {
      width: 350px;
    }

    /* treatment to hide/display logo for mobile or desktop field */
    &--desktop {
      display: none;

      @media (min-width: $break-large) {
        display: block;
        margin: 25px 0 25px 13px;
      }

      .open-menu & {
        display: none;
        @media (min-width: $break-large) {
          display: block;
        }
      }
    }
    &--mobile {
      display: block;
      margin: 0;

      @media (min-width: $break-large) {
        display: none;
      }
      .open-menu & {
        display: none;
      }
    }
     img {
       width: auto;
       @media (min-width: $break-medium - 310) {
         max-height: 60px;
       }
       @media (min-width: $break-large) {
         max-height: 94px;
       }
    }
  }

  .header-container__nav-button {
    @media (min-width: $break-large) {
      display: none;
    }
  }

  .header-container__search input[type="submit"] {
    @media (min-width: $break-large) {
      margin-top: 2px;
    }
  }

  .header-container__search-button {
    @media (min-width: $break-large) {
      right: 27px;
      bottom: -12px;
    /*  transform: translateY(0);*/
    }
  }

  .header-container__menu-wrapper {
    clear: both;
  }

  .header-container__menu {
    @media (min-width: $break-medium) {
      padding: 0;

      .header__menu--theme-switcher {
        margin: 0;
      }

      .header-container__menu-cols .header-container__menu--left {
        margin: 0;
        padding: 40px 0 0;

        @media (min-width: $break-large) {
          padding: 0;
          width: auto;
        }
      }

      .header-container__menu-cols .header-container__menu--right {
        @media (min-width: $break-large) {
          padding: 0;
          width: auto;

          &:after {
            content: none;
          }
        }
      }
    }

    .header-container__menu-cols {
      @media (min-width: $break-large) {
        opacity: 1;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

    @media (min-width: $break-large) {
      position: static;
      opacity: 1;
      visibility: visible;
      padding: 0 65px 0 12px;
      margin: 0 -75px 0 -27px;
      display: flex;
      justify-content: space-between;
      overflow: visible;
      width: auto;
    }
  }

  .header-container__menu--left:hover {
    .inside__panel,
    .accordion__item {
      transition: none;
    }
    .accordion__item:hover .inside__panel {
      transition: all 300ms;
    }
  }

  .header-container__menu--left {
    display: flex;
    margin: 0 -20px;

    @media (min-width: $break-medium) {
      margin: 0;
    }
  }

  .header-container__menu--right {
    @media (min-width: $break-medium) {
      padding-right: 50px;
    }
  }

  .accordion-bar {
    position: absolute;
    top: 50px;
    height: 2px;
    left: 0;
    width: 33.33%;
    background: $color-bronze;
    transition: all 300ms;

    @media (min-width: $break-medium) {
      top: 91px;
    }

    @media (min-width: $break-large) {
      display: none;
    }
  }

  .accordion__item {
    border-bottom: 1px solid transparent;
    list-style: none;
    width: 33.33%;
    text-align: center;
    transition: all 300ms;
    transition-delay: 500ms;

    @media (min-width: $break-large) {
      display: flex;
      align-items: center;
      padding: 0 8px;
      width: auto;

      &.focused {
        /* util menu icons */
        background: $color-chiffon;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid $color-grey3;
        transition-delay: 0s;
        .inside__panel {
          max-height: 400px;
          visibility: visible;
          transition-delay: 0s;
        }
      }

      &.remove-delay {
        transition-delay: 0s;
        .inside__panel {
          transition-delay: 0s;
        }
      }
    }

    &:nth-child(2) {
      .inside__panel {
        margin-left: -100%;
      }
    }

    &:nth-child(3) {
      .inside__panel {
        margin-left: -200%;
      }
    }

    &.focused {
      .inside__panel {
        display: block;
      }
    }

    &.focused:nth-child(2) {
      & ~ .accordion-bar {
        left: 33.33%;
      }
    }

    &.focused:nth-child(3) {
      & ~ .accordion-bar {
        left: 66.66%;
      }
    }

    .inside__panel {
      /* util flyout menu */
      display: none;
      width: 300%;

      @media (min-width: $break-large) {
        position: absolute;
        top: 46px;
        right: 0;
        background: $color-chiffon;
        width: 245px;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        display: block;
        z-index: 500;
        transition: all 300ms 500ms;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
      }

      h2 {
        font-size: rem(16);
        text-align: left;
        padding: 0 20px;

        @media (min-width: $break-medium) {
          padding: 0 50px;
          margin-top: 1.75em;
          margin-bottom: 1em;
        }

        @media (min-width: $break-large) {
          font-size: rem(13);
          margin-top: 1.5em;
          padding: 0 20px;
        }
      }

      ul {
        margin: 0 0 1em;
        padding: 3px 20px;

        @media (min-width: $break-medium) {
          padding: 0 50px;
        }

        @media (min-width: $break-large) {
          padding: 0 20px;
        }
      }

      li {
        line-height: 1.2;
        margin: 0.7em 0;

        @media (min-width: $break-large) {
          font-size: rem(14);
          margin: 0.3em 0;
        }
      }

      a {
        font-weight: 400;
        color: $color-navy;
        text-decoration: none;
        background: transparent;

        @media (min-width: $break-large) {
          font-size: rem(14);
        }

        &:hover {
          color: $color-evergreen;
          text-decoration: underline;
        }
      }
    }

    &.accordion--tools {
      .accordion__toggle {
        background-image: url(../assets/icons/icons_wrench-circle.svg);
      }
    }

    &.accordion--resources {
      .accordion__toggle {
        background-image: url(../assets/icons/icons_user.svg);
      }
    }
  }

  .accordion__toggle {
    height: 52px;
    width: 100%;
    padding: 0.6em 0;
    color: transparent;
    border-bottom: 1px solid $color-navy;
    background: url(../assets/icons/icons_directions.svg) no-repeat center / 32px 32px;


    @media (min-width: $break-large) {
      height: 45px;
      width: 32px;
      border-bottom: 0;
    }
  }
  .accordion__toggle  {
    &[aria-expanded="true"] {
      &:hover {
        color: transparent;
      }
    }
  }

  .header-container__menu--left {
    position: relative;
    @media (min-width: $break-large) {
      display: flex;
    }
  }

  .menu--inside {
    border-bottom-color: $color-bronze;

    @media (min-width: $break-large) {
      margin-top: 0;
    }
  }

  .menu--inside > ul {
    @media (min-width: $break-large) {
      display: flex;
      margin: 0;

      &:hover {
        ul {
          transition: none;
        }

        li {
          transition: none;
        }

        li:hover ul {
          transition: all 300ms;
        }

        li:hover {
          transition: all 300ms;
        }
      }
    }

    @media (min-width: $break-large) {
      > li {
        list-style: none;
        padding: 0.25em 15px 0.47em;
        margin: 0;
        white-space: nowrap;
        border-bottom: 1px solid transparent;
        transition: all 300ms 500ms;

        &.twocol-menu {
          ul {
            display: grid;
            min-width: 345px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
          }
        }


        &.long-menu {
          ul {
            min-width: 875px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
          }
        }

        &.focused {
          /* main horizontal menu inside */
          background: $color-chiffon;
          border-bottom: 1px solid $color-bronze;
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
          transition: all 300ms;
          ul {
            max-height: 500px;
            visibility: visible;
            transition-delay: 0s;
            padding-bottom: 0.5em;
          }
        }
      }

      .menu--inside__button {
        @include element-invisible();

        &:after {
          position: absolute;
          top: 2px;
          width: 100%;
          left: 0;
          transform: rotate(90deg);
          background: url(../assets/icons/icons_arrow.svg) no-repeat center / 15px;
        }

        &:focus {
          @include element-invisible-off();

          width: 10px;
          top: 4px;
          left: 0;
          position: relative !important;
        }
      }

      a {
        /* main horizontal menu inside */
        color: $color-navy;
        font-family: $font-dunbar;
        font-size: rem(14);
        font-weight: 500;
        letter-spacing: 0.4px;
        text-transform: unset;
        background: transparent;
        padding-right: 0;

        &.is-active,
        &:hover {
          color: $color-navy;
        }

        &:after {
          content: none;
        }
      }
    }

    ul {
      /* Inside main flyout items */
      @media (min-width: $break-large) {
        background: $color-chiffon;
        margin-top: 11px;
        padding: 0;
        position: absolute;
        left: 0;
        z-index: 100;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        min-width: 100%;
        display: block;
        transition: all 300ms 500ms;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
      }

      li {
        @media (min-width: $break-large) {
          margin: 0.5em 20px 0;
        }
        a {
          color: $color-navy;
          font-family: $font-proxima;
          font-size: rem(14);
          font-weight: 400;
          &:hover {
            color: $color-evergreen;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .header-container__menu > .header__menu--theme-switcher {
    display: block;
    margin: 0 -20px;
    background: $color-chiffon;

    @media (min-width: $break-medium) {
      padding: 0 40px;
      margin: 0;
    }

    @media (min-width: $break-large) {
      display: none;
    }

    .block-bmc-custom-theme-switcher {
      display: block;
    }

    ul {
      margin: 0;

      @media (min-width: $break-medium) {
        display: flex;
        margin: 0 0 0 -7px;
      }
    }

    li {
      margin: 0;
      list-style: none;
      padding: 8px 16px;
      border-bottom: 1px solid $color-bronze;

      @media (min-width: $break-medium) {
        padding: 12px 15px 19px;
      }

      &.menu-item--expanded {
        position: relative;
        z-index: 2500;

        &.is-active {
          button {
            font-weight: 700;
            color: $color-yellow;

            @media (max-width: $break-large - 1) {
              border-bottom: 1px solid $color-yellow;
            }

            &:before {
              @media (max-width: $break-medium -1) {
                content: "";
                height: 1px;
                width: 100%;
                bottom: 0;
                left: 0;
                background: #F8E19B;
                position: absolute;
              }
            }

            &:after {
              filter: invert(0);
              background: url(../assets/icons/icons_arrow-yellow.svg) no-repeat center/100%;
            }
          }
        }

        @media (min-width: $break-medium) {
          padding-right: 30px;
          &.focused {
            &:before {
              content: none;
            }
            > button {
              color: $color-navy;
            }
            ul {
              max-height: 200px;
              visibility: visible;
              transition: all 300ms;
            }

            a:before {
              opacity: 1;
              transition: all 300ms;
            }

            > button:after {
              filter: brightness(0);
              transform: rotate(90deg) rotateY(-180deg);
            }
          }
        }

        > button {
          position: relative;
          z-index: 10;
          border: 0;
          padding: 0;
          background: transparent;
        }

        > button:before {

          @media (min-width: $break-medium) {
            content: "";
            position: absolute;
            left: -10px;
            right: -30px;
            background: $color-yellow;
            z-index: -1;
            top: -5px;
            bottom: auto;
            height: 29px;
            width: auto;
            border-bottom: 1px solid $color-grey3;
            opacity: 0;
            transition: all 300ms;
          }
        }

        &.focused {
          button:before {
            opacity: 1;
          }

          ul {
            max-height: 200px;
            visibility: visible;
          }

          > button:after {
            transform: rotate(90deg) rotateY(-180deg);
          }

          > button {
            outline-color: $color-lantern;
          }
        }

        > button:after {
          content: "";
          position: absolute;
          top: 3px;
          width: 16px;
          height: 16px;
          transform: rotate(90deg);
          margin-left: 5px;
          background: url(../assets/icons/icons_arrow.svg) no-repeat center / 100%;
          @media (min-width: $break-medium) {
            top: 2px;
          }
        }

        ul {
          background: $color-chiffon;
          z-index: 100;
          display: block;
          margin-left: -10px;
          margin-right: -10px;
          padding: 0;
          transition: all 300ms;
          max-height: 0;
          overflow: hidden;
          visibility: hidden;
          position: relative;
          top: 8px;
          @media (min-width: $break-medium) {
            position: absolute;
            width: 225px;
            margin-top: 5px;
            margin-left: -10px;
            padding: 8px 0;
            top: auto;
            transition: all 300ms;
          }

          li {
            font-size: rem(14);
            margin: 0.7em 0;
            line-height: 1.25;
            border: 0;
            padding: 0;

            @media (min-width: $break-medium) {
              margin: 0;
              padding: 0.4em 20px;
            }

            a {
              color: $color-navy;
              padding: 0.4em 20px;
              background: transparent;
              border: 0;
              outline-color: $color-lantern;

              &:hover {
                color: $color-grey4;
              }

              @media (min-width: $break-medium) {
                padding: 0;
              }
            }
          }
        }
      }
    }

    button {
      text-align: left;
    }

    a,
    button {
      font-size: rem(14);
      font-weight: 500;
      color: $color-navy;
      outline-color: $color-lantern;
      text-decoration: none;
      display: block;

      &.is-active {
        color: $color-navy;
        font-weight: 700;
        position: relative;
      }

      @media (min-width: $break-medium) {
        padding: 0;
        border: 0;
      }
    }

    nav > ul > li > a,
    nav > ul > li > button {
      display: inline-block;
    }
  }
}

.header-container__inside .header-container__search {
  @media (min-width: $break-large) {
    top: 200px;
  }
}
