.region-content-top {
  position: relative;
  top: 0;
  padding: 8px 20px;
  display: flex;
  min-height: 56px;
  align-items: center;
  z-index: 1000;
  background: $color-white;
  .marketing.not-inside-bmc & {
    background: $color-lantern;
  }
  .graduate-school-of-social-work-and-social-research.not-inside-bmc & {
    background: $color-wisteria;
  }
  .graduate-school-of-arts-and-sciences.not-inside-bmc & {
    background: $color-coral;
  }
  .postbaccalaureate-premedical-program.not-inside-bmc & {
    background: $color-mint;
  }
  .no-sec-nav & {
    min-height: 28px;
    @media (max-width: $break-large - 1) {
      display: none;
    }
   @media (min-width: $break-large) {
      min-height: 56px;
    }
  }
  .page-node-type-home.no-sec-nav &,
  page-node-type-story.no-sec-nav & {
    min-height: 0;
    height:0;
    padding: 6px 0 0 0;
    /* border-top: solid 6px $color-lantern; IN CASE we need a border color between nav and content */
  }

  @media (min-width: $break-medium) {
    min-height: 56px;
    padding: 8px 27px;
  }

  .navigation {
    margin-right: 15px;
    position: relative;
  }

  a {
    font-family: $font-dunbar;
    font-size: rem(14);
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: rem(16);
    color: $color-navy;
    text-decoration: none;
    outline-color: $color-white;


    &:hover {
      text-decoration: underline;
    }
  }
}

.no-sec-nav #block-section-nav-info,
.no-sec-nav .region-content-top > nav {
  display: none;
}

.block-system-breadcrumb-block {
  display: none;

  @media (min-width: $break-large) {
    font-size: rem(14);
    display: block;
    margin-left: 5px;

    li {
      margin: 0 3px 0 0;
      &:after {
        content: "";
        display: inline-block;
        width: 21px;
        height: 21px;
        margin: -4.5px 1px 0 0;
        vertical-align: middle;
        background: url(../assets/icons/icons_arrow.svg) no-repeat center / 21px;
      }

      &:before {
        content: none;
      }
    }
  }
}

.inside-bryn-mawr {
  .block-system-breadcrumb-block {
    li > a {
      &:focus {
        outline-color: $color-grey6;
      }
    }
  }
}

.breadcrumb {
  padding: 0;
}

.open-section-nav {
  .region-content {
    z-index: 1000;
  }

  .section-nav__panel {
    @media (max-width: $break-medium - 1) {
      opacity: 1;
      visibility: visible;
      z-index: 1000;
      display: block !important;
    }
  }


  .region-content-top {
    z-index: 20000;
  }

  .inside-bryn-mawr .region-content {
    z-index: 20000;
  }
}

.section-navigation {
  position: relative;
  display: inline-block;
  width: 100%;
}

.section-nav__toggle {
  font-family: $font-dunbar;
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: rem(16);
  text-align: left;
  color: $color-white;
  background: $color-bronze;
 /* padding: 9px 10px 9px 50px; */
  border: 0;
  display: block;
  min-width: 207px;
  position: relative;
  outline-color: $color-white;
  transition: all 300ms;
  border-bottom: 1px solid transparent;
  min-height: 38px;

  .inside-bryn-mawr & {
    outline-color: $color-grey6;
  }

  &[aria-expanded="true"] {
   /* &:before {
      background: url(../assets/icons/icons_close_yellow.svg) no-repeat center / 100%;
      @media (min-width: $break-medium) {
        background: url(../assets/icons/icons_minus_yellow.svg) no-repeat center / 100%;
      }
    } */
    &:after {
      /* close x */
      content: "";
      position: absolute;
      right: 15px;
      width: 11px;
      border-bottom: 1.5px solid $color-white;
      top: 50%;
      transform: rotate(135deg);
    }

    &:before {
      content: "";
      position: absolute;
      right: 15px;
      width: 11px;
      border-bottom: 1.5px solid $color-white;
      top: 50%;
      transform: rotate(45deg);
    }
  }
 /* &:hover {
    background: $color-black;
    color: $color-yellow;

    &:before {
      filter: brightness(1);
    }
  } */
  &:after {
    /* plus */
    content: "";
    position: absolute;
    right: 15px;
    width: 11px;
    border-bottom: 1.5px solid $color-white;
    top: 50%;
    transform: rotate(90deg);
  }

  &:before {
    content: "";
    position: absolute;
    right: 15px;
    width: 11px;
    border-bottom: 1.5px solid $color-white;
    top: 50%;
  }
  /* &:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background: url(../assets/icons/icons_plus_yellow.svg) no-repeat center / 100%;
    filter: brightness(0);
  } */
}

.section-nav__panel {
  background: $color-lantern75;
  width: 100%;

  li:first-child.current-active ~ li {
    display: none;
  }

  > ul > li {
    &:first-child {
      > a {
        border-top: 1px solid $color-bronze;
      }
    }
  }

  ul.top-level {
    padding-bottom: 0px;
  }

  li.active {
    a {
      background-color: $color-lantern50;
    }

    > button {
      &:after {
        transform: rotate(135deg);
        top: 35%;
        left: 40%;
      }
    }
  }

  a {
    outline-offset: -3px;
  }

  ul ul li.active a {
    background-color: $color-lantern25;
  }

  ul ul ul li.active a {
    background-color: $color-white;
  }

 /* .section-nav__back {
    font-size: rem(14);
    text-align: left;
    border: 0;
    padding: 0 20px 0 30px;
    width: 100%;
    background: transparent;
    outline-color: #808080;
    outline-offset: -2px;
    position: relative;
    transition: transform 500ms, color 300ms;

    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      left: 15px;
      top: 0.65em;
      transform: rotateY(-180deg);
      background: transparent url(../assets/icons/icons_arrow.svg) no-repeat center / 16px;
    }
  } */

  ul {
    margin: 0;
  }

  ul ul {
    margin-top: 0;
  }

  li {
    position: relative;
    list-style: none;
    padding: 0;
  }

  ul ul {
    padding: 0;

  }

  ul ul a {
    padding-left: 30px;
    font-size: rem(14);
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0;

    @media (min-width: $break-large) {
      background-color: $color-white;
      padding-left: 40px;
    }

  }

  ul ul ul {
    background-color: #FEF8E4;
  }

  ul ul ul a {
    padding-left: 40px;
    background-color: #FEF8E4;
    @media (min-width: $break-large) {
      padding-left: 60px;
    }
  }

  ul ul ul ul a {
    padding-left: 50px;
    @media (min-width: $break-large) {
      padding-left: 80px;
    }
  }

  ul ul ul ul ul a {
    padding-left: 60px;
    @media (min-width: $break-large) {
      padding-left: 100px;
    }
  }




  // li li button {
  //   transform: translateX(-100%) translateY(-50%);
  // }

  .section-nav__panel > ul > li > a,
  .section-nav__panel > ul > li > h3,
  .section-nav__panel > ul > li > button {
    .open-section-nav & {
      visibility: visible;
    }

    .inside-bryn-mawr & {
      @media (min-width: $break-large) {
        visibility: visible;
      }
    }

    display: block;
    max-height: 100px;
    transform: translateX(0);
  }

  h3 {
    position: relative;
  }
  h3 a {
    left: 0!important;
  }

 /* .menu-item--active-trail > a,
  .menu-item--active-trail > h3 {
    background: #FBF0CD;
  } */

  .menu-item--collapsed a {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      right: 16px;

      transform: translateY(50%);
      bottom: 50%;
      background: transparent url(../assets/icons/icons_arrow.svg) no-repeat center / 16px;
      @media (min-width: $break-medium) {
        width: 11px;
        height: 11px;
        right: 9px;
      }
    }
  }

  .menu--section__button {
    color: transparent;
    position: absolute;
    right: 0;
    width: 36px;
    min-height: 36px;
    padding: 0 !important;
    top: 0;
    border: 0;
    background: transparent;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 46%;
      right: 0;
      width: 7px;
      height: 7px;
      border-right: 1.5px solid $color-navy;
      border-top: 1.5px solid $color-navy;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover {
      &:after {
        border-color: #474747;
      }
    }
  }

  ul.menu a.is-active-dup,
  ul.menu a.is-active {
    color: $color-navy;
    &:before {
      content: "";
      width: 6px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: $color-bronze;
    }

  }

  .animate > ul > li > a,
  .animate > ul > li > h3,
  .animate > ul > li > .section-nav__back,
  .animate .menu--section__button {
    animation: moveleft 500ms forwards;
    display: block;
  }

  .animate button,
  .animate a,
  .animate-reverse button,
  .animate-reverse a {
    outline: none;
  }

  .animate-reverse > ul > li > a,
  .animate-reverse > ul > li > .section-nav__back,
  .animate-reverse > ul > li > h3,
  .animate-reverse .menu--section__button {
    animation: moveright 300ms forwards;
  }

  .animate-reverse-out > ul > li > a,
  .animate-reverse-out > ul > li > .section-nav__back,
  .animate-reverse-out > ul > li > h3,
  .animate-reverse-out .menu--section__button {
    animation: moveRightOut 300ms forwards;
  }

  .animate-in > ul > li > a,
  .animate-in > ul > li > .section-nav__back,
  .animate-in > ul > li > h3,
  .animate-in > .menu--section__button {
    animation: moveLeftIn 300ms forwards;
  }

  .current-active > ul > li > a,
  .current-active > a,
  .current-active > ul > li > h3 a,
  .current-active > ul > li > button {
    .open-section-nav & {
      visibility: visible;
      padding: 12px 40px 12px 20px;
      border-top: solid 1px $color-bronze;
    }

    .inside-bryn-mawr & {
      @media (min-width: $break-large) {
        visibility: visible;
      }
    }

    max-height: 1000px;
    transform: translateX(0);
    padding: 9px 40px 9px 20px;
    border-bottom: none;
    outline-color: #808080;
    outline-offset: -2px;
  }

  .current-active > ul > li > h3 {
    border-bottom: 0;
  }

  .current-active > ul > li > button {
    padding: 7px 20px 7px 30px;
  }

  // .current-active > ul > li li a,
  // .current-active > ul > li li h3,
  // .current-active > ul > li li button {
  //   transform: translateX(100%);
  // }

  // .current-active > ul > li > .menu--section__button {
  //   padding: 0;
  //   height: 100%;
  //   border: 0;
  //   transform: translateX(0) translateY(-50%);
  // }

  a {
    font-size: rem(14);
    line-height: rem(15);
    color: $color-navy;
    font-weight: 700;
    letter-spacing: .35px;
    display: block;
    position: relative;
    padding: 9px 20px;
    transition: transform 500ms, color 300ms;
    width: 100%;
    transform: translateX(0);
    background: transparent;
    border-bottom: 1px solid $color-bronze;
    text-decoration: none;

    &.is-active {
      &[aria-current="page"] {
        color: $color-navy;
      }
    }

      &[aria-current="page"] {
      position: relative;
      &:before {
        content: "";
        border-left: 6px solid $color-bronze;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
      }
    }
    .inside-bryn-mawr & {
      &:hover {
        background: $color-chiffon;
      }
    }


    span {
      opacity: 1;
      display: block;
    }
  }
  ul.menu.top-level.is-open > li.current-active > a {
    font-family: $font-dunbar;
    font-size: rem(13);
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: rem(15);
  }
}

@keyframes moveleft {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes moveright {
  0% { left: 100%; }
  100% { left: 0; }
}

@keyframes moveRightOut {
  0% { left: 0; }
  100% { left: 100%; }
}

@keyframes moveLeftIn {
  0% { left: -100%; }
  100% { left: 0; }
}

.open-section-nav .inside-bryn-mawr {


  .section-nav__panel {
    @media (max-width: $break-medium - 1) {
      opacity: 1;
      visibility: visible;
      z-index: 1000;
      display: block !important;
    }
  }

  .section-nav__toggle {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0,0,0,0.12);
    @media (max-width: $break-medium - 1) {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid $color-grey3;
      padding-left: 20px;
      outline-offset: -2px;
      outline-color: #808080;

   /*   &:before {
        right: 4px;
        left: auto;
        width: 32px;
        height: 32px;
        background-image: url(../assets/icons/icons_close.svg)
      } */
    }

    @media (min-width: $break-medium) {
      border-bottom: 1px solid $color-grey3;
    }
  }

  .region-content-top {
    z-index: 20000;
  }

  .region-content {
    z-index: 200000;
  }
}

.inside-bryn-mawr {

  .section-nav__panel {
    position: absolute;
    background: $color-chiffon;
    min-width: 207px;
    width: 100%;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
    z-index: 10000;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12);

    ul ul {
      @media (min-width: $break-large) {
        background-color: #eef2f1;
      }
    }

    @media (max-width: $break-medium - 1) {
      position: fixed;
      top: 38px;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 300ms;
    }

    @media (min-width: $break-medium) {
     // max-height: 0;
      opacity: 1;
      visibility: visible;
      transition: none;
      display: none;
    }
  }
  .region-content {
    /* border-top: 2px solid $color-feather;
     padding-top: 50px; this isn't helping everywhere, need to rethink */

  @media (min-width: $break-medium) {
    /*  border-top: 45px solid $color-grey1; */
    }

    @media (min-width: $break-large) {
      border-top: 0;
      margin-top: 42px;
    }
  }
  .region-content-top {
    min-height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    @media (min-width: $break-medium) {
      min-height: 45px;
    }
  }
  .region-content .menu--inside {
    width: 100vw;
    position: relative;
    padding: 10px 20px;
    margin: 0 -30px 0;
    z-index: 1000;
   /* background: $color-feather; */

    @media (min-width: $break-medium) {

      margin: 0 -50px 0;
    }

    .section-nav__panel > .menu > li {
      display: none;

      &.menu-item--active-trail {
        display: block;
     /*   margin-top: 5px; */
      }
    }
    .section-nav__panel > ul > li:first-child > a {
      border-top: none;
    }



      .section-nav__panel > .menu.show-all-children > li {
      display: block;
    }

    @media (min-width: $break-large) {
      float: left;
      width: 207px;
      transform: translateX(0);
      left: auto;
      margin: 0 60px 0 0;
      padding: 0;
      background: transparent;

      .section-nav__panel {
        position: relative;
        max-height: inherit;
        visibility: visible;
        box-shadow: none;
        background: $color-white;
        display: block !important;

        .menu-item--active-trail > a {
          background-color: $color-chiffon;
        }

        a {
        /*  border-color: #DEE0DF; */

          &.is-active,
          &.is-active-dup {
           /* background: #FCFCFC; */
          }
        }

        .section-nav__back {
          border: 0;
        }
      }

      .section-nav__toggle {
        display: none;
      }
    }
  }

  .region-content-top {
    min-height: inherit;
    margin-bottom: auto;

    @media (min-width: $break-large) {
      margin: 58px 0 0;

      .block-system-breadcrumb-block {
        position: relative;
        margin: 0;
      }
    }
  }
}

.marketing-grad-menution-menu {
  display: inline-block;
  position: relative;
  opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  max-height: 100vh;
  transition: max-height 300ms;
  transform-origin: top;

  li {
    opacity: 1;
  }
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  max-height: 0;
  transform-origin: top;
  transition: max-height 300ms 300ms;

  li {
    opacity: 0;
    transition: opacity 300ms;
  }
}

.section-nav__collapse {
  font-family: $font-dunbar;
  font-size: rem(13);
  font-weight: 700;
  letter-spacing: 0.4px;
  text-align: left;
  background: transparent;
  border: 0;
  padding: 13px 47px;
  width: 100%;
  position: relative;

  &[disabled] {
    opacity: 0.3;
  }

  &:before {
    content: "";
    width: 11px;
    border-bottom: 2px solid;
    position: absolute;
    top: 22px;
    left: 25px;
  }
}
