.admino {
  &__body {
    position: relative;
    margin-top: 2em;
    padding-top: 40px;
    border-top: 26px solid $color-feather;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;

    @media (min-width: $break-large) {
      margin-top: 56px;
    }
   /* &:before {
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      content: '';
      border-top: 26px solid $color-feather;
      @media (min-width: $break-medium) {
        left: 0;
        right: 0;
        padding-top: 25px;
      }
    } */
  }

  &__contact-wrap {
    @media (min-width: $break-medium) {
      float: left;
      padding-right: 60px;
      width: 260px;

      .admino__contact {
        margin-top: 0;
      }
    }

    @media (min-width: $break-large) {
      width: 270px;
    }
  }

  &__right-col {
    @media (min-width: $break-large) {
      overflow: hidden;
      max-width: 800px;
    }
  }

  &__details {
    min-height: auto;
    @media (min-width: $break-medium) {
      overflow: hidden;
      min-height: 85px;
    }

    @media (min-width: $break-large) {
      padding-right: 300px;
      min-height: 50px;
    }

    @media (min-width: $content-max) {
      padding-right: 200px;
    }
  }

  &__job-title {
    font-family: $font-dunbar;
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.2;
    margin: 13px 0 -0.1em;

    @media (min-width: $break-medium) {
      font-size: rem(21);
      line-height: 1.38;
      margin: 1em 0 0.3em;
    }

    @media (min-width: $break-large) {
      margin-top: 15px;
      margin-bottom: 9px;
    }
  }

  .admino__contact-wrap {
    margin-bottom: 30px;
    font-size: rem(14);
  }

  &__add-resp {
    margin-top: 20px;
    margin-bottom: 30px;

    @media (min-width: $break-medium) {
      margin-top: 0;
    }
  }

  &__territories,
  &__contact {
    margin-top: 0;

    @media (min-width: $break-large) {
      .inside-bryn-mawr & {
        font-size: rem(16);
      }
    }
  }

  &__territories, &_state {
    @media (min-width: $break-large) {
    /*  margin-right: 270px;*/
    }
  }

  &__contact {
    display: block;

    &__email {
      position: relative;
      margin-left: 38px;
      margin-bottom: 15px;

      a {
        &:before {
          content: "";
          position: absolute;
          left: -38px;
          top: -3px;
          width: 32px;
          height: 32px;
          background: url(../assets/icons/icons_email-outlined.svg) center no-repeat;
          background-size: auto;
          background-size: contain;
        }
      }
    }
    &__phone{
      position: relative;
      margin-left: 38px;
      margin-bottom: 15px;

      a {
        &:before {
          content: "";
          position: absolute;
          left: -38px;
          top: -3px;
          width: 32px;
          height: 32px;
          background: url(../assets/icons/icons_phone.svg) center no-repeat;
          background-size: auto;
          background-size: contain;
        }
      }
    }
  }

  &-teaser {
    padding: 25px 0;
    border-top: 1px solid $color-border;

    @media (min-width: $break-medium) {
      display: flex;
      justify-content: space-between;
      padding: 38px 0;
    }

    &__img {
      margin: 0 0 20px;

      @media (min-width: $break-medium) {
        margin: 0;
        order: 2;
        flex-basis: 33%;
        flex-shrink: 0;
        text-align: right;
      }

      @media (min-width: $break-large) {
        flex-basis: 25%;
      }
      img {
        width: 179px;
        height: 179px;
        object-fit: cover;
        border-radius: 100%;

        @media (min-width: $break-medium) {
          width: 136px;
          height: 136px;
        }

        @media (min-width: $break-large) {
          width: 153px;
          height: 153px;
        }
      }
    }

    &__info {
      @media (min-width: $break-medium) {
        order: 1;
      }

      @include largeStylesExcludeInside {
        display: flex;
        flex-basis: 75%;
      }
    }

    &__title-wrapper {
      @include largeStylesExcludeInside {
        flex-basis: 75%;
        flex-shrink: 0;
        padding-right: rem(50);
      }
    }

    &__title {
      display: block;

      h2 {
        margin-top: 0;
        font-family: $font-ivymode;
        line-height: 1.143;
        font-weight: 700;
        padding-right: 0;
        vertical-align: middle;

        @media (min-width: $break-medium) {
          font-size: rem(30);
          font-weight: 700;
          line-height: 1.133;
        }

        @include largeStylesExcludeInside {
          font-size: rem(36);
          line-height: 1.111;
        }
      }

      a {
        background-image: none;
        @include cta-arrow(md);

        display: inline-block;

        @media (min-width: $break-medium) {
          @include cta-arrow(lg);
          display: block;
          margin-top: 0;
          font-weight: 800;
        }

         &:after {
             margin-top: 0.75rem;
           @media (min-width: $break-medium) {
             margin-top: 0.975rem;
          }
        }
      }
    }

    &__job-title {
      font-family: $font-proxima;
      font-size: rem(17);
      letter-spacing: 0;
      line-height: 1.471;
      font-weight: normal;
      margin-top: 0.8em;

      @include largeStylesExcludeInside {
        margin-top: 0;
      }
    }

    &__contact {
      display: inline-block;
      margin: 0.875rem 0 0;

      @media (min-width: $break-medium) {
        margin: rem(20) 0 0;
      }

      @include largeStylesExcludeInside {
        margin: 0;
      }

      &-header {
        margin-top: 0;
        font-family: $font-proxima;
        font-size: rem(16);
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1.1875;
        text-transform: uppercase;
      }

      &-item {
        position: relative;
        font-size: rem(14);
        margin: 20px 0 0 33px;

        &:first-child {
          margin-top: rem(15);

          @media (min-width: $break-medium) {
            margin-top: rem(20);
          }
        }

        a {
          &:before {
            content: "";
            position: absolute;
            left: -38px;
            top: -7px;
            width: 32px;
            height: 32px;
            background-size: auto;
            background-size: contain;
          }
        }

        &--email {
          a:before {
            background: url(../assets/icons/icons_email-outlined.svg) center no-repeat;
          }
        }

        &--phone {
          a {
            color: $color-navy;
            font-weight: 500;
            text-decoration: none;
            background-image: none;

            &:before {
              background: url(../assets/icons/icons_phone.svg) center no-repeat;
            }
          }
        }
      }
    }
  }
}

.no-sec-nav .inside-bryn-mawr #block-bmc-d9-content .node--type-admissions-officer.node--view-mode-full {
  max-width: 1050px;
}

.page-node-admissions_officer {
  h1 {
    @media (min-width: $break-medium) {
      width: 65%;
      margin-top: 0;
    }

    @media (min-width: $break-large) {
      margin-top: 0.95em;
    }
  }

  .inside-bryn-mawr h1 {
    @media (min-width: $break-large) {
      margin-top: 0;
    }
  }

  .admino__job-title {
    order: 3;
    @media (min-width: $break-medium) {
      width: 65%;
      min-height: 60px;
    }
  }

  #block-bmc-d9-content {
    max-width: 1250px;
  }

  .block-page-title-block {
    overflow: visible;
  }

  .content__page-header__inner {
    padding: 20px 20px 32px;
    border-bottom: 1px solid $color-stone;
    @media (min-width: $break-medium) {
      padding: 30px 50px 50px;
    }
    @media (min-width: $break-large) {
      margin: 0 auto;
      padding: 17px 75px 42px !important;
      min-height: inherit;

      img {
        max-width: 244px;
        top: auto;
        bottom: -112px;
        right: 0;
      }
    }
    .page-title {
      order: 2;
      @media (min-width: $break-medium) {
        order: 1;
        width: 65%;
        margin-bottom: 0.15em;
      }

      @media (min-width: $break-large) {
        width: 100%;
      }
    }

    .admino__image {
      @media (min-width: $break-medium) {
        position: absolute;
        top: 0;
        right: 0;
      }
      @media (min-width: $break-large) {
        top: 75%;
        right: 0;
      }
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 100%;
      @media (min-width: $break-medium) {
        width: 185px;
        height: 185px;
      }
      @media (min-width: $break-large) {
        width: 244px;
        height: 244px;
      }
    }
  }

  .admino-header {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

// Admissions officer drupal view exposed filters
.view-admissions-officers.view-display-id-block_1 {
  @media (min-width: $break-medium) and (max-width: $break-large - 1px) {
  //  max-width: 800px;
    margin: 0 auto;
  }

  @media (min-width: $break-large) {
    //padding: 0 75px;
    max-width: 1250px;
    margin: 0 auto;
  }

  .view-header {
    margin: 25px 0 10.5px 0;
    text-transform: uppercase;
    font-size: rem(16);
    font-weight: bold;
    letter-spacing: 1.5px;

    @media (min-width: $break-medium) {
      margin-top: 40px;
    }
  }

  .view-filters {
    background-color: $color-feather;
    padding: 20px;
    margin: 40px 0 30px;

    @media (min-width: $break-medium) {
      margin: 40px 0 40px;
      padding: 20px 0 30px 30px;
    }

    @media (min-width: $break-large) {
      max-width: $content-max;
      padding: 20px 30px 1.8rem;
      margin: 60px 0 40px;
    }

    .views-exposed-form {
      max-width: $content-max;
      margin: 0 auto;
    }

    .form--inline {
      @media (min-width: $break-large) {
        display: flex;
        align-items: flex-end;
      }
    }

    input[value="Apply"] {
      display: none;
    }

    .form-item {
      margin: 0 0 1rem;
      float: none;
      @media (min-width: $break-medium) {
        padding: 0 2rem 0 0;
      }
      @media (min-width: $break-large) {
        margin: 0;
        padding: 0 2rem 0 0;
      }
    }

    .form-actions {
      margin: rem(30) 0 0;
      clear: both;

      @media (min-width: $break-large) {
        margin: 0;
      }
    }

    .form-submit {
      @include cta-button-secondary;

      &[disabled] {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    .form-submit { // Needed to override the above
      margin: 0;
    }

    label {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.22px;
      margin-bottom: 0.4rem;
    }

    .form-item__wrap--select {
      position: relative;

      &:after {
        position: absolute;
        top: 50%;
        right: 16px;
        content: '';
        height: 6px;
        width: 6px;
        border-right: 1px solid $color-black;
        border-bottom: 1px solid $color-black;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    .form-select {
      padding: 5px 25px 4px 14px;
      width: 100%;
      appearance: none;
      background-color: $color-white;
      border: 1px solid $color-grey3;
      border-radius: 0;
      font-size: rem(17);

      @media (min-width: $break-large) {
        margin: 0;
      }
    }
  }

  .view-content {
    max-width: $content-max;
    margin: 0 auto;
  }
}
