/* main page */
.page-node-type-anncmnt {
  .content__page-header__inner {
    padding: 0;
  }
  .page-title {
    margin-bottom: 20px;
    @media (min-width: $break-large) {
      font-size: rem(46);
      margin-bottom: 30px;
    }
  }
  .inside-bryn-mawr {
    .content__page-header__inner {
      padding: 0;
    }
    .anncmnt__header--intro-wrapper {
      .breadcrumb-replace {
        margin-bottom: 0;
      }
      @media (min-width: $break-medium) {
        border-bottom: 1px solid $color-stone;
      }
      @media (min-width: $break-large) {
        max-width: 100%;
      }
    }
  }
  .anncmnt {
    &__header--intro-wrapper {
      padding: 0 20px 34px;
      border-bottom: 1px solid $color-stone;
      @media (min-width: $break-medium) {
        flex-direction: column;
        border-bottom: none;
      }
      @media (min-width: $break-medium) {
        padding: 0 50px 25px;
      }
      @media (min-width: $break-large) {
        padding: 0 75px 50px;
      }
    }
    &__date {
      &--posted {
        font-size: rem(14);
        line-height: 1.29;
        margin-right: 0.25em;
      }
      &--date {
        font-weight: 700;
        line-height: 1.12;
        text-transform: uppercase;
      }
    }
    &__body {
      margin: 2.5em 0 3.75em;
      @media (min-width: $break-large) {
        margin-bottom: 2.75em;
      }
      span {
        font-weight: 700;
      }
    }
  }
}

/* listings */
.view-announcements {
  max-width: 1250px;
  .view-header p {
    text-align: right;
    margin: 1rem 1.5rem 0.5em 0;
    @media (min-width: $break-medium) {
      margin-right: 2.125rem;
    }
    @media (min-width: $break-large) {
      margin-right: 2.5rem;
    }
  }
  .view-header p {
    display: none;
    visibility: hidden;
  }
  .anncmnt_teaser--blurb {
    font-size: rem(17);
    font-weight: 400;
    line-height: 1.29;
    margin-bottom: .5rem;
  }
  .node__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .view-content {
    @media (min-width: $break-medium) {
      margin-bottom: 1.5em;
    }
  }
}
.block-views-blockannouncements-block-1 .view-announcements {
  margin: 1em auto 0;
}
.anncmnt {
  &__header {
    &--intro-wrapper {
      max-width: 1250px;
      margin: 0 auto;
      display:flex;
      flex-direction:column;
      @media (min-width: $break-medium) {
        flex-direction:row;
        justify-content: space-between;
      }
    }
    &--cta-button {
      align-self: inherit;
      @media (min-width: $break-medium) {
        align-self:flex-end;
      }
      .cta--button--primary {
        @include cta-button-primary();
        margin: 0.8em 0 1.5em 0;
        @media (min-width: $break-medium) {
          width: 16em;
          margin-left: 2em;
        }
      }
    }
  }
  &--teaser {
    margin-bottom: 10px;
    padding: 1rem 0;
    border-bottom: 1px solid $color-border;

    p {
      margin: 0;
    }
  }
  &_teaser {
    &--link {
      text-decoration: none;

      .anncmnt_teaser--title {
        @include cta-arrow(sm);
        &:after {
          margin: 0.87em 0 3px;
          @media (min-width: $break-medium) {
            margin: 0.7em 0 3px;
          }
        }

      }
    }
    &--content {
      display: flex;
      flex-direction: column;
      flex-basis: calc(100% - 82px);
      padding-right: 1.2rem;
      @media (min-width: $break-medium) {
        flex-basis: calc(100% - 94px);
      }
    }
    &--title {
      font-family: $font-dunbar;
      font-size: rem(14);
      font-weight: 700;
      line-height: 1.75;
      letter-spacing: 0.4px;
      margin-bottom: 0.7rem;
      @media (min-width: $break-medium) {
        font-size: rem(15);
        line-height: 1.47;
      }
    }
    &--blurb {
      p {
        margin-top: 10px;
      }
    }
    &--icon {
      @include contact-icons();
      flex: 0 1 32px;
      @media (min-width: $break-medium) {
        padding-left: 0;
      }
      &:after {
        top: -3px;
        left: -2px;
        width: 28px;
        height: 28px;
        padding-left: 0;
        background: url(../assets/icons/icons_alert.svg) no-repeat center / 100%;
        @media (min-width: $break-medium) {
          top: -1px;
          left: 0;
        }
      }
    }
    &--date {
      font-size: rem(16);
      font-weight: 500;
      text-align: right;
      flex-basis: 75px;
      @media (min-width: $break-medium) {
        font-size: rem(16);
        line-height: 1.19;
        flex-basis: 110px;
        margin-top: 2px;
        margin-left: 15px;
      }
    }
  }
}

/* Anonymous submissions */
.node-anncmnt-form {
  .form-item-field-anncmnt-url-0-title,
  .form-item-field-anncmnt-url-0-uri label,
  table#field-ddigest-date-values .draggable .description {
    display: none;
  }
}
