.bulletin-bookshelf {
  @include bulletinTwoCol;
  .node__content {
    margin: 0 auto 2em auto;
    max-width: 1200px;
  }
  .bulletin__col--content {
    @media (min-width: $breakpoint-small-width) {
      flex: 0 0 75%;
    }
    p {
      margin-right: 1em;
      a.cta--button--primary {
        @extend %brackets;

        &:before,
        &:after {
          width: 105% !important;
          margin-left: -5%;
        }

        &:before { /* this is the before for the content area */
          top: calc(-.5em + -5px);
        }

        &:after {
          bottom: calc(-.5em + -5px);
        }

        /* this is for when bracket cta appears in the content area */
        padding: .5em 1em .5em 2em;
        background: url(../assets/img/bulletin-arrow-right.png) no-repeat 1em 1.3em;
        font-size: 1.75em;
        font-family: $sans;
        font-weight: 800;
        line-height: 1.4em;
      }
    }
  }
  .bulletin__col--side {

      @media (min-width: $breakpoint-small-width) {
        flex: 0 0 20%;
      }
      flex: 0 0 auto;
      padding: 1em;

    img {
      @media (min-width: $breakpoint-small-width) {
        height: auto;
        width: auto;
      }
        height: auto;
        width: 100%;
        max-width: 360px;
    }
  }
  .field-name-field-full-author {
    font-family: $sans;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 2em;
  }
}
