/* Bulletin Front Page for Anassa Kata SPOTLIGHTS*/

.block-views-blockbulletin-spotlight-block-1 {
  max-width: 98.9%;
  background: $z-light-blue;
  .view-bulletin-spotlight {
    padding: 0 1em;
    .view-content {
      padding: 0 1em;
      display: flex;
      flex-direction: column;
      @media (min-width: $breakpoint-medium-width) {
        padding: 2em 1em;
        flex-direction: row;
        justify-content: space-around;
      }
      .views-row {
        width: 85%;
        margin: 1% 4% 8% 4%;
        @extend %brackets;

        &:before,
        &:after {
          background: $z-light-blue;
        }

        &:after {
          display: table;
          content: ' ';
          bottom: calc(-1em + -5px);
          @media (min-width: $breakpoint-medium-width) {
            bottom: 0;
          }
        }
        @media (min-width: $breakpoint-medium-width) {
        width: 40%;
        }

        @media (min-width: $breakpoint-large-981) {
          margin: 1% 1.5% 3% 4.5%;
          width: 44%;

          &:last-child {
            margin: 1% 1% 3% 1%;
          }
        }
        .node--view-mode-anassa-kata {
          height: 100%;
          .node__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .spotlight__col--img {
              width: 100%;
              padding: 0 3%;
              @media (min-width: $breakpoint-small-480) {
                width: 37%;
                padding: 0 3%;
              }
              @media (min-width: $breakpoint-medium-width) {
                height: 16em;
                width: 60%;
                float: none;
                margin: 0 auto;
              }
              @media (min-width: $breakpoint-large-981) {
                width: 37%;
              }
              img {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                height: auto;
              }
            }
            .spotlight__col--content {
              font-family: $sans;
              width: 100%;
              height: auto;
              margin-top: rem(15);
              @media (min-width: $breakpoint-small-480) {
                width: 50%;
                padding-right: 4.5%;
                padding-left: 0;
              }
              @media (min-width: $breakpoint-medium-width) {
                width: 100%;
              }
              @media (min-width: $breakpoint-large-981) {
                width: 50%;
              }
              .spotlight__title {
                font-weight: 800;
                text-transform: uppercase;
                font-size: 1.6em;
                line-height: 1.3;
                margin: 0;
                a {
                  color: $z-dark-blue;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
              .spotlight__blurb {
                p {
                  font-size: rem(20);
                  margin: .25em 0 .5em 0;
                }
              }
            }
            @media (min-width: $breakpoint-small-480) {
              display: flex;
              flex-direction: row;
              justify-content: center;
            }
            @media (min-width: $breakpoint-medium-width) {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
            }
            @media (min-width: $breakpoint-large-981) {
              display: flex;
              flex-direction: row;
              justify-content: center;
            }
          }
        }
      }
    }

    .more-link {
      @include more-link;
      text-align: right;
      width: 95%;
      padding: 0 0 3em 0;
      a {
        color: $z-dark-blue;
        &:before {
          content: "plus";
          top: -.4em;
          padding-right: .75em;
          width: 25px;
        }
      }
    }
  }
}
.block-views-blockbulletin-spotlight-block-1>h2:first-of-type {
  padding-top: rem(16);
  margin-top: 0;
  text-align: center;
  font-size: 1.5em !important;
  font-family: $font-berlingske;
  &:after { /* for underline after pane-title */
    content: ".";
    display: block;
    text-indent: -9999px;
    height: 10px;
    width: 200px;
    background: $z-dark-grey;
    margin: .25em auto;
  }
}
