/* Bulletin Front Page Bookshelf View */

.block-views-blockbulletin-bookshelf-block-1 {
  @include bulletin-content-width;
  margin-top: 1em;
  border-top: 1px solid #808080;
  margin-bottom: 2em;
  padding-top: 2.7em;
  overflow: auto;

  img {
    object-fit: cover;
  }

  .view-bulletin-bookshelf {
    width: 100%;
    margin-bottom: 2.5em;
    .view-content {
      display: flex;
      flex-direction: column;
      @media (min-width: $breakpoint-medium-768) {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }
       .views-row {
        padding-right: 1.5%;
        margin-bottom: 20px;
        width: 95%;
        &.views-row-last {
          padding-right: 0;
        }
         @media (min-width: $breakpoint-medium-768) {
         width: 44%;
       }

        @media (min-width: $breakpoint-medium-large-width) {
          width: 19.5%;
        }

        .bookshelf-cover {
          max-width: 120px;
          float:left;
          margin: 0 1em 1em 0;
          img {
            max-height: 185px;
            width: auto;
          }
          @media (min-width: $breakpoint-medium-large-width) {
            margin: 0 0 1em 0;
            float: none;
          }
        }
        .bookshelf-title a {
          font-family: $sans;
          font-size: 1.4em;
          font-weight: 800;
          line-height: 1.1em;
        }
        .views-field-field-display-author {
          font-family: $sans;
          font-weight:600;
          margin-top: .25em;
          line-height: 1.2;
          p {
            margin: 0;
          }
        }
      }
    }
    .more-link {
      @include more-link;
      a {
        &:before {
          content: "plus";
        }
      }
    }
  }
}
.block-views-blockbulletin-bookshelf-block-1>h2:first-of-type {
  float: none;
  width: auto;
  margin-right: 0;
  font-size: 1.8rem;
  font-family: $font-berlingske;
  @media (min-width: $breakpoint-large-width) {
    float: left;
    width: 16%;
    margin-right: 1%;
  }
}
