/* Bulletin Front Page In This Issue View */

.block-views-blocknews-block-1 {

  @include bulletin-content-width;
  overflow: auto;
  @media (max-width: $breakpoint-medium-768) {
    padding-right: 0;
  }

  .view-news {
    width: 100%;

    .view-content {
      display: flex;
      flex-direction: column;
      @media (min-width: $breakpoint-small-width) {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .views-row {
        width: 100%;
        height: auto;
        padding: 0.4em;

        .views-field-field-news-img {
          width: 100%;
          margin-bottom: 1em;
          img {
            width: 100%;
            height: auto;
          }

          a {
            &:focus {
              outline-offset: 5px;
            }
          }
        }

        .views-field-field-news-bulletin-section {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 1em;
          margin-bottom: 0.5em;
          font-family: $sans;
          clear: both;
        }

        .views-field-title {
          font-size: 1.4em;
          font-family: $font-berlingske;
          font-weight: 800;
          line-height: 1.3;
          margin: 0 0 0.25em 0;

          a {
            &:focus {
              outline-offset: 5px;
            }
          }
        }

        .views-field-field-news-summary {
          font-family: $sans;
          font-size: 1.2em;
          margin: 0 0 1em 0;
          line-height: 1.4;
          p {
            margin: 0;
          }
        }

        &:hover {
          .views-field-field-news-img {
            background: rgba($blue, 1);
            display: block;

            img {
              opacity: 0.5;
              background: rgba($blue, 1);
            }
          }
        }
        @media (min-width: $breakpoint-small-width) {
          width: 47%;
          padding: 0.4em;
        }
        @media (min-width: $breakpoint-large-981) {
          width: 22.5%;
          height: auto;
          padding: 0.5em;
        }
        &:last-of-type {
          margin-bottom: 3.5em;
        }
      }
    }
    .more-link {
      @include more-link;
      width: 95%;
      padding: 0 0 3em 0;
      a {
        &:before {
          content: "plus";
        }
      }
    }
  }
}
.block-views-blocknews-block-1>h2:first-of-type {
  padding-top: rem(16);
  margin-top: 0;
  text-align: center;
  font-size: 1.5em !important;
  font-family: $font-berlingske;
  &:after { /* for underline after pane-title */
    content: ".";
    display: block;
    text-indent: -9999px;
    height: 10px;
    width: 200px;
    background: $z-dark-grey;
    margin: 0.25em auto;
  }
}
.page-node-type-bulletin-fp {
  .field--name-field-bulletin-issue.field--label-hidden {
    display: none;
  }
}
