.bulletin-article {
  @include bulletinTwoCol;
  max-width: 75rem;
  margin: 0 auto !important;
  padding-right: 0 !important;


  .bulletin-col-wrapper {

    width: 100%;
    flex-direction: column;
    @media (min-width: $breakpoint-medium-768) {
      flex-direction: row;
      max-width: 1200px;
    }
  }

  .bulletin__col--content {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;

    @media (min-width: $breakpoint-medium-768) {
      flex: 0 0 66%;
      max-width: 800px;
      margin-right: 3%;
    }
  }
  .bulletin__col--side {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;

    @media (min-width: $breakpoint-medium-768) {
      flex: 0 0 29%;
      max-width: 400px;
      padding: 0 1em;
    }
  }
  &__summary {
   /* padding: 0 1em; */
    font-weight: 500;
    text-align: center;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 1em;
    font-size: 1.25em;
    line-height: 1.3;
    p {
      margin: 0;
    }
  }
  &__author {
    font-family: $sans;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 2em;
  }
  &__body {
    padding-bottom: 2em;
    p {
      a.cta--button--primary {
        @extend %brackets;
        &:before,
        &:after {
          width: 105% !important;
          margin-left: -5%;
        }
        &:before { /* this is the before for the content area */
          top: calc(-.5em + -5px);
        }

        &:after {
          bottom: calc(-.5em + -5px);
        }


        /* this is for when bracket cta appears in the content area */
        padding: .5em 1em .5em 2em;
        background: url(../assets/img/bulletin-arrow-right.png) no-repeat 1em 1.3em;
        background-position: left 1em center;
        font-size: 1.75em;
        font-family: $sans;
        font-weight: 800;
        line-height: 1.4em;

      }

    }
    .intro-wysiwyg {
      font-size: 1.1em;
      font-weight: 700;
      border-bottom: solid 2px;
      padding-bottom: 1.5em;
    }
    /* fixes first para style to just be on first p of the news body, not effect news paras */
    &--text {
      p:first-of-type {
        margin-top: 0;
      }
    }
    &--drop-in {
      border-top: solid 10px #231F20;
      margin-top: 2em;
    }
  }

  /* START news para styles for bulletin */
  &__body--paras {
    width: 100%;
  //  max-width: 800px;
    .columns.paragraph--type--columns {

        // columns
        .columns__items {
          @media (min-width: 1025px) {
            margin-top: 27px;
            display: flex;
            width: 100%;
          }
        }
        .field--name-field-p-cols-items {
          @media (min-width: 700px) {
            display: flex;
            flex-wrap: wrap;
            margin: unset;
            flex-direction: row;
          }

        }
        .field--name-field-p-cols-items>* {
          @media (min-width: 700px) {
            width: 45%;
            padding: 0 10px;
          }

        }
      }



  }

  /* END news para styles for bulletin */

  &__img-wrap {
    margin-bottom: 1.5em;
    p {
      color: #515a67;
      font-size: 1.15em;
      font-family: $sans;
      font-weight: 600;
      line-height: 1.3em;
      margin: .3em 0 1.5em 0;;
    }
  }
  &__sidebar {
    &--cta {
      max-width: 400px;
      .field--name-field-news-bulletin-scta {
        @extend %brackets;
        &:before,
        &:after {
          width: 105% !important;
          margin-left: -2.5%;
        }

        &:before { /* this is the before for sidebar */
          top: calc(-1.5em + -5px);
        }
        &:after {
          bottom: calc(-.5em + -5px);
        }

        /* this is for sidebar bracket cta */
        margin: 0 0 2em 0;
        font-family: $sans;
        font-weight: 800;
        line-height: 1.25em;
        background: url(../assets/img/bulletin-arrow-dark.png) no-repeat center 1em;
        font-size: 1.5em;
        padding: 1.5em 1em .5em 1em;
        text-align: center;
        .field__item {
          padding: 10px 0px;
        }
      }

      @media (max-width: $breakpoint-medium-768) {
        max-width: 650px;
        margin: 0 30px 0 0;

      }
    }
    &--gallery {
      padding: 0 .25em;
      margin-bottom: 0 !important;
      a {
        img {
          margin: .4em .2em;
          width: 46%;
        }
      }
      .bulletin__article--gallery--caption {
        font-size: 90%;
        margin: 0 0 2.5em .5em !important;
        color: #515a67;
        line-height: 1.3em;
      }
    }
    &--related-links,
    &--related-reading {
      border-top: 10px solid #231F20;
      margin: 3em 0;
      padding: 2em 0;

      h3 {
        text-align: center;
        font-size: 1.5em !important;
        padding: 0;
        margin-top: 0;
        margin-bottom: 1em;
        font-weight: 800;
        text-transform: capitalize;
      }
      ul {
        list-style: none;
        padding-left: 0;
      }
    }
    &--related-reading {
        border-bottom: 10px solid $z-dark-grey;
      .node--view-mode-teaser-bulletin-related {
        padding:1em;
        margin: 0 0 1.5em;
        h2 {
          font-family: $font-berlingske;
          font-weight: 800;
          font-size: 1.6em;
          margin: 0.25em 0 0.5em 0;
        }
        .field--name-field-news-img {
          padding: 1em 0;
          img {
            width: 100%;
            height: auto;
          }
        }
        .field--name-field-bulletin-section {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 1em;
          font-family: $sans;
          margin: 0 0 1em 0;
        }
        .field--name-field-news-summary {
          font-family: $sans;
          font-size: 1.2em;
          p {
            margin: 0 0 1.5em;
          }
        }
        .more-reading a {
          font-style: italic;
          font-family: $font-berlingske;
          font-size: .9em;
          font-weight: 400;
          margin: 0 0 1.5em 0;
          &:after {
            content: "right";
            @include bulletin-glyphish;
            font-style: normal;
            padding-left: .25em;
            color: $blue;
          }
        }
      }
    }
  }
  &__meta {
    @extend %brackets;
    font-family: $sans;
    font-weight: 800;
    line-height: 1.2em;
    font-size: 1.3em;
    padding: rem(12) rem(55) !important;
    margin: 3em 0;
    width: 100%;

    @media (min-width: $breakpoint-medium-768) {
      width: 79%;

    }
    @media (min-width: $breakpoint-medium-width) {
     width: 83%;
      margin: rem(70) rem(10) rem(70) rem(67);
    }
    @media (min-width: $breakpoint-large-width) {
      width: 88%;
    }
    @media (min-width: $breakpoint-1200) {
      margin: 3em 0 3em 0.75em;
    }

    &:before,
    &:after {
      width: 90% !important;
    }

    &:before { /* this is the before for sidebar */
      top: calc(-1em + 5px);
      @media (min-width: $breakpoint-xlarge-1100) {
        top: calc(-1.4em + 10px);
      }
      @media (min-width: $breakpoint-small-width) {
        top: calc(-1.4em + 16px);
      }
    }
    &:after {
      bottom: calc(-1em + 7px);
      @media (min-width: $breakpoint-xlarge-1100) {
        bottom: calc(-3em + 9px);
      }
      @media (min-width: $breakpoint-medium-768) {
        bottom: calc(-6em + 13px);
      }
      @media (min-width: $breakpoint-small-width) {
        bottom: calc(-6em + 24px);
      }
      @media (min-width: $breakpoint-400) {
        bottom: calc(-1em + 7px);
      }
    }
    &--inner {
      display: flex;
      flex-direction:column;
      @media (min-width: $breakpoint-medium-width) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  #st-2.sharethis--bulletin {

    height: auto;
    margin: .5em 0;
    flex: 0 0 100%;
    text-align: center;

    @media (min-width: $breakpoint-small-480) {
      height: 45px;
      margin: 1em 0;
    }

    @media (min-width: $breakpoint-medium-width) {
      flex: 0 0 50%;
      text-align: right;
      border-right: 1px solid #808080;
      padding-right: 2em;
    }

    .st-btn {
      height: auto;
      padding-bottom: 0;
      margin: 0 0.45em;
      background:$lightblue !important;
      @media (min-width: $breakpoint-small-480) {
        height: 100%;
        padding-bottom: 14px;
        font-size: 12px;
      }
      @media (min-width: $breakpoint-med-lg-868) {

        margin: 0 0.4em;
        padding-bottom: 12px;
        font-size: 16px;
      }
    }
    img {
      width: 100%;
      height: 100%
    }
   }
  &__more {
    margin: 1.5em;
    flex: 0 0 100%;
    border-left: none;
    padding-left: 0;
    text-align: center;
    @media (min-width: $breakpoint-medium-width) {
      flex: 0 0 50%;
      margin-left: 1.5em;
      text-align: left;
    }
  }
  .bulletin-date {
    font-size: .85em;
    font-style: italic;
  }

  .bulletin-disqus-comments {
    padding: 4em 0 6em 0;
    margin: 4em -1.5em 0;
    width: 100vw;
    position: relative;
    background: $z-light-yellow;
    @media (min-width: $breakpoint-400) {
      width: 98vw;
    }
    @media (min-width: $breakpoint-medium-768) {
      width: 91vw;
      max-width: 1400px;
      margin: 4em 0 0;

    }

    .field--name-field-news-bulletin-disqus-cmnt {
      background: white;
      width: 75%;
      padding: 2em;
      margin: 0 auto;

      @media (min-width: $breakpoint-medium-768) {
        width: 65%;
        padding: 3.65em;
        margin-left: 70px;
      }
      @media (min-width: $breakpoint-med-lg-868) {
        width: 70%;
    }
      @media (min-width: $breakpoint-large-width) {
        //width: 77%;
        max-width: 1200px;
      }
    }
  }
}

#st-1.sharethis--bulletin {
  /* style to allow sharethis a relative [to its parent] absolute position */
  height: 40px;
  min-height: 10px;
  text-align:right;
  right: 0px;
  &.stuck {
      position: fixed;
      top: 0;
      right: 20px;
      z-index: 1000;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  .st-btn {
    height: 100%;
    padding-bottom: 15px;
    margin: 0 0.25em 0 0.25em;
    background:$lightblue !important;
  }
  img {
    width: 100% !important;
    height: 100% !important;
  }
}
