.bulletin-carousel {
  max-width: 98.9%;

  #skip-carousel a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
    &:focus {
      left: 0;
      top: 0;
      background: #fff;
      padding: 10px;
      border:3px solid #990000;
      z-index: 100;
    }
  }
  &__items {

    .slick-sr-only {
      display: block;
      position: absolute;
      left: -999px;
      top: -999px;
    }

    .slick-arrow {

      border: none;
      background: transparent;
      opacity: .8;
      color: white; /*  to set the color for the default text */
      font-size: 1em; /*  to set the size for the default text */
      width: 1em;
      padding: 0 .25em;
      text-align: center;
      @include bulletin-glyphish;
      @media (min-width: $breakpoint-min-width) {
        font-size: 2em;
      }

      @media (min-width: $breakpoint-small-width) {
        font-size: 2.5em;
        width: 2em;
      }
      @media (min-width: $breakpoint-xlarge-1100) {
        font-size: 3em;
      }
    }

    .slick-next {
      right: 0;
      position: absolute;

      &:hover {
        transform: translate(5px);
        transition: all 0.3s linear;
      }
    }

    .slick-prev {
      left: 0;
      position: absolute;

      &:hover {
        transform: translate(-5px);
        transition: all 0.3s linear;
      }
    }

    .arrows-button {
      top: 25%;
      z-index: 1000;

      @media (min-width: $breakpoint-medium-768) {
        top: 45%;
      }
    }

    .slick-dots {
      left: -99999px;
      position: absolute;


      @media (min-width: $breakpoint-medium-768) {
        position: absolute;
        bottom: 18%;
        left: -2.5em;
        z-index: 300;
        width: auto;
        list-style-type: none;
        padding: 0;

        li {
          padding: .75em 0;
          display: block;

          button {
            min-width: 15px;
            max-width: 30px;
            max-height: 15px;
            text-decoration: none;
            display: inline-block;
            outline: none;
            cursor: pointer;
            color: white;
            border-radius: 100%;
            overflow: none;
            text-align: center;
            padding: 0;
            background-color: white;
            border: solid 1px #000;

            &:hover {
              background: rgba(0, 0, 0, 0.7);
            }

            &:before {
              content: '';
              display: inline-block;;
              vertical-align: middle;
              padding-top: 100%;
            }
          }
        }
        .slick-active button {
          background: rgba(0, 0, 0, 0.9);
        }
      }
    }

    .slick-slide {
      height: auto;

      &.fade-out {
        transition-delay: 500ms !important;

        img {
          opacity: 0;
          transition: all 300ms 200ms;
        }
      }

      &.fade-in {
        transition-delay: 500ms !important;

        img {
          opacity: 1;
          transition: all 300ms;
        }
      }
    }

    .slick-track {
      display: flex;
    }

    .bulletin-carousel__slide {
      height: 100%;

      &-image {
        img {
          width: 100%;
          height: auto;
        }
      }

      &-title {
        position: relative; /* these styles change the width, padding, background and position for the shift to below the image */
        width: 100%;
        float: left;
        z-index: 10;
        top: 0;
        left: 0;
        padding: 20px 0 20px 10px;
        margin: 0;

        @media (min-width: $breakpoint-medium-768) {
          position: absolute;
          width: 73%;
          float: unset;
          z-index: 10;
          bottom: 0;
          top: unset;
          left: 0;
          padding: unset;
          margin: 0 0 1.4em 0;
        }

        &-pos {
          font-size: rem(23); //smallest up to 400
          margin-top: 0;
          font-family: $font-berlingske;
          padding: 0 10px;
          color: $blue;
          font-weight: 800;
          background: white;
          text-shadow: none;
          line-height: 120%;
          height: auto;
          display: block;
          vertical-align: baseline;

          &:hover {
            text-shadow: none;
          }
          @media (min-width: $breakpoint-400) {
            font-size: rem(36); //from 400 up to 768
            margin-top: 0; /* 400 */
          }
          @media (min-width: $breakpoint-medium-768) {
          font-family: $font-berlingske;
          color: white;
          text-shadow: 0 0 20px #000;
          font-weight: 500;
          padding: 1em 0 0.5em 1.35em;
          background: transparent;
          font-size: rem(40); //from 768 up to 981
          line-height: 1.1;
          display: table-cell;
          vertical-align: baseline;

          &:hover {
            text-shadow: 0 0 50px #000;
          }

        }
          @media (min-width: $breakpoint-large-981) {
          font-size: rem(48); //from 981 up to 1100
        }
          @media (min-width: $breakpoint-xlarge-1100) {
            font-size: rem(64); //anything larger than 1100
          }
        }
      }

      @media (min-width: $breakpoint-medium-width) {
        margin: -25px -30px 25px;
        padding: 17px 30px;
      }
    }
  }
}
