/* Bulletin Front Page Latest News View */
.block-views-blocknews-block-2 {

  @include bulletin-content-width;
  clear: both;
  .view-news {
    width: 100%;

    .view-content {
      display: flex;
      flex-direction: column;
      @media (min-width: $breakpoint-small-width) {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      .views-row {
        width: 100%;
        min-height: 50px;
        padding: 0 3% 2% 2%;
        margin-bottom: 1em;
        border-left: none;

        @media (min-width: $breakpoint-small-width) {
          width: 44%;
          height: auto;
          min-height: 150px;
        }
        @media (min-width: $breakpoint-medium-large-width) {
          border-left: 1px solid #808080;
          width: 20%;
          height: auto;
          padding: 0 1.5% 5% 1.5%;
          margin-bottom: 20px;
        }
        @media (min-width: $breakpoint-large-width) {
          width: 17%;
          height: auto;
        }
        .views-field-title a {
          font-family: $sans;
          font-size: 1.4em;
          font-weight: 800;
          line-height: 1.3em;
        }
      }
    }
    .more-link {
      @include more-link;
      width: 95%;
      padding: 0 0 3em 0;
      a {
      &:before {
        content: "plus";
      }
    }
    }
  }
}
.block-views-blocknews-block-2>h2:first-of-type {
  width: auto;
  margin-right: 0;
  padding-top: 0;
  margin-top: 0;
  font-size: 1.8rem;
  font-family: $font-berlingske;
  @media (min-width: $breakpoint-large-width) {
    float: left;
    width: 16%;
    margin-right: 1%;
  }
}
