/* for bulletin spotlight anassa kata subhead and smaller title font */
.page-node-type-bulletin-spotlight {
  h1.page-title {
    margin: 0;
    font-size:2.5em;
    @media (min-width: $breakpoint-medium-width) {
      font-size:4em;
    }
  }
  .spotlight-subhead {
    font-size: .6em;
    font-style: italic;
    line-height: .7em;
  }
}
/* for content area */
.spotlight {
  @include bulletinTwoCol;
  .bulletin__col--content {
    @media (min-width: $breakpoint-small-width) {
      flex: 0 0 65%;
      margin-right: 1.5em;
    }

    flex: 0 0 auto;

    .spotlight-body {
      p {
        a.cta--button--primary {
          @extend %brackets;

          &:before,
          &:after {
            width: 105% !important;
            margin-left: -5%;
          }

          &:before { /* this is the before for the content area */
            top: calc(-.5em + -5px);
          }

          &:after {
            bottom: calc(-.5em + -5px);
          }


          /* this is for when bracket cta appears in the content area */
          padding: .5em 1em .5em 2em;
          background: url(../assets/img/bulletin-arrow-right.png) no-repeat 1em 1.3em;
          font-size: 1.75em;
          font-family: $sans;
          font-weight: 800;
          line-height: 1.4em;

        }
      }
    }
  }
  .bulletin__col--side {
    flex: 0 0 auto;
    padding: 1em;
    img {
      max-width: 100%;
      height: auto;
    }
    @media (min-width: $breakpoint-small-width) {
      flex: 0 0 25%;
      margin-left: 1em;
    }
  }
  .spotlight-title {
    font-weight: 800;
  }
  /* for sidebar area */
  .bulletin-side-related {
    border-top: 10px solid #231F20;
    margin: 3em 0;
    padding: 2em 0;
  }
}
