.directory {
  max-width: 1050px !important; //overriding .inside-bawr wrapper
  &__header {
    display: flex;
    flex-direction: column;
    margin: 0 -50px;
    padding: 20px 50px 32px;
    border-bottom: 1px solid $color-stone;
    @media (min-width: $break-medium) {
      min-height: 250px;
      padding-top: 30px;
    }
    @media (min-width: $break-large) {
      min-height: initial;
      margin: 0 -75px;
      padding: 17px 75px 42px;
    }
    .page-title {
      order: 2;
      margin-top: 23px;
      @media (min-width: $break-medium) {
        order: 1;
        width: 65%;
        margin-top: 0;
      }
      @media (min-width: $break-large) {
        width: 100%;
      }
    }
  }
  /* header elements */
  &__photo {
    order: 1;
    &-wrapper {
      @media (min-width: $break-large) {
        position: sticky;
        top: initial;
        right: 0;
      }
    }
    @media (min-width: $break-medium) {
      position: absolute;
      top: 40px;
      right: 50px;
      order: 4;
      margin-top: -10px;
    }
    @media (min-width: $break-large) {
      top: 55%;
      right: 75px;
      margin-top: 0;
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
      @media (min-width: $break-medium) {
        width: 185px;
        height: 185px;
        text-align: right;
      }
      @media (min-width: $break-large) {
        width: 244px;
        height: 244px;
      }
    }
  }
  &__title,
  &__title-note {
    font-family: $font-dunbar;
    @media (min-width: $break-medium) {
      width: 65%;
    }
    @media (min-width: $break-large) {
      width: 70%;
    }
  }
  &__title {
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.2;
    margin: 13px 0 -0.1em;
    order: 3;
    @media (min-width: $break-medium) {
      font-size: rem(21);
      line-height: 1.38;
      margin: 1em 0 0.3em;
      order: 2;
    }
    @media (min-width: $break-large) {
      margin-top: 15px;
      margin-bottom: 9px;
    }
  }
  &__title-note {
    font-style: italic;
    order: 4;
    margin-top: 15px;
    @media (min-width: $break-medium) {
      font-size: rem(21);
      line-height: 1.38;
      order: 3;
    }
    @media (min-width: $break-large) {
      margin-top: 0;
    }
  }
  /* content area */
  &__details {
    margin-top: 40px;
    @media (min-width: $break-medium) {
      margin-top: 0;
    }
    @media ( min-width: $break-large) {
      margin-top: 50px;
    }
    .small-label {
      @media (min-width: $break-medium) {
        margin-top: 0;
      }
      @media (min-width: $break-large) {
        font-size: rem(16)!important; // overriding h3 break-large
      }
    }
  }
  &__icons {
    @include contact-icons();
    margin-bottom: 18px;
    &:after {
      top: -6px;
    }
  }
  /* columns */
  &__columns {
    @media (min-width: $break-medium) {
      display: grid;
      grid-template-columns: 200px auto;
      grid-template-rows: auto auto;
      grid-gap: 40px 60px;
    }
    @media (min-width: $break-large) {
      grid-template-columns: 200px auto;
      grid-template-rows: auto auto;
      grid-gap: 40px 70px;
    }
  }
  &__contact,
  &__def-dept {
    font-size: rem(17);
    line-height: rem(22);
  }
  &__contact,
  &__def-dept,
  &__def-education,
  &__def-focus {
    margin-bottom: 30px;
    @media (min-width: $break-large) {
      margin-bottom: 34px;
    }
  }
  &__contact {
    margin: 0!important; //overriding .menu--inside
    padding: 0!important; //overriding .menu--inside
    background: transparent!important; //overriding .menu--inside
    @media (min-width: $break-medium) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    @media (min-width: $break-large) {
      grid-row-start: 1;
      grid-row-end: 3;
    }


    &-email {
      &:after {
        background-image: url(../assets/icons/icons_email-outlined.svg);
      }
    }
    &-phone {
      &:after {
        background-image: url(../assets/icons/icons_phone.svg);
      }
    }
    &-website {
      &:after {
        background-image: url(../assets/icons/icons_website.svg);
      }
    }
    &-building {
      &:after {
        background-image: url(../assets/icons/icons_directions.svg);
      }
    }
    &-hours {
      &:after {
        background-image: url(../assets/icons/icons_hours.svg);
      }
    }
    &-status {
      &:after {
        background-image: url(../assets/icons/icons_on_leave.svg);
      }
    }
    &-cv {

      a {
        @include cta-button-secondary();
        @include contact-icons();
        margin: 6px 0;
        padding-left: 3em;
        color: $color-navy;
        background: none;
        &:after {
          background-image: url(../assets/icons/icons_download.svg);
          top: 0;
          left: 6px;
        }
        &:hover {
          &:after {
            filter: invert(1);
          }
        }
      }
    }
  }
  &__def {
    margin-top: 25px;
    @media (min-width: $break-medium) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-top: 0;
    }
    @media (min-width: $break-large) {
      margin-right: 270px;
    }
    &-dept {
      ul {
        padding-left: 0;
        li {
          font-size: rem(17);
          line-height: rem(22);
          margin: 11px 0;
          list-style: none;
        }
      }
    }
  }
  &__def-focus {
    @media (min-width: $break-medium) {
      margin-bottom: 0;
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__body {
    margin-top: -51px;
    padding-top: 56px;
    @media (min-width: $break-medium) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    @media (min-width: $break-large) {
      grid-column-start: 2;
    }
    &:before {
      position: absolute;
      top: initial;
      left: -20px;
      right: -20px;
      content: '';
      border-top: 36px solid $color-grey1;
      @media (min-width: $break-medium) {
        display: none;
      }
    }
    &-title {
      font-size: rem(28);
      margin: 64px 0 16px;
      @media (min-width: $break-medium) {
        font-size: rem(40);
        line-height: 1;
        margin-top: 0;
        padding-top: 30px;
        border-top: 26px solid $color-feather;
      }
      @media (min-width: $break-large) {
        padding-top: 50px;
      }
    }
    .paragraph.smcallout {
      margin-top: 3.5em;
    }
  }
  .content-outside {
    @media (min-width: $break-large) {
      margin-left: 75px;
    }
  }
}

.block-views-blockdirectory-listing {
  @media (min-width: $break-large) {
    @include full-width();
  }
}
.view-display-id-listing.view-directory {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $break-large) {
    padding: 0 75px;
    max-width: $content-max !important;
    margin: 0 auto;
  }

  .view-header {
    margin: 25px 0 10.5px 0;
    text-transform: uppercase;
    font-size: rem(16);
    font-weight: bold;
    letter-spacing: 1.5px;

    @media (min-width: $break-medium) {
      margin-top: 40px;
    }
  }

  .view-filters {
    background-color: $color-feather;
    padding: 20px 20px 0;

    @media (min-width: $break-medium) {
      margin-top: 0;
      padding: 20px 0 0 30px;
    }
    @media (min-width: $break-large) {
      max-width: $content-max;
      padding: 20px 30px 0;
    }

    .form--inline {
      display: flex;
      flex-direction: column;

      @media (min-width: $break-medium) {
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
      }
      @media (min-width: $break-large) {
        flex-wrap: nowrap;
      }
    }

    .form-item {
      margin: 0 0 0.85rem;

      @media (min-width: $break-medium) {
        margin: 0 0 2rem 0;
        padding: 0 1.8rem 0 0;
      }

      input[type="text"] {
        max-width: 100%;
      }
    }

    .form-item-type {
      width: 100%;
      @media (min-width: $break-medium) {
        max-width: 200px;
      }
    }

    .search-input {
      @media (min-width: $break-medium) {
        max-width: 100%;
        padding-right: 30px;
      }
      @media (min-width: $break-large) {
        padding-right: 0;
      }
    }
    .search-input__wrapper {
      position: relative;
      padding-bottom: 4em;
      @media (min-width: $break-large) {
        padding-bottom: 0;
      }
    }

    .form-actions {
      display: inline-grid;
      grid-template-columns: auto 30px;
      grid-template-rows: 35px 1fr;
      grid-row-gap: 1.5em;
      margin: 0!important;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      max-width: 307px;
      @media (min-width: $break-medium) {
        grid-template-columns: 242px 30px;
        grid-template-rows: 35px 1fr;
        padding-right: 35px;
      }
      @media (min-width: $break-large) {
        grid-template-columns: 30px 85px;
        grid-template-rows: 35px;
        right: -5px;
        left: initial;
        max-width: 163px;
        padding-right: 0;
      }
    }
    input.js-form-submit {
      &:first-of-type {
        display: inline-block;
        width: 30px;
        height: 35px;
        border: none;
        color: transparent;
        margin: 0!important;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        &:hover {
          background: transparent;
        }
        @media (min-width: $break-large) {
          grid-column-start: 1;
          grid-column-end: 2;
        }
      }
      &:last-of-type {
        @include cta-button-secondary;
        padding: .25rem 1.2em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        @media (min-width: $break-large) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          margin: 0!important;
        }
      }
    }

    .form-submit {
      @include cta-button-secondary;

      margin: 0.2rem 0 1.2rem 0 !important;
      width: 85px;
      pointer-events: auto;

      @media (min-width: $break-medium) {
        margin: 0.2rem 0 1.85rem 0 !important;
      }

      &[disabled] {
        opacity: 0.3;
        pointer-events: none;
      }
    }

    label {
      text-transform: uppercase;
      font-size: rem(16);
      font-weight: bold;
      letter-spacing: 1.5px;
      margin-bottom: 11px;
    }

    .form-item__wrap--select {
      position: relative;

      &:after {
        position: absolute;
        top: 50%;
        right: 16px;
        content: '';
        height: 6px;
        width: 6px;
        border-right: 1px solid $color-black;
        border-bottom: 1px solid $color-black;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    .form-item-combine {
      position: relative;
      max-width: 307px;
      @media (max-width: $break-large - 1px) {
        > div {
          background: $color-white;
          border: 1px solid $color-grey3;
        }
      }

      input {
        @media (max-width: $break-large - 1px) {
          position: relative;
          z-index: 1000;
          width: calc(100% - 50px);
          border: 0;
        }
      }

      @media (min-width: $break-large) {
        margin-right: 5.75em;
      }

      &:after {
        position: absolute;
        bottom: 3px;
        right: 3px;
        content: '';
        height: 30px;
        width: 30px;
        background: url(../assets/icons/icons_search.svg) no-repeat center;
        @media (min-width: $break-medium) {
          right: 35px;
        }
      }
    }

    .form-item-type {
      @media (min-width: $break-medium) {
        min-width: 232px;
      }
    }

    .js-form-item-combine {
      @media (min-width: $break-medium) {
        margin-top: -0.3rem;
      }
    }

    .form-select {
      padding: 5px 25px 4px 14px;
      width: 100%;
      appearance: none;
      background-color: $color-white;
      border: 1px solid $color-grey3;
      border-radius: 0;
      font-size: rem(17);

      @media (min-width: $break-large) {
        margin: 0;
      }
    }
  }

  .view-content {
    border-top: solid 1px $color-grey2;

    .views-row {
      border-bottom:solid 1px $color-grey2;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 2.75em;

        .directory-teaser__icons:last-child {
          margin-bottom: 0;
        }

        @media (min-width: $break-medium) {
          margin-bottom: 4.5em;
        }

        @media (min-width: $break-large) {
          margin-bottom: 6.3em;
        }
      }

      .directory-teaser {
        &.has-image {
          @media (min-width: $break-medium) {
            .directory-teaser__dept {
              padding-top: 185px;

              @include largeStylesExcludeInside {
                padding-top: 0;
              }
            }

            .directory-teaser__image {
              position: absolute;
              left: calc(50% + 13px);

              @include largeStylesExcludeInside {
                position: static;
              }
            }
          }
        }
        @media (min-width: $break-medium) {
          margin: 37px 0 40px;
          margin-right: 46px;
        }
        @media (min-width: $break-large) {
          margin-right: 0;
        }
        .node__content {
          display:flex;
          flex-direction:column;
          justify-content: space-between;

          @media (min-width: $break-medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-gap: 32px 26px;
          }
          @include largeStylesExcludeInside {
            grid-template-columns: 33% 10px 23% 20px 23% 15px 15%;
            grid-template-rows: repeat(2, auto);
            grid-gap: 0;
            @media (min-width: 1200px) {
              grid-template-rows: repeat(2, auto);
              grid-template-columns: 32% 25px 25% 25px 200px 77px auto;
            }
          }
        }
        h3.small-label {
          @extend .small-label;

          @media (min-width: $break-medium) {
            margin-top: 0;
          }

          @media (min-width: $break-large) {
            font-size: rem(16)!important; // overriding h3 break-large
            margin-top: 0;
          }
        }

        &__introduction {
          width: 100%;
          order: 2;

          @media (min-width: $break-medium) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
          }
          @include largeStylesExcludeInside {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
          }
        }

        &__name{
          margin-top: 0;
          margin-bottom: 12px;

          @media (min-width: $break-medium) {
            font-size: rem(30);
            margin-bottom: 14px;
          }

          @media (min-width: $break-large) {
            font-size: rem(36);
          }

          a {
            @include cta-arrow($cta-arrow-size:lg);
            display: inline-block;
            font-weight: 800;
            &:after {
              margin: 1.04rem 0 0 2px;
              @media (min-width: $break-large) {
                margin: 1.48rem 0 0 2px;
              }
            }
          }
        }
        &__title-note {
          font-style: italic;
          margin-top: 15px;
        }

        &__dept {
          width: 100%;
          order: 3;
          font-size: rem(17);
          line-height: rem(22);

          @media (min-width: $break-medium) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
            padding-left: 22px;
          }
          @include largeStylesExcludeInside {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
          }

          ul {
            padding-left: 0;

            li {
              list-style: none;
            }
          }

          h3 {
            margin-top: 25px;

            @media (min-width: $break-large) {
              margin-top: 0;
            }
          }
        }

        &__icons {
          @include contact-icons();

          margin-bottom: 20px;


          &:after {
            top: -6px;
          }
        }

        &__contact {
          width: 100%;
          order: 4;
          font-size: rem(14);

          @media (min-width: $break-medium) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            padding-right: 15px;
          }

          @include largeStylesExcludeInside {
            grid-column-start: 5;
            grid-column-end: 6;
            grid-row-start: 1;
          }

          h3 {
            margin-top: 17px;

            @media (min-width: $break-large) {
              margin-top: 0;
            }
          }
          &-email,
          &-phone {
            a {
              font-size: rem(17);
              line-height: rem(22);


              &:hover {

              }
            }
          }

          &-email {
            &:after {
              background-image: url(../assets/icons/icons_email-outlined.svg);
            }
          }
          &-phone {
            &:after {
              background-image: url(../assets/icons/icons_phone.svg);
            }
          }
          &-building {
            font-size: rem(17);
            line-height: rem(22);
            &:after {
              background-image: url(../assets/icons/icons_directions.svg);
            }
          }
        }

        &__image {
          width: 100%;
          order: 1;
          margin-bottom: 25px;

          @media (min-width: $break-medium) {
            order: 2;
            flex: 50%;
            margin: 0;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
          }

          @include largeStylesExcludeInside {
            grid-column-start: 7;
            grid-column-end: 8;
            grid-row-end: 3;
            grid-row-start: 1;
            width: 153px;
          }
        }

        &__photo {
          margin-top: 25px;

          @media (min-width: $break-medium) {
            margin-top: 6px;
          }

          @media (min-width: $break-large) {
            margin-top: 0;
            width: 100%;
            position: relative;
          }
          img {
            width: 179px;
            height: 179px;
            object-fit: cover;
            border-radius: 100%;

            @media (min-width: $break-medium) {
              width: 136px;
              height: 136px;
            }

            @media (min-width: $break-large) {
              width: 153px;
              height: 153px;
            }
          }
        }
      }
    }
  }
  .pagerer-container {
    order: 4;
  }
}


/* override hidden overflow in title area */
.page-node-type-directory {
  .block-page-title-block {
    @media (min-width: $break-large) {
      overflow: visible;
    }
  }
}
