.event-listing-page__main_listing {
  border-top: 1px solid $color-blaze;
  padding-top: 45px;
  margin-bottom: 0.5em;
  margin-top: 0;

  @media (min-width: $break-medium) {
    margin-top: 40px;
  }

  @media (min-width: $break-large) {
    margin-bottom: 1.2em;
    margin-top: 20px;
  }
}

.event-listing-page {
  .paragraph.event-3-up {
    margin-bottom: 2em;

    @include largeStylesExcludeInside {
      margin-bottom: 2.75em;
    }
  }

  @media (min-width: $break-large) {
    max-width: $content-max !important;
    width: 100vw;
    transform: translateX(-75px);
    padding: 0 75px;
  }
  .view-header {
    font-family: $font-dunbar;
    font-size: rem(18);
    font-weight: 700;
    letter-spacing: 0.4px;
    margin: 1em 0 2em;

    @media (min-width: $break-medium) {
      margin: 1.5em 0;
    }

    @media (min-width: $break-large) {
      margin: -5px 0 2.75em;
      padding-left: 20px;
    }
  }

  .js-form-type-textfield {
    label {
      font-size: rem(16);
    }
  }

  .events__filters {
    background: rgba($color-feather, 0.9);
    padding: 34px 20px 17px;
    position: relative;
    display: none;

    @media (min-width: $break-medium) {
      padding: 42px 30px 25px;
      display: block;
    }

    @media (min-width: $break-large) {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 300px;
      float: left;
      margin-top: 5px;
      margin-right: 40px;
      padding-top: 25px;
    }

    .form--inline {
      display: inline-flex;
      flex-direction: column;
    }
    .form-wrapper.form-actions {
      margin: 10px 0 0;
    }
    .form-submit {
      &[value="Apply"] {
        display: hidden;
      }
      &[value="Clear"] {
        @include cta-button-secondary();
        margin-bottom: 0!important; //override mixin

        &[disabled] {
          opacity: 0.3;
        }
      }
    }

    .view-header {
      background: $color-brightblue;
      padding: 10px 20px 10px 20px;
      margin: 17px 0 -17px -40px;
      align-items: center;
      position: sticky;
      bottom: 0;
      width: 100vw;
      display: none;

      &.visible {
        display: flex;

        @media (min-width: $break-medium) {
          display: none;
        }
      }


      &.is-stuck {
        @media (max-width: $break-medium - 1) {
          margin: 17px -20px -17px;
          width: auto;
          padding: 10px 10px 10px 20px;
        }
      }

      @media (min-width: $break-medium) {
        display: none;
      }

      a {
        @include cta-button-primary();

        margin: 0 0 0 auto;
        outline-offset: -3px;
        outline-color: $color-white;
        border: 0;

        @media (min-width: $break-medium) {
          margin: 0 0 0 auto;
        }
      }
    }

    fieldset {
      margin: 0;
      border: 0;
      width: 100%;
      padding: 17px 0 0;

      @media (min-width: $break-medium) {
        padding: 25px 50px 23px 0;
        /*width: 50%;*/
        float: left;
      }

      @media (min-width: $break-large) {
        /*width: 100%;*/
        float: none;
        padding: 18px 50px 0 0;
      }
    }

    legend {
      @extend label;

      font-size: rem(16);
      float: left;
      width: 100%;
      margin-bottom: 3px;

      @media (min-width: $break-medium) {
        margin-bottom: 5px;
      }
    }
  }

  .view-header {
    overflow: hidden;
  }

  .form--inline > .form-item.js-form-item-date {
    float: none;
    clear: both;
  }
}

.open-events-filter {
  font-size: rem(13);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 0;
  padding: 9px 20px 8px 50px;
  background: $color-yellow;
  position: relative;
  margin-bottom: 1px;
  transition: all 300ms;

  &:hover {
    color: $color-yellow;
    background: $color-black;

    &:after {
      filter: brightness(1);
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 15px;
    width: 22px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    filter: brightness(0);
    background: url(../assets/icons/icons_minus_yellow.svg) no-repeat center / 22px;
  }

  &[aria-expanded="false"]:after {
    background: url(../assets/icons/icons_plus_yellow.svg) no-repeat center / 22px;
  }

  @media (min-width: $break-large) {
    display: none;
  }
}

.view-rows {
  max-width: $content-max;
  margin: 0 auto;

  @media (min-width: $break-large) {
    padding: 4px;
    overflow: hidden;
  }

  &.tagged {
    @media (min-width: $break-large) {
      padding: 25px 75px;
    }
  }
  .field-item,
  .views-row {
    p:last-child {
      margin-bottom: 0;
    }
  }
  .views-row {
    margin-bottom: 45px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $break-medium) {
      padding-top: 0;
      .node__content {
        display: flex;
        flex-flow: row wrap;
      }
      .card-wrapper__left {
        width: calc(50% - 22px);
        margin-right: 22px;
      }
      .card-wrapper__right {
        width: 50%;
      }
    }

    @media (min-width: $break-large) {
      margin-bottom: 50px;
    }
  }

  .event-teaser-3up {
    a {
      display: inline-block;
      background: transparent;
    }
    &__img {
      padding-top: 17px;
      @media (min-width: $break-medium) {
        padding-top: 0;
        margin-left: 20px; /* was padding-left, but it messed with zoom hover */
      }
    }
    @media (min-width: $break-large) {
      flex-direction: row;
    }

    img {
      width: 100%;
    }
  }

  .event {
    &-time {
      color: $color-navy;
      font-size: rem(16);
      font-weight: 700;
      line-height: 1.19;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      margin: 16px 0 14px;
      @media (min-width: $break-medium) {
        margin: 25px 0 12px;
      }
    }
    &-date__moda {
      @media (min-width: $break-medium) {
        position: relative;
      }
    }
    &-teaser-3up__date {
      position: absolute;
      top: 0;
      @media (min-width: $break-medium) {
        left: 0;
        top: 0;
      }
    }

    &-teaser-3up__location {
      color: $color-navy;
      font-weight: 400;
    }
  }
}

/* main page */
.event {
  &__title,
  &__title--detail-wrapper {
    @media (min-width: $break-medium) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  &__title {
    font-size: rem(33);
    margin-bottom: 20px;
    @media (min-width: $break-medium) {
      font-size: rem(46);
      line-height: 1;
      padding-bottom: 100px!important; //override .inside-bryn-mawr
      border-bottom: 1px solid $color-blaze!important; //override .inside-bryn-mawr
    }
    @media (min-width: $break-large) {
      margin-bottom: 0!important; //override .inside-bryn-mawr
    }
    .field--name-title {
      @media (min-width: $break-large) {
        display: block;
        margin: 0 auto;
        padding: 0 75px;
      }
    }
    &--wrap {
      margin-bottom: 25px;
      padding: 0 20px 34px;
      border-bottom: 1px solid $color-blaze;
      @media (min-width: $break-medium) {
        padding: 0;
        border-bottom: none;

        .breadcrumb-replace {
          margin-right: 50px;
        }
      }
      @media (min-width: $break-large) {
        margin-bottom: 15px;
      }
    }
    &--detail-wrapper {
      display: flex;
      @media (min-width: $break-medium) {
        margin-top: -94px;
      }
      @media (min-width: $break-large) {
        margin: -84px auto 0;
        padding: 0 75px;
      }
    }
    &--time-location {
      width: 100%;
      margin: 5px 0 0 1em;
      @media (min-width: $break-medium) {
        display: -webkit-box;
        margin: 11px 0 0 27px;
      }
    }
    &--wrap__time {
      font-weight: 700;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media (min-width: $break-medium) {
        padding-right: 12px;
      }
    }
    &--wrap__location {
      @media (min-width: $break-medium) {
        border-left: 1px solid $color-border;
        height: 24px;
        margin-right: 125px;
        padding-left: 15px;
      }
    }
  }
  &__content-wrap {
    margin-top: 30px;
  }
  &__body {
    margin-bottom: 20px;

    blockquote {
      @media (min-width: $break-medium) {
        width: 345px;
      }
    }
  }
  &__detail {
    &-image {
      margin-top: 0;
      margin-bottom: 0;
      &.detail_portrait {
        img {
          width: initial;
        }
        @media (min-width: $break-medium) {
          float: right;
          margin-left: 40px;
          width: 100%;
          max-width: 350px;
        }
      }
      &.detail_wide {
        width: 100%;
      }
    }
    &-image--caption {
      font-size: rem(14);
      line-height: 1.29;
      display: block;
      margin: 10px 0 30px;
    }
  }
  &__audience,
  &__link,
  &__type,
  &__contact {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-bottom: 1px solid $color-navy;
    @media (min-width: $break-medium) {
      display: flex;
      flex-direction: row;
    }
    &--label {
      font-weight: 700;
      @media (min-width: $break-medium) {
        flex-basis: 124px;
      }
    }
  }
  &__contact,
  &__link {
    border-bottom: none;
    &--wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  &__disclaimer {
    font-size: rem(16);
    color: $color-evergreen;
    line-height: 1.29;
    margin-top: 60px;
    padding: 16px 30px;
    background: $color-grey1;
  }
}

.page-node-type-event {
  .content__page-header__inner {
    padding: 0!important;
  }
  .node--view-mode-full {
    position: static;
  }
}

/* Hide Date helptext for anonymous Event submission */
form.node-event-form {
  .field--name-field-event-date {
    .fieldset-wrapper .description {
      display: none;
    }
  }
}
