.page-node-type-honor-roll {
  @media (min-width: $break-medium) {
    .inside-bryn-mawr {
      .content__page-header__inner {
        border: 0;
      }
    }
  }

  .content__page-header__inner {
    border-bottom: 1px solid $color-grey2;

    .honor_roll__subtitle {
      font-family: $font-proxima;
      font-size: rem(17);
      letter-spacing: 0;
      line-height: 25px;
      font-weight: normal;
      font-style: italic;
      margin: 20px 0 30px;

      @media (min-width: $break-medium) {
        margin-bottom: 5px;
      }

      @media (min-width: $break-large) {
        margin-bottom: 25px;
      }

      @include largeStylesExcludeInside {
        margin-bottom: 0;
      }
    }
  }
}
.view-honor-roll {
  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  @include largeStylesExcludeInside {
    max-width: 800px;
    margin: 0 auto;
  }
  .views-row {
    margin-bottom: .3em;
  }
}

.page-node-type-honor-roll .inside-bryn-mawr #block-bmc-d9-content ~ .block-views {
  @media (min-width: $break-large) {
    width: calc(100% - 270px);
    float: right;
    clear: both;
  }
}

.no-sec-nav.page-node-type-honor-roll .inside-bryn-mawr #block-bmc-d9-content ~ .block-views {
  @media (min-width: $break-large) {
    width: auto;
    float: none;
    clear: both;
  }
}

.accordion__content .field--name-field-p-donor-friends:last-child {
  margin-top: 1em;
}
