.news {
  &__title-wrap {
    border-bottom: 1px solid $color-grey2;
    padding: 0 0 2em;
    @media (min-width: $break-medium) {
      border-bottom: 0;
      padding: 0;
      h1 {
        padding-bottom: 0;
      }
    }
  }
  &__title {
    border-bottom: none;
    margin-bottom: 20px;
  }
  &__title-suffix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

    @media (min-width: $break-medium) {
      display: inline-block;
      margin-bottom: 1em;
      margin-top: 1.3em;
    }

    @media (min-width: $break-large) {
      display: block;
      margin-bottom: -6px;
      margin-top: 20px;
    }
  }
  &__date {
    font-family: $font-proxima;
    font-size: rem(16);
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: rem(19);
    text-transform: uppercase;
    flex: 100%;
    margin-bottom: 0.65em;

    @media (min-width: $break-medium) {
      padding-right: 18px;
      margin-right: 15px;
      border-right: 1px solid $color-border;
    }
  }
  &__author {
    font-family: $font-proxima;
    font-size: rem(17);
    letter-spacing: 0;
    line-height: rem(25);
    flex: 100%;
  }
  &__detail-image {
    margin-top: 0;
    margin-bottom: 0;
    &.detail_portrait {
      @media (min-width: $break-medium) {
        float: right;
        margin-left: 60px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 350px;
      }
      img {
        width: initial;
      }
    }
    &.detail_wide {
      width: 100%;
    }

    &--caption {
      font-family: $font-proxima;
      font-size: rem(14);
      letter-spacing: 0;
      line-height: 18px;
      display: inherit;
      margin-top: 6px;

      @media (min-width: $break-medium) {
        margin-top: 11px;
      }

      @include largeStylesExcludeInside {
        display: block;
      }
    }
  }
  &__body {
    margin-top: 26px;

    &.detail_portrait {
      @media (min-width: $break-medium) {
        margin-top: 0;
      }

      p:first-of-type {
        margin-top: 0;
      }
    }

    blockquote {
      @media (min-width: $break-medium) {
        width: 345px;
      }
    }

    &--source {
      margin-top: 35px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: baseline;

      span {
        font-weight: bold;
        line-height: rem(25);
        flex: 100%;

        @media (min-width: $break-medium) {
          padding-right: 10px;
        }
      }
      a {
        @include cta-button-secondary;
        margin-top: 9px;
        position: relative;
        padding-right: 2.8em;

        &:after {
          content: "";
          position: absolute;
          top: 46%;
          transform: translateY(-50%);
          width: 32px;
          height: 32px;
          background: url(../assets/icons/icons_external_link.svg) center no-repeat;
          background-size: auto;
          background-size: contain;
        }
      }

      @media (min-width: $break-medium) {
        display: inline-block;
        margin-top: 0;
      }
    }
  }
}

.page-node-type-news {
  h1 {
    font-size: rem(33);
    margin: 1.2em 0 0.5em;

    @media (min-width: $break-medium) {
      font-size: rem(46);
      margin-bottom: 0;
    }

    @media (min-width: $break-large) {
      font-size: rem(60);
    }
  }

  .breadcrumb-replace {
    /*margin-top: 30px;*/

    @media (min-width: $break-large) {
      display: none;
    }
  }
}

.node--type-news.node--view-mode-full {
  margin-bottom: 40px;
  margin-top: 25px;

  @media (min-width: $break-medium) {
    margin-bottom: 60px;
  }
  @media (min-width: $break-large) {
    margin-top: 75px !important; //override .inside-bryn-mawr
  }
}

// Primary news listing drupal view
.view-id-news.view-display-id-listing .view-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;

  .views-row:last-child {
    margin-bottom: 2.75em;
    padding-bottom: 0;

    @media (min-width: $break-medium) {
      margin-bottom: 4.5em;
    }

    @media (min-width: $break-large) {
      margin-bottom: 6.3em;
      padding-bottom: 0 !important;

    }
  }

  .views-row:nth-last-child(2) {

    @media (min-width: $break-medium) {
      margin-bottom: 4.5em;
      padding-bottom: 0;
    }

    @media (min-width: $break-large) {
      margin-bottom: 6.3em;
      padding-bottom: 0 !important;

    }

  }

  @media (min-width: $break-medium) {
    .views-row {
      flex-basis: calc((100% / 2) - 11px);
      padding: 2em 0;

      @media (max-width: $break-large - 1px) {
        flex-basis: calc((100% / 2) - 22px);

        &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9), &:nth-child(11) {
          &:before {
            border-top: 1px solid $color-stone;
            content: '';
            position: absolute;
            margin-top: -1.8em;
            width: 100%;
          }
        }
      }
    }

    &:after {
      content: '';
      flex-basis: calc((100% / 2) - 22px);
    }
  }

  @include largeStylesExcludeInside {
    .views-row {
      padding: 2.5em 0;
      flex-basis: calc((100% / 3) - (52px / 3));

      &:nth-child(4), &:nth-child(7), &:nth-child(10) {
        &:before {
          border-top: 1px solid $color-grey2;
          content: '';
          position: absolute;
          margin-top: -2.5em;
          width: 100%;
        }
      }
    }

    &:after {
      content: '';
      flex-basis: calc((100% / 3) - (52px / 3));
    }
  }
}

.hide-identifier {
  .identifiers {
    display: none;
  }
}

.news-listing {
  margin-top: 2.25em;

  &:focus {
    outline: 2px solid $color-grey6;
    outline-offset: 2px;
  }

  @media (min-width: $break-medium) {
    margin-top: 0;
  }

  a {
    display: block;
    color: $color-black;
    background: transparent;
  }

  &--img {
    margin-bottom: 0.938em;


  }
  &__date {
    font-family: $font-dunbar;
    font-size: rem(15);
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: rem(26);
  }
  h3.news-listing__title {
    @extend h6;
    margin-bottom: 0.2em;
    margin-top: .5em;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $break-medium) {
      font-size: rem(21);
     /* line-height: rem(25); */
    }


  }

  .identifier {
    margin-top: 0.6em;

    @media (min-width: $break-medium) {
      margin-top: 1em;
    }
  }

  a .news-listing__title {
    @include cta-arrow($cta-arrow-size: md);

    &:after {
      margin-top: 0.6em;
    }
  }
}

.news-feature {
  padding-bottom: 2.3em;
  border-bottom: 1px solid $color-grey2;
  margin-bottom: -15px;

  @include largeStylesExcludeInside {
    overflow: auto;
    margin-bottom: -5px;
    padding-bottom: 3em;
  }

  .node__content {
    @include largeStylesExcludeInside {
      display: flex;
    }
  }

  /*a  .news-feature__title {
    @include cta-arrow($cta-arrow-size: md);

    @media (min-width: $break-medium) {
      @include cta-arrow($cta-arrow-size: lg);
    }

    &:after {
      margin-top: 0.5em;
    }

  }*/

  &--img {
    margin-bottom: 1.1em;

    @media (min-width: $break-medium) {
      margin-bottom: 1.875em;

      img {
        width: 100%
      }
    }

    @include largeStylesExcludeInside {
      margin-bottom: 0;
    }
  }

  &__details {
    @include largeStylesExcludeInside {
      flex: 0 1 calc(100% - 570px);
      padding-left: 3.5em;
    }
  }

  &__date {
    font-size: rem(16);
    letter-spacing: 1.5px;
    line-height: rem(19);
    font-weight: 700;
    text-transform: uppercase;

    @include largeStylesExcludeInside {
      padding-top: 2.688em;
    }
  }

  &__title {
    font-size: rem(21);
    line-height: rem(24);

    @media (min-width: $break-medium) {
      font-size: rem(30);
      line-height: rem(34);
      margin-top: .5em;
    }

    @include largeStylesExcludeInside {
      font-size: rem(36);
      line-height: rem(40);
    }
  }

  &__summary {
    line-height: rem(25);
    font-weight: normal;

    p {
      margin-bottom: 0;
    }
  }
}

.page-node-type-news {
  .node--view-mode-full {
    position: static;
  }
}

.page-node-type-news .page-wrapper.inside-bryn-mawr {
  .content__page-header__inner {
    @media (min-width: $break-medium) {
      padding-bottom: 50px;
      border-bottom: 1px solid $color-grey2;
    }
  }
}

.news-listing__container {
  margin-top: 30px;

  @media (min-width: $break-medium) {
    margin-top: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: -1px;
    width: 100vw;
    height: 1px;
    transform: translateX(-50%);
    left: 50%;
    background: $color-white;
  }
  @media (min-width: $break-large) {
    max-width: $content-max;
    padding: 0 75px;
    width: 100vw;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  .news__listing_about_this_content {
    @include paragraph-intro();
    line-height: 1.65em;
    margin: 1.5em 0 3em 0;
    border-bottom: solid 3px $color-grey1;
    a {
      background-position: 0 .9em;
    }
  }
}


.news__body--text {

  margin-bottom: 2.75em;

  @media (min-width: $break-medium) {

    margin-bottom: 4.5em;
  }
  @media (min-width: $break-large) {
    margin-bottom: 6.3em;
  }

  p:last-child {
    margin-bottom: 0;

    a {
      margin-bottom: 0;
    }
  }
}
