.office__search-filters {
  background: $color-feather;
  padding: 18px 20px 23px;
  margin-top: 17px;

  @media (min-width: $break-medium) {
    padding: 22px 60px 23px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  @media (min-width: $break-large) {
    padding: 30px 23px 24px 30px;
    margin-top: 22px;
  }

  form {
    position: relative;
    margin-bottom: 15px;
    max-width: 307px;

    @media (min-width: $break-medium) {
      margin: 0 30px 0 0;
    }

    @media (min-width: $break-large) {
      max-width: 372px;

      input[type="text"] {
        width: 274px;
      }
    }
  }

  .search-field {
    @media (min-width: $break-large) {
      display: flex;
      align-items: center;

      label {
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }

  input[type="text"] {
    @media (min-width: $break-medium) {
      width: 307px;
    }
  }

  input[type="submit"] {
    color: transparent;
    position: absolute;
    bottom: -1px;
    right: -1px;
    height: 32px;
    width: 32px;
    overflow: hidden;
    background: transparent url(../assets/icons/icons_search_blue.svg) no-repeat center / 100%  ;
    border: 0;
    @media (min-width: $break-medium) {
      bottom: -9px;
      right: 0;
    }
  }
}

.office__clear {
  @include cta-button-secondary();

  &[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }

  @media (min-width: $break-medium) {
    margin: 0;
  }
}

.alpha-search {
  display: flex;
  flex-wrap: wrap;
  margin: 13px -1.5px 0;

  @media (min-width: $break-medium) {
    margin: 16px 0 0;
  }

  button {
    color: $color-navy;
    background: transparent;
    font-size: rem(16);
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 36px;
    height: 36px;
    margin: 1.5px;
    border: 0;

    @media (min-width: $break-medium) {
      margin: 6px 0;
    }

    &.all {
      width: 78px;

      @media (min-width: $break-medium) {
        margin-right: 15px;
        width: 61px;
      }

      @media (min-width: $break-large) {
        margin-right: 0;
      }
    }

    &.active {
      color: $color-white;
      background: $color-navy;
    }

    &[disabled] {
      color: $color-navy;
      opacity: 0.2;
    }
  }
}

.office__results {
  margin-top: 7px;

  @media (min-width: $break-medium) {
    margin-top: 23px;
  }
}

.office__result {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid $color-stone;

  &:last-child {
    border-bottom: 0;
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $break-medium) {
    display: flex;
    margin: 0;
  }
}

.office__result__title {
  margin-top: 0;
  font-size: rem(21);
  margin-bottom: 11px;

  @media (min-width: $break-medium) {
    font-size: rem(30);
    margin-bottom: 0.4em;
  }

  @media (min-width: $break-large) {
    margin-bottom: 0.3em;
  }

  a {
    @include cta-arrow(md);
    line-height: 1.15;
    @media (min-width: $break-medium) {
      font-size: rem(21);
    }
    @media (min-width: $break-large) {
      @include cta-arrow(lg);
    }
    @include largeStylesExcludeInside {
      font-size: rem(30);
      line-height: 1.1;
    }
    a {
      color: $color-navy;
      text-decoration: none;

      &:hover {
        color: $color-bronze;
      }
    }
    &:after {
      margin-top: .75rem;
      @media (min-width: $break-large) {
        margin-top: 1rem;
      }
    }

    display: inline-block;
    background: transparent;
  }
}

.office__result__contact {
  @extend h3;
}

.office__result__left {
  @media (min-width: $break-medium) {
    width: 50%;
    padding: 0 13px 0 0;
  }

  @media (min-width: $break-large) {
    width: 67%;
    padding-right: 30px;
    .office__result__title {
      font-size: 2.25rem;
    }
  }
}

.office__result__right {
  @media (min-width: $break-medium) {
    width: 50%;
    padding: 0 0 0 13px;
  }

  @media (min-width: $break-large) {
    width: 33.5%;
  }

  h3 {
    font-family: $font-proxima;
    font-size: rem(16);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0.75em;

    @media (min-width: $break-medium) {
      margin-top: 0.5em;
      margin-bottom: 1em;
    }

    @media (min-width: $break-large) {
      margin-top: 0.35em;
    }
  }
  .office__result__email,
  .office__result__phone {
    font-size: rem(14);
    margin-top: 0.5em;

    @media (min-width: $break-large) {
      margin-top: 0.6em;
    }

    &:before {
      content: "";
      width: 32px;
      height: 32px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px 0 -3px;

      @media (min-width: $break-medium) {
        margin: 0 5px 0 -6px;
      }
    }
  }
  .office__result__email {
    &:before {
      background: url(../assets/icons/icons_email-outlined.svg) no-repeat center / 100%;
    }
  }
  .office__result__phone {
    &:before {
      background: url(../assets/icons/icons_phone.svg) no-repeat center / 100%;
      margin-right: 2px;
    }
  }
}
