#block-progdesc {
  .generic-description,
  .program-description {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: solid 1px $color-stone;
  }

  .program-description:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
