.story-listing__container {
  max-width: $content-max;
  width: 100%;
  position: relative;
  margin: 20px auto 0 auto; /* margin-top:20px + page-title padding-bottom:50px = 70px design spec */
  @media (min-width: $break-medium) {
    margin-top: 0;

    &:before {
      content: "";
      position: absolute;
      top: -3px;
      width: 100vw;
      height: 3px;
      transform: translateX(-50%);
      left: 50%;
      background: $color-white;
    }
  }

  @media (min-width: $break-large) {
    padding: 0 75px;
    width: 100vw;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
  }

  .story-feature__wrapper {
    @media (min-width: $break-large) {
      padding-right: 100px;
    }
  }

  .views-element-container:only-child {
    .view-display-id-listing {
      margin: 0;


      .views-row:first-child {
        margin-top: 0;
      }

      @media (min-width: $break-medium) {
        .views-row:nth-child(2) {
          margin-top: 0;
        }
      }

      @media (min-width: $break-large) {
        .views-row:nth-child(3) {
          margin-top: 0;
        }
      }

      .views-row:first-child:before {
        content: none;
      }
    }
  }

  .view-display-id-1up {
    margin: 0 -20px;

    @media (min-width: $break-medium) {
      margin: 0;
    }
    .story-feature {
      display: flex;
      flex-direction: column;
      color: $color-black;
      @include clearfix();
      background-color: $color-grey1;

      @media (min-width: $break-medium) {
        background: transparent;
      }

      a {
        background: transparent;
      }

      .story-feature__inner {

        @media (min-width: $break-medium) {
          width: calc(100% - 155px);
          background-color: transparent;
        }
        @media (min-width: $break-large) {
          width: calc(100% - 155px);
          min-inline-size: fit-content;
        }

        @include largeStylesExcludeInside() {
          max-width: $content-max;
          display: flex;
          width: calc(100% - 55px);
        }
      }
      .story-feature__left {
        @include largeStylesExcludeInside() {
          width: calc(100% - 325px);
        }
      }
      .story-feature__left--img {
        height: 100%;

        div {
          height: 100%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .story-feature__right {
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        @media (min-width: $break-medium) {
          display: block;
          padding-left: 30px;
          padding-right: 156px;
          padding-top: 10px;
          padding-bottom: 25px;
          background-color: #EEF2F1;
        }

        @include largeStylesExcludeInside() {
          width: 325px;
          padding: 15px 45px 180px;
        }
      }

      .story-feature__right--title {
        @extend h2;
        font-size: rem(21);
        line-height: 1.14;
        margin-top: 1em;
        margin-bottom: 0.4em;

        @media (min-width: $break-medium) {
          margin-top: 0.67em;
          font-size: rem(30);
          margin-bottom: 0.25em;
        }

        @media (min-width: $break-large) {
          font-size: rem(36);
        }
      }

      .story-feature__right--subtitle {
        font-size: rem(14);
        line-height: 1.29;
        margin-bottom: 1.36em;
        font-weight: 400;

        @media (min-width: $break-medium) {
          margin-bottom: 0.5em;
        }
      }

      .story-feature__right--quote {
        padding: 2.4em 1.2em 0;
        opacity: 1;
        transition: all 300ms;

        &.inview {
          opacity: 1;
        }

        @media (min-width: $break-medium) {
          background: none;
          width: rem(288);
          padding: 0;
          margin: -350px 0 0 0;
          float: right;
        }

        @include largeStylesExcludeInside() {
          width: 334px;
          margin-top: -146px;
        }

        blockquote {
          margin: 0;
          position: relative;
          width: 100%;

          @media (min-width: $break-medium) {
            float: none;
          }

          &::after {
            transform: rotateX(180deg);
            top: -37px;

            @media (min-width: $break-medium) {
              transform: none;
              top: unset;
            }

            @include largeStylesExcludeInside() {
              transform: rotateX(180deg);
              top: -37px;
            }
          }
        }
      }

      .story-feature__right--cta {
        @include cta-button-secondary();
        &:focus {
          &:after {
            @include focusStyles();
          }
        }
      }

      .identifiers {
        background-color: $color-grey1;
        padding: 15px 20px 30px 20px;
        order: 99;

        @media (min-width: $break-medium) {
          width: 73.83%;
          background: transparent;
          padding-left: 0;
          padding-right: 156px;
          padding-top: 10px;
        }
      }
    }
  }
  .view-display-id-listing {
    margin-top: rem(25);

    @media (min-width: $break-medium) {
      margin-top: rem(50);
    }

    .view-content {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;

      @media (min-width: $break-medium) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-bottom: 0;
      }

      @media (min-width: $break-large) {
        margin: 0 -22px 0 -12px;
        justify-content: flex-start;
      }
   /*   a {
        color: #000;
        display: block;
        background: transparent;

        &:last-child {
          margin-bottom: 0;
        }
      } */
      .views-row {
        color: $color-navy;
        width: 100%;
        padding: 0;
        margin: rem(20) 0 rem(12) 0;
        img {
          width: 100%;
        }
        @media (min-width: $break-medium) {
          flex-basis: calc(50% - 16px);
          margin: 2rem 0 0;
          &:first-child {
            &:before {
              content: ' ';
              background: $color-border;
              max-width: inherit;
              width: 100%;
              height: 1px;
              left: 0;
              position: absolute;
              margin: rem(-32) 0;
            }
          }
        }
        @media (min-width: $break-large) {
          flex-basis: 33%;
          margin: rem(38) 0;
          padding: 0 12px;
          &:nth-child(4n),
          &:first-child {
            &:before {
              content: ' ';
              background: $color-border;
              max-width: inherit;
              height: 1px;
              position: absolute;
              margin: rem(-40) 0;
              left: 12px;
              right: 22px;
              width: auto;
            }
          }
          .story-listing {
            min-height: rem(480);
            height: 100%;
          }
        }
        .story-listing__feat-label,
        .story-listing__story-label,
        .story-listing__video-label,
        .story-listing__no-label {
          max-width: 100%;
          width: 100%;
        }
      }

      .views-row:last-child {
        margin-bottom: 2.75em;

        @media (min-width: $break-medium) {
          margin-bottom: 4.5em;
        }

        @media (min-width: $break-large) {
          margin-bottom: 6.3em;
        }
      }

      .views-row:nth-last-child(2){

        @media (min-width: $break-medium) {
          margin-bottom: 4.5em;
        }

        @media (min-width: $break-large) {
          margin-bottom: 6.3em;
        }
      }

    }
    .pagerer-container {
      margin-top: 0;
    }
  }
}

.story__subtitle {
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 0.5em;
  display: block;

  @media (min-width: $break-medium) {
    margin: 1em 0;
  }

  @media (min-width: $break-large) {
    margin: 1em 0 0;
  }
}

.story__header--img {
  margin: 30px -20px 0;
  position: relative;

  img {
    width: 100%;
  }

  @media (min-width: $break-medium) {
    width: calc(100% - 157px);
    margin: -53px 0 0 auto;
  }

  @media (min-width: $break-large) {
    width: calc(100% - 233px);
    margin: -120px 0 0 auto;
  }
}

.story__body {
  margin-top: 25px;
  margin-bottom: 2.75em;

  @media (min-width: $break-medium) {
    margin-top: 45px;
    margin-bottom: 4.5em;
  }
  @media (min-width: $break-large) {
    margin-top: 55px !important; //override .inside-bryn-mawr
    margin-bottom: 6.3em;
  }

  p:last-child {
    margin-bottom: 0;

    a {
      margin-bottom: 0;
    }
  }
}

.node--view-mode-full.story .story__header {
  blockquote {
    margin-top: -33px;
    margin-bottom: 35px;
    background: $color-feather;
    padding-top: 0.7em;
    position: relative;
    z-index: 1500;

    @media (min-width: $break-medium) {
      width: 288px;
      position: absolute;
      bottom: -75px;
      margin: 0;
    }

    @media (min-width: $break-large) {
      width: 344px;
      bottom: -44px;
    }

    /*   .quote__name:before {
        background: $color-feather;
        width: 45px;
        height: 45px;

        @media (min-width: $break-medium) {
          width: 64px;
          height: 64px;
     }
      }

    /*  .quote__name:after {
        bottom: -24px;
        width: 45px;
        height: 45px;

        @media (min-width: $break-medium) {
          width: 64px;
          height: 64px;
          bottom: -38px;
        }
      } */

    &:after {
      border-top-color: $color-feather;
      top: -37px;
      right: 43px;
      transform: rotateX(180deg);

      @media (min-width: $break-medium) {
        top: auto;
        transform: rotateX(0deg);
      }
    }
  }

  .story__media {
    position: relative;
    .video-embed-field-launch-modal img {
      display: none;
    }

    .field--name-field-story-img + .story__header--video {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;

      div, article, img {
        height: 100%;
      }

      img {
        opacity: 0;
      }
    }

    .story__header--video {
      &:hover .video-embed-field-launch-modal:after {
        filter: contrast(1);
      }
    }

    @media (min-width: $break-medium) {
      position: relative;
      margin-bottom: 145px;
    }

    @media (min-width: $break-large) {
      margin-bottom: 130px;
    }
  }
}

.video-embed-field-launch-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &:after { /* rounded video play icon with wisteria bckgrd  */
    content: "";
    position: absolute;
    width: 70px;
    height: 60px;
    padding: 15px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: filter 300ms;
    background: url(../assets/icons/icons_play.svg) no-repeat center / 50%;
    background-color: $color-wisteria;
    background-position: 32px 10px;
    @media (min-width: $break-medium) {
      width: 80px;
      height: 70px;
    }
  }
  &:hover {
    &:after { /* icon gets chiffon bkgd on hover */
      background-color: $color-chiffon;
    }
  }
}

.page-node-type-story {
  .breadcrumb-replace {
    position: relative;
    z-index: 10000;
    margin-top: 83px;
    margin-bottom: 30px;

    @media (min-width: $break-medium) {
      margin-top: 100px;
    }

    @media (min-width: $break-large) {
      display: none;
    }
  }

  .block-page-title-block {
    @media (min-width: $break-medium) {
      min-height: 230px;
    }
    @media (min-width: $break-large) {
      min-height: 287px;
    }
  }
  .featured-full-image {
    background-color: $color-black;
  }
  .story__subtitle {
    @media (min-width: $break-medium) {
      max-width: 150px;
    }

    @media (min-width: $break-large) {
      padding-right: 70%;
      max-width: inherit;
    }
  }

  .story__header--intro-text {
    @media (min-width: $break-large) {
      padding-top: 0;
    }
  }

  .has-featured-story .story__header--intro-text {
    @media (min-width: $break-large) {
      margin-top: 150px;
    }
  }
  /* places All Stories CTA at bottom of story detail node on MD and SM screens */
  .story__bottom {
    .breadcrumb-replace {
      position: relative;
      z-index: 10000;
      margin-top: 83px;
      float:none;

      @media (min-width: $break-large) {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }
}

.has-featured-story {
 /* .region-content-top {
    @media (min-width: $break-large) {
      z-index: 2000;
      padding: 48px 70px 0;

      .breadcrumb {
        border-bottom: 1px solid $color-grey3;
        padding: 0 0 3px;
      }
    }
  } */

  .node--view-mode-full.story .story__media {
    @media (min-width: $break-medium) {
      margin-bottom: 130px;
    }
  }

 /* .block-page-title-block {
    @media (min-width: $break-large) {
      margin-top: -192px;
    }
  } */
  .content__page-header {
    color: $color-white;
  /*  margin-top: -84px; */
    padding: 0;
    min-height: 91vw;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 65px;

    @media (min-width: $break-medium) {
    /*  margin-top: -102px; */
      min-height: 73.5vw;
      padding-bottom: 0;

      &__inner {
        border-bottom: 0;
        padding-bottom: 0;
        width: 100%;
      }
    }

    @media (min-width: $break-large) {
      min-height: 47vw;
      padding: 0 !important;
      margin-bottom: 120px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 197px;
      z-index: 1500;
      background: linear-gradient(270deg, rgba(0,0,0,0) 0%, #000000 100%);

      @media (min-width: $break-medium) {
        width: 350px;
      }

      @media (min-width: $break-large) {
        width: 600px;
      }
    }

  /*  &:after {
      @media (min-width: $break-medium) {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 147px;
        width: 100%;
        z-index: 1500;
        background-image: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0.00) 100%);
      }

      @media (min-width: $break-large) {
        height: 230px;
      }
    }*/

    h1 {
      margin-top: 0.5em;
      line-height: 1.05;

      @media (min-width: $break-medium) {
        max-width: 50%;
      }

      @media (min-width: $break-large) {
        margin-top: 4.1em;
      }
    }

    h1,
    .story__subtitle {
      position: relative;
      z-index: 2000;
    }

    .story__subtitle {
      @media (min-width: $break-medium) {
        margin: 1.2em 0 2.2em;
      }

      @media (min-width: $break-large) {
        margin: 1em 0 3.5em;
      }
    }
  }

  .quote--title {
    display: none;

    @media (min-width: $break-medium) {
      color: $color-navy;
      display: block;
      position: relative;
      z-index: 2500;
      float: left;
      margin: 0;

      width: 288px;
      margin-bottom: -50px;




    }

    @media (min-width: $break-large) {
      width: 334px;
      padding-top: 0.8em;
      margin-bottom: -60px;
    }
  }

  .node--view-mode-full.story .story__header {
    blockquote {
      display: block;
      margin-bottom: 22px;

      @media (min-width: $break-medium) {
        display: none;
      }
    }
  }

  .featured-full-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
