.view-id-taxonomy_term.view-taxonomy-term {
  h2, h3 {
  font-size: 1em;
    a {
    color:$color-swungblue;
    }
  }

  .view-header {
    margin-bottom: 2.5em;
    font-style: italic;
    h1 {
      font-size: 3.125rem;
      font-style: normal;
      margin-bottom: 15px;
    }
  }

  .node--type-event h2:after {
    content:' -- EVENT';
  }
  .node--type-story h2:after {
    content:' -- STORY';
  }
  .node--type-anncmnt h2:after {
    content:' -- ANNOUNCEMENT';
  }
  h3.news-title-only__title:after {
    background: none;
    content:' -- NEWS';
    position: relative;
    margin: 0;
    width: auto;
    height: auto;
  }

  .identifier, .news-title-only__date {
    visibility: hidden;
    display: none;
  }

}
