{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
      {% if theme_home.link %}
        <li>
          <a href="{{ theme_home.link }}">{{ theme_home.name }}</a>
        </li>
      {% endif %}
      {% if show_crumbs %}
        {% for item in breadcrumb %}
          {% if loop.index0 > 0 %}
            <li>
              {% if item.url %}
                <a href="{{ item.url }}">{{ item.text }}</a>
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ol>
  </nav>
{% endif %}
