.accordion {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }

  &__header {


  }
  &__intro {
    @include paragraph-intro();
    /*padding-bottom: 0.5rem;*/
  }

  &__all {
    border-top: $color-blaze 1px solid;
    padding: 1.25rem 0;
    font-size: rem(14);
    font-weight: 700;
    color: $color-navy;
    margin-top: 25px;

    @media (min-width: $break-medium) {
      font-size: rem(16);
    /*  text-align: right; */
    }
  }

  &__expand-all,
  &__collapse-all {
    font-family: $font-dunbar;
    font-size: rem(14);
    font-weight: 700;
    letter-spacing: 0.4px;
    border: 0;
    padding-left: 27px;
    background: transparent;
    transition: color 300ms;

    &:hover {
      color: $color-bronze;
    }

    &.js-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__expand-all {
    margin-right: 10px;
    background: url(../assets/icons/icons_plus.svg) no-repeat 0px center/21px;
    &:hover {
      background: url(../assets/icons/icons_plus_bronze.svg) no-repeat 0px center/21px;
    }

    @media (min-width: $break-medium) {
      padding-right: 0;
      margin-right: 28px;
    }
  }

  &__collapse-all {
    background: url(../assets/icons/icons_minus.svg) no-repeat 0px center/21px;
    &:hover {
      background: url(../assets/icons/icons_minus_bronze.svg) no-repeat 0px center/21px;
    }

    @media (min-width: $break-medium) {
      padding-right: 0;
    }
  }

  &__item {
    border-bottom: 1px solid $color-border;
    position: relative;
  }

  &__toggle {
    font-family: $font-proxima;
    font-size: rem(17);
    font-weight: 700;
    text-align: left;
    background: none;
    border: 0;
    padding: 15px 0 10px 35px;
    width: 100%;

    &:hover .accordion__icon {
      background: url(../assets/icons/icons_plus_bronze.svg);
    }

    .accordion__icon {
      content: "";
      position: absolute;
      left: 0;
      top: 0.6em;
      width: 32px;
      height: 32px;
      transition: color 300ms;
      background: url(../assets/icons/icons_plus.svg) no-repeat 0px center/32px;
    }

    &[aria-expanded="true"] {
      .accordion__icon {
        background-image: url(../assets/icons/icons_minus.svg);
      }
      &:hover {
        color: $color-bronze;
        .accordion__icon {
          background: url(../assets/icons/icons_minus_bronze.svg);
        }
      }
    }

    @media (min-width: $break-medium) {
      font-size: rem(21);
    }
  }

  &__content {
    display: none;
    padding-left: 12px;
    padding-bottom: 10px;

    :first-child {
      margin-top: 0;
    }

    p {
      margin: 0.5em 0;
    }
  }
}
