.anncmnt_4_up {
  @include largeStylesExcludeInside {
    position: relative;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
  }
  &__head,
  &__intro,
  &__anncmnts {
    @include largeStylesExcludeInside {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  &__anncmnts-posted {
    display: none;
    visibility: hidden;
  }
  &__head {
 /*   @include postHeadingDecorativeUnderline();
    &:after {
      width: 100%;
      margin-top: 25px;
      background-color: $color-blaze;
    } */
    @media (min-width: $break-large) {
      .inside-bryn-mawr & {
        font-size: rem(36);
      }

      font-size: rem(40);
      /* line-height: 0.9; */
      letter-spacing: 2px;
    }
  }
  &__intro {
    margin: 1.5rem 0 0.875rem 0;
    p {
      margin: 0;
    }
    @include largeStylesExcludeInside {
      margin-top: 1.55rem;
      margin-bottom: 1.75rem;
    }
  }
  &__more_link {
    margin-top: 1.8rem;

    a {
      @include cta-button-primary;
      margin-bottom: 0;
    }

  }
  &__anncmnts {
   &:before {
      content: '';
      margin: 21px 0 10px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-blaze;
    }
  }
}
