.callout {

  margin: 0 -20px 2.75rem;

  @media (min-width: $break-medium) {
    margin: 0 -50px 4.5rem;
  }
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner--wrap {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
    &--feather {
      background-color: $color-feather;
    }
    &--navy {
      background-color: $color-navy;
    }
    margin-bottom: 6.3em;
  }

  /* need to control proper width and behavior for inside theme */
  .inside-bryn-mawr & {
    &__inner--wrap {
      @media (min-width: $break-medium) {
        margin: 0 57px;
      }
    }
    &__inner {
      @media (min-width: $break-medium) {
        padding: 40px 30px;
      }
    }
  }


  &__inner {
    padding: 23px 20px;
    max-width: 800px;
    margin: auto;
    @include clearfix();

    @media (min-width: $break-medium) {
      padding: 40px 30px;
    }
    @media (min-width: $break-large) {
      padding: 80px 30px;
    }
  }

  &--feather .callout__inner {
    background-color: $color-feather;
    color: $color-navy;
  }

  &--navy .callout__inner {
      background-color: $color-navy;
      color: $color-feather;
      .callout__body a {
        color: $color-lantern;
        &:hover {
          color: $color-mint;
        }
      }
      .callout__cta--secondary {
        border-color: $color-white;
        background: $color-white;
        &:hover {
          /* background-color: black; */
          color: $color-white;
          background: $color-navy;
        }
      }

  }

  &__img {
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: $break-medium) {
      margin: 0 0 20px 20px;
      width: 268px;
      float: right;

      img {
        aspect-ratio: 268 / 188;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &__section-title {
    /* @include smallSansHeading(); */

    font-size: rem(32);
    line-height: 1.27;
    margin: 0 0 1em;
  }

  &__body {
    font-size: rem(17);
    font-weight: 400;
    line-height: 1.29;
    p {
      margin: 1.5em 0 0;
    }

    :first-child {
      margin-top: 0;
    }

    & + .callout__cta {
      margin-top: 20px;
    }
  }

  &__cta {
    margin-top: 10px;
  }

  a.callout__cta--primary {
    @include cta-button-primary();
  }
  a.callout__cta--secondary {
    @include cta-button-secondary();
  }

  a.callout__cta--primary,
  a.callout__cta--secondary {
    margin: 0 5px 10px 0px;
  }

}

.inside-bryn-mawr {
  .callout__section-title {
    font-size: rem(32);
  }
}
