.carousel {
  margin-left: -20px;
  margin-right: -20px;


  @media (min-width: $break-medium) {
    margin-left: -40px;
    margin-right: -40px;
  }

  @media (min-width: $break-large) {
    margin-left: 0;
    margin-right: 0;
  }

  @include largeStylesExcludeInside {
    @include full-width();
    &__inner {
      max-width: 1400px;
      padding: 0 75px;
      margin: 0 auto;
    }
  }
  &__inner {
    padding: 0 40px 0;
  }

  /* background-color: $color-chiffon;  THIS IS for color option NOT white */
  /* padding: 20px; THIS IS FOR color background to have some show top/bottom */
  padding: 0; /* this is for NO color background */

  h2.carousel__section-heading {
    margin-bottom: rem(28);
    margin-top: 0;
    padding: 0 0 20px 20px;
    border-bottom: 1px solid $color-blaze;

    @media (min-width: $break-medium) {
      padding: 0 0 20px 45px;
    }
    @media (min-width: $break-large) {
      padding: 0 0 20px 0;
    }
  }

  &.inner-align-right {
    @include largeStylesExcludeInside {
      .slide__inner {
        left: initial;
        right: 40px;
      }

      .slick-prev {
        left: auto;
        right: 116px!important;
      }

      .slick-next {
        left: auto;
        right: 70px!important;
      }
    }
  }

  .slick-next {
    bottom: 20px;
    top: auto;
    right: 40px;
    left: auto;
    background-color: transparent;
    border: solid 1px $color-navy;

    &:hover {
      background: url(../assets/icons/icons_arrow_white.svg);
      background-color: $color-navy;
    }

    @media (min-width: $break-medium) {
      bottom: 30px;
      right: 80px;
    }

    @include largeStylesExcludeInside {
      left: 353px;
      right: auto;
      bottom: 66px;
    }
  }

  .slick-prev {
    bottom: 20px;
    top: auto;
    right: 86px;
    left: auto;
    background-color: transparent;
    border: solid 1px $color-navy;

    &:hover {
      background: url(../assets/icons/icons_arrow_white.svg);
      background-color: $color-navy;
    }

    @media (min-width: $break-medium) {
      bottom: 30px;
      right: 128px;
    }

    @include largeStylesExcludeInside {
      left: 307px;
      right: auto;
      bottom: 66px;
    }
  }

  .slick-slide {
    height: auto;
   /* background: $color-chiffon; */

    &.fade-out {
      transition-delay: 500ms !important;
      img {
        opacity: 0;
        transition: all 300ms 200ms;
      }

      .slide__inner {
        opacity: 0;
        transition: all 300ms;
      }

      &.fade-in {
        transition-delay: 500ms !important;
        img {
          opacity: 1;
          transition: all 300ms;
        }

        .slide__inner {
          opacity: 1;
          transition: all 300ms 200ms;
        }
      }
    }
  }

  .slick-track {
    display: flex;
  }
}

.slide {
  height: 100%;
  &__outer {
    padding: 0 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: $break-medium) {
      padding: 0 50px 0;
    }

    @include largeStylesExcludeInside {
      padding: 0;
    }
  }

  &__image {
    margin: 0 -20px;
    background: $color-black;

    @media (min-width: $break-medium) {
      margin: 0 -50px;
    }

    @include largeStylesExcludeInside {
      margin: 0;
    }

    img {
      width: 100%;
    }
  }

  &__supertitle {
    font-size: rem(17);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 17px 20px;
    margin: -25px -20px 25px;
    background: $color-lantern;

    @media (min-width: $break-medium) {
      margin: -25px -30px 25px;
      padding: 17px 30px;
    }
  }

  &__inner {
    background: $color-white;
    border: solid 1px $color-stone;
    padding: 25px 20px 20px;
    margin-top: -30px;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: $break-medium) {
      padding: 25px 30px 30px;
      margin-top: -113px;
    }

    @include largeStylesExcludeInside {
      position: absolute;
      bottom: 35px;
      left: 40px;
      width: 380px;
      padding: 20px 30px 30px;
    }

    p {
      margin: 0.8em 0 0;
    }

    h2 {
      margin-top: 0;

      @include largeStylesExcludeInside {
        margin-bottom: -0.2em;
      }
    }
  }

  &__text {
    margin-bottom: 0.8em;

    @media (min-width: $break-medium) {
      margin-bottom: 1.1em;
    }

    @include largeStylesExcludeInside {
      margin-bottom: 0.8em;
    }
  }

  &__body {
    font-size: rem(16);
    font-weight: 400;
    padding-bottom: 0.3em;
  }

  &__ctas {
    min-height: 60px;
    border-top: 1px solid $color-blaze;
    margin-top: auto;
    padding-right: 100px;
    padding-top: 25px;
    display: flex;
    align-items: flex-end;

    @media (min-width: $break-medium) {
      padding-top: 20px;
    }
  }

  .field--name-field-p-slide-cta a {
    @include cta-button-primary();

    margin: 0;
    @media (min-width: $break-medium) {
      margin: 0;
    }
  }
}
