.columns {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }

  &.less-than-three .columns__inner {
    @include largeStylesExcludeInside {
      max-width: 800px;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__intro {
    @include paragraph-intro();
    p {
      font-size: rem(20);
      @include largeStylesExcludeInside {
        margin: 12px 0;
      }
    }
  }

  .field--name-field-p-cols-items {
    img {
      width: 100%;
    }

    @include threeCol();

    > .field__item {
      margin-bottom: 30px;

      @media (min-width: $break-medium) {
        position: relative;
        margin-top: 85px;
        margin-bottom: 0;

        // Implement lines between rows and custom widths

        &:nth-child(2n + 1):after {
          content: none;
        }

        &:nth-child(2n + 1):after {
          content: "";
          position: absolute;
          top: -40px;
          height: 1px;
          width: calc(200% - 11.5px);
          left: 11.5px;
          background: $color-stone;
        }

        &:first-child:after {
          content: none;
        }

        &:nth-child(-n+2) {
          margin-top: 0;
        }

        &:only-child {
          width: 100%;
        }
      }

      @include largeStylesExcludeInside {
        // Implement lines between rows and custom widths
        &:only-child {
          width: 100%;
        }

        &:nth-child(2n + 1):after {
          content: none;
        }

        &:nth-child(3n + 1):after {
          content: "";
          position: absolute;
          top: -40px;
          height: 1px;
          width: calc(300% - 13px);
          left: 13px;
          background: $color-stone;
        }
        &:first-child:after {
          content: none;
        }

      /* */ &:first-child:nth-last-child(2),
        &:last-child:nth-child(2) {
          width: 50%;
        }

        &:nth-child(-n+3) {
          margin-top: 0;
        }
      }
    }
  }

  &__items {
    border-top: 1px solid $color-blaze;
    margin-top: 25px;
    padding-top: 30px;

    @media (min-width: $break-medium) {
      padding-top: 40px;
    }

    @media (min-width: $break-large) {
      margin-top: 27px;
    }

    &--item {
      p:last-child {
        margin-bottom: 0;
      }

      &--img {
        @extend h4;

        margin-top: 0;
        margin-bottom: 1.35em;

        @media (min-width: $break-medium) {
          margin-bottom: 1.2em;
        }

        @include largeStylesExcludeInside {
          margin-bottom: 1em;
        }
      }

      h3 {
        @extend h6;
        font-size: rem(21);
        margin-top: 0;
        margin-bottom: 0.8em;
        a {
          &:hover {
            color: $color-bronze;
          }
        }
        @media (min-width: $break-medium) {
          margin-bottom: -0.2em;
        }

        @include largeStylesExcludeInside {
          margin-bottom: 0;
        }
      }

      &--body {
        p {
          margin: 9px 0;
        }
      }
    }
  }
}
