.contact {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }

  /*  background-color: $color-wisteria; THIS IS for color option NOT white */
  /* padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
  padding: 0;  /*this is for NO color background */
  box-sizing: border-box;

  &__col--wrap {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    flex-direction: column;
      @media (min-width: $break-medium) {
      flex-direction: row;
        padding: 30px;
    }
  }

  &__col {
    &--img {
      @media (min-width: $break-medium) {
        flex: 52%;
      }
      @media (min-width: $break-large) {
        flex: 58.25%;
      }
    }
    &--content {
      @media (min-width: $break-medium) {
        flex: 48%;
      }
      @media (min-width: $break-large) {
        flex: 41.75%;
      }
    }
  }
  &__col--img {
    align-self: stretch;
    flex-shrink: 0;
    .contact__img,
    .field--type-image,
    .image-style-contact {
      height: 100%;
    }
    .contact__img {
      .field__item {
        height: 100%;
      }
    }
    img {
      aspect-ratio: 466 / 383;
      width: 100%;
      object-fit: cover;
    }
  }
  .contact-wrap {
    margin-left: 0;
    padding: 30px 30px 0;
    @media (min-width: $break-medium) {
      margin-left: 60px;
      padding: 30px;
    }
  }
}
