.countdown-timer {
  background-color: $color-lantern;
  text-align: center;
  padding: 1.59em 1.06em;

  &--hide-mobile-ms {
    @media (max-width: calc(#{$break-medium} - 1px)) {
      .countdown-section:nth-last-child(1),
      .countdown-section:nth-last-child(2) {
        display: none;
      }
    }
  }

  @media (min-width: $break-medium) {
    padding: 2.12em 1.76em 2.65em;
  }

  @include largeStylesExcludeInside() {
    padding: 2.3em 1.76em 2.65em;
  }

  &__heading {
    font-size: rem(30);
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 1.1em;

    @media (min-width: $break-medium) {
      font-size: rem(36);
      line-height: 1.11;
      margin: 0.55em 0 1em;
    }

    @include largeStylesExcludeInside() {
      font-size: rem(36);
      line-height: 1.11;
      margin: 0.55em 0 1em;
    }
  }

  .kwoodcountdown {
    @include smallSansHeading();
    font-size: rem(21);
    line-height: rem(38);

    .countdown-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @media (min-width: $break-medium) {
        display: flex;
        flex-direction: row;
      }
    }

    .countdown-section {
      flex: 1 1 0px;
    }

    .countdown-amount {
      font-size: rem(40);
    }
  }

}
