.honor_roll {
  .honor_roll__donors.accordion__items {
    .accordion__item {
      .accordion__toggle {
        @extend .accordion__toggle;
        .donors--list-title {
          margin-top: 0;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
        }
        .accordion__icon {
          @extend .accordion__icon;
        }
      }
      .accordion__content {
        @extend .accordion__content;
        .donors--donor-list {
          @media (min-width: $break-medium) {
            column-count: 2;
          }
        }
      }
      margin-bottom:0;
    }
  }
}
