.event-3-up {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();
    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  &__section-heading {
    margin-bottom: .2em;
    margin-top: 0;

    @media (min-width: $break-medium) {
      margin-bottom: 24px;
    }
    @include largeStylesExcludeInside {
      margin-bottom: 15px;
    }
  }
  &__intro-wrapper {
    display:flex;
    flex-direction:column;
    @media (min-width: $break-medium) {
      flex-direction:row;
    }
  }
  .no-intro {
    &__heading {
      width: 100%;
      margin-bottom: 0;

      @media (min-width: $break-medium) {
        margin: 0;
      }

      @include largeStylesExcludeInside {
        margin: 0;
      }
    }
    .event-3-up__more {
      margin-top: 0.8em;
      @media (min-width: $break-medium) {
        margin-top: 0;
        margin-bottom: 1.5%;

        .cta--primary {
          margin: 0;
        }
      }
    }
  }
  &__intro {
    @include paragraph-intro();

    p {
      @media (min-width: $break-medium) {
        margin: 0;
      }
    }
  }
  &__more {
    align-self: inherit;
    @media (min-width: $break-medium) {
      align-self: flex-end;
      margin-left: auto;
    }
    .cta--primary {
      @include cta-button-primary();
      margin: 0.8em 0 1.5em 0;
      @media (min-width: $break-medium) {
        width: 14em;
        margin: 0 0 0 2em;
      }
    }
  }
  // .news-3-up__items-inner--tags,
  //  .news-3-up__items-inner--manual .field--name-field-p-news3up-manual-items
 // .field--name-field-p-event3up-manual-items,
  .event-3-up__items-inner--tags,
  .event-3-up__items-inner--manual .field--name-field-p-event3up-manual-items {
    @media (min-width: $break-medium) {
      .node__content {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;

        @include largeStylesExcludeInside {
          margin-bottom: 0;
        }
      }
      .card-wrapper__left {
        width: calc(50% - 22px);
        margin-right: 22px;
      }
      .card-wrapper__right {
        width: 50%;
        margin-top: 0;
      }
      .inside-bryn-mawr & {
        .node__content {
          flex-wrap: nowrap;
        }
        .card-wrapper__left {
          width: 100%;
          margin-right: 22px;
        }
        .card-wrapper__right {
          width: 100%;
          margin-top: 0;
        }
        > * {
          width: 100%;
        }
      }
    }
    @media (min-width: $break-large) {
      @include threeCol();
      .card-wrapper__left {
        width: 100%;
        margin-right: 0;
      }
      .card-wrapper__right {
        width: 100%;
      }
    }
    > .field__item,
    > .node--view-mode-teaser-3-up {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;

        .node__content {
          margin-bottom: 0;
        }
      }
      @media (min-width: $break-medium) {
        position: relative;
      }

      @include largeStylesExcludeInside {
        margin-bottom: 0;
      }
    }
    img {
      width: 100%;
    }
  }
  .event-3-up__items-inner.event-3-up__items-inner--manual.event-3-up__items-inner--featured {
    @media (min-width: $break-medium) {
      .node__content {
        flex-wrap: wrap;
        margin-bottom: 20px;
      }
      .card-wrapper__left {
        width: calc(50% - 22px);
        margin-right: 22px;
      }
      .card-wrapper__right {
        width: 50%;
        margin-top: 0;
      }
    }
    @media (min-width: $break-large) {
      .card-wrapper__left {
        width: 100%;
        margin-right: 0;
      }
      .card-wrapper__right {
        width: 100%;
      }
    }
  }
  &__items,
  &__items-view {
    border-top: 1px solid $color-blaze;
    margin-top: 25px;
    padding-top: 30px;
    @include largeStylesExcludeInside {
      padding-top: 40px;
    }
    &.featured {
      border-top: none;
      padding-top: 0;

      @media (min-width: $break-large) {
        padding-top: 17px!important;
      }
    }
    .field-item,
    .views-row {
      p:last-child {
        margin-bottom: 0;
      }
    }
    .views-row {
      margin-bottom: 40px;
      @media (min-width: $break-medium) {
        margin-bottom: 30px;
      }

      @include largeStylesExcludeInside {
        margin-bottom: 0;
      }
    }
  }
  .event {
    &-time {
      font-family: $font-dunbar;
      font-size: rem(14);
      font-weight: 700;
      line-height: rem(16);
      letter-spacing: 0.4px;
      margin: 1em 0 0.5em;
      @media (min-width: $break-medium) {
        margin: 25px 0 8px;
      }
      @include largeStylesExcludeInside {
        margin: 14px 0 11px;
      }
    }
    &-date {
      margin-top: -67px;
      @include largeStylesExcludeInside {
        margin-top: -64px;
      }
    }
  }
}
.event-teaser-3up {
  &__title {
    @extend h6;
    margin: 0 0 9px;
    @media (min-width: $break-medium) {
      font-size: rem(21);
      margin: 0 0 12px;
    }
    @media (min-width: $break-large) {
      .inside-bryn-mawr & {
        font-size: rem(21);
      }
    }
  }
}
