.feat-md {
  margin: 0 0 2.75em;

  &:has(blockquote) {
    @media (min-width: $break-medium) {
      margin: 0 0 calc(4.5em - 37px);
    }

    @include largeStylesExcludeInside {
      margin: 0 auto calc(6.3em - 37px) -50vw;
    }
  }

  @media (min-width: $break-medium) {
    margin: 0 0 4.5em;
  }

  @include largeStylesExcludeInside {
    margin: 0 0 6.3em;

    @include full-width();

    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 47px;
      display: flex;

      &.feat-md__media-wrap--left {
        flex-direction: row-reverse;
      }
    }
  }
  &__inner {
    background: $color-white;
  }
  /* background-color: $color-wisteria; THIS IS for color option NOT white */

  /*padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
   padding: 0; /* this is for NO color background */

  &__content-wrap {
    @include largeStylesExcludeInside {
      width: 392px;
      margin: 0 28px;
    }
  }

  h2 {
    margin-top: 0;
  /*  line-height: 1; */

    @include postHeadingDecorativeUnderline();

    @include largeStylesExcludeInside {
      margin-top: rem(55);
    }
  }

  .feat-md__intro {
    @include paragraph-intro();

    margin-bottom: 1em;
    line-height: 1.38;
  }

  .feat-md__cta {
    margin-top: 1em;
    a {
      @include cta-button-primary();
      margin: 1em 0;

      @media (min-width: $break-medium) {
        margin: .5em 0;
      }
    }
  }

  .field--name-field-p-feat-md-img {
    margin: 20px -20px 0;

    @media (min-width: $break-medium) {
      margin: 40px 0 0;
      width: 100%;
    }

    @include largeStylesExcludeInside {
      margin-top: 0;
    }

    img {
      width: 100%;
    }
  }

  .feat-md__item {
    position: relative;
    transition: all 300ms;

    @include clearfix();

    @media (max-width: $break-medium - 1) {
      margin-top: -30px !important;
    }

    @media (min-width: $break-medium) {
      width: 288px;
      float: right;
      margin: 0;
      position: relative;
      @include clearfix();

      .paragraph {
        @include clearfix();
      }
    }
    @media (min-width: $break-large) {
      width: 334px;
    }
  }

  .field--name-field-p-feat-md-item {
    @media (min-width: $break-medium) {
      margin: 0;
    }
  }

  &.feat-md--has-item {
    @include clearfix();

    .field--name-field-p-feat-md-img {
      @media (min-width: $break-medium) {
        width: calc(100% - 130px);
        float: left;
      }

      @include largeStylesExcludeInside {
        width: calc(100% - 90px);
      }
    }
  }

  .field--name-field-p-feat-md-img {
    @media (min-width: $break-medium) {
      width: 100%;
      float: left;
    }

    @include largeStylesExcludeInside {
      width: 100%;
    }
  }

  .feat-md__media-wrap {
    @include clearfix();

    position: relative;

    @include largeStylesExcludeInside {
      width: calc(100% - 328px);
      margin: 0 28px;
    }
  }

  .feat-md__media-wrap--left {
    @include largeStylesExcludeInside {
      .field--name-field-p-feat-md-img {
        float: right;
      }

      .feat-md__item {
        float: left;
      }
    }
  }

  .feat-md__media-wrap--left blockquote {
    background: $color-feather;
    &:after {
      border-color: $color-feather transparent transparent transparent;
    }
    .quote__name:before {
      background: $color-feather;
    }
  }

  .feat-md__media-wrap--right {
    .fcap__caption
     {
      background: $color-coral;
    }
    .play-video,
    {
      background: $color-wisteria;
    }
    .fstat {
        background: $color-lantern;
    }
  blockquote {
    background: $color-feather;
    }
  }
  .pb-er {
    &-quote {
      @media (min-width: $break-large) {
      /*  margin-top: -16.5%!important;*/
      }
    }
    &-stat {
      @media (min-width: $break-large) {
        margin-top: -16.5%!important;
      }
    }
    &-vid {
      @media (min-width: $break-large) {
        width: 392px;
       /* margin-top: -16.5%!important;*/
      }
    }
  }

  .fvid__play {
    position: static;
    transform: translateY(0);
    width: 100%;
    min-height: 128px;

    &:focus {
      @include focusStyles();
    }

    @include largeStylesExcludeInside {
      width: 392px;
    }
  }

  blockquote {
    position: relative;
    margin: 0;
    background: $color-yellow;
    width: 100%;

    @media (min-width: $break-medium) {
      margin-bottom: 40px;
    }

    &:after {
      transform: rotateX(180deg);
      top: -37px;

      @media (min-width: $break-medium) {
        transform: rotateX(0deg);
        top: auto;
      }
    }
  }
}
