.paragraph--type--feat-lg {
  margin:0 -20px  2.75em;
  background: $color-white;

  @media (min-width: $break-medium) {
    margin: 0 0  4.5em;
    padding-bottom: 0px;

    .not-inside-bmc &, .no-sec-nav & {
      @include full-width();
    }
  }

  @include largeStylesExcludeInside {
    margin-bottom: 6.3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 55px;
  }

  &.home-paragraph-feat-lg {

    @media (min-width: $break-medium) {

      .not-inside-bmc &, .no-sec-nav & {
        margin-left: -50vw;
      }
    }
  }

  .feat-lg__content-wrap {
    padding: 0 20px;

    @media (min-width: $break-medium) {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      padding: 0 50px 0;
    }

    @include largeStylesExcludeInside {
      width: 100%;
      justify-content: space-between;
      padding: 0 165px 0 75px;
      align-items: flex-end;
      max-width: $content-max;
      margin: 0 auto;
      min-height: 45vw;
      position: relative;

      @media (min-width: 1900px) {
        min-height: 995px;
      }
    }
  }

  .feat-lg__content-inner {
    padding: 0 20px;
    background: $color-white;
    margin-bottom: 35px;

    h2 {
      margin-top: 0;

      @include postHeadingDecorativeUnderline();
    }

    @media (min-width: $break-medium) {
      width: calc(50% - 10px);
      margin-left: 10px;
      margin-top: -41vw;
      margin-bottom: 0;
      padding: 30px 30px 25px;
      align-self: flex-end;
      border: solid 1px $color-stone;
    }

    @media (min-width: $break-large) {
      margin-top: -250px;
    }

    @include largeStylesExcludeInside {
      width: 425px;
      position: relative;
      z-index: 10;
      padding: 45px 45px 45px;
      top: 55px;
      margin-top: 100px;
    }
  }

  .feat-lg__intro {
    @include paragraph-intro();

    margin-bottom: 1em;
  }

  .feat-lg__item {
    margin-top: -30px;
    position: relative;
    opacity: 0;
    transition: all 300ms;

    &.inview {
      opacity: 1;
    }

    .paragraph,
    > div {
      width: 100%;
    }

    .paragraph {
      @include clearfix();
    }

    @media (max-width: $break-medium - 1) {
      top: 0 !important; /* override js */
    }

    @media (min-width: $break-medium) {
      width: calc(50% - 10px);
      margin-right: 10px;
      margin-top: 0;
      top: 50%;
      display: flex;
      justify-content: stretch;
    }

    @include largeStylesExcludeInside {
      width: 340px;
      transform: translateY(-100%);
      top: 100%;
      left: 75px;
      margin-top: 55px !important;// override js
      position: absolute;
      min-height: auto;

      .play-video {
        max-width: 390px;
      }
    }
  }

  .feat-lg__cta {
    a {

      @include cta-button-primary();
      margin: 1em 0;

      @media (min-width: $break-medium) {
        margin: .5em 0;
      }
    }
  }

  .feat-lg__img-wrap {
    margin: 0 -20px;

    @media (min-width: $break-medium) {
      order: -1;
      margin: 0 -50px;
    }

    @include largeStylesExcludeInside {
      margin: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      overflow: hidden;
      height: 100%;
    }

    img {
      width: 100%;
      @include largeStylesExcludeInside {
        position: absolute;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  blockquote {
    position: relative;
    margin: 0 0 0;
    background: $color-feather;
    width: 100%;

    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }

    &:after {
      border-color: $color-feather transparent transparent transparent;
    }

    .quote__name:before {
      background: $color-feather;
    }
  }

  .fvid__play {
    position: static;
    transform: translateY(0);
    max-width: 100%;
    &.play-video {
      &:focus {
        outline-color: $color-grey6;
      }
    }
  }

  .fstat {
    width: 100%;
  }
}

.fdrop {
  width: 100%;
  margin-bottom: 0.5em;
}

.fdrop__toggle {
  font-size: rem(16);
  border: 1px solid $color-grey3;
  padding: 0.3em 30px 0.3em 12px;
  margin-top: 10px;
  position: relative;
  background: transparent;

  &:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    right: 6px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    background: transparent url(../assets/icons/icons_arrow.svg) no-repeat center right / 20px;
  }
}

.fdrop.focused {
  .fdrop__content {
    max-height: 300px;
    visibility: visible;
    transition: all 300ms;
    .fdrop__link {
    /*  padding: 0.3em 30px 0.3em 12px;*/
      &:hover {
        background-color: $color-feather;
      }
    }
  }

  .fdrop__toggle {
    background: $color-feather;
    border-color: $color-stone;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);

    &:after {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

.fdrop.remove-delay .fdrop__content {
  transition-delay: 0ms;
}

.fdrop__content {
  position: absolute;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  background: $color-white;
  width: 225px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 300ms 500ms;
  z-index: 1000;
}

.node__content .fdrop__links {
  font-size: rem(16);
  padding-left: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0.3em 30px 0.3em 12px;
  }

  a {
    color: $color-navy;
    font-weight: 400;
    text-decoration: none;
  }
}

.feat-lg {
  &__mlist-title {
    @include detailsHeading();
  }

  &__details-wrap {
    margin-top: 10px;
    @media (min-width: $break-medium) {
      margin-top: 20px;
    }

    @include largeStylesExcludeInside {
      margin-top: 35px;
    }
  }

  &__alink {
    margin-top: 1.45em;
  }

  .field--name-field-p-fhome-mlink {
    margin-bottom: 0.6em;
  }
}

.paragraph.mnlst_item {
  margin: 0.3em 0;

  @include largeStylesExcludeInside {
    margin: 0.3em 0;
  }
}

.field--name-field-p-fhlrg-mlink,
.field--name-field-p-fhlrg-alink {
  a {
    @include cta-arrow(sm);
    @include hpFeatureLinks();
    line-height: 26px;
    margin-bottom: 10px;
    &:after {
      margin: 0.75em 0 0 3px;
    }
  }
}
