.paragraph--type--quote {

  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();

    .quote__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }

  /* padding: 20px; THIS IS FOR color background to have some show top/bottom */
  padding: 0; /*this is for NO color background */
  /* margin: 0 -20px 2.75rem; THIS IS FOR color background to stretch to edge */
  background-color: #fff; /*  THIS IS for color option  white */
  /*  background-color: $color-chiffon; THIS IS for color option NOT white */
  @media (min-width: $break-medium) {
    /* padding: 80px 44px; THIS IS FOR color background to have some show top/bottom */
    padding: 0;  /* this is for NO color background */
    /*  margin: 0 -50px 2.75em; THIS IS FOR color background to stretch to edge */
  }
  @media (min-width: $break-large) {
    /* padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
      padding: 0; /* this is for NO color background */
  }
  /* need to control proper width and behavior for inside theme */

  .inside-bryn-mawr & {
    @media (min-width: $break-medium) {

      /* margin: 0 0 4.5em;
        padding: 44px;THIS IS FOR color background to have some show top/bottom */
       padding: 0; /* this is for NO color background */

    }
  }


  .quote__inner--wrap {
   /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 30px;*/
    flex-direction: column;
    gap: 20px;
    @media (min-width: $break-medium) {
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
    }
  }

  /*@media (min-width: $break-medium) {
    margin-bottom: calc(4.5em + 50px);
  }

  @include largeStylesExcludeInside {
    margin-bottom: calc(6.3em + 50px);
  }*/

  .quote__image {
    @media (min-width: $break-medium) {
      flex: 40%;
    }
    @media (min-width: $break-large) {

    }



    img {
      width: 100%;
    }
  }

  .quote__inner--blockquote {
    padding-top: 1.4em;
    margin: 0;
    position: relative;

    p {
      margin: 0;
    }

    @media (min-width: $break-medium) {
      flex: 30%;
      align-self: flex-start;
      align-content: center;
    }
    @media (min-width: $break-large) {

    }
  }
    .quote__inner--icon {
      width: 36px;
      height: 33px;
      left: 47%;
      transform: rotateX(0deg);
      background: url(../assets/icons/icons_quote_yellow.svg);
      background-size: 100%;
    }


  .quote__name {
    font-family: $font-dunbar;
    color: $color-navy;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(14);
    letter-spacing: 0.4px;
    text-align: center;
  }
  .quote__quote {
    font-family: $font-ivymode;
    color: $color-evergreen;
    font-size: rem(36);
    font-weight: 400;
    font-style: italic;
    line-height: rem(44);
    letter-spacing: 0.15px;
    text-align: center;
    padding: 25px 0;
  }
  .quote__inner--pubmark {
    /* content: ""; commenting this out to hide the styles
    position: absolute;
    bottom: -100px;
    left: 45%;
    width: 64px;
    height: 64px;
    border: none;
    background-size: 100%;*/
    /* background: url(../assets/icons/icons_tag.svg);  need to change out for pubmark */
  }
}
