.image-gallery {
  @include largeStylesExcludeInside {
    @include full-width();

    &__outer--wrap {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  /* padding: 20px; THIS IS FOR color background to have some show top/bottom */
  padding: 0; /* this is for NO color background */
  margin: 0 -20px 2.75rem;
  /* background-color: $color-feather; THIS IS for color option NOT white */
  @media (min-width: $break-medium) {
    /*padding: 80px 44px;*/
    padding: 0; /* this is for NO color background */
    margin: 0 -50px 2.75em;
  }
  @media (min-width: $break-large) {
    /* padding: 80px 0px;  */
    padding: 0; /* this is for NO color background */
  }
  /* need to control proper width and behavior for inside theme */

  .inside-bryn-mawr & {
    @media (min-width: $break-medium) {
      margin: 0 0 calc(4.5em + 45px);
      /* padding: 44px; THIS IS FOR color background to have some show top/bottom */
      padding: 0; /* this is for NO color background */

    }
    @media (min-width: $break-large) {


    }
  }


  @media (min-width: $break-medium) {
    margin-bottom: calc(4.5em + 45px);
  }

  @include largeStylesExcludeInside {
    margin-bottom: calc(6.3em + 45px);
  }

  a {
    background: none;
  }
}

.image-gallery__open {
  display: block;
  padding: 0;
  border: 0;
  background-color: inherit;
  margin: -47px auto 0; /* positions button for mobile */
  @media (min-width: $break-medium) {
    margin: 47px auto 0; /* adjusts top margin to account for absolute position of button for non-mobile */
  }

  &:focus {
    outline: none;

    &:before {
      @include focusStyles();
    }
  }

  &:focus:hover {
    outline: none;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.image-gallery__outer {
  position: relative;
  img {
    width: 100%;
  }
}
.image-gallery__inner {
  padding: 24px 25px 20px 165px;
  margin: 0 auto;
  width: 90%;
  @media (min-width: $break-medium) {
    max-width: 390px;
  }
  &:before,
  &:after {
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
    width: 98px;
    height: 98px;
    @media (min-width: $break-medium) {
      width: 98px;
      height: 98px;
      left: 22px;

    }
    @media (min-width: $break-large) {

    }

    @include largeStylesExcludeInside {
      width: 98px;
      height: 98px;

    }
  }
  .image-gallery--inner--intro {
    &:before {
      left: 8.5rem;
      @include largeStylesExcludeInside {
        left: 8.5rem;

      }
    }
  }
}

.image-gallery__inner:before {
  background-image: url(../assets/icons/icons_gallery.svg);
}

.image-gallery__inner:after {
  background-image: url(../assets/icons/icons_gallery.svg);
}
.image-gallery__inner--icon {
  content: '';
  width: 1px;
  position: absolute;
  background: $color-navy;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60%;
  top: 50%;
  transform: translateY(-50%);
  left: 8.5rem;
  @media (min-width: $break-medium) {
    /*left: 6rem;*/
  }

  @include largeStylesExcludeInside {
    /*left: 7.5rem;*/

  }
  &:hover {
    background: $color-navy;
  }
}

.image-gallery__slides {
  display: none;

  .image-gallery__slides__slide {
    height: calc(100vh - 56px);
    margin-top: 56px;
    width: 100vw;
    display: flex !important; // override slick
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $break-medium) {
      height: 57vw;
      max-height: 100vh;
      margin-top: 0;
    }

    @media (min-width: $break-large) {
      height: 50vw;
    }

    @media (min-width: $break-x-large) {
      height: 600px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
  }
}

.image-gallery__slides__slide--image {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.image-gallery__slides__slide--caption {
  display: block;
  font-size: rem(14);
  align-self: flex-end;
  width: 100%;
  background: $color-white;
  padding: 10px 20px;

  @media (min-width: $break-medium) {
    font-size: rem(17);
    padding: 16px 170px 16px 20px;
  }
}

.image-gallery__slides__slide--counter {
  font-size: rem(14);
  font-weight: 700;
  position: absolute;
  top: 18px;
  left: 110px;
  z-index: 11;

  @media (min-width: $break-medium) {
    left: auto;
    top: auto;
    right: 110px;
    bottom: 18px;
  }
}

#colorbox.gallery .image-gallery__slides {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: $color-black;

  &:before {
    content: "";
    position: absolute;
    background: $color-white;
    height: 56px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;

    @media (min-width: $break-medium) {
      content: none;
    }
  }

  @media (min-width: $break-medium) {
    height: 57vw;
    max-height: 100vh;
    width: calc(100vw - 100px);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  @media (min-width: $break-large) {
    height: 50vw;
    width: 80.5vw;
  }

  @media (min-width: $break-x-large) {
    height: 600px;
    width: 965px;
  }
}

#colorbox.gallery {
  background: $color-black;

  @media (min-width: $break-medium) {
    height: 57vw !important;
    width: calc(100vw - 100px) !important;
    top: 50vh !important;
    left: 50vw !important;
    max-height: 100vh;
    transform: translateX(-50%) translateY(-50%);
  }

  @media (min-width: $break-large) {
    height: 50vw !important;
    width: 80.5vw !important;
  }

  @media (min-width: $break-x-large) {
    height: 600px !important;
    width: 965px !important;
  }
}

.slick-slide {
  &.fade-out {
    transition-delay: 500ms !important;
    .image-gallery__slides__slide--image {
      opacity: 0;
      transition: all 300ms 200ms;
    }

    .image-gallery__slides__slide--caption {
      opacity: 0;
      transition: all 300ms;
    }

    &.fade-in {
      transition-delay: 500ms !important;
      .image-gallery__slides__slide--image {
        opacity: 1;
        transition: all 300ms;
      }

      .image-gallery__slides__slide--caption {
        opacity: 1;
        transition: all 300ms 200ms;
      }
    }
  }
}

#colorbox.gallery #cboxClose {
  position: fixed;
  width: 36px;
  height: 36px;
  background-size: 32px;

  @media (max-width: $break-medium - 1) {
    outline-color: $color-grey4;
  }
}

.slick-arrow {
  position: absolute;
  top: 10px;
  border: 0;
  z-index: 10;

  @include carousel-arrow();
  background-color: $color-lantern;
  border: solid 1px $color-lantern;

  &:hover {
    background: url(../assets/icons/icons_arrow_blue.svg);
    background-color: $color-chiffon;
  }

  @media (min-width: $break-medium) {
    top: auto;
    bottom: 10px;
  }
}

.slick-prev {
  left: 10px;
  transform: rotate(180deg);

  @media (min-width: $break-medium) {
    left: auto;
    right: 55px;
  }
}

.slick-next {
  left: 55px;

  @media (min-width: $break-medium) {
    left: auto;
    right: 10px;
  }
}
