.homepage-feature-story {
  @include largeStylesExcludeInside {
    @include full-width();

    .homepage-feature-story__inner {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 80px;
    }
  }
  background-color: $color-feather;
  padding: 44px;
  margin: 0 -25px 2.75em;
  @media (min-width: $break-medium) {
    padding: 80px 44px;
    margin: 0 -50px 2.75em;
  }
  @media (min-width: $break-large) {
    padding: 80px 0px;
  }


  &__inner--wrap {
    background-color: #fff; /* */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: $break-medium) {
      flex-direction: row;
    }
  }

  h2 {
    margin: 0 0 18px 0;
    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }
  }
  &__heading {
    @include postHeadingDecorativeUnderline();
    &:after {
      margin: 20px 0;
    }
  }

  &__intro {
    @include paragraph-intro();

    margin-bottom: 1em;
    line-height: 1.38;
  }

  &__col-1 {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
    @include largeStylesExcludeInside {
      padding: 0 40px 60px 66px;
      width: 50%;
    }

    @media (min-width: $break-medium) {
      flex: 50%;

      >div:first-child {
        padding-right: 12.5px;
      }

      >div:last-child {
        padding-left: 12.5px;

        @include largeStylesExcludeInside {
          padding: 0;
        }
      }
    }
    @media (min-width: $break-large) {
      flex: 50%;
    }

    &--cta {
      .field--name-field-p-fhstory-cta a {
        @include cta-button-primary();

        @media (min-width: $break-medium) {
          margin: 0;
        }
      }
      @include largeStylesExcludeInside {
        margin-top: 30px;
      }
    }
  }

  .homepage-feature-story__details {
    margin-top: 36px;
    @include largeStylesExcludeInside {
      margin-top: 36px;

    }
    &--title {
      @include detailsHeading();
    }
    &--link {
      margin-top: 32px;
    }
    &--desc {
       margin-bottom: 20px;
       p {
         margin-top: 0.6em;
       }
     }
  }

  &__details--link,
  .field--name-field-p-fhstory-alink {
    a {
      @include cta-arrow(sm);
      @include hpFeatureLinks();
      line-height: 26px;
      margin-bottom: 10px;
      &:after {
        margin: 0.75em 0 0 3px;
      }
    }
  }

  &__story {
    padding: 5% 8%;
    background: $color-lantern;
    position: relative;
    text-align: center;

    @include largeStylesExcludeInside {
      width: 50%;
    }
    @media (min-width: $break-medium) {
      flex: 50%;
    }
    @media (min-width: $break-large) {
      flex: 50%;
    }

    /* diamond icon and line */
    &--icon {
      font-size: rem(17);
      font-weight: 700;
      padding: 0 0 25px;
      margin: 0 0 16px;
      display: inline-flex;
      border-bottom: 1px solid $color-chiffon;
      position: relative;
      width: 100%;

      @media (min-width: $break-medium) {
        border-bottom: 2px solid $color-chiffon;
        padding: 0 0 25px;
        margin: 0 0 16px;

      }

      &:before {
        content: "";
        position: absolute;
        bottom: -32px;
        left: 40%;
        width: 75px;
        height: 54px;
       /* transform: translateX(-50%); */
        background: $color-lantern;

        @media (min-width: $break-medium) {
          width: 4.75rem;
          left: 38%;
        }
      }

      &:after {
        border: 3px solid $color-chiffon;
        background-size: auto;
        background-size: contain;
        margin: 2.3rem 0 0 2px;
        transform: translate(50%, -100%) rotate(45deg);
        content: "";
        left: 43%;
        width: 20px;
        height: 20px;
        position: absolute;

        @media (min-width: $break-medium) {
          bottom: -38px;
          left: 41.5%;
        }
        @media (min-width: $break-large) {

        }
      }
    }
    /* quote text */
    &--quote {
      font-family: $font-turnip;
      font-size: rem(21);
      font-weight: 390;
      font-style: italic;
      color: $color-navy;
      line-height: rem(24);
      text-align: center;
      margin: 16px 0 0 0;
      opacity: 0;
      transition: all 300ms;

      &.inview {
        opacity: 1;
      }

      p {
        padding: 10px 0;
        margin: 0;
      }
    }
    /* quote name */
    &--name {
      font-family: $font-dunbar;
      font-size: rem(12);
      font-weight: 500;
      letter-spacing: 0.4px;
      line-height: rem(14);
      padding-bottom: 20px;
    }
    /* image */
    &--img {
      width: rem(215);
      height: rem(325);
      align-self: stretch;
      flex-shrink: 0;
      margin: 0 auto 10px;

      @media (min-width: $break-medium) {
        /*   margin: 50px -30px 0; */
      }

      @include largeStylesExcludeInside {
        /*   margin: 0 -45px; */
      }

      img {
        /* width: 100%; */
        height: 100%;
        border-radius: 50%;
        width: fit-content;
        object-fit: cover;
      }
    }
    /* story-title */
    &--title {
      margin: 30px 0;
    }
    /* cta */
    &--cta {
      a {
        @include cta-button-secondary();
      }

    }
  }
}
