.home-ftmd {
 /* border-top: 35px solid $color-grey1;*/
  padding: 0 20px 0;
  margin: 0 -20px 2.75em;
  clear: both;
  z-index: 1000;

  @media (min-width: $break-medium) {
    border: 0;
    margin: 0 0 4.5em 0;
    padding: 0;
  }

  @include largeStylesExcludeInside {
    margin-bottom: 6.3em;
  }

  blockquote {
    padding: 20px;
    margin-top: 0;
    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }
  }

  &__container {
    @media (min-width: $break-medium) {
      display: flex;
      flex-wrap: wrap;

      &.home-ftmd__media-wrap--Left {
        @include largeStylesExcludeInside {
          flex-direction: row-reverse;
        }

        .home-ftmd__item {
          @include largeStylesExcludeInside {
            right: auto;

            blockquote {
              margin: 0;
            }
          }
        }

        .home-ftmd__alink {
          @include largeStylesExcludeInside {
            padding-right: 80px;
          }
        }

        .home-ftmd__content-wrap {
          @include largeStylesExcludeInside {
            padding-right: 0;
            padding-left: 55px;
          }
        }

        .home-ftmd__details-wrap {
          @include largeStylesExcludeInside {
            margin-top: 41px;
          }
        }

        .field--name-field-p-fhmed-img {
          @include largeStylesExcludeInside {
            margin-left: 90px;
            margin-right: 0;
          }
        }
      }
    }
  }

  @include largeStylesExcludeInside {
    @include full-width();

    padding: 0 75px;
    max-width: $content-max;
    margin-left: 0;
    transform: translateX(-50%);
  }

  h2 {
    margin: 0 0 18px 0;
  /*  line-height: 1; */

    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }

    @include postHeadingDecorativeUnderline();

    @include largeStylesExcludeInside {
      margin-top: rem(55);
    }
  }

  &__content-wrap {
    margin-bottom: 2em;
    @media (min-width: $break-medium) {
      width: 50%;
      padding-right: 35px;
      margin-bottom: 2.7em;
    }

    @include largeStylesExcludeInside {
      width: 388px;
      padding-right: 55px;
      margin-bottom: 0;
    }
  }

  &__details-wrap {
    @media (min-width: $break-medium) {
      width: 50%;
    }

    @include largeStylesExcludeInside {
      order: 3;
    }
  }

  &__intro {
    @include paragraph-intro();

    margin-bottom: 1em;
    line-height: 1.38;
  }

  &__cta {
    margin-top: 1em;
    a {
      margin-top: 0;
      @include cta-button-primary();

      @media (min-width: $break-medium) {
        margin-top: 0;
      }
    }

    .field__item:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }

  &__media-wrap {
    @include largeStylesExcludeInside {
      width: calc(100% - 388px);
    }

    img {
      width: 100%;
    }
  }

  &__mlist-title {
    @include detailsHeading();
  }

  &__details-wrap {
    margin-bottom: 2em;

    @media (min-width: $break-medium) {
      margin-bottom: 2.7em;
    }

    @include largeStylesExcludeInside {
      width: 57.5%;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  &__alink {
    margin-top: 1.45em;

    @include largeStylesExcludeInside {
      margin: 0;
      float: left;
      width: 45%;
      padding-right: 30px;
    }
  }

  &__mnlst {
    @include largeStylesExcludeInside {
      float: left;
      width: 50%;
      margin-right: 5%;
    }
  }

  .field--name-field-p-fhome-mlink {
    margin-bottom: 0.6em;
  }
}


.home-ftmd__content-wrap + .home-ftmd__media-wrap .home-ftmd__item {
  margin-bottom: 0 !important;
}

.paragraph.mnlst_item {
  margin: 0.3em 0;

  @include largeStylesExcludeInside {
    margin: 0.3em 0;
  }
}

.field--name-field-p-fhome-mlink,
.field--name-field-p-fhmed-alink {

  .field__item:last-child a {
    margin-bottom: 0;
  }
  a {
    @include cta-arrow(sm);
    @include hpFeatureLinks();
    line-height: 26px;
    margin-bottom: 10px;
    &:after {
      margin: 0.75em 0 0 3px;
    }
  }
}

.field--name-field-p-fhmed-img {
  margin: 0 -20px;

  @media (min-width: $break-medium) {
    margin: 0;
    margin-right: 157px;
  }

  @include largeStylesExcludeInside {
    margin-right: 90px;
  }
}

.home-ftmd__item {
  @media (max-width: $break-medium - 1px) {
    margin-top: -30px !important;
  }

  @media (max-width: $break-large - 1px) {
    margin-bottom: 0 !important;
  }

  position: relative;
  z-index: 1;
  opacity: 0;
  transition: all 300ms;

  &.inview {
    opacity: 1;
  }

  .play-video {
    left: 0;
    top: 0;
    width: 100%;
    @media (min-width: $break-medium) {
      min-height: 130px;
      top: 25px;
    }
  }

  @media (min-width: $break-medium) {
    width: 288px;
    float: right;

    .paragraph {
      @include clearfix();
    }
    .paragraph--type--fvid {
      padding-bottom: 15px;
    }
  }



  @include largeStylesExcludeInside {
    //position: absolute;
    //transform: translateY(-50%);
    left: 0;
    width: 334px;
    float: left;
   //margin-top: 0 !important;
  }
}
