.home__carousel {
  @include full-width();
  margin-bottom: 2.75em;

  @media (min-width: $break-medium) {

  }

  @media (min-width: $break-large) {
    min-height: 53.8vw;
    margin-bottom: rem(145);
  }

  img {
    opacity: 0;
    animation: fadeIn 300ms 600ms forwards;

    @media (min-width: $break-medium) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .slick-track {
    @media (min-width: $break-medium) {
      display: flex;
    }
  }

  .home-slide.paragraph {
    margin: 0;
    z-index: 1;

    @media (min-width: $break-medium) {
      min-height: 53.8vw;
      height: auto;
      display: flex;
      align-items: flex-end;
    }

    &.fade-out {
      transition-delay: 500ms !important;
      img {
        opacity: 0;
        transition: all 300ms 200ms;
      }

      .home-slide__inner {
        opacity: 0;
        transition: all 300ms;
      }

      &.fade-in {
        transition-delay: 500ms !important;
        img {
          opacity: 1;
          transition: all 300ms;
        }

        .home-slide__inner {
          opacity: 1;
          transition: all 300ms 200ms;
        }
      }
    }
  }

  .slick-arrow {
    bottom: 20px;
    top: auto;
    left: auto;
    opacity: 0;
    animation: fadeIn 300ms 300ms forwards;

    @media (min-width: $break-medium) {
      bottom: 77px;
      outline-color: $color-white;
    }

    @media (min-width: $break-large) {
      bottom: 115px;
    }

    &.slick-prev {
      right: 65px;
      background-color: transparent;
      border: solid 1px $color-navy;

      &:hover {
        background: url(../assets/icons/icons_arrow_white.svg);
        background-color: $color-navy;
      }

      @media (min-width: $break-medium) {
        left: 360px;
      }

      @media (min-width: $break-large) {
        left: 485px;
      }
    }

    &.slick-next {
      right: 20px;
      background-color: transparent;
      border: solid 1px $color-navy;

      &:hover {
        background: url(../assets/icons/icons_arrow_white.svg);
        background-color: $color-navy;
      }

      @media (min-width: $break-medium) {
        left: 405px;
      }

      @media (min-width: $break-large) {
        left: 530px;
      }
    }
  }
}

.home-slide__inner {
  padding: 20px;

  background-color: $color-lantern;

  @media (min-width: $break-medium) {
    position: relative;
    z-index: 10;
    max-width: 400px;
    min-width: 390px;
    width: 100%;
    margin: 0 0 40px 80px;
    padding: 48px 36px 36px;
  }

  @media (min-width: $break-large) {
    margin: 0 0 80px 80px;
    max-width: 525px;
    min-width: 495px;
  }
}

.home-slide-title {
  color: $color-navy;
  margin-bottom: 0.65em;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 300ms forwards;

  @media (min-width: $break-medium) {
    padding-bottom: 0;
    margin-bottom: 0.4em;
  }

  @media (min-width: $break-large) {
    font-size: rem(60);
    margin-bottom: 0.23em;

    span {
      display: block;
    }
  }
}

.slide_hero__supertitle {
  color: $color-navy;
  font-family: $font-dunbar;
  font-size: rem(12);
  font-weight: 500;
  letter-spacing: 1.75px;
  line-height: rem(18);
  text-transform: uppercase;
  opacity: 0;
  animation: fadeIn 300ms 300ms forwards;

  @media (min-width: $break-medium) {
    font-size: rem(14);
  }
}

.home-slide__play {
  @include cta-button-secondary();

  color: $color-navy;
  border: 0;
  background: $color-wisteria;
  padding-left: 10px;
  opacity: 0;
  animation: fadeIn 300ms 300ms forwards;
  outline-offset: 1px;

  @media (min-width: $break-medium) {
    outline-color: $color-white;
    margin: 0;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-top: -0.2em;
    margin-right: 5px;
    background-image: url(../assets/icons/icons_play_rounded.svg);
    background-size: 100%;

  }

  &:hover {
    color: $color-navy;
    background: $color-chiffon;

  }
}
.home-slide__ctas,
.home-slide-video {
  padding-top: rem(16);
  @media (min-width: $break-medium) {
    padding-top: rem(28);
  }
}
.field--name-field-p-home-slide-cta {
  padding-right: 100px;
}

.field--name-field-p-home-slide-cta a {
  @include cta-button-primary();
  background: $color-chiffon;
  outline-color: $color-grey6;
  outline-offset: 1px;
  opacity: 0;
  animation: fadeIn 300ms 300ms forwards;
  &:hover {
    background: $color-white;
  }
  @media (min-width: $break-medium) {
    outline-color: $color-white;
    margin: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
