.imglist {
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner--wrap {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  /*padding: 20px; THIS IS FOR color background to have some show top/bottom */
  padding: 0; /* this is for NO color background */
  /* margin: 0 -20px 2.75rem; THIS IS FOR color background to stretch to edge */
  /* background-color: $color-feather; THIS IS for color option NOT white */
  @media (min-width: $break-medium) {
    /* padding: 80px 44px; THIS IS FOR color background to have some show top/bottom */
    padding: 0; /* this is for NO color background */
   /* margin: 0 -50px 2.75em; THIS IS FOR color background to stretch to edge */
  }
  @media (min-width: $break-large) {
    /* padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
    padding: 0; /* this is for NO color background */
  }
  /* need to control proper width and behavior for inside theme */

  .inside-bryn-mawr & {
    @media (min-width: $break-medium) {

      margin: 0 0 4.5rem;
      /* padding: 44px; THIS IS FOR color background to have some show top/bottom */
      padding: 0; /* this is for NO color background */

    }
    @media (min-width: $break-large) {


    }
  }



  &__section-title {
    margin: 0;
    @media (min-width: $break-medium) {
    /*   line-height: 1; */
    }
  }
  &__intro {
    @include paragraph-intro();
    @media (min-width: $break-medium) {
      margin: 10px 0 40px;
    }
    @include largeStylesExcludeInside  {
      margin-bottom: 35px;
    }
    > p {
      font-size: rem(18);
      font-weight: 500;
      line-height: rem(24);
    }
  }
  &__items {
    padding-top: 1.875em;
    border-top: 1px solid $color-blaze;
    @media (min-width: $break-medium) {
      padding-top: 0;
    }
    .imglist__item {
      border-bottom: 1px solid $color-border;
   /*   &:last-of-type {
        border-bottom: none;
        .imglist__item  {
          padding-bottom: 0;

          .imglist__cta {
            margin-bottom: 0;

            a {
              margin-bottom: 0;
            }
          }
        }
      } */
    }
  }
  &__item {
    padding: 40px 0;
    @media (min-width: $break-medium) {
      display: flex;
      justify-content: space-between;

    }


  }
  &__item--img-align-right {
    @media (min-width: $break-medium) {
      flex-direction: row-reverse;
      .imglist__img {
        text-align: right;
      }
    }
    .imglist__col {
      &:first-of-type {
        @media (min-width: $break-medium) {
          padding-right: 0;
          padding-left: 20px;
        }
        @include largeStylesExcludeInside  {
          padding-right: 0;
          padding-left: 27.5px;
        }
      }
      &:last-of-type {
        @media (min-width: $break-medium) {
          padding-right: 20px;
          padding-left: 0;
        }
        @include largeStylesExcludeInside  {
          padding-left: 0;
          padding-right: 27.5px;
        }
      }
    }
  }
  &__col {
    @media (min-width: $break-medium) {
      flex-basis: 50%;
    }
    &:first-of-type {
      @media (min-width: $break-medium) {
        padding-right: 20px;
        padding-left: 0;
      }
      @include largeStylesExcludeInside  {
        padding-right: 27.5px;
      }
    }
    &:last-of-type {
      @media (min-width: $break-medium) {
        padding-left: 20px;
        padding-right: 0;
      }
      @include largeStylesExcludeInside  {
        padding-left: 27.5px;
      }
    }
    &--img-wrap {
      @include largeStylesExcludeInside  {
        flex-basis: 50%;
      }
    }
    &--content-wrap {
      @include largeStylesExcludeInside  {
        flex-basis: 50%;
      }
    }
  }
  &__img img {
    width: 100%;
  }
  &__item-title {
    @include postHeadingDecorativeUnderline();
    &:after {
      background: $color-blaze;
      height: 1px;
      width: 64px;
    }
    margin-top: 25px;
    @media (min-width: $break-medium) {
      margin-top: 30px;
    }
    @include largeStylesExcludeInside  {
      margin-top: 40px;
    }
  }
  &__cta {
    margin-top: 7px;
    @media (min-width: $break-medium) {
      margin: 0.5em 0;
    }


    a {
      @include cta-button-secondary();
    }
  }
}
