.imgdetlg {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px;
  position: relative;
  overflow: hidden;

  @media (min-width: $break-medium) {
    padding: 0 50px;
    margin-left: -50px;
    margin-right: -50px;
    /* background-color: $color-chiffon; THIS is for color option chiffon. */
  }

  @media (min-width: $break-medium) {

    .not-inside-bmc &, .no-sec-nav & {
      margin-left: 0;
      @include full-width();
    }
  }

  @media (min-width: $break-large) {
    margin-left: 0px;
    margin-right: 0px;
  }

  @include largeStylesExcludeInside {
    img {
      width: 100%;
    }
  }

  &__item + &__content-wrap {
    @include largeStylesExcludeInside {
      padding-right: 425px;
    }
  }

  &__content-wrap {
    padding: 0 20px 0px;
    background: $color-white;
    margin: 25px 0 0 0;

    @media (min-width: $break-medium) {
      padding: 30px 30px 20px;
      margin: -200px auto 0;
      position: relative;
      max-width: 1200px;
      border: solid 1px $color-stone; /* THIS is for white box to have border for WHITE bkgd, not chiffon */
    }

    @include largeStylesExcludeInside {
      padding: 45px 45px 20px;
      margin: -200px auto 0;
    }
    &.pb-er {
      &-cap {
        @include largeStylesExcludeInside {
          min-height: 250px;
        }
      }
      &-quote {
        @include largeStylesExcludeInside {
          min-height: 445px;
        }
        .imgdetlg__item {
          @media (min-width: $break-medium) {
            margin-bottom: 60px;
          }
        }
      }
      &-stat {
        @include largeStylesExcludeInside {
          min-height: 455px;
        }
      }
      &-vid {
        @include largeStylesExcludeInside {
          min-height: 282px;
        }
      }
    }
  }

  h2 {
    margin-top: 0;
  /*  line-height: 1; */

    @include postHeadingDecorativeUnderline();

    &:after {
      margin-top: 15px;
    }
  }

  &__intro {
    @include intro-fancy();

    p:last-child {
      margin-bottom: 0;
    }
  }

  .field--name-field-p-imgdetlg-img {
    margin: 0 -20px;
    position: relative;

  /*  &:before {
      content: "";
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      height: 404px;
      width: 100vw;
      z-index: -1;
      left: 0;
      background: $color-grey1;

      @media (min-width: $break-medium) {
        height: 130px;
      }
    } */

    @media (min-width: $break-medium) {
      margin: 0 -50px;
    }
  }

  &__item {
    margin-top: -20px;
    position: relative;
    opacity: 0;
    transition: all 300ms;

    &--floated {
      display: none;
    }

    @media (min-width: $break-medium) {
      display: none;

      &--floated {
        display: block;
        width: 288px;
        float: right;
        margin: .3em 20px 20px;
      }
    }

    @include largeStylesExcludeInside {
      &--floated {
        margin: 0 40px 0 0;
        width: 335px;
        position: absolute;
        right: 0;
        top: 45px;
        min-height: 130px;

        .fcap__caption {
          min-height: 130px;
          display: flex;
          align-items: center;
        }
      }
    }

   /* &:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: calc(100% + 30px);
      min-height: 285px;
      transform: translateY(100%);
      width: 100vw;
      z-index: -1;
      left: -20px;
      background: $color-grey1;

      @media (min-width: $break-medium) {
        content: none;
      }
    }*/

    &.inview {
      opacity: 1;
    }

    .paragraph,
    > div {
      width: 100%;
    }

    .paragraph {
      @include clearfix();
    }
  }

  .field--name-field-p-imgdetlg-cta {
    .field__item:last-child {
      a {
        margin-bottom: 0;
      }
    }
  }

  &__cta {
    margin-top: 1em;
    a {
      @include cta-button-primary();
      margin: 1em 0;

      @media (min-width: $break-medium) {
        margin: .5em 0;
      }
    }
  }

  blockquote {
    position: relative;
    margin: 0;
    background: $color-feather;
    width: 100%;

    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }

    &:after {
      border-color: $color-feather transparent transparent transparent;
    }

    .quote__name:before {
      background: $color-feather;

      &:after {
        background: $color-feather;
      }
    }
  }

  .fvid__play {
    position: static;
    transform: translateY(0);
    max-width: 100%;
    &.play-video {
      &:focus {
        outline-color: $color-grey6;
      }
    }
  }

  .fstat {
    width: 100%;
    background: $color-lantern;

    &:before {
      background: $color-lantern;
    }
  }

  .fcap__caption {
    background: $color-coral;
  }
}
