.news-contact {

  @media (min-width: $break-medium) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .news-wrap__more {
    margin-bottom: 0;
  }

  .news-wrap {
    margin-bottom: 2.35em;

    @media (min-width: $break-medium) {
      width: 48.17%;
      margin-bottom: 0;
    }

    @include largeStylesExcludeInside() {
      width: 52%;
    }

    &__section-heading {
      margin-bottom: 0.29em;

      @media (min-width: $break-medium) {
        margin-top: 0;
        line-height: 1;
        margin-bottom: 0.25em;
      }

      @include largeStylesExcludeInside() {
        font-size: rem(50);
        line-height: 1;
        margin-bottom: 0.16em;
      }
    }

    &__items {
      &--view {
        .views-row {
          border-bottom: 1px solid $color-grey2;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &--manual {
        .news-wrap__item {
          border-bottom: 1px solid $color-grey2;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    &__item {
      padding: 1.25em 0;
      font-size: rem(16);
      line-height: 1.1875;

      @include largeStylesExcludeInside() {
        padding: 1.25em 0;
      }
    }

    &__more {
      @include cta-button-primary();
    }
  }

  .news-title-only {
    &__date {
      display: block;
      @include smallSansHeading();

      margin-bottom: 0.3125em;

      @media (min-width: $break-medium) {
        margin-bottom: 0.4375em;
      }
    }

    &__title {
      font-family: $font-berlingske;
      font-size: rem(18);
      font-weight: 700;
      line-height: 1.167;
      margin-top: 0;
      margin-bottom: 0.44em;

      @media (min-width: $break-medium) {
        font-size: rem(21);
        line-height: 1.19;
        margin-bottom: 0.52em;
      }

      @include largeStylesExcludeInside() {
        font-size: rem(24);
        line-height: 1.17;
        margin-bottom: 0.5em;
      }
    }
  }
}