.news-3-up {
  /* Make wider on large screens */
  @include largeStylesExcludeInside {
    @include full-width();
    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  &__section-heading {
    margin-bottom: .2em;
    margin-top: 0;

    @media (min-width: $break-medium) {
      margin-bottom: 24px;
    }
    @include largeStylesExcludeInside {
      margin-bottom: 15px;
    }
  }

  .news-listing--img {
    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }

    @include largeStylesExcludeInside {
      margin-bottom: 0.938em;
    }
  }
  &__intro-wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $break-medium) {
      flex-direction: row;
    }
  }
  .no-intro {
    &__heading {
      width: 100%;
      margin-bottom: 0;

      @media (min-width: $break-medium) {
        margin: 0;
      }

      @include largeStylesExcludeInside {
        margin: 0;
      }
    }
    .news-3-up__more {
      margin-top: 0.8em;
      @media (min-width: $break-medium) {
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: auto;

        .cta--primary {
          margin: 0;
        }
      }
    }
  }
  &__intro {
    @include paragraph-intro();

    @include largeStylesExcludeInside {
      max-width: 90%;
    }

    p {
      @media (min-width: $break-medium) {
        margin: 0;
      }
    }
  }
  &__more {
    align-self: inherit;
    @media (min-width: $break-medium) {
      align-self: flex-end;
      margin-left: auto;
    }
    .cta--primary {
      @include cta-button-primary();

      margin: 0.8em 0 1.5em 0;
      @media (min-width: $break-medium) {
        width: 14em;
        margin: 0 0 0 2em;
      }
    }
  }

  .news-3-up__items-inner--tags,
  .news-3-up__items-inner--manual .field--name-field-p-news3up-manual-items {
    img {
      width: 100%;
    }
    @media (min-width: $break-medium) {
      > .field__item {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      .node__content {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;

        @include largeStylesExcludeInside {
          margin-bottom: 0;
        }
      }
      .news-listing__left {
        width: calc(50% - 22px);
        margin-right: 22px;
      }
      .news-listing__right {
        width: 50%;
      }
      .news-listing__date {
        padding-top: 25px;
      }
    }
    @include largeStylesExcludeInside {
      @include threeCol();
      margin: 0 -13px;


      .news-listing__title {
        margin-bottom: 0;
      }

      > * {
        @media (min-width: $break-medium) {
          width: 50%;
          padding: 0 11.5px;
        }
        @media (min-width: $break-large) {
          width: 33.33%;
          padding: 0 13px;
          margin-bottom: 0;
        }
      }
      .news-listing__left {
        width: 100%;
        margin-right: 0;
      }
      .news-listing__right {
        width: 100%;
      }
      .news-listing__date {
        padding-top: 0;
      }
    }
  }
  &__items,
  &__items-view {
    border-top: 1px solid $color-blaze;
    margin-top: .5em;
    @media (min-width: $break-medium) {
      padding-top: 50px;
      margin-top: 1.5em;
    }
    @include largeStylesExcludeInside {
      margin-top: 28px;
    }
    .field-item,
    .views-row {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.inside-bryn-mawr {
  .news-3-up {
    .news-listing {
      &__title {
        @extend h6;
        @media (min-width: $break-large) {
          font-size: rem(21);
        }
      }
    }
  }
}
