// Add a base margin for all paragraphs for consistency

.paragraph {
  margin-bottom: 2.75em;

  .paragraph {
    // override fpr child paragraphs
    margin-bottom: 0;
  }

  @media (min-width: $break-medium) {
    margin-bottom: 4.5em;
  }

  @include largeStylesExcludeInside {
    margin-bottom: 6.3em;

    .paragraph {
      // override for child paragraphs
      margin-bottom: 0;
    }
  }
}

.paragraph--type--wysiwyg.paragraph {
  *:last-child {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 0;

    a {
      margin-top: 0;
    }
  }

  [data-entity-embed-display="view_mode:media.wysiwyg_horizontal"] {
    max-width: 350px;
  }

  [data-entity-embed-display="view_mode:media.wysiwyg_video_full"] {
    max-width: 621px;
  }
}
/* makes embed standard width on not-inside */
.paragraph--type--embed.paragraph {
  .not-inside-bmc & {
    max-width: 1400px;
    margin: 0 auto 2.76em auto;
    @media (min-width: $break-large) {
      margin: 2.5em 0;
      padding: 0 75px;
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    /* overrides inline-embed-css for negative margins to make legacy-embeds wider. */
  > div > div {
    margin: 0 !important;
    }
  }
}

.block-content--type-in-context-block .paragraph--type--wysiwyg {
  margin-bottom: 2.76em;
  @media (min-width: $break-large) {
    margin-bottom: 3.51em;
  }
  .not-inside-bmc & {
    max-width: 800px;
    margin: 0 auto 2.76em auto;
    @media (min-width: $break-large) {
      margin: 2.5em 0;
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}

.page-node-type-program,
.page-node-type-page {


  // .block-content--type-in-context-block .paragraph--type--wysiwyg {
  //   margin-bottom: 2.76em;
  //   @media (min-width: $break-large) {
  //     margin-bottom: 3.51em;
  //   }
  // }
}

.lits-hours {

  h3 {
    margin-top: 0;
  }
}

.region-content,
.inside-bryn-mawr .region-content {
  margin-bottom: 2.75em;

  @media (min-width: $break-medium) {
    margin-bottom: 4.5em;
  }

  @media (min-width: $break-large) {
    margin-bottom: 6.3em;
  }
}
