.people-list {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();
    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }



  &__section-heading {
    margin: 0;
  }
  &__intro {
    margin: 2px 0 14px;
    @media (min-width: $break-medium) {
      margin-bottom: 16px;
    }
    @include largeStylesExcludeInside {
      margin-bottom: 11px;
    }
    p {
      font-size: rem(18);
    }
  }
  &__items {
    border-top: $color-blaze 1px solid;
    padding-top: rem(30);
    margin-top: rem(30);
  }
  .directory-teaser-ppllist {
    border-bottom: $color-border 1px solid;
    padding: 32px 0;
    position: relative;
    @media (min-width: $break-medium) {
      padding: 36px 0;
    }

    &.has-image {
      @media (min-width: $break-medium) {
        .directory-teaser-ppllist__focus {
          padding-top: 225px;

          @include largeStylesExcludeInside {
            padding-top: 0;
          }
        }

        .directory-teaser-ppllist__image {
          position: absolute;
          left: calc(50% + 36px);
          min-width: 166px;
          @media (min-width: $break-medium) {
            padding-left: 17%;
          }

          @include largeStylesExcludeInside {
            position: static;
            padding-left: 0;
          }
        }
      }
    }
    .node__content {
      display: flex;
      flex-direction: column;
      @media (min-width: $break-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 0 36px
      }
      @include largeStylesExcludeInside {
        grid-template-columns: 33% 10px 23% 20px 23% 15px 15%;
        grid-template-rows: repeat(3, auto);
        grid-gap: 0;
        @media (min-width: 1200px) {
          grid-template-rows: repeat(2, auto);
          grid-template-columns: 32% 25px 25% 25px 200px 77px auto;
        }
      }
    }
    &__image img,
    &__introduction,
    &__focus {
      margin-bottom: 27px;
      @media (min-width: $break-medium) {
        margin-bottom: 0;
      }
      @include largeStylesExcludeInside {
        margin-bottom: 0;
      }
    }
    &__image {
      order: 1;
      @media (min-width: $break-medium) {
        order: 2;
        flex: 50%;
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      @include largeStylesExcludeInside {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-end: 3;
        grid-row-start: 1;
      }
      img {
        width: 180px;
        height: 180px;
        border-radius: 100%;
        object-fit: cover;
        @media (min-width: $break-large) {
          width: 166px;
          height: 166px;
        }
      }
    }
    &__introduction {
      order: 2;
      @media (min-width: $break-medium) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 32px;
      }
      @include largeStylesExcludeInside {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
    &__focus {
      order: 3;
      @media (min-width: $break-medium) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
      }
      @include largeStylesExcludeInside {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
      }
      &-content {
        margin-top: 1em;
      }
    }
    &__contact {
      order: 4;
      > :last-child {
        margin-bottom: 0;
      }
      @media (min-width: $break-medium) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;


      }
      @include largeStylesExcludeInside {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
      }
    }
    &__name {
      @include cta-arrow(lg);
      font-size: rem(21);
      line-height: 1.15;
      display: inline-block;
      margin-top: 0;
      margin-bottom: 11px;
      @media (min-width: $break-medium) {
        font-size: rem(30);
      }
      @include largeStylesExcludeInside {
        font-size: rem(32);
        line-height: 1.1;
      }
      a {
        color: $color-navy;
        text-decoration: none;

        &:hover {
          color: $color-bronze;
        }
      }
      &:after {
        margin: .84rem 0 0 2px;
        @media (min-width: $break-medium) {
          margin: 1.2rem 0 0 2px;
      }
      }
    }
    &__title-note {
      font-style: italic;
      margin-top: 15px;
    }
    &__contact-email,
    &__contact-phone,
    &__contact-building {
      @include contact-icons();
      margin-bottom: 19px;
    }
    &__contact-email {
      &:after {
        background-image: url(../assets/icons/icons_email-outlined.svg);
      }
    }
    &__contact-phone {
      &:after {
        top: -8px;
        background-image: url(../assets/icons/icons_phone.svg);
      }
    }
    &__contact-building {
      &:after {
        top: -8px;
        background-image: url(../assets/icons/icons_directions.svg);
      }
    }
    &__contact-email,
    &__contact-phone {
      margin-bottom: 17px;
    }
    &__contact-email a,
    .small-text {
        font-size: rem(17);
        line-height: rem(22);
    }



    .directory__contact-cv,
    .directory__contact-cv a {
      margin-bottom: 19px;
      @media (min-width: $break-medium) {
        margin-bottom: 0;
      }
    }
    &__image {
      @include largeStylesExcludeInside {
        text-align: right;
      }
    }
  }
}
