.rss-feed {
  @include largeStylesExcludeInside {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: 0; // make sure there's consistent space between heading and blue line
    margin-bottom: 0.8rem;
    border-bottom: $color-blaze 1px solid;
    @media (min-width: $break-medium) {
      margin-top: 0;
    }

    h2 {
      margin-top: 0;
    }
  }
  &__intro {
    margin: .85rem 0;
    @media (min-width: $break-medium) {
      margin-bottom: 16px;
    }
    @include largeStylesExcludeInside {
      margin-bottom: 11px;
    }
    p {
      font-family: $font-proxima;
      font-weight: 500;
      @media (min-width: $break-medium) {
        font-size: rem(21);
      }
    }
  }

  &__items {
    margin: 1rem 0 0;
    .aggregator-item {
      padding: rem(21) 0;
      border-top: $color-stone 1px solid;
    }
    .feed-item-title {
      @extend h6;
      font-size: rem(21);
      margin-top: 0;
      margin-bottom: 0.8em;
      a {
        @include cta-arrow($cta-arrow-size:md);
        padding-right: 0;
        &:hover {
          color: $color-bronze;
        }
      }
      @media (min-width: $break-medium) {
        margin-bottom: -0.2em;
      }

      @include largeStylesExcludeInside {
        margin-bottom: 0;
      }
    }

  }

  &__source-cta {
    margin-top: 1rem;

    a {
      margin: 0 5px 0 0px;
      @include cta-button-secondary();

      @media (min-width: $break-medium) {
        margin-bottom: 0;
      }
    }
  }
}
