.smcallout {
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner--wrap {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  /*padding: 20px; THIS IS FOR color background to have some show top/bottom */
  padding: 0; /* this is for NO color background */
  /* margin: 0 -20px 2.75rem; THIS IS FOR color background to stretch to edge */
  /* background-color: $color-chiffon; THIS IS for color option NOT white */
  @media (min-width: $break-medium) {
    /* padding: 80px 44px; THIS IS FOR color background to have some show top/bottom */
    padding: 0; /* this is for NO color background */
    /* margin: 0 -50px 2.75em; THIS IS FOR color background to stretch to edge */
  }
  @media (min-width: $break-large) {
    /* padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
    padding: 0; /* this is for NO color background */
  }

  /* need to control proper width and behavior for inside theme */
  .inside-bryn-mawr & {
    @media (min-width: $break-medium) {
      /* margin: 0 0 4.5em;
       padding: 44px; THIS IS FOR color background to have some show top/bottom */
      padding: 0; /* this is for NO color background */
    }
  }

  &__inner {
    padding: 23px 30px;
    margin: auto;
    background-color: $color-lantern;

    @media (min-width: $break-medium) {
      padding: 20px 30px 10px;
      text-align: center;
    }
    @include largeStylesExcludeInside {
      padding: 18px 30px 10px;
    }
  }

  &__head {
    text-align: center;
    padding-bottom: 15px;

    @media (min-width: $break-medium) {
      display: inline-block;
      padding-bottom:  6px;
      padding-right: 34px;
      vertical-align: middle;
    }
    @include largeStylesExcludeInside  {
      padding-bottom: 7px;
      padding-right: 29px;
      padding-left: 36px;
    }
  }

  &__section-title {
    font-size: rem(32);
    line-height: 1.2;
    margin: 0;
  }

  &__channels {
    display: flex;
    justify-content: center;

    @media (min-width: $break-medium) {
      display: inline-block;
      vertical-align: middle;
      margin-left: -5px;
    }

    a.sm-callout--facebook:hover {
      background: url(../assets/icons/icons_facebook.svg) no-repeat center;
      background-size: 100%;
    }
    a.sm-callout--instagram:hover {
      background: url(../assets/icons/icons_instagram.svg) no-repeat center;
      background-size: 100%;
    }
    a.sm-callout--twitter:hover {
      background: url(../assets/icons/icons_twitter.svg) no-repeat center;
      background-size: 100%;
    }
    a.sm-callout--linkedin:hover {
      background: url(../assets/icons/icons_linkedin.svg) no-repeat center;
      background-size: 100%;
    }
    a.sm-callout--youtube:hover {
      background: url(../assets/icons/icons_youtube.svg) no-repeat center;
      background-size: 100%;
    }

    a.sm-callout--tiktok:hover {
      background: url(../assets/icons/icons_tiktok.svg) no-repeat center;
      background-size: 100%;
    }
  }

  &__icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    flex-grow: 0;
    flex-shrink: 0;

    @media (min-width: $break-medium) {
      width: 38px;
      height: 38px;
      margin: 0 20px 0 0;
    }
  }
}
.sm-callout--facebook {
  background: url(../assets/icons/icons_facebook_blue.svg) no-repeat center;
  background-size: 100%;
}
.sm-callout--instagram {
   background: url(../assets/icons/icons_instagram_blue.svg) no-repeat center;
   background-size: 100%;
}
.sm-callout--twitter {
  background: url(../assets/icons/icons_twitter_blue.svg) no-repeat center;
  background-size: 100%;
}
.sm-callout--linkedin {
  background: url(../assets/icons/icons_linkedin_blue.svg) no-repeat center;
  background-size: 100%;
}
.sm-callout--youtube {
  background: url(../assets/icons/icons_youtube_blue.svg) no-repeat center;
  background-size: 100%;
}

.sm-callout--tiktok {
  background: url(../assets/icons/icons_tiktok_blue.svg) no-repeat center;
  background-size: 100%;
}

.inside-bryn-mawr {
  .smcallout__section-title {
    font-size: rem(32);
  }
}
