.slistlg {
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  /*padding: 20px; THIS IS FOR color background to have some show top/bottom */
  padding: 0; /* this is for NO color background */
  /* margin: 0 -20px 2.75rem; THIS IS FOR color background to stretch to edge */
  /* background-color: $color-chiffon; THIS IS for color option NOT white */
  @media (min-width: $break-medium) {
    /* padding: 80px 44px; THIS IS FOR color background to have some show top/bottom */
    padding: 0; /* this is for NO color background */
    /* margin: 0 -50px 2.75em; THIS IS FOR color background to stretch to edge */
  }
  @media (min-width: $break-large) {
    /* padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
    padding: 0; /* this is for NO color background */
  }

  /* need to control proper width and behavior for inside theme */
  .inside-bryn-mawr & {
    @media (min-width: $break-medium) {
      /*margin: 0 0 4.5em;
       padding: 44px; THIS IS FOR color background to have some show top/bottom */
      padding: 0; /* this is for NO color background */
    }
  }

  .slistlg__section-title {
     padding-bottom: 2rem; // make sure there's consistent space between heading and hairline
     margin-bottom: 0;
     @media (min-width: $break-medium) {
      margin-top: 0;
     }
   }
  .slistlg__items {
    border-top: $color-blaze 1px solid;
    padding-top: rem(11);
    .field__item {
      padding: 1.2rem 0;
      border-bottom: $color-border 1px solid;
      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
      h3 {
        @extend h6;
        margin: 0;
      }
    }
  }
  p {
     margin: 0.5em 0 0; // remove bottom margin so there's consistent padding bottom between variations with and without a paragraph
   }
  a {
    text-decoration: none;
    display: inline-block;

    .slistlg__items--item--title {
      @include cta-arrow($cta-arrow-size:md);
      &:hover {
        color: $color-bronze;
      }
    }
  }
  .slistlg__items--item--title {
    margin: 1rem 0 0;
  }
  p.slistlg__items--item--title {
    font-weight: bold;
  }
}

