.page__body,
.home__body,
.news__body--paras,
.story__flexible-content {
  .special-list-small {
    @include largeStylesExcludeInside {
      @include full-width();

      &__inner {
        max-width: $content-max;
        margin: 0 auto;
        padding: 0 75px;
      }
    }
    /*padding: 20px; THIS IS FOR color background to have some show top/bottom */
    padding: 0; /* this is for NO color background */
    /* margin: 0 -20px 2.75rem; THIS IS FOR color background to stretch to edge */
    /* background-color: $color-chiffon; THIS IS for color option NOT white */
    @media (min-width: $break-medium) {
      /* padding: 80px 44px; THIS IS FOR color background to have some show top/bottom */
      padding: 0; /* this is for NO color background */
      /* margin: 0 -50px 2.75em; THIS IS FOR color background to stretch to edge */
    }
    @media (min-width: $break-large) {
      /* padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
      padding: 0; /* this is for NO color background */
    }

    /* need to control proper width and behavior for inside theme */
    .inside-bryn-mawr & {
      @media (min-width: $break-medium) {
        /*margin: 0 0 4.5em;
         padding: 44px; THIS IS FOR color background to have some show top/bottom */
        padding: 0; /* this is for NO color background */
      }
    }
  }
}

.special-list-small {

  .special-list-small__section-title {
    padding-bottom: 1.5rem; // make sure there's consistent space between heading and blue line
    margin: 0;
  }
  .special-list-small__list {
    border-top: $color-blaze 1px solid;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-top: 5px;
    @media (min-width: $break-medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 0 30px;
    }
  }
  .special-list-small__list--item {

    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    border-bottom: $color-border 1px solid;
    @media (min-width: $break-large) {

    }
    a {
      font-size: rem(17);
      line-height: rem(22);
      padding: 0.73em 0 0.63em;
      font-weight: 500;
      text-decoration: none;
      color: $color-navy;
      @include cta-arrow($cta-arrow-size:md);
      display: inline-block;
      &:hover {
        color: $color-bronze;
      }
      &:after {
        margin-top: 0.75em;
      }

      @media (min-width: $break-large) {
        &:after {
          margin-top: 0.7em;
        }
      }
    }
    span {
      font-size: rem(17);
      line-height: 2.3em;
      font-weight: 500;
    }
  }
}

.no-sec-nav .page__intro--quicklinks {
  @media (min-width: $break-large) {
    margin-top: 10px;
    width: 49%;
  }
}

.page__intro-links {

  @media (min-width: $break-large) {
    max-width: $content-max;
  }

  &:after {
    content: none !important;
  }

  @media (min-width: $break-large) {
    .no-sec-nav & {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 75px;
      position: relative;
      display: flex;
    }
  }

  .page__intro--quicklinks {
    flex-grow: 1;
    @media (min-width: $break-large) {
      min-width: 50%;
    }
    .special-list-small {

      h2 {
        margin-top: 0.3rem;
      }
    }
  }

  .page__intro {
    border: 0;
    padding-bottom: 0;

    @media (min-width: $break-medium) {
      padding-bottom: 0;
    }

    p {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    >:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $break-large) {
      .no-sec-nav & {
        width: auto;
        padding-right: 65px;
        left: auto;
        margin-left: 0;
        padding-top: 0;
      }
    }
  }
}

.page__intro {
  margin-bottom: 47px;

  @media (min-width: $break-medium) {
    margin-bottom: 76.5px;
  }

  @include largeStylesExcludeInside {
    margin-bottom: 107px;
  }
}

.page-node-type-page {
  .content__page-header__inner {
    &.quick-links {
      @media (min-width: $break-large) {
        max-width: $content-max;
        margin: 0 auto 1.25em;
      }
    }
  }
}
