.story-3-up {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();
    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }
  &__intro-wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $break-medium) {
      flex-direction: row;
    }
  }
  &__intro {
    @include paragraph-intro();

    @media (min-width: $break-large) {
      max-width: 90%;
    }

    p {
      @media (min-width: $break-medium) {
        margin: 0;
      }
    }
  }
  &__more {
    align-self: inherit;
    @media (min-width: $break-medium) {
      align-self: flex-end;
      margin-left: auto;
    }
    .cta--primary {
      @include cta-button-primary();

      margin: 0.8em 0 1.5em 0;
      @media (min-width: $break-medium) {
        width: 14em;
        margin: 0 0 0 2em;
      }
    }
  }
  // .news-3-up__items-inner--tags,
  //  .news-3-up__items-inner--manual .field--name-field-p-news3up-manual-items
  //.field--name-field-p-story3up-manual,
  .story-3-up__items-inner--tags,
  .story-3-up__items-inner--manual .field--name-field-p-story3up-manual {
    img {
      width: 100%;
    }
    .has-link a {
      margin-bottom: 0
    }
    @include threeCol();
    > .field__item,
    > .node--view-mode-teaser-3-up {
      margin-bottom: 30px;

      @include largeStylesExcludeInside {
        margin-bottom: 0;
      }

      &:last-child {
        margin: 0;
      }
      @media (min-width: $break-medium) {
        position: relative;
      }
    }
  }
  &__items,
  &__items-view {
    border-top: 1px solid $color-blaze;
    margin-top: 25px;
    padding-top: 30px;
    @include largeStylesExcludeInside {
      padding-top: 40px;
    }
    @include largeStylesExcludeInside {
      margin-top: 28px;
    }
    .field-item,
    .views-row {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
