.story-1-up {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();

    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }

  /* background-color: $color-feather;  THIS IS for color option NOT white */
  /* padding: 80px 0px; THIS IS FOR color background to have some show top/bottom */
  padding: 0;  /*this is for NO color background */

  &__inner--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
   /* padding: 80px 0;*/
    flex-direction: column;
    flex: 1 auto;
    @media (min-width: $break-medium) {
      flex-flow: row wrap;
    }
  }

/* making .story-1-up__img be the img container... no need for __left */
  &__img {
    @media (min-width: $break-medium) {
      flex: 51%;
      padding-right: 80px;
      order: 1;

    }
    /* need to control proper width and behavior for inside theme */
    @media (min-width: $break-large) {
      .inside-bryn-mawr & {
        flex: 51%;
        padding-right: 80px;
        order: 1;
      }
    }
    @media (min-width: $break-large-plus) {
      order:1;
      flex: 1 0 0
    }
    align-self: center;
    flex-shrink: 0;
    height: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__content--wrap {
    text-align: center;
    @media (min-width: $break-medium) {
      flex: 49%;
      align-self: flex-start;
      display: contents;
      flex-direction: unset;

    }
    /* need to control proper width and behavior for inside theme */
    @media (min-width: $break-large) {
      .inside-bryn-mawr & {
        flex: 49%;
        align-self: flex-start;
        display: contents;
        flex-direction: unset;
      }
    }
    @media (min-width: $break-large-plus) {
      order: 2;
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    @media (min-width: $break-medium) {
      flex: 49%;
      align-self: flex-start;
      order: 2;
      display: flow;
      flex: 2 0 0;
    }
    /* need to control proper width and behavior for inside theme */
    @media (min-width: $break-large) {
      .inside-bryn-mawr & {
        flex: 49%;
        align-self: flex-start;
        order: 2;
        display: flow;
        flex: 2 0 0;
      }
    }
  }

  &__title {
    font-size: rem(21);
    margin-top: 1rem;
    margin-bottom: 0.57em;

    @media (min-width: $break-medium) {
      font-size: rem(30);
      margin-top: 0;
      margin-bottom: 20px;
    }

    @media (min-width: $break-large) {
      font-size: rem(40);
    }
  }

  &__subtitle {
    font-size: rem(17);
    line-height: rem(22);
    margin-bottom: 1.36em;

    @media (min-width: $break-medium) {
      margin-bottom: 20px;
    }
  }

  &__quote {
    padding: 26px 0 0;
    @media (min-width: $break-medium) {
      order: 3;
    }

    &--blockquote {
      font-family: $font-ivymode;
      color: $color-bronze;
      font-size: rem(24);
      font-weight: 400;
      font-style: italic;
      line-height: rem(36);
      letter-spacing: 0.15px;
      margin: 0;
      padding: 0;
      position: relative;
      background: transparent;
      width: 100%;
    /*  @media (min-width: $break-medium) {
        font-size: rem(24);
      }
      @media (min-width: $break-large) {
        font-size: rem(36);
      }*/


      &::after {
        transform: rotateX(180deg);
        top: -37px;

        @media (min-width: $break-medium) {
          transform: none;
          top: unset;
        }

        @include largeStylesExcludeInside() {
          transform: rotateX(180deg);
          top: -37px;
        }
      }
    }
  }

  &__cta a {
    @include cta-button-secondary();
    &:focus {
      @include focusStyles();
    }
  }
}
