.timeline * {
  box-sizing: inherit;
}
.timeline {
  padding: 10px 16px; /*THIS IS FOR color background to have some show */
  margin: 0 -20px 2.75rem;
  background-color: $color-chiffon;

  @media (min-width: $break-medium) {
    padding: 40px 50px;/*THIS IS FOR color background to have some show */
    margin: 0 -50px 4.5rem;
  }
  @media (min-width: $break-large) {
    padding: 50px 100px; /*THIS IS FOR color background to have some show */
  }

  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();
    margin-bottom: 6.3em;
    &__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
  }



  /* need to control proper width and behavior for inside theme */
  .inside-bryn-mawr & {
    margin: 0 -20px 2.75rem;
  }
  @media (min-width: $break-medium) {
    .inside-bryn-mawr & {
      margin: 0 0 4.5em 0;
    }
  }

  /* styles for heading and intro of timeline flex component */
  &__heading {
    border-bottom: $color-bronze 1px solid;
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
  &__intro {
    @include paragraph-intro();
  }
/* begin actual timeline display */
  &__items-wrap {
    position: relative;
    margin-top: rem(16);
    @media (min-width: $break-medium) {
      margin-top: rem(72);
    }

    /* The actual timeline (the vertical ruler) */
    &:before {
      background-color: $color-stone;
      bottom: 0;
      content: "";
      left: 12px;
      margin-left: -2px;
      position: absolute;
      top: 0;
      width: 1px;
      z-index: 1;
      @media (min-width: $break-medium) {
        left: 50%;
      }
    }
  }

  &__item-pos {
    /* sets padding for mobile between vertical timeline and item */
    padding-left: 3.25em;
    @media (min-width: $break-medium) {
      padding-left: 0;
    }
  }

  /* for fill and border of timeline item container */
  &__item {
    opacity: 0;
    transition: all 300ms;
    background-color: $color-white;
    border-top: solid 40px $color-lantern;
    color: $color-navy;
    display: block;
    padding: 15px 36px 36px 36px;
    position: relative;
    min-width: 237px;

    /* for scroll-animation */
    &.inview {
      opacity: 1;
    }

    &--title {
      margin-top: .5em;
    }
    &--body {
      font-size: rem(17);
    }
    &--image {
      margin: 1.2rem 0;
    }
    /* adds secondary CTA button style */
    &--cta {
      margin-top: 7px;
      @media (min-width: $break-medium) {
        margin: 1.125em 0 0.4em;
        text-align: center;
      }
      a {
        @include cta-button-secondary();
      }
    }
  }
  /* general sizing for timeline items container, regardless of side */
    &__item-pos--left,
    &__item-pos--right {
      font-size: 1rem;
      padding: 0 1.2rem 0.625rem 0;
      position: relative;
      width: 100%;
      z-index: 2;
      margin-bottom: 20px;

      /* The space-in-the-vert-line behind the diamonds on the timeline */
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 50px;
        height: 75px;
        background: $color-chiffon;
      }

      /* The diamonds on the timeline */
      &:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 3px solid $color-bronze;
        background-size: auto;
        background-size: contain;
        background-color: $color-chiffon;
        top: 50%;
        z-index: 1;
        transform: translate(-15%, -50%) rotate(45deg);
      }
      /* sets item width for desktop */
      @media (min-width: $break-medium) {
        width: 50%;
        padding: 0 2.5rem 0.625rem 0;
        margin-bottom: -9%;
        &:last-of-type {
          margin-bottom:20px;
        }
      }
      @media (min-width: $break-large) {
        margin-bottom: -9%;
        &:last-of-type {
          margin-bottom:20px;
        }
      }
    }
  /* Place the container to the left */
    &__item-pos--left {
      left: 0;
      /* The space-in-the-vert-line behind the diamonds on the timeline */
      &:before {
        left: -50px;
        right: unset;
        transform: translate(-40%, -50%);

        @media (min-width: $break-medium) {
          right: 0;
          left: unset;
          transform: translate(44%, -50%);
        }
      }
      /* Fix the diamond for containers on the left side */
      &:after {
        left: -3.25rem;
        right: unset;
        @media (min-width: $break-medium) {
          right: -11.5px;
          left: unset;
        }
      }
    }
  /* Place the container to the right */
    &__item-pos--right {
      left: unset;
      /* The space-in-the-vert-line behind the diamonds on the timeline */
      &:before {
        left: -42px;
        transform: translate(-57%, -50%);
      }
      /* sets item placement for desktop */
      @media (min-width: $break-medium) {
        left: 50%;
        padding: 0.625rem 0 0.625rem 2.5rem;
        /* The space-in-the-vert-line behind the diamonds on the timeline */
        &:before {
          left: 0;
          transform: translate(-57%, -50%);
        }
      }

      /* Fix the diamond for containers on the right side */
      &:after {
        left: -3.25rem;
        @media (min-width: $break-medium) {
          left: -9.5px;
        }
      }
    }
}
