/* Hide / Show tab's content  */
.verticalTab {
  // Make wider on large screens
  @include largeStylesExcludeInside {
    @include full-width();

    .vert_tab__inner {
      max-width: $content-max;
      margin: 0 auto;
      padding: 0 75px;
    }
    .vert_tab__items {
      max-width: $content-max;
    }
    .tabs-wrap {
      @media (min-width: $break-medium) {
        width: 40%;
      }
    }
  }
  .vert_tab__header {
    margin-bottom: rem(30);
    padding-bottom: rem(30);
    border-bottom: solid 1px $color-blaze;
  }
  .vert_tab__intro {
    margin-bottom: rem(40);
    @include paragraph-intro();
    p {
      @include largeStylesExcludeInside {
        margin: 12px 0;
      }
    }
  }
  .vert_tab__items {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin-top: 27px;
    .tabs-wrap {
      background-color: $color-black;
      padding: 0px;
      position: relative;
      display: none;

      ul.tabs-list {
        display: none;
        @media (min-width: $break-medium) {
          padding: 0;
          margin: 1em 0 0 1em;
          width: 100%;
          min-width: 240px;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          li {
            margin: 0;
            display: block;
            button {
              font-size: rem(17);
              font-weight: 700;
              line-height: rem(22);
              background: transparent;
              border: none;
              color: $color-white;
              width: 100%;
              position: relative;
              text-align: left;
              padding: 15px 10px;

              &:hover,
              &:focus,
              &.active {
                font-weight: 700;
                background: $color-lantern;
                color: $color-navy;
              }
              &:focus {
                outline: solid 2px $color-mint !important;
              }
            }
          }
        }
        @media (min-width: $break-large) {
          margin: 2em 0 0 2em;
        }
      } //end .tabs-list

      @media (min-width: $break-medium) {
        padding: 10px 0 10px 10px;
        display: flex;
        flex-grow: 0;
        width: 45%;
        figure {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            right: 0;
            z-index: 0;
            opacity: 0.5;
            background: $color-black;
           // opacity: 0.9;
           // background: linear-gradient(90deg, $color-black 0%, rgba(0,0,0,0) 100%);
          }
        }
      }
    } // end .tabs-wrap

    .tabs-details {
      display: block;
      margin: 0 auto;
      width: 100%;
      // border-top: none;
      border-radius: 0;
      border: solid 1px $color-border;
      .tab_drawer_heading {
        display: block;
        background-color: $color-feather;
        color: $color-navy;
        margin: 0;
        font-size: rem(18);
        font-weight: normal;
        padding: 1em 1.5em;
        position: relative;
        text-align: left;
        width: 100%;
        border: solid 1px $color-border;
        &:hover,
        &:focus,
        &.d_active {
          background: $color-lantern;
          border: solid $color-border 1px;
          color: $color-navy;
        }
        &:after {
          content: "";
          position: absolute;
          right: 5%;
          width: 12px;
          height: 12px;
          transition: all 300ms;
          border-right: 1.5px solid $color-navy;
          border-top: 1.5px solid $color-navy;
          transform: translate(-50%, -50%) rotate(135deg);
          top: 35%;
        }
        &.d_active,
        &:focus {
          &:after {
            top: 50%;
            transform: translate(-50%, -50%) rotate(315deg);
          }
        }
        @media (min-width: $break-medium) {
          display: none;
        }
      } // END .tab_drawer_heading

      >.vert-tab-detail {
        display: none;
      }

      >.vert-tab-detail.visible {
        display: block;
      }
      .vert-tab-detail {
        height:auto;
        padding: 2em;

        @media (min-width: $break-medium) {
          position: relative;
          top: 0;
          left: 0;
          height: 100%;
          padding: 32px 40px 40px;
        }
      } // END .vert-tab-detail

      @media (min-width: $break-medium) {
        margin: 0;
        background: $color-white;
  //      box-shadow: 0 0 15px 0 $color-grey1;
        border: solid 1px $color-border;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        width: 55%;
      }

    } // END .tab-details
  }
}
