/***********
 Bulletin Explore Page View
 *************/

.bulletin-explore {
  @include bulletinTwoCol;
  max-width: 75rem;
  margin: 0 auto !important;
  padding-right: 20px;
  .bulletin-col-wrapper {
    @media (min-width: $breakpoint-medium-768) {
      flex-direction: row;
      width: 100%;
    }
    flex-direction: column;
  }
  .bulletin__col--content {
    flex: 0 0 100%;

    @media (min-width: $breakpoint-medium-768) {
      flex: 0 0 67%;
      margin-right: 4%;
    }
  }
    .bulletin__col--side {
      flex: 0 0 60%;

      @media (min-width: $breakpoint-medium-768) {
        flex: 0 0 23%;
      }
    }
  .bulletin__explore-stories__content {
    /* styles for the exposed filters and apply and reset buttons  */
    .view-filters {
      border-top: 1px solid $z-grey;
      padding: 1em 0;
      .form--inline {
        display: flex;
        flex-direction: column;
        margin-bottom: .5em;
        @media (min-width: $breakpoint-medium-768) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .form-item {
          padding: .5em 1em 0 0;
          float: none;
          @media (min-width: $breakpoint-medium-768) {
            width: 45%;
          }
          @media (min-width: $breakpoint-large-981) {
            width: 27%
          }
          label {
            font-weight: bold;
          }
          div.chosen-container {
            width: 100%!important;
          }
          select {
            font-size: 14px;
            padding: 5px 0;
            width: 100%;
          }
          select:nth-last-child(2) {
            @include element-invisible();
          }
        }

        .form-submit {
          margin-top: rem(35);
          margin-left: 0;
          margin-right: rem(16);
          border: 1px solid #7b7b7b;
          color: #fff;
          text-shadow: #585858 0 -1px 0;
          border-radius: 5px;
          background: #888888;
          font-size: 90%;
          padding: 0.3em 1.2em;
          display: inline-block;
          &:hover {
            background: #7e7e7e;
          }
        }
      }
    }
    /* styles for the content teasers  */
    .views-row {
      border-top: 1px solid $z-grey;
      margin: 1em 0 2em 0;
      padding: 2em 0 0 0;

      .node__content {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-small-480) {
          flex-direction: row;
        }

        .bulletin__tex__col.v__col--img,
        .spotlight__col.spotlight__col--img,
        .bookshelf-cover {
          flex: 0 0 100%;
          @media (min-width: $breakpoint-small-480) {
            flex: 0 0 50%;
          }
          @media (min-width: $breakpoint-large-981) {
            flex: 0 0 50%;
          }

          .bulletin__tex-image,
          .spotlight-image {
            padding: 0 .5em;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .bookshelf-cover-image {
          padding: 0 .5em;
          img {
            width: auto;
          }
        }
        .bulletin__tex__col.bulletin__tex--content,
        .spotlight__col.spotlight__col--content,
        .bookshelf__col.bookshelf__col--content {
          padding: 1em 0 0 0.5em;
          flex: 0 0 100%;
          @media (min-width: $breakpoint-small-480) {
            flex: 0 0 50%;
            padding: 0 0 0 1.5em;
          }
          @media (min-width: $breakpoint-large-981) {
            flex: 0 0 50%;
          }
          h2 {
            margin: 0 0 0.25em;
            font-family: $font-berlingske;
            font-size: 1.7em;
          }
          .bulletin__tex-blurb,
          .spotlight-blurb {
            p {
              margin: .5em 0 .5em 0 !important;
              font-family: $sans;
              font-size: rem(22);
              line-height: 1.5;
            }
          }
          .bulletin__tex__more,
          .spotlight__more,
          .bookshelf__more {
            span {
                font-family: $sans;
                font-size: rem(22);
                font-weight: 600;
                margin-right: 0.2em;
            }
            a {
              font-size: rem(22);
              font-weight: 600;
              font-family: $sans;
            }
            ul {
              display: inline;
              list-style: none;
              padding-inline-start: 0px;
            }
            ul li {
              display: inline;
            }
            ul li:after {
              content: ", ";
            }
            ul li:last-child:after {
              content: "";
            }
          }
        }
      }
    }
    nav.pager {
      .pager__items {
        @include bulletin-view-pager;

        margin-left: -30px;
        padding-left: 2.5%;
        @media (min-width: $breakpoint-xxlarge-1405) {
          margin-left: auto;
          padding-left: 0;
        }
      }
    }
  }
  .bulletin__explore-stories__sidebar {
    @extend %brackets;
    height: fit-content;


    &:before,
    &:after {
      width: 70% !important;
      margin-left: 15%;
    }

    &:before { /* this is the before for sidebar */
      top: -5px;
    }
    &:after {
      bottom: calc(-9px);
      @media (min-width: $breakpoint-medium-768) {
        bottom: calc(-14px);
      }
    }

    /* this is for explore sidebar bracket cta */

    font-family: $sans;
    font-weight: 800;
    line-height: 1.2em;
    background: url(../assets/img/bulletin-arrow-dark.png) no-repeat center 1em;
    font-size: 1.3em;
    padding: 0 2% 1%;
    max-width: 90%;
    margin-left: 8%;


    margin-bottom: 4em;
    margin-top: 0;
    @media (min-width: $breakpoint-small-480) {
      max-width: 60%;
      margin-left: 20%;
    }
    @media (min-width: $breakpoint-medium-768) {
      max-width: 23%;
      margin: 2em 0;
    }


    /* this puts line above views title for each view in explore sidebar */
    .small-label {
      border-top: 1px solid #808080;
      margin: 1em 0 0 0;
      padding: rem(16) 0 rem(6) 0;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.435;
      font-size:rem(20);
    }
    .view {
      padding: .3em;
      .views-row {
        margin-bottom: .75em;
      }
      /* this styles the more link and puts a plus symbol next to it as the default */
      &.view-bulletin-topics .more-link {
       @include more-link;
        a {

          font-size: .75em;
          &:before {
            content: "plus";
            top: -.4em;
            padding-right: .35em;
          }
        }
      }
      /* this styles the more link and puts a less-than symbol next to it for the issues archive only */
      &.view-bulletin-issues .more-link {
        @include more-link;
        a {

          font-size: .75em;
          &:after {
            content: "navigateright";
            top: .05em;
            padding-left: 0.475em;
          }
        }
      }
    }

    /* this places the explore sidebar title of EXPLORE STORIES above the first pane that holds the Archive view */
    .bulletin__explore-stories__label {
      margin-top: 1.2em;
      font-size: 1.5em;
      text-align:center;
      font-family:$font-berlingske;
    }
  }
}
