/*********
Bulletin Past Issues Page View
**********/

/* Bulletin Past Issues Page  sets area for view */
.block-views-blockbulletin-issues-block-1 {
  .view-display-id-block_1 {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    .view-content {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-left: 0;


      /* Bulletin Past Issues Page  sets each view item as a list item */
      .views-row {
        margin-bottom: 2em;
        /* small screen */
        width: 95%;
        min-height: 500px;
        height: auto;
        padding: 1em 0.5em 1em 0.65em;
        /* Bulletin Past Issues Page  breakpoints adjust widths and margins per item to display in a grid-like formation */
        @media (min-width: $breakpoint-small-480) {
          /* md-small screen */
          width: 40%;
          min-height: 350px;
        }
        @media (min-width: $breakpoint-small-width) {
          /* med screen */
          width: 26%;
          min-height: 380px;
        }
        @media (min-width: $breakpoint-large-981) {
          /* large screen */
          padding: 0 1.5em;
          width: 18%;
          min-height: 320px;
          & .views-row-first {
            padding: 0 1em 0 1.5em;
          }
        }
        /* Bulletin Past Issues Page  sets view-item title */
        h3 {
          margin: 0 0 .25em 0;
          line-height: 1.3 !important;
          text-align: center;
        }
        /* Bulletin Past Issues Page  sets view-item image */
        img {
          width: 100%;
          height: auto;
        }
      }
      /* Bulletin Past Issues Page  breakpoints sets left margin for page */
      @media (min-width: $breakpoint-large-width) {
        margin-left:-90px;
      }
      @media (min-width: $breakpoint-medium-768) {
        margin-left:auto;
      }
      @media (min-width: $breakpoint-small-480) {
        margin-left: 20px;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    nav.pager {
      .pager__items {
        @include bulletin-view-pager;

        margin-left: -30px;
        padding-left: 2.5%;
        @media (min-width: $breakpoint-xxlarge-1405) {
          margin-left: auto;
          padding-left: 0;
        }
      }
    }
  }
}
