.event-tagged__header {
  display: flex;
  flex-direction: column;
  @media (min-width: $break-medium) {
    flex-direction: row;
    align-items: center;
  }
  &--tags__cta-button {
    margin-top: 1em;
    @media (min-width: $break-medium) {
      margin-top: 2.5em;
      margin-left: 2.5em;
    }
    @media (min-width: $break-large) {
      margin-top: -0.5em;
    }
    a {
      width: 10em;
    }
  }
}

/* hides sort by, adds Date to sort order label in exposed filter form */
#block-events-tagged {
  #views-exposed-form-events-tagged {
    max-width: $content-max;
    margin: 0 auto;
    .form-item__wrap--select {
      &:after {
        right: 12px;
      }
    }
    .form-item-sort-by {
      display: none;
      visibility: hidden;
    }
    .form-item-sort-order,
    .form-item-items-per-page {
      padding-right: 1em;
      margin-bottom: 1.5em;
      width: 100%;

      .form-select {
        padding: 5px 25px 4px 14px;
        width: 100%;
        appearance: none;
        background-color: $color-white;
        border: 1px solid $color-grey3;
        border-radius: 0;
        font-size: rem(17);

        @media (min-width: $break-large) {
          margin: 0;
        }
      }
      @media (min-width: $break-medium) {
        margin-top: -1.5em;
        width: 300px;
      }
    }
    .form-item-sort-order {
      label {
        &:before {
          content: "Date ";
        }
      }
    }
  }

  .view-rows.tagged {
    padding-top: 0;
    padding-left: 0;
  }
  .card-wrapper__left {
    @media (min-width: $break-medium) {
      max-width: 333px;
    }
  }
}
