.news-tagged__header {
  display: flex;
  flex-direction: column;
  @media (min-width: $break-medium) {
    flex-direction: row;
    align-items: flex-end;
  }
  &--tags__cta-button {
    margin-top: 1em;
    @media (min-width: $break-medium) {
      margin-bottom: .15em;
      margin-left: 2.5em;
    }
    @media (min-width: $break-large) {
      //margin-top: -0.5em;
    }
    a {
      @include cta-button-primary;
      width: 15em;
    }
  }
}
