body,
html {
  scroll-behavior: smooth;
}

.program-finder__hero {
 /* padding-top: 56px; */
  display: flex;
  margin: 0 -20px;
  flex-direction: column-reverse;

  @media (min-width: $break-medium) {
    margin: 0 -50px 0 0;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $break-large) {
    margin: 0 auto;
    max-width: $content-max;
  }

  img {
    height: 104px;
    object-fit: cover;

    @media (min-width: $break-medium) {
      width: 236px;
      height: 270px;
    }

    @media (min-width: $break-large) {
      width: 381px;
      height: 332px;
      margin-right: -75px;
    }
  }

  h1 {
    padding: 0 20px;
    margin-top: 0.75em;
    margin-bottom: 0.35em;
    line-height: 1.14;

    @media (min-width: $break-medium) {
      font-size: rem(42);
      padding: 0 20px 100px 0;
      margin-top: 1.35em;
      max-width: 600px;
      line-height: 1;
    }

    @media (min-width: $break-large) {
      font-size: rem(70);
      max-width: 800px;
      margin-top: 0.95em;
    }
  }

/*  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 56px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background: $color-black;
    z-index: 100;
  } */
}

.program-finder {
  @media (min-width: $break-medium) {
    position: relative;
    top: -100px;
    margin-bottom: -160px;
  }

  @media (min-width: $break-large) {
    top: -102px;
    max-width: $content-max;
    margin: 0 auto -190px;
    padding-top: 1.2em;
  }
}

.open-program-filter {
/*  font-size: rem(13);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 0;
  background: $color-yellow;

  margin-bottom: 1px; */
  position: relative;
  @include cta-button-primary();

  padding: 9px 20px 8px 50px;
  margin: 0 0 .2em auto !important;
  outline-offset: -3px;
  outline-color: $color-white;
  transition: all 300ms;

  &:hover {
  /*  color: $color-yellow;
    background: $color-black; */

    &:after {
      filter: brightness(1);
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 15px;
    width: 22px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    /* filter: brightness(0); */
    background: url(../assets/icons/icons_minus_yellow.svg) no-repeat center / 22px;
  }

  &[aria-expanded="false"]:after {
    background: url(../assets/icons/icons_plus_yellow.svg) no-repeat center / 22px;
  }
}

.program-filter__panels {
  background: rgba($color-feather, 0.9);

  @media (min-width: $break-large) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
  }

  > .program-filter__panel {
    padding: 17px 20px 23px;

    @media (min-width: $break-medium) {
      padding: 30px 30px 23px;
    }

    @media (min-width: $break-large) {
      padding: 32px 45px;
      width: calc(100% - 245px);
    }

    &:nth-child(2) {
      margin: 0;
      border-top: 1px solid $color-border;
      padding: 17px 20px 10px;

      @media (min-width: $break-medium) {
        margin: 10px 0 0;
        padding: 27px 30px 23px;
      }

      @media (min-width: $break-large) {
        width: 245px;
        margin: 0;
        border-top: 0;
        padding: 32px 45px 48px;
        border-left: 1px solid $color-border;
      }
    }
  }

  fieldset {
    margin: 0;
    border: 0;
    width: 100%;
    padding: 0;
  }

  legend {
    @extend label;

    font-size: rem(16);
    float: left;
    width: 100%;
    margin-bottom: 3px;

    @media (min-width: $break-medium) {
      margin-bottom: 5px;
    }
  }

  .program__interests {
    @media (min-width: $break-medium) {
      column-count: 3;
      width: 100%;
      column-gap: 11%;
    }
  }
}

.program-filter__panels__results {
  background: $color-navy;
  color: $color-white;
  padding: 10px 20px 10px 20px;
  margin: 17px -20px -23px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100vw;
  z-index: 5000;

  &.is-stuck {
    @media (max-width: $break-medium - 1) {
      margin: 17px 0 0;
      width: auto;
      padding: 10px 10px 10px 20px;
    }
  }

  @media (min-width: $break-medium) {
    width: 334px;
    float: right;
    margin: -28px 0 -23px;
    padding: 10px 30px 10px 35px;
    position: static;
    bottom: 0;
  }

  @media (min-width: $break-large) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 45px 0 -28px;
  }

  a {
    @include cta-button-primary();

    margin: 0 0 0 auto;
    outline-offset: -3px;
    outline-color: $color-white;
   /* border: 0; */

    @media (min-width: $break-medium) {
      margin: 0 0 0 auto;
    }
  }
}

.program__results-count {
  font-family: $font-dunbar;
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: 0.4px;
  border-bottom: 1px solid $color-blaze;
  margin-bottom: 25px;
  margin-top: 30px;
  padding-bottom: 13px;

  @media (min-width: $break-medium) {
    margin-bottom: 30px;
    margin-top: 55px;
  }

  @media (min-width: $break-large) {
    margin-bottom: 40px;
    margin-top: 43px;
  }
}

.program-finder {
  form {
    position: relative;
    margin-bottom: 30px;
    max-width: 307px;

    input[type="text"] {
      padding: 7px 15px;
    }

    @media (min-width: $break-medium) {
      margin: 0 30px 60px 0;
    }

    @media (min-width: $break-large) {
      max-width: 410px;
      margin-bottom: 38px;
      input[type="text"] {
        max-width: 410px;
        padding: 18px 25px;
      }
    }
  }
  .search-field {
    @media (min-width: $break-large) {
      display: flex;
      align-items: center;

      label {
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }

  input[type="submit"] {
    color: transparent;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 32px;
    width: 32px;
    overflow: hidden;
    background: transparent url(../assets/icons/icons_search_blue.svg) no-repeat center / 100%  ;
    filter: brightness(0);
    border: 0;
    transition: all 300ms;

    &:hover {
      filter: brightness(1);
    }

    &:focus {
      @include focusStyles();
    }

    @media (min-width: $break-medium) {
      bottom: -5px;
    }

    @media (min-width: $break-large) {
      bottom: 6px;
      right: 11px;
    }
  }
}

.program__results {
  @media (min-width: $break-medium) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11px -100px;
  }

  @media (min-width: $break-large) {
    margin: 0 -12px;
    margin: 0 -12px -102px;
  }
}

.program__result {
  margin-bottom: 27px;

  @media (min-width: $break-medium) {
    width: 33.33%;
    padding: 0 11px;
    margin-bottom: 70px;
    position: relative;

    // Implement lines between rows and custom widths
    &:nth-child(3n + 1):after {
      content: "";
      position: absolute;
      top: -30px;
      height: 1px;
      width: calc(300% - 11.5px);
      left: 11.5px;
      background: $color-grey2;
    }

    &:first-child:after {
      content: none;
    }
  }

  @media (min-width: $break-large) {
    width: 25%;
    padding: 0 12px;
    margin-bottom: 90px;

    &:nth-child(3n + 1):after {
      content: none;
    }

    // Implement lines between rows and custom widths
    &:nth-child(4n+1):after {
      content: "";
      position: absolute;
      top: -30px;
      height: 1px;
      width: calc(400% - 23px);
      left: 11.5px;
      background: $color-grey2;
    }

    &:first-child:after {
      content: none;
    }
  }

  img {
    width: 100%;
  }

  a {
    display: block;
    background: transparent;

    &:hover {
      opacity: 0.8;

      h2:after {
        transform: translate(5px, -50%);
      }
    }
  }

  h2 {
    @extend h4;
    @include cta-arrow(md);

    font-size: rem(24);
    margin-top: 0.8em;
    margin-bottom: 0.45em;

    @media (min-width: $break-medium) {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

    @media (min-width: $break-large) {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    &:after {
      margin: 0.73em 0 0 2px;
    }
  }
}

.program__identifier__tooltip {
  display: none;
}

.program__identifier {
  @include tag();

  border: 0;

  &:hover {
    opacity: 0.8;
  }

  &.expanded {
    border-bottom: 2px solid;
    position: relative;

    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -7px;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $color-black transparent transparent transparent;
    }
  }
}

.program__result__types {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.program__identifier__tooltip {
  font-size: rem(14);
  padding: 10px 20px;
  background: $color-feather;
  margin-top: 13px;
}

.program__result__type {
  margin: 4px;

  @media (min-width: $break-medium) {
    margin: 2px 4px;
  }
}

.program__clear {
  @include cta-button-secondary();

  margin: 1.1em 0 0;

  &[disabled] {
    opacity: 0.3;
  }

  @media (min-width: $break-medium) {
    margin-bottom: 3px;
    margin-top: 0.9em;
  }
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
