{#
/**
 * @file
 * Claro's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
  set classes = [
  'page-wrapper',
  page_theme,
  is_featured ? 'has-featured-story',
  page_theme != 'inside-bryn-mawr' ? 'not-inside-bmc' : 'inside-bryn-mawr'
]
%}

{% set sectionName = 'main' %}
{% if page_theme == 'graduate-school-of-social-work-and-social-research' %}
  {% set sectionName = 'socialwork' %}
{% elseif page_theme == 'graduate-school-of-arts-and-sciences' %}
  {% set sectionName = 'gsas' %}
{% elseif page_theme == 'postbaccalaureate-premedical-program' %}
  {% set sectionName = 'postbac' %}
{% endif %}


<div{{ attributes.addClass(classes) }}>
<nav data-section-name="{{sectionName}}" aria-hidden="true" class="hidden"></nav>
  <div class="content-fab-wrapper">

    {% if page.help %}
      <div class="help">
        {{ page.help }}
      </div>
    {% endif %}
    <header class="content-header clearfix">
      <div class="layout-container">
        {{ page.breadcrumb }}
        {{ page.header }}
      </div>
    </header>

    <div class="layout-container">
      {{ page.pre_content }}
      {% if menu_link_id %}
      <main class="page-content clearfix" role="main" data-menu-link-id="{{ menu_link_id }}">
      {% else %}
        <main class="page-content clearfix" role="main">
      {% endif %}
        <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        {{ page.highlighted }}
        {{ page.content_top }}
        {{ page.content }}
        <div class="region-content-bottom-wrapper">
          {{ page.content_bottom }}
        </div>
      </main>

    </div>
  </div>
  <footer class="content-footer clearfix">
    <div class="layout-container">
      {{ page.footer }}
    </div>
  </footer>
</div>
