{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{%
  set classes = [
  'block',
  'contextual-region',
  'block-page-title-block',
  hero_image ? 'has-image',
]
%}
<div id="block-bmc-d9-page-title" {{ attributes.addClass(classes) }}>
  {% if hero_image %}
    <div class="content__page-header--image">
      <picture>
        <source srcset="{{ hero_image.src_lg }}" media="(min-width: 1025px)" />
        <source srcset="{{ hero_image.src_md }}" media="(min-width: 700px)" />
        <source srcset="{{ hero_image.src_sm }}" />
        <img src="{{ hero_image.src_lg }}" alt="{{ hero_image.alt }}" />
      </picture>
      <div class="header__text">
        {{ title_prefix }}
        {% if title %}
          <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
        {% endif %}
        {{ title_suffix }}
      </div>
    </div>
  {% elseif bulletin_featured_image %}
    <div class="content__page-header--image">

      {{ attach_library('bmc_d9/sharethis') }}
      <div class="sharethis-wrapper">
        <div class="sharethis sharethis--bulletin sharethis-inline-share-buttons"></div>
      </div>

      <img
        src="{{ bulletin_featured_image.src }}"
        alt="{{ bulletin_featured_image.alt }}"
        height="{{ bulletin_featured_image.height }}"
        width="{{ bulletin_featured_image.width }}"
      />
      <div class="header__text">
        {{ title_prefix }}
        {% if title %}
          <h1{{ title_attributes.addClass('page-title bulletin-news-title') }}>{{ title }}</h1>
        {% endif %}
        {{ title_suffix }}
        {% if bulletin_feature_image.caption %}
          <span class="content__page-header--image--caption">{{ bulletin_feature_image.caption }}</span>
        {% endif %}
      </div>
    </div>
  {% elseif bulletin_sharethis %}
    <div class="content__page-header">
      <div class="content__page-header__inner">
        {{ attach_library('bmc_d9/sharethis') }}
        <div class="sharethis-wrapper">
          <div class="sharethis sharethis--bulletin sharethis-inline-share-buttons"></div>
        </div>
        {{ title_prefix }}
        {% if title %}
          <h1{{ title_attributes.addClass('page-title bulletin-news-title') }}>
            {{ title }}
          </h1>
        {% endif %}
      </div>
    </div>
  {% elseif event_tags %}
    <div class="content__page-header">
      <div class="content__page-header__inner event-tagged__header">
        {% if title %}
          <h1{{ title_attributes.addClass('page-title') }}>
            {{ title }}
          </h1>
        {% endif %}
        <div class="event-tagged__header--tags__cta-button">
          <a class="cta--button--primary" href="/inside/latest/events">All Events</a>
        </div>
      </div>
    </div>
  {% elseif quick_links_entity_id %}
    {# Output nothing, see node--page.html.twig for quicklinks h1 output #}
  {% elseif news_tagged %}
    <div class="content__page-header">
      <div class="content__page-header__inner news-tagged__header">
      {% if title %}
        <h1{{ title_attributes.addClass('page-title') }}>
          {{ title }}
        </h1>
      {% endif %}
      {% if mkt_tags %}
      <div class="news-tagged__header--tags__cta-button">
        <a class="cta--button--primary" href="/news">All College News</a>
      </div>
      {% elseif gsswsr_tags %}
        <div class="news-tagged__header--tags__cta-button">
          <a class="cta--button--primary" href="/socialwork/news">All GSSWSR News</a>
        </div>
      {% elseif gsas_tags %}
        <div class="news-tagged__header--tags__cta-button">
          <a class="cta--button--primary" href="/gsas/news">All GSAS News</a>
        </div>
      {% elseif postbac_tags %}
        <div class="news-tagged__header--tags__cta-button">
          <a class="cta--button--primary" href="/postbac/news">All Postbac News</a>
        </div>
      {% elseif all_news_tags %}
        {# Output nothing #}
      {% endif %}
      </div>
    </div>

  {% else %}
    <div class="content__page-header">
      <div class="content__page-header__inner">
      {% if admino %}
        <div class="admino-header">
      {% endif %}
        {% if featured_full_image %}
          <div class="featured-full-image">
            <picture>
              <source srcset="{{featured_full_image.src_lg}}" media="(min-width: 1025px)" />
              <source srcset="{{featured_full_image.src_md}}" media="(min-width: 700px)" />
              <source srcset="{{featured_full_image.src_sm}}" />
              <img srcset="{{featured_full_image.src_lg}}" alt="{{featured_full_image.alt}}" />
            </picture>
          </div>
          <a href="#" class="cta--button--primary breadcrumb-replace">All Stories</a>
        {% endif %}
        {{ title_prefix }}
        {% if title %}
        {% if news_date or author %}
        <div class="news__title-wrap">
          <a href="" class="cta--button--primary breadcrumb-replace">All News</a>
          <h1{{ title_attributes.addClass('page-title news__title') }}>{{ title }}</h1>
          <div class="news__title-suffix">
            {% if news_date %}
              <span class="news__date">{{ news_date }}</span>
            {% endif %}
            {% if author %}
              <span class="news__author">{{ author }}</span>
            {% endif %}
          </div>
        </div>
        {% elseif date %}
        <div class="event__title--wrap">
          <a href="" class="cta--button--primary breadcrumb-replace">All Events</a>
          <h1{{ title_attributes.addClass('page-title event__title') }}>{{ title }}</h1>
          <div class="event__title--detail-wrapper">
            {% if date.end_month %}
              <div class="event__title--wrap__dates event-date">
                <div class="event__title--wrap__date">
                  <div class="event__title--wrap__date--month-day event-date__moda">
                    <span class="event__title--wrap__date--month event-date__month">{{ date.start_month }}</span>
                    <span class="event__title--wrap__date--month event-date__day">{{ date.start_date }}</span>
                  </div>
                  <div class="event__title--wrap__date--year event-date__year"><span>{{ date.start_year }}</span></div>
                </div>
                <span class="event__title--wrap__dates--separator">-</span>
                <div class="event__title--wrap__date">
                  <div class="event__title--wrap__date--month-day">
                    <span class="event__title--wrap__date--month event-date__month">{{ date.end_month }}</span>
                    <span class="event__title--wrap__date--month event-date__day">{{ date.end_date }}</span>
                  </div>
                  <div class="event__title--wrap__date--year"><span>{{ date.end_year }}</span></div>
                </div>
              </div>
            {% elseif date.end_date %}
              <div class="event__title--wrap__date event-date">
                <div class="event__title--wrap__date--month-day event-date__moda event-date__range">
                  <span class="event__title--wrap__date--month event-date__month">{{ date.start_month }}</span>
                  <span class="event__title--wrap__date--month event-date__day">{{ date.start_date }} - {{ date.end_date }}</span>
                </div>
                <div class="event__title--wrap__date--year event-date__year">
                  {% if date.end_year %}
                    <span>{{ date.start_year }} - {{ date.end_year }}</span>
                  {% else %}
                    <span>{{ date.start_year }}</span>
                  {% endif %}
                </div>
              </div>
            {% else %}
              <div class="event__title--wrap__date event-date">
                <div class="event__title--wrap__date--month-day event-date__moda">
                  <span class="event__title--wrap__date--month event-date__month">{{ date.start_month }}</span>
                  <span class="event__title--wrap__date--month event-date__day">{{ date.start_date }}</span>
                </div>
                <div class="event__title--wrap__date--year event-date__year">
                  <span>{{ date.start_year }}</span>
                </div>
              </div>
            {% endif %}
            <div class="event__title--time-location">
              {% if date.all_day %}
                <div class="event__title--wrap__time"><span>All Day</span></div>
              {% else %}
                <div class="event__title--wrap__time"><span>{{ date.start_time }} - {{ date.end_time }}</span></div>
              {% endif %}
              {% if event_location %} {#  code for Event Form Restructure 9/2023 - see ~line 1016 bmc_custom.module for how this variable generates #}
                <div class="event__title--wrap__location">
                  <span>{{ event_location }}</span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% elseif anncmnt_tags or anncmnt_date %}
        <div class="anncmnt__header--intro-wrapper">
          {% if not anncmnt_tags %}
            <a href="" class="cta--button--primary breadcrumb-replace">All Announcements</a>
          {% endif %}
          <h1{{ title_attributes.addClass('page-title') }}>{{ title }}</h1>
          {% if anncmnt_tags %}
            <div class="anncmnt__header--cta-button">
              <a class="cta--button--primary" href="/inside/latest/announcements">All Announcements</a>
            </div>
          {% endif %}
          {% if anncmnt_date %}
            <div class="anncmnt__date">
              <span class="anncmnt__date--posted">posted </span>
              <span class="anncmnt__date--date">{{ anncmnt_date }}</span>
            </div>
          {% endif %}
        </div>
        {% elseif dir_title or dir_title_note or dir_image %}
        <div class="directory__header">
          <h1{{ title_attributes.addClass('page-title') }}>{{ title }}
          </h1>
          {% if dir_title %}
            <div class="directory__title">{{ dir_title }}</div>
          {% endif %}
          {% if dir_title_note %}
            <span class="directory__title-note">{{ dir_title_note }}</span>
          {% endif %}
          {% if dir_image %}
            <div class="directory__photo">
              <img alt="{{ title|render|striptags|trim }} headshot" src="{{ dir_image }}" />
            </div>
          {% endif %}
        </div>
        {% else %}
        {% if bulletin %}
        <h1{{ title_attributes.addClass('page-title bulletin-block-title') }}>{{ title }}
          {% else %}
          <h1{{ title_attributes.addClass('page-title') }}>
            {% if spot_term %}
              <span class="spotlight-subhead">{{ spot_term }}<br></span>
            {% endif %}
            {{ title }}
            {% endif %}

          </h1>
          {% endif %}
          {% endif %}
          {% if story_subtitle %}
            <div class="story__subtitle">
              {{ story_subtitle }}
            </div>
          {% endif %}
          {% if story_quote and featured_full_image %}
            <blockquote class="quote--title story__header--quote">
              <span class="quote__name"></span>
              {{ story_quote }}
            </blockquote>
          {% endif %}
          {% if job_title %}
            <div class="admino__job-title">{{ job_title }}</div>
          {% endif %}
          {% if admino_image %}
            <div class="admino__image">
              <img src="{{ admino_image.src }}" alt="{{ admino_image.alt }}">
            </div>
          {% endif %}
          {% if honor_roll_subtitle %}
            <div class="honor_roll__subtitle">{{ honor_roll_subtitle }}</div>
          {% endif %}
          {{ title_suffix }}
        {% if admino %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
