{#
/**
 * @file
 * Paragraph template for Story 3-Up.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% set cache_catch = content|render %}
{% set items = paragraph.getItems() %}

{% set classes = [
  'story-3-up',
  'paragraph',
] %}

{% if items is not null and items is not empty %}
  <div {{ attributes.addClass(classes) }}>
    <div class="story-3-up__inner">
      {% if paragraph.getHeading() is not null and paragraph.getHeading() is not empty %}
        <h2 class="story-3-up__section-heading">{{ paragraph.getHeading() }}</h2>
      {% endif %}
      <div class="story-3-up__intro-wrapper">
        {% if paragraph.hasIntro()|default(null) %}
          <div class="story-3-up__intro">
            {% block intro %}
              {{ content.field_p_story3up_intro }}
            {% endblock intro %}
          </div>
        {% endif %}
        <div class="story-3-up__more">
          <a class="cta--primary" href="{{ paragraph.getCtaHref() }}">{{ paragraph.getCtaText() }}</a>
        </div>
      </div>
      <div class="story-3-up__items">
        {% set items_classes = [
          'story-3-up__items-inner',
          'story-3-up__items-inner--' ~ paragraph.getItemsSource(),
        ] %}
        <div class="{{ items_classes|join((' ')) }}">
          {% block items %}
            {{ paragraph.getItems() }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endif %}




{#{% set tag_id = 'all' %}#}
{#{% if paragraph.field_p_story3up_tag.0.target_id  %}#}
{#  {% set tag_id = paragraph.field_p_story3up_tag.0.target_id|trim %}#}
{#{% endif %}#}
{#{% if parent_node_theme_id is same as '4' %}#}
{#  {% set parent_url_stub = '' %}#}
{#  {% else %}#}
{#    {% set parent_url_stub = parent_node_identifier.url_stub %}#}
{#{% endif %}#}
{#{% block paragraph %}#}
{#  {% block content %}#}
{#    {% if drupal_view_result('stories', '3up', parent_node_theme_id, tag_id) is not empty %}#}
{#      <div class="story-3-up paragraph">#}
{#        <div class="story-3-up__inner">#}
{#          {% if content.field_p_story3up_heading.0 %}#}
{#            <h2 class="story-3-up__section-heading">{{ content.field_p_story3up_heading.0 }}</h2>#}
{#          {% endif %}#}
{#          <div class="story-3-up__intro-wrapper">#}
{#            {% if content.field_p_story3up_intro %}#}
{#              <div class="story-3-up__intro">{{ content.field_p_story3up_intro }}</div>#}
{#            {% endif %}#}
{#            {% if content.field_p_story3up_custom_cta.0 %}#}
{#              <div class="news-3-up__more">#}
{#                {{ content.field_p_story3up_custom_cta }}#}
{#              </div>#}
{#            {% elseif  tag_id != 'all' %}#}
{#            <div class="story-3-up__more">#}
{#              <a class="cta--primary" href="{{ parent_url_stub }}/stories?tagged={{ tag_id }}">More Stories</a>#}
{#            </div>#}
{#            {% else %}#}
{#            <div class="story-3-up__more">#}
{#              <a class="cta--primary" href="{{ parent_url_stub }}/stories">More Stories</a>#}
{#            </div>#}
{#            {% endif %}#}
{#          </div>#}
{#            {% if content.field_p_story3up_manual.0 %}#}
{#              <div class="story-3-up__items">#}
{#                {{ content.field_p_story3up_manual }}#}
{#              </div>#}
{#            {% else %}#}
{#              <div class="story-3-up__items-view">#}
{#                {% if parent_node_theme_id %}#}
{#                  {{ drupal_view('stories', '3up', parent_node_theme_id, tag_id) }}#}
{#                {% else %}#}
{#                  <a class="story-3-up__more cta--primary" href="/stories">More Stories</a>#}
{#                  {{ drupal_view('stories', '3up', 'all', tag_id) }}#}
{#                {% endif %}#}
{#              </div>#}
{#            {% endif %}#}
{#        </div>#}
{#      </div>#}
{#    {% endif %}#}
{#  {% endblock %}#}
{#{% endblock paragraph %}#}
