{#
/**
 * @file
 * Paragraph template for Feature Quote paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'quote',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="quote__inner">
      <div class="quote__inner--wrap">
        {% block content %}
          <div class="quote__image">
            {{ content.field_p_quote_image }}
          </div>
          <div class="quote__inner--blockquote">
            <div class="quote__inner--icon">
            </div>
            <div class="quote__quote">
              <p>{{ content.field_p_quote_title.0 }}</p>
            </div>
            <div class="ft-quote quote__name">
              <span>{{ content.field_p_quote_name.0 }}</span>
            </div>
            <div class="quote__inner--pubmark">
            </div>
          </div>
        {% endblock %}

      </div>

    </div>
  </div>
{% endblock paragraph %}
