{#
/**
 * @file
 * Paragraph template for Feature Child: Statistic paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'fstat',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{{ attach_library('bmc_d9/stat') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="fstat__num">
      {{ content.field_p_fstat_num.0 }}
    </div>
    <div class="fstat__desc">
      {{ content.field_p_fstat_desc.0 }}
    </div>
  </div>
{% endblock paragraph %}
