{#
/**
 * @file
 * Paragraph template for Event 3-Up.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% extends 'paragraph--event-3-up.html.twig' %}
{% block intro %}{% endblock %}
{% block items %}
<div class="event-3-up__items">
  {% set items_classes = [
    'event-3-up__items-inner',
    'event-3-up__items-inner--' ~ paragraph.getItemsSource(),
    'event-3-up__items-inner--featured',
  ] %}
  <div class="{{ items_classes|join((' ')) }}">
    {% block items_inner %}
      {{ paragraph.getItems() }}
    {% endblock items_inner %}
  </div>
</div>
{% endblock %}
