{#
/**
 * @file
 * Default theme implementation to Home Feature Medium paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'feat-lg',
    'paragraph',
    'paragraph--type--feat-lg',
    'home-paragraph-feat-lg'
  ]
%}
{{ attach_library('bmc_d9/scrollAnimation') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="feat-lg__content-wrap">
        <div class="feat-lg__content-inner">
          <div class="feat-lg__content-inner-bg">
            <h2 class="feat-lg__section-title">{{ content.field_p_fhlrg_heading.0 }}</h2>
            {% if content.field_p_fhlrg_intro.0 %}
              <div class="feat-lg__intro">
                {{ content.field_p_fhlrg_intro.0 }}
              </div>
            {% endif %}

            {% if content.field_p_fhlrg_cta.0 %}
              <div class="feat-lg__cta cta--primary">
                {{ content.field_p_fhlrg_cta }}
              </div>
            {% endif %}

            <div class="feat-lg__details-wrap">
              {% if (content.field_p_fhlrg_mnlst.0 or content.field_p_fhlrg_alink.0)  %}
                <div class="feat-lg__mlist">
                  <h3 class="feat-lg__mlist-title"><span>
                      {% if content.field_p_fhlrg_detail_title.0 %}
                        {{ content.field_p_fhlrg_detail_title.0 }}
                      {% else %}
                        {{ 'The Details'|t }}
                      {% endif %}
                    </span></h3>

                  {% if content.field_p_fhlrg_mnlst.0 %}
                    <div class="feat-lg__mnlst">
                      {{ content.field_p_fhlrg_mnlst }}
                    </div>
                  {% endif %}

                  {% if content.field_p_fhlrg_alink.0 %}
                    <div class="feat-lg__alink">
                      {{ content.field_p_fhlrg_alink }}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
         <div class="feat-lg__media-wrap feat-lg__img-wrap home-ftlg__media-wrap--left">
          {{ content.field_p_fhlrg_img }}
        </div>
        {% if content.field_p_fhlrg_item.0 %}
          <div class="feat-lg__item feature-item">
            {{ content.field_p_fhlrg_item }}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
