{#
/**
 * @file
 * Paragraph template for Callout paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{% set bgColor = '' %}
{% if content.field_p_callout_bgcolor.0['#markup'] ends with 'yellow' %}
  {% set bgColor = 'navy' %}
{% endif %}
{% if content.field_p_callout_bgcolor.0['#markup'] ends with 'grey' %}
  {% set bgColor = 'feather' %}
{% endif %}
{%
  set classes = [
    'callout',
    'callout--' ~ bgColor,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="callout__inner--wrap">
      <div class="callout__inner">
      {% block content %}
        {% if content.field_p_callout_image.0 %}
          <div class="callout__img">
            {{ content.field_p_callout_image }}
          </div>
        {% endif %}
        <div class="callout__col">
          {% if content.field_p_callout_heading.0 %}
            <{{ content.field_p_callout_h_level.0 }} class="callout__section-title">
              {{ content.field_p_callout_heading.0 }}
            </{{ content.field_p_callout_h_level.0 }}>
          {% endif %}
          {% if content.field_p_callout_body.0 %}
            <div class="callout__body">
              {{ content.field_p_callout_body.0 }}
            </div>
          {% endif %}
          {% if content.field_p_callout_cta.0 %}
            <div class="callout__cta">
              {{ content.field_p_callout_cta }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
