{#
/**
 * @file
 * Paragraph template for People List.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% block paragraph %}
  {% block content %}
    <div class="people-list paragraph">
      <div class="people-list__inner">
        {% if content.field_p_peoplelist_heading.0 %}
          <h2 class="people-list__section-heading">{{ content.field_p_peoplelist_heading.0 }}</h2>
        {% endif %}
        {% if content.field_p_peoplelist_intro %}
          <div class="people-list__intro">{{ content.field_p_peoplelist_intro }}</div>
        {% endif %}
        {% if content.field_p_peoplelist_items %}
          <div class="people-list__items">
            {{ content.field_p_peoplelist_items }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
