{#
/**
 * @file
 * Default theme implementation to Home Feature Medium paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'home-ftmd',
    'paragraph'
  ]
%}
{{ attach_library('bmc_d9/largefeat') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="home-ftmd__container home-ftmd__media-wrap--{{ content.field_p_fhmed_imgalign.0 }}">
    	{% block content %}
    	  <div class="home-ftmd__content-wrap">
    	    <h2 class="home-ftmd__section-title">{{ content.field_p_fhmed_heading.0 }}</h2>
    	    {% if content.field_p_fhmed_intro.0 %}
    	      <div class="home-ftmd__intro">
    	        {{ content.field_p_fhmed_intro.0 }}
    	      </div>
    	    {% endif %}

    	    {% if content.field_p_fhmed_cta.0 %}
    	      <div class="home-ftmd__cta cta--primary">
    	        {{ content.field_p_fhmed_cta }}
    	      </div>
    	    {% endif %}
    	  </div>
				{% if (content.field_p_fhmed_mnlst.0 or content.field_p_fhmed_alink.0) or  content.field_p_fhmed_dropdown.0  %}
    	  	<div class="home-ftmd__details-wrap">
    	   
    	      <h3 class="home-ftmd__mlist-title"><span>
                {% if content.field_p_fhmed_detail_title.0 %}
                  {{ content.field_p_fhmed_detail_title.0 }}
                {% else %}
                  {{ 'The Details'|t }}
                {% endif %}
              </span></h3>

    	      {% if content.field_p_fhmed_mnlst.0 or content.field_p_fhmed_dropdown.0 %}
    	        <div class="home-ftmd__mnlst">
								{% if content.field_p_fhmed_mnlst.0 %}
    	          	{{ content.field_p_fhmed_mnlst }}
								{% endif %}
    	        	{% if content.field_p_fhmed_dropdown.0 %}
									<div class="home-ftmd__dropdown">
										{{ content.field_p_fhmed_dropdown.0 }}
									</div>
								{% endif %}
    	        </div>
    	      {% endif %}
    	      {% if content.field_p_fhmed_alink.0 %}
    	        <div class="home-ftmd__alink">
    	          {{ content.field_p_fhmed_alink }}
    	        </div>
    	      {% endif %}

    	  </div>
    	   {% endif %}
    	  <div class="home-ftmd__media-wrap">
    	    {{ content.field_p_fhmed_img }}
    	    {% if content.field_p_fhmed_item.0 %}
    	      <div class="home-ftmd__item">
    	        {{ content.field_p_fhmed_item }}
    	      </div>
    	    {% endif %}
    	  </div>
    	{% endblock %}
    </div>
  </div>
{% endblock paragraph %}
