{#
/**
 * @file
 * Template for Donor List paragraph instance.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'accordion__item',
  'clearfix',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% set parent = paragraph.getParentEntity() %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <button class="accordion__toggle" aria-expanded="false">
        <h3 class="donors--list-title">{{ content.field_p_donor_list }}</h3>
        <span class="accordion__icon"></span>
      </button>
      <div class="accordion__content">
        <div class="donors--header">{{ content.field_p_donor_head }}</div>
        <div class="donors--donor-list">{{ content.field_p_donor_donors }}</div>
        <div class="donors--friend-list">{{ content.field_p_donor_friends }}</div>
        {% if parent.field_honor_roll_key.value %}
          <h4 class="donors--key-label">{{ parent.field_honor_roll_key.fielddefinition.label }}</h4>
          <div class="donors--key">{{ parent.field_honor_roll_key.value | raw }}</div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
