{#
/**
 * @file
 * Paragraph template for Special List: Large paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'slistlg',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
  <div class="slistlg__inner">
    {% block content %}
    <div class="slistlg__heading">
      {% if content.field_p_slistlg_head %}
      <{{ content.field_p_slistlg_h_level.0 }} class="slistlg__section-title">
      {{ content.field_p_slistlg_head.0 }}
    </{{ content.field_p_slistlg_h_level.0 }}>
    {% endif %}
  </div>
    <div class="slistlg__items">
      {{ content.field_p_slistlg_items }}
    </div>
    {% endblock %}
  </div>
  </div>
{% endblock paragraph %}
