{#
/**
 * @file
 * Paragraph template for Image Detail: Large paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'imgdetlg',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% set paraType = '' %}
{% set paraField = content.field_p_imgdetlg_item.0['#paragraph'] %}
{% if content.field_p_imgdetlg_item.0 %}
  {% if paraField.field_p_fstat_num.0.value %}
    {% set paraType = 'pb-er-stat' %}
  {% elseif paraField.field_p_fcap_caption.0.value %}
    {% set paraType = 'pb-er-cap' %}
  {% elseif paraField.field_p_fquote_quote.0.value %}
    {% set paraType = 'pb-er-quote' %}
  {% else %}
    {% set paraType = 'pb-er-vid' %}
  {% endif %}
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_p_imgdetlg_img }}
       {% if content.field_p_imgdetlg_item.0 %}
       {{ attach_library('bmc_d9/scrollAnimation') }}
        <div class="imgdetlg__item feature-item">
          {{ content.field_p_imgdetlg_item }}
        </div>
      {% endif %}
      <div class="imgdetlg__content-wrap {{ paraType }}">
        {% if content.field_p_imgdetlg_item.0 %}
          <div class="imgdetlg__item feature-item imgdetlg__item--floated">
            {{ content.field_p_imgdetlg_item }}
          </div>
        {% endif %}
        <h2 class="imgdetlg__section-title">{{ content.field_p_imgdetlg_head.0 }}</h2>
        {% if content.field_p_imgdetlg_intro.0 %}
          <div class="imgdetlg__intro">
            {{ content.field_p_imgdetlg_intro.0 }}
          </div>
        {% endif %}

      
        <div class="imgdetlg__body">
          {% if content.field_p_imgdetlg_body %}
            {{ content.field_p_imgdetlg_body.0 }}
          {% endif %}
            {% if content.field_p_imgdetlg_cta.0 %}
            <div class="imgdetlg__cta">
              {{ content.field_p_imgdetlg_cta }}
            </div>
          {% endif %}
        </div>

      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
