{#
/**
 * @file
 * Paragraph template for Feature: Medium paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'feat-md',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_p_feat_md_item.0 ? 'feat-md--has-item',
  ]
%}

{% set paraType = '' %}
{% set paraField = content.field_p_feat_md_item.0['#paragraph'] %}
{% if content.field_p_feat_md_item.0 %}
  {% if paraField.field_p_fstat_num.0.value %}
    {% set paraType = 'pb-er-stat' %}
  {% elseif paraField.field_p_fcap_caption.0.value %}
    {% set paraType = 'pb-er-cap' %}
  {% elseif paraField.field_p_fquote_quote.0.value %}
    {% set paraType = 'pb-er-quote' %}
  {% else %}
    {% set paraType = 'pb-er-vid' %}
  {% endif %}
{% endif %}

{{ attach_library('bmc_d9/largefeat') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="feat-md__inner feat-md__media-wrap--{{ content.field_p_feat_md_img_align.0 }}">
      {% block content %}
  
        <div class="feat-md__content-wrap">
          <h2 class="feat-md__section-title">{{ content.field_p_feat_md_head.0 }}</h2>
          {% if content.field_p_feat_md_intro.0 %}
            <div class="feat-md__intro">
              {{ content.field_p_feat_md_intro.0 }}
            </div>
          {% endif %}
  
          {% if content.field_p_feat_md_cta.0 %}
            <div class="feat-md__cta">
              {{ content.field_p_feat_md_cta }}
            </div>
          {% endif %}
        </div>
  
        <div class="feat-md__media-wrap">
          {{ content.field_p_feat_md_img }}  
          {% if content.field_p_feat_md_item.0 %}
            <div class="feat-md__item {{ paraType }}"> 
              {{ content.field_p_feat_md_item }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
