{#
/**
 * @file
 * Paragraph template for Timeline Item paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{{ attach_library('bmc_d9/scrollAnimation') }}
{% block paragraph %}

  <div class="timeline__item">
    {% block content %}
      {% if content.field_p_tmln_item_title.0 %}
        <h3 class="timeline__item--title">
            {{ content.field_p_tmln_item_title.0 }}
        </h3>
      {% endif %} {# title if #}
      {% if content.field_p_tmln_item_image | render is not empty %}
        <div class="timeline__item--image">
          {{ content.field_p_tmln_item_image }}
        </div>
      {% endif %} {# image if #}
      {% if content.field_p_tmln_item_body.0 %}
        <div class="timeline__item--body">
          {{ content.field_p_tmln_item_body.0 }}
        </div>
        {% if content.field_p_tmln_item_url.0 %}
          <div class="timeline__item--cta">
            {{ content.field_p_tmln_item_url }}
          </div>
        {% endif %} {#  cta if #}
      {% endif %} {# body if #}
    {% endblock %}
  </div>
{% endblock paragraph %}
