{#
/**
 * @file
 * Default theme implementation to display Slide Homepage Hero paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('bmc_d9/colorbox') }}
{%
  set classes = [
    'home-slide',
    'paragraph'
  ]
%}

{{ attach_library('bmc_d9/homepage') }}


{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="home-slide__wrapper">
        {% if content.field_p_home_slide_img.0 %}
          <div class="home-slide__image">
            {{ content.field_p_home_slide_img }}
          </div>
          <div class="home-slide__inner">
            {% if content.field_p_home_slide_supertitle.0 %}
              <div class="slide_hero__supertitle">
                  <span class="home-slide_hero__supertitle-text">{{ content.field_p_home_slide_supertitle.0 }}</span>
              </div>
            {% endif %}
            {% if content.field_p_home_slide_title.0 %}
              <h2 class="home-slide-title"><span>{{ content.field_p_home_slide_title.0 }}</span></h2>
            {% endif %}
            {% if content.field_p_home_slide_body.0 %}
              <p class="home-slide-body"><span>{{ content.field_p_home_slide_body.0 }}</span></p>
            {% endif %}
            {%  if content.field_p_home_slide_vid.0 %}
              <div class="home-slide-video">
                <button class="home-slide__play"
                  data-colorbox-inline='
                  <iframe
                    src="{{ content.field_p_home_slide_vid.0|render|striptags|trim }}"
                    height="450px"
                    width="800px"
                  ></iframe>'
                  >
                  {{ 'Play Video'|t }}
                </button>
              </div>
            {% elseif content.field_p_home_slide_cta.0 %}
              <div class="home-slide__ctas">
                {{ content.field_p_home_slide_cta }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
