{#
/**
 * @file
 * Default theme implementation for Feature Child: Main List Item PB.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'mnlst_item',
    'paragraph'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_p_fhome_mlink.0 %}
        <div class="home-fhome__mlink">
          {{ content.field_p_fhome_mlink }}
        </div>
      {% endif %}

      {% if content.field_p_fhome_mdesc.0 %}
        <div class="home-fhome__mdesc">
          {{ content.field_p_fhome_mdesc.0 }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
