{#
/**
 * @file
 * Paragraph template for Feature Child: Quote paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'fquote',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <blockquote>
      <div class="fquote__attr quote__name">
        {{ content.field_p_fquote_attr }}
      </div>
      <div class="fquote__quote">
        {{ content.field_p_fquote_quote }}
      </div>
    </blockquote>
  </div>
{% endblock paragraph %}
