{#
/**
 * @file
 * Theme template for a Social Media: Callout Link paragraph bundle.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {% if content.field_p_smcalloutlink_service %}
    {% set channel = content.field_p_smcalloutlink_service.0 %}

    {% if content.field_p_smcalloutlink_url %}
        <a class="smcallout__icon {{ channel }}" href="{{ content.field_p_smcalloutlink_url.0['#url'] }}" target="_blank">
          <span class="visually-hidden">
            {{ channel|render|replace({'sm-callout--': ''})|title }}
          </span>
        </a>
    {% endif %}
  {% endif %}
{% endblock %}

