{#
/**
 * @file
 * Paragraph template for Special List: Large Item paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{% set parent = paragraph.getParentEntity() %}
{% set head_lvl = parent.field_p_slistlg_h_level.0.value %}

{% block paragraph %}  
  {% if content.field_p_slistlg_item_url.0|url_encode|length > 14 %} 
    <a href="{{ content.field_p_slistlg_item_url.0 }}">
  {% endif %}

  {# Set appropriate title_lvl based on parent header #}
  {% if head_lvl == 'h2' %}
    {% set title_lvl = 'h3' %}
  {% elseif head_lvl == 'h3' %}
    {% set title_lvl = 'h4' %}
  {% elseif head_lvl == 'h4' %}
    {% set title_lvl = 'h5' %}
  {% elseif head_lvl == 'h5' %}
    {% set title_lvl = 'h6' %}
  {% elseif head_lvl == 'h6' %}
    {% set title_lvl = 'p' %}
  {% endif %}

  <{{ title_lvl }} class="slistlg__items--item--title">
    {{ content.field_p_slistlg_item_title.0 }}
  </{{ title_lvl }}>

  {% if content.field_p_slistlg_item_url.0|url_encode|length > 14 %}
    </a>
  {% endif %}

  <div class="slistlg__items--item">
    {% block content %}
      {% if content.field_p_slistlg_item_body.0 %}
        <div class="slistlg__items--item--body">
          {{ content.field_p_slistlg_item_body.0 }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
