{#
/**
 * @file
 * Paragraph template for Timeline paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'timeline',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
  <div class="timeline__inner">
    {% block content %}
      <h2 class="timeline__heading">{{ content.field_p_tmln_heading.0 }}</h2>
      <div class="timeline__intro">{{ content.field_p_tmln_intro.0 }}</div>
      <div class="timeline__items-wrap">
        {{ content.field_p_tmln_items }}
      </div>
    {% endblock %}
  </div>
</div>
{% endblock paragraph %}
