{#
/**
 * @file
 * Paragraph override template for Special List: Small.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <div class="special-list-small paragraph">
    <div class="special-list-small__inner">
  {% block content %}
    {% if content.field_p_slistsm_heading %}
      <{{ content.field_p_slistsm_h_level.0 }} class="special-list-small__section-title">
      {{ content.field_p_slistsm_heading.0 }}
      </{{ content.field_p_slistsm_h_level.0 }}>
    {% endif %}
    {% if content.field_p_slistsm_items %}
      {{ content.field_p_slistsm_items }}
    {% endif %}
  {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
