{#
/**
 * @file
 * Paragraph template for Image List Item paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <div class="imglist__item imglist__item--img-align-{{ content.field_p_imglist_item_align.0|render|lower }}">
    {% block content %}
      {% if content.field_p_imglist_item_anchor.0 %}
      <a id="{{ content.field_p_imglist_item_anchor.0 }}" name="{{ content.field_p_imglist_item_anchor.0 }}"></a>
      {% endif %}
      <div class="imglist__col imglist__col--img-wrap">
        <div class="imglist__img">
          {{ content.field_p_imglist_item_img }}
        </div>
      </div>
      <div class="imglist__col imglist__col--content-wrap">
        <h3 class="imglist__item-title">{{ content.field_p_imglist_item_title.0 }}</h3>
        {% if content.field_p_imglist_item_body.0 %}
          <div class="imglist__body">
            {{ content.field_p_imglist_item_body.0 }}
          </div>
        {% endif %}
        {% if content.field_p_imglist_item_cta.0 %}
          <div class="imglist__cta">
            {{ content.field_p_imglist_item_cta }}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
