{#
/**
 * @file
 * Paragraph template for Accordion paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% set classes = [
  'accordion',
  'paragraph',
] %}
{{ attach_library('bmc_d9/accordion') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="accordion__inner">
      {% block content %}
    {% if content.field_p_acc_head.0 %}
    <{{ content.field_p_acc_h_level.0 }} class="accordion__header">
    {{ content.field_p_acc_head.0 }}
  </{{ content.field_p_acc_h_level.0 }}>
    {% endif %}

    {% if content.field_p_acc_intro.0 %}
      <div class="accordion__intro">
        {{ content.field_p_acc_intro.0 }}
      </div>
    {% endif %}

    <div class="accordion__all">
      <button class="accordion__expand-all">{{ 'Expand All'|t }}</button>
      <button class="accordion__collapse-all js-disabled" aria-expanded="false"
              disabled>{{ 'Collapse All'|t }}</button>
    </div>

    {% if content.field_p_acc_items %}
      <div class="accordion__items">
        {{ content.field_p_acc_items }}
      </div>
    {% endif %}
    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
