{#
/**
 * @file
 * Paragraph template for Column Item paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{% set hasLink = '' %}
{% if content.field_p_col_item_url.0 %}
  {% set hasLink = 'has-link' %}
{% endif %}

{% block paragraph %}
  <div class="columns__items--item {{ hasLink }}">
    {% block content %}
      {% if content.field_p_col_item_img | render is not empty %}
        <div class="columns__items--item--img">
          {{ content.field_p_col_item_img }}
        </div>
      {% endif %}
      {% if content.field_p_col_item_title.0 %}    
        <h3 class="columns__items--item--title">            
        {% if content.field_p_col_item_url.0 %}
          <a href="{{ content.field_p_col_item_url.0['#url'] }}">
        {% endif %}
        {{ content.field_p_col_item_title.0 }}
        {% if content.field_p_col_item_url.0 %}
          </a>
        {% endif %}
        </h3>
      {% endif %}
      {% if content.field_p_col_item_body.0 %}
        <div class="columns__items--item--body">
          {{ content.field_p_col_item_body.0 }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
