{#
/**
 * @file
 * Paragraph template for RSS Feed paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 *
 * used in conjunction with: themes/bmc_d9/templates/content/aggregator-item.html.twig
 * and themes/bmc_d9/templates/dataset/aggregator-feed.html.twig
 */
#}
{%
  set classes = [
  'rss-feed',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_p_feed_title.0 %}
        <div class="rss-feed__title">
          <h2>{{ content.field_p_feed_title.0 }}</h2>
        </div>
      {% endif %}
      {% if content.field_p_feed_intro.0 %}
        <div class="rss-feed__intro">
          {{ content.field_p_feed_intro.0 }}
        </div>
      {% endif %}

      {% if content.field_p_feed_source %}
        <div class="rss-feed__items">
          {{ content.field_p_feed_source }}
        </div>
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
