{#
/**
 * @file
 * Paragraph template for Feature: Large paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'feat-lg',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{{ attach_library('bmc_d9/largefeat') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="feat-lg__content-wrap">
        <div class="feat-lg__content-inner">
          <div class="feat-lg__content-inner-bg">
            <h2 class="feat-lg__section-title">{{ content.field_p_feat_lg_head.0 }}</h2>
            {% if content.field_p_feat_lg_intro.0 %}
              <div class="feat-lg__intro">
                {{ content.field_p_feat_lg_intro.0 }}
              </div>
            {% endif %}
    
            {% if content.field_p_feat_lg_cta.0 %}
              <div class="feat-lg__cta">
                {{ content.field_p_feat_lg_cta }}
              </div>
            {% endif %}
    
            {% if content.field_p_feat_lg_drop.0 %}
              <div class="feat-lg__drop">
                {{ content.field_p_feat_lg_drop }}
              </div>
            {% endif %}
          </div>
        </div>

        {{ content.field_p_feat_lg_img }}

        {% if content.field_p_feat_lg_item.0 %}
          <div class="feat-lg__item feature-item">
            {{ content.field_p_feat_lg_item }}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
