{#
/**
 * @file
 * Paragraph template for Event 3-Up.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% set cache_catch = content|render %}
{% set items = paragraph.getItems() %}
{% set classes = [
  'event-3-up',
  'paragraph',
] %}

{% if items is not null and items is not empty %}
  <div {{ attributes.addClass(classes) }}>
    <div class="event-3-up__inner">
      {% if content.field_p_event3up_heading.0 %}
        <h2 class="event-3-up__section-heading">{{ content.field_p_event3up_heading.0 }}</h2>
      {% endif %}
      {% block intro %}
        {% if paragraph.hasIntro()|default(null) or paragraph.getCtaHref() %}
          <div class="event-3-up__intro-wrapper">
            {% if paragraph.hasIntro()|default(null) %}
              <div class="event-3-up__intro">{{ content.field_p_event3up_intro }}</div>
            {% endif %}
            <div class="event-3-up__more">
              <a class="cta--primary" href="{{ paragraph.getCtaHref() }}">{{ paragraph.getCtaText() }}</a>
            </div>
          </div>
        {% endif %}
      {% endblock %}
      {% block items %}
        <div class="event-3-up__items">
          {% set items_classes = [
            'event-3-up__items-inner',
            'event-3-up__items-inner--' ~ paragraph.getItemsSource(),
          ] %}
          <div class="{{ items_classes|join((' ')) }}">
            {% block items_inner %}
              {{ paragraph.getItems() }}
            {% endblock items_inner %}
          </div>
        </div>
      {% endblock items%}
    </div>
  </div>
{% endif %}
