{#
/**
 * @file
 * Paragraph template for Feature Child: Dropdown paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'fdrop',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <button class="fdrop__toggle" aria-expanded="false">
      {{ content.field_p_fdrop_title }}
    </button>
    <div class="fdrop__content">
      {{ content.field_p_fdrop_link }}
    </div>
  </div>
{% endblock paragraph %}
