{% set cache_buster = content|render %}
{% set classes = [
  'countdown-timer',
  'paragraph',
] %}
<div {{ attributes.addClass(classes) }}>
  {% block paragraph %}
    {% if label %}
      <h2 class="countdown-timer__heading" id="{{ label_id }}">{{ label }}</h2>
    {% endif %}
    <div class="countdown-timer__countdown-wrapper">
      {{ countdown_timer }}
    </div>
  {% endblock paragraph %}
</div>
