{#
/**
 * @file
 * Paragraph override template for Image Gallery paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('bmc_d9/gallery') }}

{% block paragraph %}
  {% block content %}
    <div class="image-gallery paragraph">
      <div class="image-gallery__outer--wrap">
        <div class="image-gallery__outer">
          {% if content.field_p_gallery_img %}
            {{ content.field_p_gallery_img }}
          {% endif %}
          <button class="image-gallery__open">
          <span class="image-gallery__inner">
            <span class="image-gallery__inner--icon"></span>
            <span class="image-gallery__inner--heading">Gallery</span>
            {% if content.field_p_gallery_intro.0 %}
              <span class="image-gallery--inner--intro">
                {{ content.field_p_gallery_intro.0 }}
              </span>
            {% endif %}
          </span>
          </button>
        </div>
        {% if slides %}
          <div class="image-gallery__slides" aria-roledescription="Carousel">
            {% for slide in slides %}
              <div class="image-gallery__slides__slide gallery" aria-roledescription="Slide">
                <div class="image-gallery__slides__slide--image">
                  <img src="{{ slide.img.src }}" alt="{{ slide.img.alt }}" width="{{ slide.img.width }}" height="{{ slide.img.height }}">
                </div>
                <span class="image-gallery__slides__slide--caption">{{ slide.caption }}</span>
                <span class="image-gallery__slides__slide--counter">{{ loop.index }} / {{ total_slides }}</span>
              </div>
            {% endfor %}
          </div>
          <div aria-live="polite" class="visually-hidden gallery-live-region"> </div>
        {% endif %}
      </div>
    </div>

  {% endblock %}
{% endblock paragraph %}
