{#
/**
 * @file
 * Paragraph template for Announcement 4-Up paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% set cache_catch = content|render %}
{% set items = paragraph.getItems() %}

{% set classes = [
  'anncmnt_4_up',
  'paragraph'
] %}

{% if items is not null and items is not empty %}
  <div{{ attributes.addClass(classes) }}>
    <div class="anncmnt_4_up__wrapper">
      {% if paragraph.getHeading() is not null and paragraph.getHeading() is not empty %}
        <h2 class="anncmnt_4_up__head">{{ paragraph.getHeading() }}</h2>
      {% endif %}
      {% if paragraph.hasIntro()|default(null) %}
        <div class="anncmnt_4_up__intro">
          {% block intro %}
            {{ content.field_p_anncmnt_intro }}
          {% endblock intro %}
        </div>
      {% endif %}
      <div class="anncmnt_4_up__anncmnts view-announcements">
        <div class="anncmnt_4_up__anncmnts-posted view-header">
          <p aria-hidden="true">Posted</p>
        </div>
        <div class="anncmnt_4_up__items">
          {% set items_classes = [
            'anncmnt_4_up__items-inner',
            'anncmnt_4_up__items-inner--' ~ paragraph.getItemsSource(),
          ] %}
          <div class="{{ items_classes|join((' ')) }}">
            {% block items %}
              {{ paragraph.getItems() }}
            {% endblock %}
          </div>
        </div>
        <div class="anncmnt_4_up__more_link">
          <a class="cta--button--primary" href="{{ paragraph.getCtaHref() }}">{{ paragraph.getCtaText() }}</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
