{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('bmc_d9/carousel') }}
{% block paragraph %}
  <div class="carousel paragraph inner-align-{{ content.field_p_carousel_align.0 }}">
    <div class="carousel__inner">
    {% block content %}
      {% if content.field_carousel_heading.0 %}
        <h2 class="carousel__section-heading">{{ content.field_carousel_heading.0 }}</h2>
      {% endif %}
      {% if content.field_p_carousel_slide %}
        <div class="carousel__items" aria-roledescription="Carousel" aria-label="{{ content.field_carousel_label.0 }}">
          {{ content.field_p_carousel_slide }}
        </div>
        <div aria-live="polite" class="visually-hidden carousel-live-region"> </div>
      {% endif %}
    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
