{#
/**
 * @file
 * Paragraph template for Feature Child: Video paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'fvid',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{{ attach_library('bmc_d9/colorbox') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="fvid__content-wrapper">
      <button class="fvid__play play-video"
        data-colorbox-inline='
        <iframe
          src="{{ content.field_p_fvid_video.0|render|striptags|trim }}?autoplay=0&amp;start=0&amp;rel=0"
          height="450px"
          width="800px"
          allow="autoplay"
        ></iframe>'
      >
        <span class="visually-hidden">
                    {{ 'Play' }}
                  </span>
        <span class="fvid__content">
          <span class="fvid__label video-title">Video</span>
          <span class="caption-text">{{ content.field_p_fvid_title.0 }}</span>
        </span>
      </button>
    </div>
  </div>
{% endblock paragraph %}
