{#
/**
 * @file
 * Paragraph template for News-3Up paragraph bundle.
 *
 * @see docroot/modules/custom/bmc_custom/modules/bmc_bundle_classes/src/Entity/Paragraph/News3Up.php
 * for functions called in this twig, like: paragraph.getHeading(); etc.
 *
 */
#}

{% set cache_catch = content|render %}
{% set items = paragraph.getItems() %}

{% set classes = [
  'news-3-up',
  'paragraph',
] %}

{% if items is not null and items is not empty %}
  <div {{ attributes.addClass(classes) }}>
    <div class="news-3-up__inner">
      {% if paragraph.getHeading() is not null and paragraph.getHeading() is not empty %}
        <h2 class="news-3-up__section-heading">{{ paragraph.getHeading() }}</h2>
      {% endif %}
      <div class="news-3-up__intro-wrapper">
        {% if paragraph.hasIntro()|default(null) %}
          <div class="news-3-up__intro">
            {% block intro %}
              {{ content.field_p_news3up_intro }}
            {% endblock intro %}
          </div>
        {% endif %}
        <div class="news-3-up__more">
          <a class="cta--primary" href="{{ paragraph.getCtaHref() }}">{{ paragraph.getCtaText() }}</a>
        </div>
      </div>
      <div class="news-3-up__items">
        {% set items_classes = [
          'news-3-up__items-inner',
          'news-3-up__items-inner--' ~ paragraph.getItemsSource(),
        ] %}
        <div class="{{ items_classes|join((' ')) }}">
          {% block items %}
            {{ paragraph.getItems() }}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
