{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'slide',
  'clearfix',
  'paragraph',
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }} aria-roledescription="Slide">
    {% block content %}
      <div class="slide__outer">
        {% if content.field_p_slide_image %}
          <div class="slide__image">
            {{ content.field_p_slide_image }}
          </div>
          <div class="slide__inner slide-align--{{ slide_alignment }}">
            {% if content.field_p_slide_supertitle.0 %}
              <div class="slide__supertitle"><span class="slide__supertitle--text">{{ content.field_p_slide_supertitle.0 }}</span></div>
            {% endif %}
            <div class="slide__text">
              {% if content.field_p_slide_title.0 %}
                <h2 class="slide__title">{{ content.field_p_slide_title.0 }}</h2>
              {% endif %}
              {%  if content.field_p_slide_body.0 %}
                <div class="slide__body">
                  {{ content.field_p_slide_body.0 }}
                </div>
              {% endif %}
            </div>
            <div class="slide__ctas">
              {% if content.field_p_slide_cta.0 %}
                {{ content.field_p_slide_cta }}
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
