{#
/**
 * @file
 * Paragraph template for Feature: Medium paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'homepage-feature-story',
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{{ attach_library('bmc_d9/scrollAnimation') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="homepage-feature-story__inner">
      <div class="homepage-feature-story__inner--wrap">
        {% block content %}
          <div class="homepage-feature-story__story">
            {% if selected_story.quote %}

              <div class="homepage-feature-story__story--icon">
              </div>
              <div class="homepage-feature-story__story--quote">
                <p>{{ selected_story.quote }}</p>
              </div>
              <div class="homepage-feature-story__story--name">
                <span>{{ selected_story.title }}</span>
              </div>

             {# HIDING OLD LAYOUT
              <div class="homepage-feature-story__story--quote">
                <span class="homepage-feature-story__story--name"></span>
                {{ selected_story.quote }}
                {{ selected_story.title }}
              </div> #}
            {% endif %}
            {% if selected_story.img %}
              <div class="homepage-feature-story__story--img">
                <img src="{{ selected_story.img.src }}" alt="{{ selected_story.img.alt }}">
              </div>
            {% endif %}
            {% if content.field_p_fhstory_stitle.0 %}
              <h2 class="homepage-feature-story__story--title">{{ content.field_p_fhstory_stitle.0 }}</h2>
            {% endif %}
            {% if selected_story.cta_text %}
              <div class="homepage-feature-story__story--cta">
                <a href="{{ selected_story.alias }}" class="cta--secondary">{{ selected_story.cta_text }}</a>
              </div>
            {% endif %}
          </div>
          <div class="homepage-feature-story__col-1">
            <div class="homepage-feature-story__top">
              {% if content.field_p_fhstory_heading.0 %}
                <h2 class="homepage-feature-story__heading">{{ content.field_p_fhstory_heading.0 }}</h2>
              {% endif %}
              {% if content.field_p_fhstory_intro.0 %}
                <div class="homepage-feature-story__intro">{{ content.field_p_fhstory_intro.0 }}</div>
              {% endif %}
              {% if content.field_p_fhstory_cta %}
                <div class="homepage-feature-story__col-1--cta">{{ content.field_p_fhstory_cta }}</div>
              {% endif %}
            </div>
            {% if content.field_p_fhstory_mlink.0 or content.field_p_fhstory_mdesc.0 %}
              <div class="homepage-feature-story__details">
                <h3 class="homepage-feature-story__details--title"><span>
                  {% if content.field_p_fhstory_detail_title.0 %}
                    {{ content.field_p_fhstory_detail_title.0 }}
                  {% else %}
                    {{ 'The Details'|t }}
                  {% endif %}

                </span></h3>
                <div class="homepage-feature-story__details--link">{{ content.field_p_fhstory_mlink.0 }}</div>
                <div class="homepage-feature-story__details--desc">{{ content.field_p_fhstory_mdesc.0 }}</div>
                {% if content.field_p_fhstory_alink.0 %}
                  {{ content.field_p_fhstory_alink }}
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
