{#
/**
 * @file
 * Paragraph template for Columns paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'columns',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{{ attach_library('bmc_d9/columns') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="columns__inner">
      {% block content %}
        <h2 class="columns__section-title">{{ content.field_p_cols_heading.0 }}</h2>
        <div class="columns__intro">{{ content.field_p_cols_intro.0 }}</div>
        <div class="columns__items">
          {{ content.field_p_cols_items }}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
