{#
/**
 * @file
 * Paragraph template for Callout paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'smcallout',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="smcallout__inner--wrap">
        <div class="smcallout__inner">
          <div class="smcallout__head">
            {% if content.field_p_smcallout_head %}
            <{{ content.field_p_smcallout_h_level.0 }} class="smcallout__section-title">
            {{ content.field_p_smcallout_head.0 }}
          </{{ content.field_p_smcallout_h_level.0 }}>
          {% endif %}
          </div>
        {% if content.field_p_smcallout_channels %}
          <div class="smcallout__channels">
            {{ content.field_p_smcallout_channels }}
          </div>
        {% endif %}
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
