{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}{% set classes = [
  'slide',
  'clearfix',
  'paragraph',
] %}
{% block paragraph %}
<div{{ attributes.addClass(classes) }} aria-roledescription="Slide">
  {% block content %}
  <div class="bulletin-carousel__slide">

      {% if content.field_p_slide_image.0 %}
        <div class="bulletin-carousel__slide-image">
          {{ content.field_p_slide_image }}
        </div>
      {% endif %}
      {% if content.field_p_slide_title.0 %}
        {% if content.field_p_slide_cta.0 %}
          <h2 class="bulletin-carousel__slide-title">
            <a href="{{ content.field_p_slide_cta.0['#title'] }}">
              <div class="bulletin-carousel__slide-title-pos">
                {{ content.field_p_slide_title.0 }}
              </div>
            </a>
          </h2>
        {% else %}
          <h2 class="bulletin-carousel__slide-title">
            <div class="bulletin-carousel__slide-title-pos">
              {{ content.field_p_slide_title.0 }}
            </div>
          </h2>
        {% endif %}
      {% endif %}
  </div>
  {% endblock %}
  </div>
{% endblock paragraph %}

