{#
/**
 * @file
 * Paragraph template for Accordion Item paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% set classes = [
  'accordion__item',
  'clearfix',
  'paragraph',
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <button class="accordion__toggle" aria-expanded="false">
        {{ content.field_p_acc_item_title.0 }}
        <span class="accordion__icon"></span>
      </button>
      <div class="accordion__content">
        {{ content.field_p_acc_item_body.0 }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
