{#
/**
 * @file
 * Paragraph template for Story 1-Up.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%  set title_lvl = 'h2' %}
{% if title_level %}
  {% set title_lvl = title_level  %}
{% endif %}
{# attach_library('bmc_d9/scrollAnimation') #}
{% block paragraph %}
  {% block content %}
    {% if selected_story %}
      <div class="story-1-up paragraph">
          <div class="story-1-up__inner">
            <div class="story-1-up__inner--wrap">
              {% if selected_story.img.src %}
                <div class="story-1-up__img">
                  <img src="{{ selected_story.img.src }}" alt="{{ selected_story.img.alt }}">
                </div>
              {% endif %}
              <div class="story-1-up__content--wrap">
                <div class="story-1-up__content">
                  {% if selected_story.title %}
                  <{{ title_lvl }} class="story-1-up__title">{{ selected_story.title }}</{{ title_lvl }}>
                {% endif %}
                {% if selected_story.subtitle %}
                  <div class="story-1-up__subtitle">{{ selected_story.subtitle }}</div>
                {% endif %}
                {% if selected_story.cta_text %}
                  <div class="story-1-up__cta">
                    {% if selected_story.alias %}
                      <a href="{{ selected_story.alias }}">{{ selected_story.cta_text }}</a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              {% if selected_story.quote %}
                {# attach_library('bmc_d9/scrollAnimation') #}
                <div class="story-1-up__quote"> {# this used to also have two other classes: feature-item and inview so things would scroll animate in #}
                  <div class="story-1-up__quote--blockquote">
                    <div class="story-1-up__quote__name"></div>
                    {{ selected_story.quote }}
                    <div class="story-1-up__quote--pubmark">
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
{% endblock paragraph %}
