{#
/**
 * @file
 * Paragraph template for Office Hours.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <div class="office-hours">
    {% if content.field_p_officehours_hours %}
      {{ content.field_p_officehours_hours.0 }}
    {% endif %}
    {% if content.field_p_officehours_text %}
      {{ content.field_p_officehours_text.0 }}
    {% endif %}
  </div>
{% endblock paragraph %}
