{#
/**
 * @file
 * Paragraph template for Feature Child: Special Caption paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'fcap',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="fcap__caption">
      {{ content.field_p_fcap_caption.0 }}
    </div>
  </div>
{% endblock paragraph %}
