{#
/**
 * @file
 * Theme template for a Feature Child: CTA
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set para_parent_type = paragraph.getParentEntity().bundle %}
{% set styles = "cta--primary" %}
{% if para_parent_type == 'anncmnt_4_up' %}
  {% set styles = "cta--button--primary" %}
{% endif %}
{% if para_parent_type == 'news_contact' %}
  {% set styles = "news-wrap__more cta--primary" %}
{% endif %}

{% block paragraph %}
  {% block content %}
    {% if content.field_p_custom_cta %}
      <a class="{{ styles }}" href="{{ content.field_p_custom_cta.0['#url']}}" target="_blank">
        {{ 	content.field_p_custom_cta.0['#title'] }}
      </a>
    {% endif %}
  {% endblock %}
{% endblock paragraph %}

