{#
/**
 * @file
 * Paragraph template for Contact paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'contact',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="contact__inner">
      <div class="contact__col--wrap">
        {% block content %}
          <div class="contact__col contact__col--img">
            {% if content.field_p_contact_image %}
              <div class="contact__img">
                {{ content.field_p_contact_image.0 }}
              </div>
            {% endif %}
          </div>
          <div class="contact__col contact__col--content contact-wrap">
            <h2 class="contact-wrap__section-heading">{{ content.field_p_contact_heading.0 }}</h2>
            <div class="content-child">
            </div>
            <div class="contact-wrap__wrapper">
              <h3 class="contact-wrap__title">{{ content.field_p_contact_title.0 }}</h3>
              <div class="contact-wrap__body">
                {{ content.field_p_contact_body }}
              </div>
            </div>
            <div class="content-child">
            </div>
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
