{#
/**
 * @file
 * Paragraph template for Image List paragraph bundle.
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'imglist',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="imglist__inner--wrap">
        <div class="imglist__inner">
          <h2 class="imglist__section-title">{{ content.field_p_imglist_head.0 }}</h2>
          <div class="imglist__intro">{{ content.field_p_imglist_intro.0 }}</div>
          <div class="imglist__items">
            {{ content.field_p_imglist_items }}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
