{#
/**
 * @file
 * Paragraph template for Vertical Tab paragraph bundle.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}

{% set classes = [
  'verticalTab',
  'paragraph',
] %}
{{ attach_library('bmc_d9/verticalTab') }}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="vert_tab__inner">
    {% block content %}
      {% if content.field_p_vert_tab_heading.0 %}
        <{{ content.field_p_vert_tab_h_level.0 }} class="vert_tab__header">
          {{ content.field_p_vert_tab_heading.0 }}
        </{{ content.field_p_vert_tab_h_level.0 }}>
      {% endif %}


      {% if content.field_p_vert_tab_intro.0 %}
        <div class="vert_tab__intro">
          {{ content.field_p_vert_tab_intro.0 }}
        </div>
      {% endif %}

      {% if content.field_p_vert_tab_items %}
        <div class="vert_tab__items">
        {# NOTE: the <div class="tabs-wrap"> end tag is in the field--field_p_vert_tab_items.html.twig #}
        <div class="tabs-wrap">

            {% if content.field_p_vert_tab_bkgd_image.0 %}
              {% set image_url = file_url(paragraph.field_p_vert_tab_bkgd_image.entity.field_media_image.entity.fileuri|image_style('vertical_tab_list')) %}
              {# set image_alt = content.field_p_vert_tab_bkgd_image['#items'].entity.field_media_image.alt #}
              {% if image_url %}
            <figure>
                  <img alt=" " title="{{ image_title }}" src="{{ image_url }}" class="vert_tab__image"/>
            </figure>
              {% endif %}
            {% endif %}

          {{ content.field_p_vert_tab_items }}

        </div> {#  END vert_tab__items #}
      {% endif %}
    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
