$html-font-size: 16px;

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

@mixin clear-space {
  div, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
  }
}
@mixin reset-ul {
  padding: 0;
  margin: 0;
}
@mixin bearfont-main {
  font-family: Arial, sans-serif;
  font-size: 18px;
}
@mixin bearfont-sidebar-titles {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
}
@mixin bearfont-georgia {
  font-family: Georgia, sans-serif;
}
@mixin bearfont-titles {
  font-family: Carter Sans, Georgia, sans-serif;
}

@mixin bulletin-glyphish {
  font-family: SSGlyphish;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin bulletin-standard {
  font-family: SSStandard;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
@mixin bulletin-social-regular {
  font-family: SSSocialRegular;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

@mixin bulletin-content-width {
  padding: 0;
  max-width: rem(1200);
  margin: 0 auto;

  @media (max-width: $breakpoint-medium-768) {
    padding-right: 30px;
  }

  @media (max-width: $breakpoint-small-width) {
    padding-right: 20px;
  }
}

@mixin bottom-border-radius ( $value:0 0 4px 4px ) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
@mixin m-links {
  a {
    color: $blue;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: $lightblue;
      text-decoration: none;
    }
  }
}
@mixin m-links-blue {
  a {
    color: $z-black;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: $lightblue;
      text-decoration: none;
    }
  }
}
@mixin text-reset {
  background: none;
  clear: none;
  float: none;
  margin-left: 300px;
  margin-top: 0;
  padding-left: 0;
  position: static;
  width: auto;
  text-indent: 0;
}
@mixin borderRadius($radius: 8px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box;
}
/// Clearfix
@mixin clearfix() {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

// Mixins from zheno

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin transition($transition_style, $time, $ease) {
  -moz-transition: $transition_style $time $ease;
  -webkit-transition: $transition_style $time $ease;
  transition: $transition_style $time $ease;
}

// reusable from zheno

%dropshadow {
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.15) !important;
}

%transition {
  transition: all 0.1s ease !important;
}

%placeholder {
  content: ".";
  display: block;
  text-indent: -9999px;
}

// this is for the CTAs in sidebar and in content and also, for Ask the Expert
// area and rt sidebar on explore
// it is extended in styles.scss  on around line 650 for the sidebar
%brackets {
  border: 1px solid $darkgrey;
  padding: 1em 1em;
  display: block;
  &:before,
  &:after {
    @extend %placeholder;

    width: 70%;
    margin: 0 auto;
    height: 10px;
    position: relative;
    background: white;
  }
  &:before {
    top: calc(-1em + -5px);
  }
  &:after {
    bottom: calc(-1em + -5px);
  }
}
/* for bulletin nodes with two col layout like bookshelf and spotlight */
@mixin bulletinTwoCol {
  .bulletin-col-wrapper {
    display:inline-flex;
    @media (min-width: $breakpoint-small-width) {
      flex-direction: row;
    }
    flex-direction: column;
  }
  .bulletin__col--content {
    @media (min-width: $breakpoint-small-width) {
      flex: 0 0 66%;
    }
    flex: 0 0 auto;
  }
  .bulletin__col--side {
    flex: 0 0 auto;
    padding: 1em;
    img {
      max-width: 100%;
      height: auto;
    }
    @media (min-width: $breakpoint-small-width) {
      flex: 0 0 29%;
    }
  }
}

/* for More Link for Latest News, In This Issue, Bookshelf and Anassa Kata Spotlight views, left-justified with PLUS symbol */
@mixin more-link {
  clear: both;
  width: 100%;
  text-align: left;
  padding-top: rem(17);
  a {
    font-weight: 800;
    font-size: 1em;
    line-height: 1.2em;
    display: inline-block;
    font-family: $font-berlingske;
    &:before,
    &:after {
      @include bulletin-standard;
      font-size: 1rem;
      width: 25px;
      color: $z-yellow;
      position: relative;
      top: -0.16em;
      padding-right: 0.475em;
      display: inline-block;
    }
    &:hover:before, &:hover:after, &:hover {
      color: $z-dark-blue;
    }
  }
}

@mixin bulletin-view-pager { /* A list of page numbers when more than 1 page of content is available */
         max-width: 1200px;
         margin-right: auto;
         margin-left: auto;
         border-top: 1px solid $z-grey;
         clear: both;
         text-align: right;
         padding: 2em 0;
         font-family:$sans;
         font-weight: 800;
         font-size: 1.4em;
         line-height: 1.2em;
         width: 100%;
         float: left;

         li.pager__item { /* Each page number in the pager list */
           line-height: 1.1;
           padding: .11em;
           display: inline-block;
           height: 33px;
           width: 35px;
           border-radius: 50%;
           text-align: center;
           vertical-align: middle;
           &.is-active,
           &.is-active a {
             background: $lightblue;
             color: white;
           }
           &.pager__item--previous,
           &.pager__item--previous a,
           &.pager__item--next,
           &.pager__item--next a {
           /* color: $z-yellow; was taken out because of contrast error */
           width: auto;
           @include bulletin-standard;
           position: relative;
           top: .25em;
           font-style: normal;
         }
           &.pager__item--first,
           &.pager__item--last {
             width: auto;
           }
         }
}

@mixin element-invisible {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.element-invisible {
  @include element-invisible();
}

// mixins from bmcd9 to help flex content work
@mixin largeStylesExcludeInside {
  .alumnae-bulletin.not-inside-bmc .bulletin-article__body--paras .imgdetlg &,
  .alumnae-bulletin.not-inside-bmc .bulletin-article__body--paras .paragraph--type--feat-lg &,
  .page__body & {
    @media (min-width: $break-large) {
      @content;
    }
  }
}
@mixin paragraph-intro() {
  font-family: $font-berlingske;
  font-size: rem(18);
  font-weight: 500;

  @media (min-width: $break-medium) {
    font-size: rem(21);
  }
}
@mixin intro-fancy() {
  font-family: $font-turnip;
  font-weight: 390;
  font-size: rem(21);
  font-style: italic;
  line-height: rem(28);
}
@mixin full-width($bpg: true) {
  /// Full width mixin to break content out into gutters
  @if $bpg {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  } @else {
    width: inherit;
    position: relative;
    left: inherit;
    margin-left: inherit;
  }

}

@mixin threeCol() {
  @media (min-width: $break-medium) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11.5px;
  }

  @include largeStylesExcludeInside {
    margin: 0 -13px;
  }

  > * {
    @media (min-width: $break-medium) {
      width: 50%;
      padding: 0 11.5px;
    }
    @include largeStylesExcludeInside {
      width: 32%;
      padding: 0 13px;
    }
  }
}
@mixin cta-arrow($cta-arrow-size) {
  color: $color-black;
  padding-right: 2em;
  background: transparent;

  &:after {
    transition: all 0.3s;
    background: url(../assets/icons/icons_arrow.svg) center no-repeat;
    background-size: auto;
    background-size: contain;
    content: "";
    margin: 0.6em 0 0 2px;
    position: absolute;
    transform: translateY(-50%);
    @if $cta-arrow-size==sm {
      $width: rem(16);

      width: $width;
      height: $width;
      margin: 0.7em 0 3px;
    }
    @else if $cta-arrow-size==md {
      $width: rem(22);

      width: $width;
      height: $width;
    }
    @else if $cta-arrow-size==lg {
      $width: rem(24);

      width: $width;
      height: $width;

      @media (min-width: $break-medium) {
        $width: rem(32);

        width: $width;
        height: $width;
      }
    }
    @else if $cta-arrow-size==xl {
      $width: rem(32);

      width: $width;
      height: $width;
    }
  }

  &:hover {
    color: $color-grey4;
    &:after {
      transform: translate(5px, -50%);
      transition: all 0.3s;
    }
  }
}
@mixin hpFeatureLinks() {
  color: $color-swungblue;
  font-family: $font-dunbar;
  font-size: rem(15);
  font-weight: 700;
  letter-spacing: 0.4px;
  background: transparent;
  display: block;
  margin: 0.35em 0 0;
}

@mixin focusStyles {
  outline: 2px solid #808080;
  outline-offset: 2px;
  transition: none;
}
@mixin carousel-arrow() {
  color: transparent;
  width: 36px;
  height: 36px;
  overflow: hidden;
  background: url(../assets/icons/icon_arrow_black.svg); //preload for hover state
  background: url(../assets/icons/icons_arrow_yellow.svg);

  &:hover {
    background: url(../assets/icons/icon_arrow_black.svg);
  }
}
@mixin postHeadingDecorativeUnderline($line-color: $color-foamygreen) {
  &:after {
    content: '';
    margin-top: 15px;
    display: block;
    width: 41px;
    height: 4px;
    background-color: $line-color;

    @media (min-width: $break-medium) {
      height: 6px;
    }
  }
}
@mixin cta-button-primary() {
  color: $color-yellow;
  font-size: rem(13);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  display: inline-block;
  background: $color-black;
  padding: 0.65em 1.4em;
  margin: 0.2em 0;

  @media (min-width: $break-medium) {
    margin: 0.8em 0;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background: $color-grey4;
  }
}

@mixin cta-button-secondary() {
  color: $color-black;
  font-size: rem(13);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  display: inline-block;
  border: 2px solid $color-foamygreen;
  background: transparent;
  padding: 0.5em 1.2em;
  margin: 0.2em 0;
  transition: all 300ms;

  @media (min-width: $break-medium) {
    margin: 0.8em 0;
  }

  &:hover {
    background: $color-foamygreen;
  }
}


@mixin detailsHeading() {
  font-family: $font-dunbar;
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1.1em;
  position: relative;

  @media (min-width: $break-medium) {
    font-size: rem(16);
    letter-spacing: 2px;
    margin-top: 2px;
    margin-bottom: 0.75em;
  }

  @include largeStylesExcludeInside {
    margin-bottom: 1.25em;
  }

  span {
    background: $color-white;
    position: relative;
    z-index: 1;
    padding-right: 12px;

    @include largeStylesExcludeInside {
      padding-right: 8px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0.2em;
    height: 1px;
    width: 100%;
    left: 0;
    background: $color-grey2;
  }
}

@mixin smallSansHeading() {
  font-size: rem(16);
  font-weight: bold;
  line-height: 1.1875;
  font-family: $font-proxima;
  margin: 0 0 1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  .inside-bryn-mawr & {
    @media (min-width: $break-large) {
      font-size: rem(16);
    }
  }
}
// Contact icons
@mixin contact-icons() {
  position: relative;
  padding-left: 30px;
  &:after {
    position: absolute;
    top: -2px;
    left: -6px;
    display: block;
    width: 32px;
    height: 32px;
    content: '';
    background-repeat: no-repeat;
  }
}
