$z-grey: #808080; //FAIL except for large text
$z-light-blue: #E8F2F7; //FAIL! used for form background, so prob ok
$z-black: #0a0a0a;
$z-dark-grey: #231F20;
$z-dark-blue: #005677;
$z-greyer: #565656;
$z-greyer: #d1d3d2;

$lightblue: #0396d3;

$darkyellow: #f3b720;
$z-yellow: #FFDB00; //FAIL! this on white background.. pass this as background for $black
$z-light-yellow: rgba(#FFDB00, 0.1);
$blue: #017db0;
$yellow: #fff0be;
$dark: #2b313a;
$darkblue: #03335f;

// Colors from zheno

$z-light-yellow: rgba($z-yellow, 0.1); // #fffbe5 used for table row background and search box background so prob ok
$z-light-yellow-2: rgba($z-yellow, 0.1); // #fffbe5

$grey: #ededed;
$darkgrey: #bebebe;
$lighten-dark: #909497;
$offwhite: #f9f9f9;
$light: #f5f5f5;
$lightgrey: #e6e6e6;
$midgrey: #515a67;

$font-berlingske: 'Berlingske', serif;
$sans: "National Sans", "arial";
$font-proxima: 'proxima-nova', sans-serif;
/* these are BMC fonts 2024 */
$font-ivymode: 'IvyMode', sans-serif;
$font-dunbar: 'Dunbar Tall', sans-serif;
$font-turnip: 'Turnip', serif;

$breakpoint-min-width: 320px;
$breakpoint-400:  400px;
$breakpoint-small-480:   480px;
$breakpoint-small-width:   600px;
$breakpoint-sm-med-668:  668px;
$breakpoint-medium-768:   768px;
$breakpoint-medium-width:  800px;
$breakpoint-med-lg-868:   868px;
$breakpoint-medium-large-width:  960px;
$breakpoint-large-981:   981px;
$breakpoint-large-width:   1050px;
$breakpoint-xlarge-1100:   1100px;
$breakpoint-1200:   1200px;
$breakpoint-xxlarge-1405:   1405px;
$breakpoint-1440:  1440px;
$breakpoint-1455:  1455px;
$breakpoint-xxxlarge-1605:   1605px;

$vertical-gutter: 10px 0;

// variables from bmcd9 theme for flex to work in bulletin
//
// Breakpoints
//
$break-x-large: 1200px;
$break-large: 1050px;
$break-medium: 600px;

// Content
$content-max: 1400px;

//
// Colors
//
$color-white: #FFF;
$color-black: #000;
$color-grey1: #F1F1F1; //neutral50 - used for border, bkgd, box-shadow
$color-grey5: #E7E7E7; //neutral100 - used for vert tab bkgd
$color-border: #D1CDCD; // neutral200 - use for vert tab border
$color-grey3: #A39F9F; // neutral400 - used for borders
$color-grey6: #6E6969; // neutral600 - used for focus rings
$color-grey4: #353535; //neutral800 - used for txt, bkgd, links

//
// Old Colors
//
$color-brightblue: #3FCEFF;
$color-yellow: #F8E19B;
$color-darkblue: #003361;
$color-foamygreen: #9BCBCC;
$color-grey2: #C7C7C7; // used for borders and bkgds
$color-paleyellow: #FBF0CD;
$color-swungblue: #007690;
$color-bulletgreen: #599D9E;
$color-skyblue: #7CDEFF;

//
// New Colors
//

$color-navy: #002858;
$color-bronze:  #A7641C;
$color-evergreen: #215834;

$color-lantern:  #FFC600;
$color-lantern25: #FFF1BF;
$color-lantern50: #FFE380;
$color-lantern75: #FFD440;

$color-chiffon:  #FFF7D9;
$color-chiffon35: #FFFCF2;

$color-mint: #BFF1D8;
$color-coral:  #FF9E79;

$color-dem-blaze:  #C73500;
$color-blaze: #FC4D0F;

$color-wisteria: #A6B0EF;
$color-stone:  #BAA890;
$color-feather: #F1EEE9;

