@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-Bd.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-Bdlf.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-Blk_1_006.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-DBd.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-Md.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-Mdlt.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-Rg.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-XBd.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Berlingske';
  src: url('../assets/fonts/BerlingskeSerif-Lt.otf') format('opentype');
  font-weight: 300;
}
