$html-font-size: 16px;

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

/// Clearfix
@mixin clearfix() {
  &:after,
  &:before {
    display: table;
    content: '';
    clear: both;
  }
}

/// Image replacement
@mixin ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;                     // Remove the default border from elements like <button>
  font: 0/0 $font-proxima;                   // Crush the text down to take up no space
  text-shadow: none;             // Remove any text shadows
  color: transparent;            // Hide any residual text in Safari 4 and any mobile devices that may need it
  background-color: transparent; // Hide the default background color on elements like <button>
}

/// Invisible elements
@mixin element-invisible {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.element-invisible {
  @include element-invisible();
}

/// Show an invisible element
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/// Show invisible element when focused
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

/// Full width mixin to break content out into gutters
@mixin full-width() {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

@mixin cta-arrow($cta-arrow-size) {
  color: $color-navy;
  padding-right: 2em;
  text-decoration: none;

  &:after {
    transition: all 0.3s;
    /* background: url(../assets/icons/icons_arrow.svg) center no-repeat; */
    border-right: 1.5px solid $color-blaze;
    border-top: 1.5px solid $color-blaze;
    background-size: auto;
    background-size: contain;
    content: "";
    margin: 1rem 0 0 2px;
    position: absolute;
    transform: translate(50%, -50%) rotate(45deg);
    @if $cta-arrow-size==sm {
      $width: rem(8);

      width: $width;
      height: $width;
      margin: 0.7em 0 3px;
    }
    @else if $cta-arrow-size==md {
      $width: rem(9);

      width: $width;
      height: $width;
    }
    @else if $cta-arrow-size==lg {
      $width: rem(12);

      width: $width;
      height: $width;

      @media (min-width: $break-medium) {
        $width: rem(13);

        width: $width;
        height: $width;
      }
    }
    @else if $cta-arrow-size==xl {
      $width: rem(16);

      width: $width;
      height: $width;
    }
  }

  &:hover {
    color: $color-bronze;
    &:after {
      border-right: 1.5px solid $color-bronze;
      border-top: 1.5px solid $color-bronze;
      transform: translate(100%, -50%) rotate(45deg);
      transition: all 0.3s;
    }
  }
}

@mixin hpFeatureLinks() {
  color: $color-navy;
  font-family: $font-dunbar;
  font-size: rem(15);
  font-weight: 700;
  letter-spacing: 0.4px;
  background: transparent;
  display: block;
  margin: 0.75em 0 0;
  &:hover {
    color: $color-bronze;
  }
}


/* also CHANGE admin.css for WYSIWYG Editor Styles */

@mixin cta-button-primary() {
  color: $color-navy;
  font-family: $font-dunbar;
  font-size: rem(15);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.35px;
  display: inline-block;
  background: $color-lantern;
  border: 2px solid $color-lantern;
  padding: 0.5em 1.2em;
  margin: 0.2em 0;

  @media (min-width: $break-medium) {
    margin: 0.8em 0;
  }

  &:hover {
    color: $color-navy;
    background: $color-chiffon;
    border: 2px solid $color-lantern;
  }
}

.cta--button--primary {
  @include cta-button-primary();
}


/* also CHANGE admin.css for WYSIWYG Editor Styles */

@mixin cta-button-secondary() {
  color: $color-navy;
  font-family: $font-dunbar;
  font-size: rem(15);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.35px;
  display: inline-block;
  border: 2px solid $color-navy;
  background: transparent;
  padding: 0.5em 1.2em;
  margin: 0.2em 0;
  transition: all 300ms;

  @media (min-width: $break-medium) {
    margin: 0.8em 0;
  }

  &:hover {
    background: $color-navy;
    color: $color-white;
  }
}

.cta--button--secondary,
.cta--secondary {
  @include cta-button-secondary();
}

@mixin carousel-arrow() {
  color: transparent;
  width: 36px;
  height: 36px;
  overflow: hidden;
  background: url(../assets/icons/icon_arrow_white.svg) center no-repeat; //preload for hover state
  background: url(../assets/icons/icons_arrow_blue.svg) center no-repeat;
  background-color: transparent;
  border: solid 1px $color-navy;

  &:hover {
    background: url(../assets/icons/icons_arrow_white.svg);
    background-color: $color-navy;
  }
}

@mixin paragraph-intro() {
  font-family: $font-proxima;
  font-size: rem(18);
  font-weight: 400;

  @media (min-width: $break-medium) {
    font-size: rem(18);
  }
}

@mixin intro-fancy() {
  font-family: $font-turnip;
  font-weight: 390;
  font-size: rem(21);
  font-style: italic;
  line-height: rem(28);
}
.intro-wysiwyg {
  @include intro-fancy();
}
@mixin intro-text() {
  @include intro-fancy();
  border-bottom: 35px solid $color-feather;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px;

  > div {
    @media (min-width: $break-large) {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  p {
    margin-top: 0.8em;
    margin-bottom: 0.9em;

    @media (min-width: $break-medium) {
      margin-bottom: 0.9em;
      margin-top: 1.45em;
    }

    @media (min-width: $break-large) {
      margin-top: 0.9em;
    }
  }

  @media (min-width: $break-medium) {
    font-size: rem(30);
    line-height: rem(38);
    padding: 0 50px 10px;
    border-bottom: 36px solid $color-feather;
    @include full-width();

  }

  @media (min-width: $break-large) {
    font-size: rem(30);
    line-height: rem(38);
    padding: 30px 0 25px;
  }
}

@mixin largeStylesExcludeInside {
  .page-wrapper.not-inside-bmc &,
  .no-sec-nav .inside-bryn-mawr & {
    @media (min-width: $break-large) {
      @content;
    }
  }
}

@mixin postHeadingDecorativeUnderline($line-color: $color-coral) {
  &:after {
    content: '';
    margin-top: 15px;
    display: block;
    width: 64px;
    height: 2px;
    background-color: $line-color;

  }
}

@mixin focusStyles {
  outline: 2px solid #808080;
  outline-offset: 2px;
  transition: none;
}

@mixin detailsHeading() {
  font-family: $font-dunbar;
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1.1em;
  position: relative;

  @media (min-width: $break-medium) {
    font-size: rem(16);
    letter-spacing: 2px;
    margin-top: 2px;
    margin-bottom: 0.75em;
  }

  @include largeStylesExcludeInside {
    margin-bottom: 1.25em;
  }

  span {
    background: $color-white;
    position: relative;
    z-index: 1;
    padding-right: 12px;

    @include largeStylesExcludeInside {
      padding-right: 8px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0.5em;
    height: 1px;
    width: 100%;
    left: 0;
    background: $color-blaze;
  }
}

@mixin smallSansHeading() {
  font-size: rem(14);
  color: $color-navy;
  font-weight: 600;
  line-height: rem(14);
  font-family: $font-dunbar;
  margin: 0 0 1em;
  letter-spacing: 0.4px;

  .inside-bryn-mawr & {
    @media (min-width: $break-large) {
      font-size: rem(16);
    }
  }
}

// Apply to the direct parent of the column items
@mixin threeCol() {
  @media (min-width: $break-medium) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11.5px;
  }

  @include largeStylesExcludeInside {
    margin: 0 -13px;
  }

  > * {
    @media (min-width: $break-medium) {
      width: 50%;
      padding: 0 11.5px;
    }
    @include largeStylesExcludeInside {
      width: 33.33%;
      padding: 0 13px;
    }
  }
}

// identifiers
@mixin tag() {
  font-family: $font-dunbar;
  font-size: rem(13);
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: rem(14);
  padding: .45em 0.1em 0;
  display: inline-block;
  border-top: 2px solid $color-lantern;

  &--inside {
    border-top: 2px solid $color-feather;
  }

  &--bulletin {
    border-top: 2px solid $color-chiffon;
  }

  &--gsas {
    border-top: 2px solid $color-coral;
  }

  &--socialwork {
    border-top: 2px solid $color-wisteria;
  }

  &--postbac {
    border-top: 2px solid $color-mint;
  }

  &.minor {
    background-color: $color-wisteria;
    color: $color-navy;
    padding: .5rem;
  }

  &.major {
    background-color: $color-navy;
    color: $color-feather;
    padding: .5rem;
  }

  &.concentration {
    background-color: $color-lantern;
    color: $color-navy;
    padding: .5rem;
  }

  &.combined {
    background: transparent url(../assets/icons/icons_combined.svg) no-repeat left 8px;
    padding-left: 17px;
  }

  &.trico {
    background: transparent url(../assets/icons/icons_trico.svg) no-repeat left 8px;
    padding-left: 17px;
  }

  &.bico {
    background: transparent url(../assets/icons/icons_bico.svg) no-repeat left 8px;
    padding-left: 17px;
  }
}

.identifier {
  @include tag();
}

// Contact icons
@mixin contact-icons() {
  position: relative;
  padding-left: 30px;
  &:after {
    position: absolute;
    top: -2px;
    left: -6px;
    display: block;
    width: 32px;
    height: 32px;
    content: '';
    background-repeat: no-repeat;
  }
}
