/**
 * @file
 * Variables
 *
 * Contains global variables available to the theme.
 */

//
// Fonts
//

$font-proxima: "proxima-nova",sans-serif;
$font-ivymode: "ivymode",sans-serif;
$font-dunbar: "dunbar-tall",sans-serif;
$font-turnip: "turnip",serif;

//
// Breakpoints
//
$break-x-large-plus: 1240px;
$break-x-large: 1201px;
$break-large-plus: 1070px;
$break-large: 1025px;
$break-medium: 700px;

// Content
$content-max: 1400px;

//
// Colors
//
$color-white: #FFF;
$color-black: #000;
$color-grey1: #F1F1F1; //neutral50 - used for border, bkgd, box-shadow
$color-grey5: #E7E7E7; //neutral100 - used for vert tab bkgd
$color-border: #D1CDCD; // neutral200 - use for vert tab border
$color-grey3: #A39F9F; // neutral400 - used for borders
$color-grey6: #6E6969; // neutral600 - used for focus rings
$color-grey4: #353535; //neutral800 - used for txt, bkgd, links

//
// Old Colors
//
$color-brightblue: #3FCEFF;
$color-yellow: #F8E19B;
$color-darkblue: #003361;
$color-foamygreen: #9BCBCC;
$color-grey2: #C7C7C7; // used for borders and bkgds
$color-paleyellow: #FBF0CD;
$color-swungblue: #007690;
$color-bulletgreen: #599D9E;
$color-skyblue: #7CDEFF;

//
// New Colors
//

$color-navy: #002858;
$color-bronze:  #A7641C;
$color-evergreen: #215834;

$color-lantern:  #FFC600;
$color-lantern25: #FFF1BF;
$color-lantern50: #FFE380;
$color-lantern75: #FFD440;

$color-chiffon:  #FFF7D9;
$color-chiffon35: #FFFCF2;

$color-mint: #BFF1D8;
$color-coral:  #FF9E79;

$color-dem-blaze:  #C73500;
$color-blaze: #FC4D0F;

$color-wisteria: #A6B0EF;
$color-stone:  #BAA890;
$color-feather: #F1EEE9;
/* New colors to old variable map
$color-neutral800: #353535; //color-grey4
$color-neutral400: #A39F9F; //color-grey3
$color-neutral100: #E7E7E7; //color-grey5
$color-neutral50: #F1F1F1; //color-grey1
$color-neutral200: #D1CDCD; //color-border
$color-neutral600: #6E6969; //color-grey6
$color-white:  #FFFFFF;  //color-white
$color-black: #000000; //color-black
*/
