{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'events-listing-view-block',
    'filter-focus-view-block'
  ]
%}
{{ attach_library('bmc_d9/events') }}
{{ attach_library('bmc_d9/filterFocus') }}

<div{{ attributes.addClass(classes).setAttribute('data-viewname', 'event-listing') }}>
  <h3 class="visually-hidden">Events list filters</h3>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  <button class="open-events-filter expanded">Filters (<span>0</span>)</button>
  <div class="events__filters">
    {{ exposed }}
    {% if header %}
      <div class="view-header">
        <strong aria-live="polite">{{ header }}</strong>
         <a class="cta--button--primary" href="#events-listing">See Results</a>
      </div>
    {% endif %}
  </div>

  <h3 class="visually-hidden">Events list results</h3>
  {% if header %}
    <div class="view-header" aria-live="polite">
      {{ header }} Found
    </div>
  {% endif %}

  {{ attachment_before }}

  <div class="view-rows" id="events-listing">
    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
  </div>
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
