{#
/**
 * @file
 * Theme override for Directory Listing views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="form--inline clearfix">
  {{ form.type }}
  {{ form.department }}
  <div class="search-input">
    <div class="search-input__wrapper">
      {{ form.combine }}
      {{ form|without('type', 'department', 'combine') }}
    </div>
  </div>
</div>