<h1>Course Search Results</h1>

<h2>Courses</h2>

{{ result_info }}

<p>Listed {{ result_numbers.start }} to {{ result_numbers.end }} of {{ result_numbers.total }}</p>

<p class="trico-pager">
<a href="{{ new_search_url }}">New Search</a>

{% if prev_page_url %}
  <a href="{{ prev_page_url }}">Prev 50 Hits</a>
{% endif %}
{% if next_page_url %}
  <a href="{{ next_page_url }}">Next 50 Hits</a>
{% endif %}
</p>
