{#
/**
 * @file
 * Program Finder Block template.
 *
 * Available variables:
 * - parent_node_title: The title of the node this block is embedded on.
 * - program_finder_hero_img: A list of the block's configuration values.
 *   - alt: The alt text for the image.
 *   - src: The src attribute for the Image Style processed image.
 *   - height: The height attribute for the Image Style processed image.
 *   - width: The width attribute for the Image Style processed image.
 *   - style: The machine name of the image style used.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div class="program-finder__hero">
  <h1>{{ parent_node_title }}</h1>
  <img src="{{ program_finder_hero_img.src }}" alt="{{ program_finder_hero_img.alt }}">
</div>
<div class="program-finder" id="program-finder">
  <form v-on:submit.prevent="updateSearch">
    <div class="search-field">
      <label class="visually-hidden" for="program-search">Search majors, minors, and concentrations</label>
      <input id="program-search" type="text" ref="searchInput" placeholder="Search">
      <input type="submit" value="submit">
    </div>
  </form>
  <button v-on:click="showFilters = !showFilters" :aria-expanded="showFilters ? 'true': 'false'" class="open-program-filter">filters (${selectedInterests.length + selectedTypes.length})</button>
  <transition name="slide">
    <div class="program-filter__panels" v-show="showFilters">
      <div class="program-filter__panel">
        <fieldset>
          <legend>interest</legend>
          <div class="program__interests">
            <div v-for="interestFilter in interestFilters" :class="{'is-active': interestFilter.active}" :key="interestFilter.id">
              <input :disabled="!interestFilter.active" v-model="selectedInterests" :value="interestFilter.id" type="checkbox" :id="interestFilter.id">
              <label :for="interestFilter.id">${interestFilter.label}</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="program-filter__panel">
        <fieldset>
          <legend>type</legend>
          <div v-for="typeFilter in typeFilters" :class="{'is-active': typeFilter.active}" :key="typeFilter.id">
            <input :disabled="!typeFilter.active" v-model="selectedTypes" :value="typeFilter.id" type="checkbox" :id="typeFilter.id">
            <label :for="typeFilter.id">${typeFilter.label}</label>
          </div>
        </fieldset>
         <button 
          :disabled="!(selectedTypes.length > 0 || selectedInterests.length > 0 || searchTerms != '')"
          class="program__clear cta--secondary" 
          v-on:click="clearFilters">Clear</button>
      </div>
      <div class="program-filter__panels__results" v-show="showResultsButton">
        <strong>${filteredResults.length} Programs</strong>
        <a href="#program-results">See Results</a>
      </div>
    </div>
  </transition>
  <div aria-live="polite" class="program__results-count">
    ${filteredResults.length} Programs
  </div>
  <div class="program__results" id="program-results">
    <div class="program__result" :key="program.id" v-for="program in filteredResults">
      <div class="program__result--item has-link">
        <img :src="program.image.src" :alt="program.image.alt">
        <h2>
          <a :href="program.path">
            ${ program.title }
          </a>
        </h2>
      </div>
      <div class="program__result__types">
        <div v-for="(type, index) in program.types" class="program__result__type">
          <div class="program__label">
            <button :aria-describedby="'type-'+index+program.id" aria-expanded="false" class="program__identifier" v-on:click="showTooltip($event, index+program.id)" :class="getType(type).css_class">${ getType(type).label }</button>
          </div>
        </div>
        <div v-for="(type, index) in program.types" class="program__result__type">
          <div :id="'type-'+index+program.id" class="program__identifier__tooltip">${ getType(type).tooltip }</div>
        </div>
      </div>
    </div>
  </div>
</div>