blockquote,
.story-1-up__quote--blockquote {
  /* BLOCKQUOTE BOX - Size, Placement, and Background color set */
  font-size: rem(16);
  line-height: rem(20);
  font-weight: 400;
  text-align: center;
  background: $color-feather;
  padding: 1.4em 30px 1.5em;
  margin: 0 0 60px 0;
  position: relative;
  max-width: 100%;

  @media (min-width: $break-medium) {
    font-size: rem(16);
    width: 335px;
    float: right;
    margin-left: 40px;
  }

  p {
    margin: 0;
  }
  /* LINE as Border :after AND feather square :before to cover line  */
  strong,
  .quote__name,
  .fquote__attr.quote__name,
  .homepage-feature-story__story--name,
  .story-1-up__quote__name {
    font-size: rem(17);
    font-weight: 700;
    padding: 0 8px 25px;
    margin: 0 -8px 25px;
    display: block;
    border-bottom: 1px solid $color-stone;
    position: relative;

    @media (min-width: $break-medium) {
      padding: 0 0 25px;
      margin: 0 0 25px;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -32px;
      left: 50%;
      width: 54px;
      height: 54px;
      transform: translateX(-50%);
      background: $color-feather;

      @media (min-width: $break-medium) {
        width: 75px;
      }
    }
  }


  /* QUOTE Icon :after for feat. child quote */
  strong,
  .fquote__attr.quote__name {
    &:after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      width: 36px;
      height: 33px;
      margin:0;
      border: none;
      transform: translateX(-50%);
      background: url(../assets/icons/icons_quote.svg) center no-repeat;
      background-size: 100%;

      @media (min-width: $break-medium) {
        bottom: -18px;
      }
    }
  }

  /* DIAMOND as Border :after  */
  .quote__name,
  .story-1-up__quote__name {
    margin: 0 0 25px 40px;
    &:before {
      background: transparent;
      width: 70px;
    }
    &:after {
    border: 2px solid $color-bronze;
    background-size: auto;
    background-size: contain;
    margin: 0 0 12px 0;
    transform: translate(50%, -100%) rotate(45deg);
    content: "";
    left: -3.25rem;
    width: 15px;
    height: 15px;
    position: absolute;

    @media (min-width: $break-medium) {

       }
    }
  }
}

.story-1-up__quote__name,
.story-feature__right--quote .quote__name,
.story__header--quote .quote__name{
  &:after {
    bottom: -40px;
  }
}

/* for QUOTE Icon in Feature Quote */
.quote__inner--icon {
      content: "";
      position: absolute;
      top: 0;
      left: 45%;
      width: 64px;
      height: 64px;
      border: none;
      transform: translateX(-50%);
      background: url(../assets/icons/icons_quote.svg);
      background-size: 100%;
    }


