/*
  add class names to elements in template
  .play-video -- wrapper
  .video-title -- video text
  .caption-text -- caption text
  See fvid.html.twig for example
*/

.play-video,
.fvid__play,
.image-gallery__inner {
  font-family: $sans;
  color: #000;
  font-size: rem(18);
  font-weight: 500;
  text-align: left;
  line-height: 1.35;
  border: 0;
  background: $color-yellow; /* matches bmcd9 theme */
  width: 100%;
  display: block;
  padding: 20px 20px 20px 100px;
  position: relative;
  min-height: 100px;

  &:focus {
    outline-color: white;
  }

  @media (min-width: $breakpoint-medium-768) {
    font-size: rem(20);
    width: 390px;
    left: 37px;
    position: absolute;
    top: calc(100% + 45px);
    transform: translateY(-100%);
    padding: 24px 25px 20px 135px;
    min-height: 130px;
  }

  @media (min-width: $breakpoint-large-width) {
    padding: 20px 25px 20px 170px;
    top: calc(100% + 55px);
    min-height: 165px;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    &:before {
      opacity: 0;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 28px;
    top: 22%;
    width: 38px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/icons/icons_play.svg);
    background-size: 100%;
    opacity: 1;
    transition: opacity 300ms;

    @media (min-width: $breakpoint-medium-768) {
      width: 43px;
      height: 62px;
      left: 32px;
      top: 20%;
    }

    @media (min-width: $breakpoint-large-width) {
      width: 61px;
      height: 90px;
    }
  }

  &:after {
    background-image: url(../assets/icons/icons_play_hover.svg);
    opacity: 0;
  }

  .video-title,
  .image-gallery__inner--heading {
    font-size: rem(16);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: block;
  }

  .caption-text,
  .image-gallery--inner--intro {
    margin-top: 10px;
    display: block;

    p {
      margin: 0;
    }
  }
}
