.columns__items--item,
.event-teaser-3up__items--item,
.feat_grid__items__list_item,
.news-feature--item,
.news-listing__items--item,
.news-title-only__items--item,
.program__result--item,
.story-listing__items--item {
  &.has-link {
    position: relative;
    cursor: pointer;
    &:hover {
   /*   opacity: 0.8; */
      .cta-button {
        background: $color-navy;
        color: $color-white;
      }
    }
    a {
      color: $color-navy;
      display: inline;
      text-decoration:none;
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
      }
      &:hover {
        color: $color-bronze;
      }
    }
  }
}


// Add cta-arrow mixin to title
.event-teaser-3up__items--item,
.news-feature--item,
.news-listing__items--item,
.news-title-only__items--item {
  &.has-link {
    &:hover {
      h3, .news-feature__title {
        &:after {
        /*  transform: translate(5px, -50%)!important; */
        }
      }
    }
    h3, h4 {
      @include cta-arrow(md);
      font-weight: 800;
      &:after {
        transition: all 0.3s;
      }
    }
    .news-feature__title {
      @include cta-arrow(md);
      font-weight: 800;
      &:after {
        transition: all 0.3s;
        margin: 1.4rem 0 0 2px;
      }
    }
  }
}

// Add cta-arrow mixin to columns title.
// NOTE: if you include columns as part of above, it duplicates arrow after image also
.columns__items--item.has-link {
  &:hover {
    h3 {
      &:after {
   /*     transform: translate(5px, -50%)!important; */
      }
    }
  }
  h3 {
    @include cta-arrow(md);
    font-weight: 800;
    &:after {
      transition: all 0.3s;
    }
  }
}

// Add cta-button-primary mixin
.feat_grid__items__list_item {
  &.has-link {
    &:hover {
      a {
        color: $color-white;
        background: $color-grey4;
      }
    }
    a {
      @include cta-button-primary();
    }
  }
}


// Add image zoom on hover
.columns__items--item,
.event-teaser-3up__items--item,
.news-listing__items--item,
.news-feature--item,
.story-listing__items--item {
  &.has-link {
    &:hover {
      .columns__items--item--img,
      .event-teaser-3up__img,
      .news-listing--img,
      .news-feature--img,
      .story-listing--img {
        overflow: hidden;
        img {
          transform: scale(1.1);
        }
      }
    }
    .columns__items--item--img,
    .event-teaser-3up__img,
    .news-listing--img,
    .news-feature--img,
    .story-listing--img {
      overflow: hidden;
      img {
        transform: scale(1);
        transition: all 0.3s ease;
        vertical-align: middle;
      }
    }
  }
}
