.contact-wrap {
  background-color: $color-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  @media (min-width: $break-medium) {
    width: 48.17%;
  }

  @include largeStylesExcludeInside() {
    width: 41.75%;
  }

  &__section-heading {
    font-size: rem(27);
    line-height: 1.23;
    padding: 0;
    margin: 0;
    &:after {
      clear:both;
    }



    @media (min-width: $break-medium) {
      font-size: rem(30);
      line-height: 1.13;
    }

    @include largeStylesExcludeInside() {
      font-size: rem(40);
      line-height: 1.11;
    }
  }
  .content-child {
    content: '';
    width: 2px;
    position: relative;
    border-right: 2px solid $color-coral;
    box-sizing: border-box;
    height: rem(34);
    @media (min-width: $break-medium) {
      height: rem(58);
    }
  }
  &__title {
    @extend h6;
    color: $color-bronze;
    font-size: rem(14);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3;
    margin:0;
  }

  &__body {
    font-size: rem(17);
    font-weight: 400;
    line-height: 1.3;
  /*  a {
      color: $color-navy;
      &:hover {
        color: $color-bronze;
      }
    }*/
  }
}

.inside-bryn-mawr {
  .contact-wrap__title {
    @media (min-width: $break-large) {
      font-size: rem(16);
    }
  }
}
