.event-date,
.event-teaser-3up__date,
.event-teaser-3up__dates {
    position: relative;
    display: block;
    text-align: center;
    color: $color-navy;
    &__moda {
        width: 80px;
        height: 90px;
        padding: 11px 15px;
      background: $color-chiffon;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    &__range {
        width: 125px;
        height: auto;
        @media (min-width: $break-medium) {
            height: 84px;
        }
        .event-date__day {
            font-size: rem(24);
        }
    }
    &__month,
    &--month {
        font-family: $font-proxima;
        font-size: rem(17);
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: rem(22);
        text-transform: uppercase;
    }
    &__day {
        font-family: $font-ivymode;
        font-size: rem(32);
        font-weight: 600;
        letter-spacing: 0;
        line-height: rem(40);
    }
    &__year {
        font-size: rem(17);
        letter-spacing: 1.5px;
        font-weight: 700;
        line-height: rem(22);
        min-width: 73px;
      padding-bottom: 12px;

      background: $color-chiffon;
      /* padding: 5px 18px 6px;
      background: $color-skyblue;
      border-top: 1px solid $color-white; */
    }
    &--year {
      @extend .event-date__year;
      margin: 0px -15px;
    }

}
.event-teaser-3up__date {
    .event-date__moda {
        height: 113px;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .event-date__day {
      line-height: rem(52);
    }
}
