/*
  add class names to elements in template
  .play-video -- wrapper
  .video-title -- video text
  .caption-text -- caption text
  See fvid.html.twig for example
*/

.play-video,
.image-gallery__inner {
  color: $color-navy;
  font-size: rem(18);
  font-weight: 500;
  text-align: left;
  line-height: 1.35;
  border: 0;
  background: $color-wisteria;
  width: 100%;
  display: block;
  padding: 20px 20px 20px 100px;
  position: relative;
  min-height: 100px;

  &:focus {
    outline-color: $color-white;
  }

  @media (min-width: $break-medium) {
    font-size: rem(20);
    width: 390px;
    left: 37px;
    position: absolute;
    top: calc(100% + 45px);
    transform: translateY(-100%);
    padding: 24px 25px 20px 135px;
    min-height: 130px;
  }

  @include largeStylesExcludeInside {
    min-height: 165px;
    padding: 20px 25px 20px 170px;
    top: calc(100% + 55px);
  }

  &:hover {
    color: $color-navy;
    background: $color-chiffon;
    &:after {
      opacity: 1;
    }

    &:before {
      opacity: 0;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/icons/icons_play.svg);
    background-size: 100%;
    opacity: 1;
    transition: opacity 300ms;

    @media (min-width: $break-medium) {
      width: 43px;
      height: 62px;
      left: 32px;
    }

    @include largeStylesExcludeInside {
      width: 61px;
      height: 90px;
    }
  }

  &:after {
    background-image: url(../assets/icons/icons_play.svg);
    opacity: 0;
  }

  .video-title,
  .image-gallery__inner--heading {
    font-family: $font-dunbar;
    font-size: rem(15);
    font-weight: 700;
    line-height: rem(26);
    letter-spacing: 0.4px;
    display: block;
  }

  .caption-text,
  .image-gallery--inner--intro {
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(20);
    margin-top: 10px;
    display: block;

    p {
      margin: 0;
    }
  }
  .video-title {
    &:before {
      content: '';
      width: 1px;
      position: absolute;
      background: $color-navy;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 60%;
      top: 50%;
      transform: translateY(-50%);
      left: 5rem;
      @media (min-width: $break-medium) {
        left: 6rem;
      }

      @include largeStylesExcludeInside {
        left: 7.5rem;

      }
      &:hover {
        background: $color-navy;
      }
    }
  }
}
