.fstat {
  font-size: rem(16);
  font-weight: 400;
  text-align: center;
  background: $color-lantern;
  padding: 20px;
  position: relative;
  line-height: 1.3;

  @media (min-width: $break-medium) {
    font-size: rem(16);
    padding: 45px 30px 45px;
  }

  @include largeStylesExcludeInside() {
    width: 335px;
    /*min-height: 335px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fstat__num {
    font-family: $font-ivymode;
    font-weight: 400;
    font-size: rem(70);
    font-style: italic;
    line-height: rem(70);
    letter-spacing: -4px;
    margin-left: -30px;
    margin-right: -30px;

    span {
      font-family: $font-proxima;
      font-size: rem(70);
      font-weight: 400;

      @media (min-width: $break-medium) {
       /* font-size: rem(80); */
      }
    }

    @media (min-width: $break-medium) {
    /*  font-size: rem(100);
      line-height: 0.85; */
    }

    @media (min-width: $break-large) {
      font-size: rem(80);
      line-height: rem(80);
    }

 /*   &:before {
      content: "";
      position: absolute;
      top: 30px;
      left: 22px;
      right: 22px;
      height: 0;
      padding: 0 10px;
      border-bottom: 4px solid $color-white;
      z-index: 0;

      @media (min-width: $break-medium) {
        border-bottom: 6px solid $color-white;
        top: 57px;
        left: 30px;
        right: 30px;
        padding: 0;
      }

      @include largeStylesExcludeInside() {
        top: 77px;
      }
    } */
  }

  .fstat__desc {
    margin-top: 0.125em;
  }

 /* &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 45px;
    height: 45px;
    transform: translateX(-50%);
    background: url(../assets/icons/icons_statistic.svg);
    background-size: 100%;
    z-index: 10;

    @media (min-width: $break-medium) {
      width: 64px;
      height: 64px;
      top: 30px;
    }

    @include largeStylesExcludeInside() {
      top: 50px;
    }
  } */

 /* &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 45px;
    height: 45px;
    padding: 0 5px;
    transform: translateX(-50%);
    background: $color-yellow;
    z-index: 10;

    @media (min-width: $break-medium) {
      width: 70px;
      height: 50px;
      top: 30px;
    }

    @include largeStylesExcludeInside() {
      top: 50px;
    }
  } */
}
