.story-listing {
  text-align: left;

  &__feat-label,
  &__story-label,
  &__video-label {
    @include smallSansHeading();
    font-size: rem(13);
    padding: 0.75em;
    margin: 0 0 0.75em;
    text-align: center;
  }
  &__feat-label {
    background: $color-mint;
  }
  &__story-label {
    background: $color-lantern;
  }
  &__video-label {
    background: $color-wisteria;

    &:before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 17px;
      vertical-align: middle;
      margin-top: -0.2em;
      margin-right: 9px;
      background-image: url(../assets/icons/icons_play.svg);
      background-size: 100%;
    }
  }
  &__no-label {
    background: $color-feather;
    padding: 1.1rem;
    margin: 0 0 0.5em;
  }
  &__title {
    @extend h6;
    margin-bottom: 4px;
    margin-top: 1em;
  }
  &__subtitle {
    font-size: rem(17);
    line-height: rem(22);
  }
  &__quote {

    blockquote {
      font-family: $font-turnip;
      font-size: rem(21);
      font-weight: 390;
      font-style: italic;
      line-height: rem(24);
      color: $color-evergreen;
      text-align: left;
      background: none;
      width: 100%;
      margin: 0;
      padding: 0.2em;
      .quote__name {
        margin: 0 0 25px 40px;
        &:after {
       /*   width: 45px;
          height: 45px;
          bottom: -26px; */
          left: -3rem;
          margin: 2.3rem 0 0 2px;
          @media (min-width: $break-medium) {
            left: -3rem;
            bottom: -30px;
          }
        }
        &:before {
         background: transparent;
          width: 70px;
        }
      }
      &:after {
        content: none;
      }
    }
  }
  &__cta {
    @include cta-button-secondary();
    margin: 0!important;

    &:focus {
      &:after {
        @include focusStyles();
      }
    }
  }
  .identifiers {
    font-weight: 700;
    padding: 0 rem(30);
  }

  .identifier {
    margin: 1rem auto;
  }
h3.story-listing__title {
  @extend h6;
  margin-bottom: 4px;
  margin-top: 1em;
}
  a {
    display: inline-block!important;
    margin: 1.125em 0 0.4em;
  }
}
