.anncmnt__tags,
.news__tags,
.event__tags,
.story__tags {
  ul li:before {
    background: none;
  }
}

.tagged-as {
  margin-top: rem(60);
  @include largeStylesExcludeInside {
    h5 {
      font-size: rem(21);
    }
  }
  &__title {
    @include detailsHeading;
  @extend h5;


  }
  ul {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 20px;
    list-style-type: none;
    li {
      margin-bottom: 15px;
      padding: 0 0 0 6px;
      @media (min-width: $break-medium) {
        display: inline-block;
        padding-right: 50px;
      }
      :before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        left: -24px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../assets/icons/icons_tag.svg) center no-repeat;
        background-size: auto;
        background-size: contain;
      }
      a {
        @include hpFeatureLinks;
        margin: 0;
        font-weight: 500;
        letter-spacing: .75px;
      }
    }
  }
}
