* {
  box-sizing: border-box;
}

body {
  color: $color-navy; /* also CHANGE admin.css for WYSIWYG Editor Styles */
  font-family: $font-proxima;
  font-size: rem(17);
  line-height: 1.47;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.field--type-text-long {
  overflow-wrap: break-word;
}

input,
input[type="search"] {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

.block-local-tasks-block {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  background: $color-black;

  .tabs {
    margin: 0;
    display: flex;

    li {
      margin: 0;

      &:last-child {
        margin-right: -1px;
      }

      a {
        border: 0;
        padding: 0.5rem 1rem;
        color: $color-black;
        background: #E0E0D8;
        font-size: .875rem;
        font-weight: 700;
        letter-spacing: 1px;

        &:hover {
          color: $color-white;
          background-color: #0076C0;
        }

        &.is-active {
          background-color: #0076C0;
          pointer-events: none;
          color: $color-white;
        }
      }
    }
  }

  .contextual {
    display: none;
  }
}

.toolbar a {
  background: none;
}

.toolbar .toolbar-bar, .toolbar .toolbar-tray {
  z-index: 100000;
}

button {
  transition: all 300ms;
}


.inside .block-page-title-block {
  @include element-invisible();
}

.region-content,
.region-content-bottom-wrapper {
  position: relative;
  padding: 0 20px;

  @media (min-width: $break-medium) {
    padding: 0 50px;
  }

  @media (min-width: $break-large) {
    padding: 0 75px;
  }
}


a:active:focus,
a:hover:focus {
  @include focusStyles();
}

#block-bmc-d9-content,
#block-tridget,
.region-content-bottom-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

#block-tridget {
  max-width: initial;
  background-color: $color-feather;
  padding: 10px 15px 5px;
  border-radius: 6px;
  border: solid 2px $color-stone;

  @media (min-width: $break-large) {
    width: calc(100% - 270px);
    float: right;
  }
  .tabbed #searchForm input[type=submit],
  .tabbed #searchForm button[type=submit] {
    @include cta-button-primary;
  }
}

//Media
figure,
.embedded-entity {
  margin: 1.5em 0;
  position: relative;

  @media (min-width: $break-medium) {
    margin: 3.2em 0;
  }

  .embedded-entity {
    margin: 0;
  }

  .video-embed-field-launch-modal {
    display: none;
  }

  &.align-center {
    display: table;
    margin-left: auto;
    margin-right: auto;

    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }

  &.align-left,
  &.align-right {
    float: none;

    @media (min-width: $break-medium) {
      margin: 5px 0 1.5em;
      max-width: 45%;
    }

    figcaption {
      @media (min-width: $break-medium) {
        margin: 0.5em 0 0;
      }
    }
  }

  &.align-right {
    @media (min-width: $break-medium) {
      margin-left: 40px;
      float: right;
    }
  }

  &.align-left {
    @media (min-width: $break-medium) {
      margin-right: 40px;
      float: left;
    }
  }
}

div[data-embed-button="video"] {
  @media (min-width: $break-medium) {
    margin: 3.2em 0 6em;
  }
}

div[data-embed-button="video"] + figcaption {
  margin: 0;
}

figcaption {
  font-size: rem(16);
  margin: 0.25em 0 0;

  @media (min-width: $break-medium) {
    margin: 0.75em 0 0;
  }
}

//Table and side scroller styles

/* also CHANGE admin.css for WYSIWYG Editor Styles */

table {
  border: 0;
  width: 100%;
  max-width: 1250px;
  position: relative;

  caption {
    padding-bottom: 0.75em;
    font-size: rem(16);
    padding-right: 20px;
  }

  &.sticky-header {
    thead {
      position: sticky;
      top: 0;
    }
  }

  thead {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: $color-lantern;
    z-index: 100;
    border-bottom: 4px solid $color-stone;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    tr {
      position: relative;
    }
  }

  td,
  th {
    font-family: $font-dunbar;
    font-size: rem(17);
    letter-spacing: 0.4px;
    line-height: rem(26);
    color: $color-navy;
    text-align: left;
    padding: 8px 12px;
    border: 1px solid $color-stone;
    vertical-align: top;
    min-width: 90px;

    @media (min-width: $break-medium) {
      padding: 10px 12px;
    }
  }
  th {
    font-weight: 600;
    a {
      color: $color-navy;
    }
  }
  td {
    font-weight: 400;
  }
}

.table__inner {
  position: relative;
}

.table--wysiwyg {
  position: relative;
  margin: 0 0 2.5em 0;

  @media (min-width: $break-medium) {
    margin: 0 0 2em 0;
  }

  .not-inside-bmc & {
    @media (min-width: $break-large) {
      margin: 0 0 3.6em 0;
      width: 100vw;
      position: relative;
      max-width: 1200px;
      padding: 0 75px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .page-node-admissions_officer &,
  .page-node-directory & {
    @media (min-width: $break-large) {
      width: auto;
      padding: 0;
    }
  }
}

.inside-bryn-mawr {
  .table--wysiwyg {
    @media (min-width: $break-large) {
      margin: 0 0 3.6em 0;
    }
  }
}

.js-scroll--left,
.js-scroll--right {
  table {
    display: block;

    caption {
      display: block;
    }
  }

  .table-scroller {
    overflow: auto;
    width: 100%;
    display: block;
  }

  // need to do a diff approach to the blue border when table is scrollable
  thead {
    border-bottom: 0;
    box-shadow: 0 -4px 0 $color-stone inset;

    @media (min-width: $break-medium) {
      box-shadow: 0 -4px 0 $color-stone inset;
    }
  }
}
.table-block__next {
  @include carousel-arrow();

  top: 50%;
  transform: translateY(0);
  left: 100%;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  position: sticky;
  display: block;
  background-color: $color-lantern;
  border: solid 1px $color-lantern;

  &:hover {
    background: url(../assets/icons/icons_arrow_blue.svg);
    background-color: $color-chiffon;
  }
}

.table-block__prev {
  @include carousel-arrow();

  top: 50%;
  left: 0;
  opacity: 0;
  z-index: 1000;
  transform: rotate(180deg)  translateY(0);
  visibility: hidden;
  display: block;
  float: left;
  position: sticky;
  background-color: $color-lantern;
  border: solid 1px $color-lantern;

  &:hover {
    background: url(../assets/icons/icons_arrow_blue.svg);
    background-color: $color-chiffon;
  }
}
.js-scroll--right {
  .table-block__next {
    opacity: 1;
    visibility: visible;
  }
}

.js-scroll--left {
  .table-block__prev {
    opacity: 1;
    visibility: visible;
  }
}

//Identifier styles for news, story
.hide-identifier {
  .identifiers {
    display: none;
  }
}

.marketing .identifier--marketing,
.graduate-school-of-social-work-and-social-research .identifier--socialwork,
.graduate-school-of-arts-and-sciences .identifier--gsas,
.postbaccalaureate-premedical-program .identifier--postbac {
  display: none;
}

*:focus {
  @include focusStyles();
  transition: none !important;
}

iframe {
  max-width: 100%;
}

/* also CHANGE admin.css for WYSIWYG Editor Styles */
hr {
  margin: 2em 0;
  border: $color-stone solid 1px;
}
hr.branded {
  border: $color-blaze 2px solid;
  list-style: none;
  margin: 2em 0;
  padding-left: 0;
}

.breadcrumb-replace,
.cta--button--primary.breadcrumb-replace {
  position: relative;
  z-index: 10000;
  margin-top: -10px;
  margin-bottom: 40px;
  align-self: flex-end;
  margin-left: auto;
  float: right;

  & + h1 {
    clear: both;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    height: 1px;
    transform: translateX(-100%);
    width: calc(100vw - 100% - 75px);
    left: -20px;
    background-color: $color-blaze;

    @media (min-width: $break-medium) {
      width: calc(100vw - 100% - 125px);
    }
  }

  @media (min-width: $break-large) {
    display: none;
  }
}
