.alumnae-bulletin.not-inside-bmc {
  /*  BASIC PAGE */
  .page__body {
    .carousel,
    .columns,
    .paragraph--type--feat-lg,
    .feat-md,
    .feat_grid,
    .imgdetlg {
      @media (min-width: $break-large) {
        @include full-width($bpg: true);
      }
    }

    .paragraph--type--feat-lg .feat-lg__item {
      @media (min-width: $break-large) {
        @include largeStylesExcludeInside {
          left: 195px;
          margin-top: 115px !important;
        }
      }
    }
  } /* END BASIC PAGE */

  /*  NEWS */
  .bulletin-article__body--paras {
    .carousel,
    .columns,
    .paragraph--type--feat-lg,
    .feat-md,
    .feat_grid,
    .imgdetlg {
      @media (min-width: $break-medium) {
        @include full-width($bpg: false);
      }
    }
    .paragraph--type--feat-lg .fdrop.paragraph {
      // override for feat-lg child paragraph
      margin-bottom: 0;
    }

    @media (min-width: $break-large) {
      .imgdetlg .imgdetlg__item+.imgdetlg__content-wrap {
        padding-right: 300px !important;
      }
      .imgdetlg .imgdetlg__item--floated {
        margin: 0 -50px 0 0 !important;
      }
    }
    .carousel {
      @media (min-width: $break-medium) {
        margin-left: -12px;
        margin-right: -20px;
      }
    }
  } /* END NEWS */
} /* ENS alumnae bulletin not inside  */


/* BASIC PAGE & NEWS  */
.bulletin-article__body--paras,
.alumnae-bulletin .page__body {
  .accordion,
  .image-gallery,
  .imglist,
  .quote,
  .slistlg,
  .smcallout {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }

  // accordion
  .accordion__content {
    padding-top:10px;
  }

  // columns
  .columns__items--item h3 {
    font-weight:800;
  }

  // contact
  .contact-wrap__body {
    font-size: 1rem;
    a {
      color: $color-swungblue;
      text-decoration: underline;
    }
  }

  // feature medium
  .feat-md {
    .fvid__play {
      position: static;
      transform: translateY(0);
      min-height: 165px;
      width: 100%;

      &:focus {
        @include focusStyles();
      }

      @include largeStylesExcludeInside {
        width: 392px;
      }
    }
  }
  // image detail large
  .imgdetlg {
    clear: both;
  }

  // CAPTION SIZE - feature med, feature large, image detail large
  .fcap__caption {
    font-size: 1.25rem;
  }

  // announcement4up
  // event 3up
  // feature grid - COMMS said they don't use this one: .feat_grid.paragraph,
  // news 3up
  // news contact
  // story 1up
  // story 3up
  .anncmnt_4_up.paragraph,
  .event-3-up.paragraph,
  .news-3-up.paragraph,
  .news-contact.paragraph,
  .story-1-up.paragraph,
  .story-3-up.paragraph {
    display:none;
  }

  // social media connect
  ul.feat_grid__items__list,
  ul.social_media_connect {
    list-style: none;
  }
  a.social_media_connect_item__link,
  .imglist__cta a,
  .callout__cta--secondary {
    &:hover,
    &:focus {
      color: black;
    }
  }


  // people list
  h3.directory-teaser-ppllist__name {
    text-transform: none;
  }
}


