body {
  font-family: $font-berlingske;
  font-size: 16px;
  line-height: 1.5;
  color: $z-black;
  @include m-links;

  * {
    box-sizing: border-box;
  }
  *:focus {
    outline: 2px solid #000000;
    outline-offset: 2px;
  }
  iframe {
    max-width: 100%;
  }
  button, input, select, textarea {
    font-family: $font-berlingske;
    font-size:16px;
    line-height: 1.5;
  }

  h2 {
    font-weight: 800;
  }
  h3, h4, h5 {
    font-weight: 600;
  }

  h2, h3, h4, h5 {
    font-family: $sans;
  }

  h3, h5 {
    text-transform: uppercase;
  }

  h1, h2, h3,
  h4, h5, h6 {
    line-height: 1.3;
  }

  h1 {
    color: $z-dark-grey;
    font-weight: 800;
    font-size: 4.4em;
    padding-bottom: 0.5em;
    @media (max-width: $breakpoint-medium-width) {
      font-size: 3.5em;
    }
    @media (max-width: $breakpoint-small-width) {
      font-size: 2.5em;
    }
  }
  h1.bulletin-block-title {
    padding-top: rem(55);
    margin-top: 0;
    text-align: center;
    font-size: 3em !important;
    font-family: $font-berlingske;
    &:after { /* for underline after pane-title */
      content: ".";
      display: block;
      text-indent: -9999px;
      height: 10px;
      width: 22%;
      background: $z-dark-grey;
      margin: 0.25em auto;
    }
  }
  h1.bulletin-news-title {
    padding: 1.5rem 0 0 0;
    margin: 0.4em 0;
    text-align: center;
    font-size: 3.25em !important;
    font-family: $font-berlingske;
    @media (max-width: $breakpoint-medium-width) {

      font-size: 3em !important;
      margin-top: 0;
    }

    @media (max-width: $breakpoint-small-width) {
      font-size: 2.25em !important;
      margin-top: 0;
    }
  }

  h2 {
    font-style: normal;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 1.7em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.2em;
  }
  main {
    font-size: 1.15em;
    clear: both;
    padding: 0;

    @media (max-width: $breakpoint-medium-width) {
      margin-top: 1.5em;
    }

    @media (min-width: $breakpoint-medium-768) {

      margin-left: 90px;
    }
  }
  #block-bmc-d9-content {
    @media (min-width: $breakpoint-medium-width) {
      max-width: initial;
      margin: auto;
    }

  }
  .region-content {
      position: relative;
      padding: 0 20px;
  }
  .block-page-title-block {
    @media (min-width: $break-medium) {
      position: relative;
      margin: 0;
      .content__page-header--image h1 {
        margin: 0  0.35em;
      }
    }
  }
  menu,
  ol,
  ul,
  .item-list ul {
    margin: 1.5em 0;
    padding: 0 0 0 30px;
    list-style: initial;

    li {
      margin: 0;
    }

    li:before {
      content: none;
    }
  }

  ol {
    list-style-type: decimal;
  }

  p {
    margin: 1.5em 0;
  }
  /* for basic page in bulletin so flex items stay inbounds */
  &.page-node-type-page {
    .page__body {
      margin-top:20px;
      @media (min-width: $break-medium) {
        padding: 0;
        margin: 0 auto 0 0;
        overflow: auto;
        width: 100%;
        max-width: 1650px;
      }
    }
  }
  .table--wysiwyg {
    position: relative;
    margin: 0 0 2.5em 0;
  }
  table {
    border: 0;
    width: 100%;
    max-width: 1250px;
    position: relative;
  }
}


.page-node-type-bookshelf-item {
  .page-title {
    font-size:2.5em;
    margin-bottom: .25em;
    text-align: center;
    padding-bottom: 0;
    @media (min-width: $breakpoint-medium-width) {
      font-size:3.25em;
    }
  }
}

//Media
 img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* for wysiwyg embed images */
figure,
.embedded-entity {
  margin: 1.5em 0;
  position: relative;

  @media (min-width: $breakpoint-medium-768) {
    margin: 3.2em 0;
  }

  img {
    width: auto;
  }

  figcaption {
    color: $midgrey;
    font-size: 1.15em;
    font-family: $sans;
    font-weight: 600;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
  }

  .embedded-entity {
    margin: 0;
  }

  .video-embed-field-launch-modal {
    display: none;
  }

  &.align-center {
    display: table;
    margin-left: auto;
    margin-right: auto;

    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }

  &.align-left,
  &.align-right {
    margin: 0 20px 20px 0;
    float: none;

    @media (min-width: $breakpoint-medium-768) {
      margin: 5px 0 1.5em;
      max-width: 45%;
    }

    figcaption {
      @media (min-width: $breakpoint-medium-768) {
        margin: 0.5em 0 0;
      }
    }
  }

  &.align-right {
    @media (min-width: $breakpoint-medium-768) {
      margin-left: 40px;
      float: right;
    }
  }

  &.align-left {
    @media (min-width: $breakpoint-medium-768) {
      margin-right: 40px;
      float: left;
    }
  }
}

div[data-embed-button="video"] {
  @media (min-width: $breakpoint-medium-768) {
    margin: 3.2em 0 6em;
  }
}

div[data-embed-button="video"] + figcaption {
  margin: 0;
}

blockquote {
  font-family: "Berlingske Serif",serif;
  font-size: 2em;
  font-weight: 600;
  color: $z-black;
  line-height: 1.3em;
  border-left: none;
  padding-left: 0;
  margin: 2em 0;

  @media (min-width: $breakpoint-small-480) {
    font-size: 2.3em;
  }

  &:before {
    content: "";
    height: 8px;
    width: 150px;
    background: $z-black;
    display: block;
    margin: 0 0 1em 0;
  }

  p {
    margin: 1em 0;
  }
}
// feature quote
.quote.paragraph,
.fquote.paragraph {
  blockquote {
    font-size: rem(18);
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    padding: 1.4em 30px 1.5em;
    position: relative;
    max-width: 100%;

    @media (min-width: $break-medium) {
      font-size: rem(20);
      float: right;
    }

    p {
      margin: 0;
    }

    strong,
    .quote__name {
      font-size: rem(16);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      padding: 0 8px 25px;
      margin: 0 -8px 25px;
      display: block;
      border-bottom: 4px solid $color-white;
      position: relative;

      @media (min-width: $break-medium) {
        border-bottom: 6px solid $color-white;
        padding: 0 0 25px;
        margin: 0 0 25px;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -32px;
        left: 50%;
        width: 64px;
        height: 64px;
        transform: translateX(-50%);
        background: url(../assets/icons/icons_quote.svg);
        background-size: 100%;

        @media (min-width: $break-medium) {
          bottom: -38px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -32px;
        left: 50%;
        width: 54px;
        height: 54px;
        transform: translateX(-50%);

        @media (min-width: $break-medium) {
          width: 75px;
        }
      }
    }

    &:after {
      content: "";
      border-style: solid;
      width: 0;
      height: 0;
      line-height: 0;
      position: absolute;
      bottom: -37px;
      right: 70px;
      border-width: 37px 54px 0 0;
    }

    &:before {
      background:none;
      margin:unset;
    }

  }

}
.quote.paragraph {
  blockquote {
    background: $color-brightblue;
    strong,
    .quote__name {
      &:before {
        background: $color-brightblue;
      }
    }
    &:after {
      border-color: $color-brightblue transparent transparent transparent;
    }
  }
}
a.cta--button--primary {
  @extend %brackets;
  &:before,
  &:after {
    width: 105% !important;
    margin-left: -5%;
  }
  &:before { /* this is the before for the content area */
    top: calc(-.5em + -5px);
  }

  &:after {
    bottom: calc(-.5em + -5px);
  }


  /* this is for when bracket cta appears in the content area */
  padding: .5em 1em .5em 2em;
  background: url(../assets/img/bulletin-arrow-right.png) no-repeat 1em 1.3em;
  font-size: 1.75em;
  font-family: $sans;
  font-weight: 800;
  line-height: 1.4em;

}
.page__body {
  & .paragraph--type--wysiwyg p {
    a.cta--button--primary {
      &:before,
      &:after {
        width: 100% !important;
        margin-left: -1%;
      }
    }
  }
}

hr {
  height: 6px;
  background: $z-black;
  margin: 4em 0;
}

/*
 * bracket cta for spotlight (and maybe article?)
 */

/* for content-area CTA */
.bulletin__col--content {
  p {
    a.bulletin-cta {
      @extend %brackets;
      &:before,
      &:after {
        width: 105% !important;
        margin-left: -5%;
      }
      &:before { /* this is the before for the content area */
        top: calc(-.5em + -5px);
      }
      &:after {
        bottom: calc(-.5em + -5px);
      }
      /* this is for when bracket cta appears in the content area */
      padding: .5em 1em .5em 2em;
      background: url('../assets/img/bulletin-arrow-right.png') no-repeat 1em 1.3em;
      font-size: 1.75em;
      font-family: $sans;
      font-weight: 800;
      line-height: 1.4em;
    }
  }
}

/* for sidebar-area CTA */
.bulletin__col--side {
    a.bulletin-cta {
      @extend %brackets;
      &:before,
      &:after {
        width: 105% !important;
        margin-left: -5%;
      }
      &:before { /* this is the before for sidebar */
        top: calc(-1.5em + -5px);
      }
      &:after {
        bottom: calc(-.5em + -5px);
      }
      /* this is for sidebar bracket cta */
      margin: 0 0 2em 0;
      font-family: $sans;
      font-weight: 800;
      line-height: 1.4em;
      background: url('../assets/img/bulletin-arrow-dark.png') no-repeat center 1em;
      font-size: 1.5em;
      padding: 1.5em 1em .5em 1em;
      text-align: center;
    }
    @media (min-width: $breakpoint-small-width) {
      max-width: 550px;
    }
}

.google-cse-search-box-form {
  display: none;
}
/* this is for sidebar gallery lightbox size */
.bulletin-article__sidebar--lightbox {
  height: calc(100vh - 56px);
  margin-top: 56px;
  width: 100vw;
  display: flex !important; // override slick
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $break-medium) {
    height: 57vw;
    max-height: 100vh;
    margin-top: 0;
  }

  @media (min-width: $break-large) {
    height: 50vw;
  }

  @media (min-width: $break-x-large) {
    height: 600px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
  }
}

// Drupal admin tab placement and styling
.block-local-tasks-block {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  background: #000;
  font-family: $font-proxima;

  .tabs {
    margin: 0;
    display: flex;

    li {
      margin: 0;

      &:last-child {
        margin-right: -1px;
      }

      a {
        border: 0;
        padding: 0.5rem 1rem;
        color: #000;
        background: #E0E0D8;
        font-size: .875rem;
        font-weight: 700;
        letter-spacing: 1px;

        &:hover {
          color: #ffffff;
          background-color: #0076C0;
        }

        &.is-active {
          background-color: #0076C0;
          pointer-events: none;
          color: #ffffff;
        }
      }
    }
  }

  .contextual {
    display: none;
  }
}
