.block-google-cse {
  max-width: 800px;
  margin: 10px auto 40px;

  @media (min-width: $breakpoint-medium-768) {
    margin-bottom: 50px;
    margin-top: 45px;
  }
}

.google-cse-search-box-form {
  position: relative;
  max-width: 306px;
  display: inline-block;
  margin-bottom: 3em;

  label {
    margin-bottom: 0.3em;
    display: block;
  }

  input[type="text"] {
    width: 100%;
    max-width: 307px;
    box-sizing: border-box;
    padding: 4px 15px;
  }

  input[type="submit"] {
    color: transparent;
    position: absolute;
    bottom: 2px;
    right: 3px;
    height: 32px;
    width: 32px;
    overflow: hidden;
    background: transparent url(../assets/icons/icons_search_blue.svg) no-repeat center / 100%;
    filter: brightness(0);
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.gsc-control-cse {
  padding: 0 !important;
}

.gsc-above-wrapper-area {
  display: none;
}

.gsc-control-cse .gsc-table-result,
.gsc-control-cse {
  font-family: $sans !important;
  font-size: 1rem !important;
}

.gsc-webResult.gsc-result {
  padding: 15px 0 !important;

  @media (min-width: $breakpoint-medium-768) {
    padding: 20px 0 !important;
  }
}

.gsc-webResult.gsc-result.gsc-promotion {
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-control-cse .gs-result a.gs-title {
  @extend h4;
  font-family: $font-berlingske !important;
  margin: 0 !important;
  background: transparent;
  display: inline-block !important;
}

.gsc-control-cse .gs-result a.gs-title b {
  font-size: 24px;
  font-family: $font-berlingske !important;
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
  color: $z-black !important;

  &:hover,
  &:hover b {
    color: $lightblue !important;
  }
}

.gs-webResult div.gs-visibleUrl {
  font-size: 1rem;
  color: $dark !important;
  margin: 2px 0 5px;
  line-height: 1.2;
}

.gs-web-image-box, .gs-promotion-image-box {
  padding-top: 7px !important;
  margin-right: 7px !important;
}

.gsc-tabHeader.gsc-tabhInactive, .gsc-refinementHeader.gsc-refinementhInactive {
  color: #767676;
}

.gsc-tabHeader {
  font-size: 1rem !important;
}

.gsc-tabsArea {
  border-color: $lightgrey;
  margin-bottom: 20px;
}

.gsc-tabHeader.gsc-tabhActive, .gsc-refinementHeader.gsc-refinementhActive {
  color: $dark !important;
  border-color: #000000 !important;
}

.gsc-cursor {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: $blue !important;
  font-size: rem(16) !important;
  font-weight: 700;
  width: 36px;
  height: 36px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 !important;

  &:hover {
    color: $dark !important;
    text-decoration: none !important;
  }
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color: white !important;
  background: $blue !important;
}

.gsc-results .gsc-cursor-box {
  margin: 20px 0 !important;

  @media (min-width: $breakpoint-medium-768) {
    margin: 25px 0 20px !important;
  }
}
