label,
legend,
.label,
summary {
  font-family: $font-dunbar;
  font-size: rem(14);
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 6px;

  @media (min-width: $break-medium) {
    font-size: rem(16);
    margin-bottom: 11px;
  }
}

.label {
  margin-top: 0;
}

.form-required:after {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  background-image: url(/core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

form .description {
  margin-top: 0.35em;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="date"],
input[type="time"] {
  appearance: none;
  border: 1px solid $color-grey3;
  padding: 4px 15px;
  width: 100%;
  max-width: 307px;
  border-radius: 0;
}
// For all required form fields using the bmcd9 theme (like anon events form), will highlight field upon visiting form
// all fields that validate through drupal will highlight upon validation error
.form-item input:invalid:required,
.form-item textarea:invalid:required,
.form-item select:invalid:required,
.form-item input.error,
.form-item textarea.error,
.form-item select.error,
.fieldgroup.required.error  {
  color: #a51b00;
  border-width: 1px;
  border-color: #e62600;
  background-color: hsla(15, 75%, 97%, 1);
  box-shadow: inset 0 5px 5px -5px #b8b8b8;
}

.smartdate--widget .fieldset-wrapper .js-form-type-date:first-child {
  margin-right: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 14px;
  height: 14px;

  &[disabled] {
    + label:before {
      opacity: 0.3;
    }
  }

  &:focus {
    + label:before {
      @include focusStyles();
    }
  }
}

input[type="radio"] {
  & + label:before {
    border-radius: 100em;
  }
  &:checked {
    + label:before {
      background: $color-navy;
      box-shadow: 0 0 0 3px white inset;
    }
  }
}

input[type="checkbox"] {
  &:checked + label:before {
    background: url(../assets/icons/icons_check.svg) no-repeat center;
    background-color: $color-navy;
  }
}

input[type="submit"] {
  @include cta-button-primary();

}

.smartdate--widget .form-type-select label.allday-label {
  margin-top: 0;
  padding: 0;
  font-size: rem(17);
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  text-align: left;

  input[type="checkbox"] {
    appearance: initial;
    opacity: 1;
    position: static;
    margin: 0 10px 0 0;
    border: 1px solid;

    &:checked {
      background: url(../assets/icons/icons_check.svg) no-repeat center / 100%;
      filter: brightness(0);
    }
  }
}

.smartdate--widget .form-type-select label, .smartdate--widget .form-type--select label {
  display: block;
}

.form-item__wrap--select {
  position: relative;
  clear: both;
  max-width: 307px;

  &:after {
    position: absolute;
    top: 46%;
    right: 16px;
    content: '';
    height: 6px;
    width: 6px;
    border-right: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    transform:  translateY(-50%) rotate(45deg);
  }
}

.form-select {
  padding: 5px 25px 4px 14px;
  width: 100%;
  appearance: none;
  background-color: $color-white;
  border: 1px solid $color-grey3;
  border-radius: 0;
  font-size: rem(17);

  @media (min-width: $break-large) {
    margin: 0;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-family: $font-proxima;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  padding-left: 24px;
  margin: 5px 0;
  position: relative;

  &:before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 0;
    border: 1px solid $color-navy;
  }
}

.js-form-item-date {
  position: relative;
}

.js-form-item-date:after {
  content: "";
  width: 32px;
  height: 32px;
  display: block;
  left: 137px;
  bottom: 1px;
  position: absolute;
  background: url(../assets/icons/icons_calendar.svg) no-repeat center / 100%;
}

input[type="text"].bef-datepicker {
  width: 135px;
}

.js-form-wrapper {
  margin: 1.5em 0;

  .js-form-wrapper {
    margin: 0;
  }
}

// For event add form, need layout container to be fullwidth
.layout-container {
  margin: 0;
}
// for event add form, need input type number to not have arrows
.js-form-type-number {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  input[type=number] {
    -moz-appearance: textfield;
   }
}

/* TRICO COURSE SEARCH FORM trico course guide */
#trico-course-guide-search-form {
  .form-item-keyword,
  #edit-semester-set,
  #edit-college-set,
  .form-item-department,
  .form-item-reg-id,
  .form-item-instructor,
  .form-item-days,
  .form-item-start-times {
    margin: 1em 0;
    padding: 0.5em 0;
  }
  #edit-semester,
  #edit-college {
    .form-item {
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}

.ui-datepicker {
  font-family: $font-proxima;
  padding: 0;
  border-radius: 0;
  width: 14em;

  tr td:first-child {
    border-left: 0;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  thead:after {
    bottom: 0;
  }
}

.ajax-progress {
  background: url(../assets/icons/loading.svg);
  background-size: 100%;
  width: 50px;
  height: 50px;
  border-radius: 0;
}

.ui-datepicker {
  td,
  th {
    min-width: inherit;
    width: 2em;

    a {
      text-align: center;
    }
  }

  a.ui-corner-all {
    background: transparent;
    text-decoration: none;
  }
}

.ui-widget-header .ui-icon {
  background: url(../assets/icons/icons_arrow_pager_blue.svg) no-repeat 0 center;
  background-size: 100%;
  width: 31px;
  height: 31px;
  filter: brightness(0);
}

.ui-widget-header {
  border: 1px solid $color-stone;
  background: $color-chiffon;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  border: 0;
  color: transparent;

  span {
    filter: brightness(1);
  }
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev span {
  transform: rotate(180deg);
}

.ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  top: 2px;
  left: 2px;
}

.ui-datepicker table {
  margin: 0;
}

.ui-datepicker td {
  padding: 0;
  border: 1px solid $color-stone;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button {
  background: $color-white;
  border: 0;
}

.ui-datepicker-today {
  a.ui-state-default {
    background: $color-chiffon;
    color: $color-navy;
  }
}
.ui-state-active, .ui-widget-content .ui-state-active {
  color: $color-navy;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  color: $color-navy;
  background: $color-stone;
}

.saml-login {
  span {
    @extend label;
  }

  a {
    clear:both;
    @include cta-button-primary();
  }

  margin-bottom: 1em;
}
