.block-page-title-block {
  position: relative;
  margin: 10px -20px 0;

  @media (min-width: $break-medium) {
    margin: 0px -50px 0;
  }

  @media (min-width: $break-large) {
    margin: 0 -75px;
  }
}

.content__page-header {
  padding-top: 20px;
}

.content__page-header__inner {
  padding: 0 20px;

  @media (min-width: $break-medium) {
    padding: 0 50px 20px;
    border-bottom: 1px solid $color-stone;
  }

  @media (min-width: $break-large) {
    padding: 0 75px 50px;
  }
}

.content__page-header--image {
  display: flex;
  justify-content: flex-end;
  background: $color-black;
  margin-bottom: 1.25em;

  @media (min-width: $break-medium) {
    margin-bottom: 2.5em;
  }

  @media (min-width: $break-large) {
    margin-bottom: 2em;
    .not-inside-bmc & {
      margin-bottom: 0;
    }
  }

  picture {
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0;
      animation: fadeIn 300ms 300ms forwards;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 125px;
      bottom: 0;
  /*  */  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

      @media (min-width: $break-medium) {
        height: 185px;
      }

      @media (min-width: $break-large) {
        height: 285px;
      }
    }
  }

  .header__text {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 70vw 20px 0;
    opacity: 0;
    animation: fadeIn 300ms forwards;

    @media (min-width: $break-medium) {
      padding: 27.5vw 50px 12px;
    }

    @media (min-width: $break-large) {
      padding: 29.5vw 75px 15px;
    }
  }

  h1 {
    color: $color-white;
    position: relative;
    z-index: 1;
    margin: 0 0 0.35em;
    padding: 0;
    border: 0;

    @media (min-width: $break-medium) {
      margin: 0 0 0.4em;
    }
  }
}

.content__page-header--image {

  /*
  .no-sec-nav & {
    &:after {
      @media (max-width: $break-large - 1) {
        display: none;
      }
    }
  }
.not-inside-bmc & {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 56px;
      width: 100%;
      left: 0;
      background: $color-white;
      z-index: 100;
    }
  }*/

}

.content__page-header__inner {
  .not-inside-bmc & {
 /*   &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 56px;
      width: 100%;
      left: 0;
      background: $color-white;
      z-index: 100;
    } */
  }


  .no-sec-nav .not-inside-bmc & {
    &:after {
      height: 28px;

      @media (min-width: $break-medium) {
        height: 56px;
      }
    }
  }
}

.no-sec-nav .not-inside-bmc {
  .content__page-header {
  /*  padding-top: 28px; */

    @media (min-width: $break-medium) {
    /*  padding-top: 56px; */
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inside-bryn-mawr {
  .no-sec-nav & {
    // #block-section-nav-inside {
    //   display: none;
    // }

    .page__intro {
      @include clearfix();
    }

    // Info site: make hero underlines appear
    .node--type-page > .node__content,
    .node--type-courses > .node__content,
    .node--type-honor-roll > .node__content,
    .node--type-admissions-officer > .node__content {
      clear: both;
      margin-top: 15px !important;
      position: relative;

      &::before {
        content: "";
        display: table;
        clear: both;
      }

      @media (min-width: $break-medium) {
        > div:first-child:after {
          content: "";
          position: absolute;
          top: 0;
          width: 100vw;
          height: 1px;
          left: 50%;
          transform: translateX(-50%);
          background: $color-stone;
        }
      }
    }
  }

  #block-section-nav-marketing {
    display: none;
  }

  .region-content-bottom-wrapper {
    clear: both;
  }

  .region-content-bottom {
    @media (min-width: $break-large) {
      width: calc(100% - 270px);
      float: right;
      max-width: 1200px;

      .no-sec-nav & {
        float: none;
        overflow: visible;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  #block-bmc-d9-content {
    max-width: initial;

    @media (min-width: $break-large) {
      width: calc(100% - 270px);
      float: right;

      .no-sec-nav & {
        float: none;
        overflow: visible;
        max-width: 1250px;
        width: 100%;

        .node--view-mode-full {
          max-width: 800px;
          margin: 0 auto;
        }
      }
    }
  }

  .content__page-header__inner {
    border: 0;


    .no-sec-nav & {
      @media (min-width: $break-large) {
        padding: 0 75px;
      }
    }
  }

  .content__page-header {
    padding: 20px 0 0 0;
  }

  @media (min-width: $break-large) {
    .content__page-header--image {
      picture {
        height: calc(100% - 2em);
      }
      img {
        opacity: 1;
        animation: none;
      }

      .header__text {
        padding: 50px 40px 0;
        min-height: 31.2vw;
        opacity: 1;
        animation: none;
      }

      h1 {
        margin-bottom: 0.6em;
      }
    }

    h1 {
      font-size: rem(50);
      padding: 0;
      border: 0;
      margin-top: 0;
      margin-bottom: 0.3em;
    }

    .content__page-header__inner {
      border: 0;
      padding: 0;
    }

    .region-content,
    .region-content-top,
    .region-content-bottom-wrapper {
      max-width: 1200px;
      margin: 0 auto;

      .no-sec-nav & {
        max-width: inherit;
      }
    }

    .region-content-top {
      padding: 0 75px;
      margin: 10px auto 20px;
    }

    .block-system-breadcrumb-block {
      li:after {
        filter: invert(0);
        margin: 0;
      }

      ul {
        margin: 0;
      }

      a {
        color: $color-navy;
        text-decoration: none;

        &:hover {
          color: $color-navy;
          text-decoration: underline;
        }
      }
    }

    .block-page-title-block {
      margin: 0;
      overflow: hidden;

      .no-sec-nav & {
        @media (min-width: $break-large) {
          margin: 0 -75px;
        }
      }
    }

    .has-sec-nav & .page__intro {
      margin-left: 0;
      position: static;
      width: 100%;
      padding: 10px 0 0;

      p {
        margin-top: 0;
      }

      &--text {
        max-width: 100%;
      }
    }
  }

  @media (min-width: $break-x-large) {
    .content__page-header--image {
      .header__text {
        min-height: 374px;
      }
    }
  }
}

.page__intro-links {
  h1 {
    margin-bottom: 0.3em;
    @media (min-width: $break-medium) {
      margin-bottom: 0.5em;
    }
    @media (min-width: $break-large) {
      padding-right: 50px;
    }
  }
}

.has-image ~ #block-bmc-d9-content .page__intro--quicklinks {
  margin-top: 0;
}

[about="/inside"] {
  .page__intro {
    margin-top: -25px;
    border-bottom: 1px solid $color-grey2;

    &:after {
      content: none !important;
    }

    @media (min-width: $break-medium) {
      margin-top: -45px;
      padding: 0 50px 7px;
    }
    @media (min-width: $break-large) {
      padding: 20px 75px 17px;
    }

    &--text {
      @media (min-width: $break-large) {
        max-width: 1250px;
      }
    }

    p {
      margin-top: 1em;
      margin-bottom: 1.2em;
      @media (min-width: $break-medium) {
        margin-top: 1.1em;
        margin-bottom: 0.9em;
      }
    }
  }
}

.page__body {
  margin-top: 20px;
  @media (min-width: $break-medium) {
    margin-top: 40px;
  }

  @include largeStylesExcludeInside {
    margin-top: 60px;
  }
}
