#cboxWrapper,
#cboxContent {
  background: transparent;
  overflow: visible;
}

#colorbox,
#cboxLoadedContent,
#cboxContent {
  overflow: visible !important; //override plugin inline style

  &:focus {
    outline: 2px solid $color-white;
  }
}

#colorbox {
  z-index: 20000;
}

#cboxOverlay {
  opacity: 0;
  z-index: 10000;
}

#cboxClose {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  z-index: 10;
  background: $color-lantern url(../assets/icons/icons_close.svg) no-repeat center;
  background-size: 26px 26px;
  border: solid 1px $color-lantern;
  transition: background-color 300ms;

  &:focus {
    outline-color: $color-white;
  }

  @media (min-width: $break-medium) {
    background-size: 36px 36px;
    width: 43px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    transition: background 300ms;
  }

  &:hover {
    background-color: $color-chiffon;
    background-position: center;
  }
}
