.pagerer-container {
  font-size: rem(16);
  line-height: 1.1875;

  .pager__items {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  a {
    color: $color-navy;
    text-decoration: none;
    min-width: 36px;
    min-height: 36px;
    display: block;
    padding: 8px 12px;
    &:hover {
      color: $color-bronze;
    }
  }

  .pager__item {
    vertical-align: baseline;
    padding: 0;
    min-width: 36px;
    min-height: 36px;

    &:before {
      content: none;
    }

    &.is-active a {
      color: $color-white;
      background-color: $color-navy;
    }

    &--previous,
    &--next {
      margin: 0 10px;
      background: url(../assets/icons/icons_arrow_pager_blue.svg) no-repeat 0 center;
      transition: filter 300ms;
      &:hover {
        background: url(../assets/icons/icons_arrow_pager.svg) no-repeat 0 center;
      }
      a {
        color: $color-navy;
      }
    }
    &--previous {
      transform: rotate(180deg);
    }

    &--disabled {
      opacity: 0.2;
    }
  }
}

div.pagerer-center-pane ul.pager__items {
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: $break-medium) {
    margin: 0;
  }
}

div.pagerer-container {
  margin: 0.5em 0 0;
}
