/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * This file contains only the print styles from the HTML5 Boilerplate
 * project. See <https://github.com/h5bp/html5-boilerplate> for more
 * information on the main project.
 */

/* ==========================================================================
   Print styles.
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    footer {
      display: none
    }

    .inside-bryn-mawr .region-content {
      border-top: 0 !important;
    }

    .header__menu--theme-switcher,
    .header-container__menu-wrapper,
    .breadcrumbs,
    .event__detail-image,
    .news__detail-image,
    [data-drupal-messages],
    .sharethis-wrapper,
    .home__carousel img,
    .alert {
      display: none !important;
    }

    .header__logo img {
      filter: invert(0) !important;
    }

    .content__page-header,
    .content__page-header--image {
      min-height: inherit !important;
      img {
        display: none !important
      }

      * {
        color: #000;
      }
    }

    .content__page-header--image .header__text {
      padding-top: 0 !important;
    }

     .accordion .accordion__content {
       display: block !important;
     }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .header__logo a:after {
      content: none;
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
