.block-google-cse {
  max-width: 800px;
  margin: 10px auto 40px;

  @media (min-width: $break-medium) {
    margin-bottom: 50px;
    margin-top: 45px;
  }
}

.google-cse-search-box-form {
  position: relative;
  max-width: 306px;
  display: inline-block;
  margin-bottom: 3em;

  input[type="submit"] {
    color: transparent;
    position: absolute;
    bottom: 2px;
    right: 3px;
    height: 32px;
    width: 32px;
    overflow: hidden;
    background: transparent url(../assets/icons/icons_search_blue.svg) no-repeat center / 100%  ;
    filter: brightness(0);
    border: 0;
    margin: 0;
  }
}

.gsc-control-cse {
  padding: 0 !important;
}

.gsc-above-wrapper-area {
  display: none;
}

.gsc-control-cse .gsc-table-result,
.gsc-control-cse {
  font-family: $font-proxima !important;
  font-size: rem(17) !important;
  color: $color-navy !important;
}

.gsc-webResult.gsc-result {
  padding: 15px 0 !important;

  @media (min-width: $break-medium) {
    padding: 20px 0 !important;
  }
}

.gsc-webResult.gsc-result.gsc-promotion {
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-control-cse .gs-result h2.gs-title {
  margin: 0;
}

.gsc-control-cse .gs-result a.gs-title {
  @extend h4;
  @include cta-arrow(md);
  font-size: rem(21) !important;

  margin: 0 !important;
  background: transparent;
  display: inline-block !important;

  line-height: 1.25 !important;



  @media (min-width: $break-medium) {
    font-size: rem(26) !important;
  }

  a {
    color: $color-navy !important;
    text-decoration: none !important;

    &:hover  {
      color: $color-bronze !important;
    }
  }
  &:after {
    margin: .85rem 0 0 3px !important;
    @media (min-width: $break-medium) {
      margin: 1rem 0 0 3px !important;
    }
  }
}

.gsc-control-cse .gs-result a.gs-title b {
  @extend h4;
  font-size: rem(21) !important;
  margin: 0 !important;
  @media (min-width: $break-medium) {
    font-size: rem(26) !important;
  }
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
  color: $color-navy !important;
  padding-bottom: .75rem !important;

  &:hover {
    color: $color-bronze !important;
  }
}
.gs-promotion a.gs-title:link b {
  &:hover {
    color: $color-bronze !important;
  }
}

.gs-webResult div.gs-visibleUrl {
  font-size: 1rem;
  color: $color-black !important;
  margin: 2px 0 5px;
  line-height: 1.2;
}

.gs-web-image-box, .gs-promotion-image-box {
  padding-top: 7px !important;
  margin-right: 7px !important;
}

.gsc-refinementsGradient {
  display: none!important;
}

.gsc-tabHeader.gsc-tabhInactive, .gsc-refinementHeader.gsc-refinementhInactive {
  color: $color-bronze !important;
  padding-bottom: 0px !important;
  &:hover {
    color: $color-evergreen !important;
  }
}

.gsc-tabHeader {
  font-size: 1rem !important;
  border-bottom: 2px solid transparent!important;
}

.gsc-tabsArea {
  border-color: $color-border !important;
  margin-bottom: 20px;
  white-space: initial!important;
}

.gsc-tabHeader.gsc-tabhActive, .gsc-refinementHeader.gsc-refinementhActive {
  color: $color-navy !important;
  border-color: $color-coral !important;
}

.gsc-cursor {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: $color-navy !important;
  font-size: rem(16) !important;
  font-weight: 700;
  width: 36px;
  height: 36px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 !important;

  &:hover {
    color: $color-bronze !important;
    text-decoration: none !important;
  }
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color: $color-white !important;
  background: $color-navy !important;
}

.gsc-results .gsc-cursor-box {
  margin: 20px 0 !important;

  @media (min-width: $break-medium) {
    margin: 25px 0 20px !important;
  }
}
