.sharethis {
  margin: -12px 0 30px;

  @media (min-width: $break-medium) {
    margin: -12px 0 32px;
  }

  @media (min-width: $break-large) {
    margin: 0 0 20px;
  }

  img {
    opacity: 0;
  }

  &#st-1 {
    text-align: left;
    @media (min-width: $break-large) {
      position: absolute;
      top: initial;
      left: 75px;
      display: flex;
      flex-direction: column;
    }
  }
  &#st-1 .st-btn {
    position: relative;
    display: initial!important;
    background-color: transparent!important;
    margin-right: 8px;
    a {
      color: transparent;
    }
    @media (min-width: $break-large) {
      margin-right: 0;
      margin-bottom: 11px;
    }
    &:hover {
      top: 0;
      opacity: 1;
      &:after {
       /* filter: brightness(1); */
      }
    }
    &:after {
      position: absolute;
       top: 0;
       left: 0;
       width: 32px;
       height: 32px;
       content: '';
      /* filter: brightness(0); */
       transition: filter 300ms;
    }
    &[data-network='facebook'] {
     &:after {
       background: url(../assets/icons/icons_facebook_blue.svg) no-repeat center;
     }
      &:hover {
        &:after {
          background: url(../assets/icons/icons_facebook.svg) no-repeat center;
        }
      }
    }
    &[data-network='twitter'] {
      &:after {
        background: url(../assets/icons/icons_twitter_blue.svg) no-repeat center;
      }
      &:hover {
        &:after {
          background: url(../assets/icons/icons_twitter.svg) no-repeat center;
        }
      }
    }
     &[data-network='email'] {
      &:after {
        background: url(../assets/icons/icons_email_blue.svg) no-repeat center;
      }
       &:hover {
         &:after {
           background: url(../assets/icons/icons_email.svg) no-repeat center;
         }
       }
     }
     &[data-network='print'] {
      &:after {
        background: url(../assets/icons/icons_print_blue.svg) no-repeat center;
      }
       &:hover {
         &:after {
           background: url(../assets/icons/icons_print.svg) no-repeat center;
         }
       }
     }
  }
  &-wrapper {
    @media (min-width: 1200px) {
      position: relative;
      /*top: 0;
      left: 0;*/
      margin-left: -200px;
     /*z-index: 2000;*/
    }
  }
}
