h1 {
  font-family: $font-ivymode;
  font-size: rem(33);
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 1px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0.55em;

  @media (min-width: $break-medium) {
    font-size: rem(46);
    padding: 0;
    line-height: 1.15;
  }

  @media (min-width: $break-large) {
    font-size: rem(60);
    margin-top: 1em;
  }
}

h2 {
  font-family: $font-ivymode;
  font-size: rem(27);
  font-weight: 600;
  margin-top: 0.75em;
  margin-bottom: -0.1em;
  line-height: 1.2;
  letter-spacing: .45px;

  @media (min-width: $break-medium) {
    font-size: rem(30);
    margin-top: 1em;
    margin-bottom: 0.3em;
  }

  @media (min-width: $break-large) {
    font-size: rem(40);
    margin-top: 1.3em;
  }
}

h3 {
  font-family: $font-ivymode;
  font-size: rem(21);
  font-weight: 600;
  margin-top: 1.35em;
  margin-bottom: 0.2em;
  line-height: 1.25;
  letter-spacing: .45px;

  @media (min-width: $break-medium) {
    font-size: rem(30);
    margin-top: 1.6em;
  }

  @media (min-width: $break-large) {
    font-size: rem(32);
    margin-top: 1.5em;
    margin-bottom: 0;
  }
}

h4 {
  font-family: $font-dunbar;
  font-size: rem(21);
  font-weight: 400;
  margin-top: 1.35em;
  margin-bottom: 1em;
  line-height: 1.23;

  @media (min-width: $break-medium) {
    font-size: rem(24);
  }

  @media (min-width: $break-large) {
    font-size: rem(31);
    margin-bottom: 0.5em;
    margin-top: 1.3em;
  }
}

h5 {
  font-family: $font-dunbar;
  font-size: rem(26);
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 1.15em;
  margin-top: 1.4em;

  @media (min-width: $break-medium) {
    margin-bottom: 1.45em;
    margin-top: 1.8em;
  }
}

h6 {
  font-family: $font-dunbar;
  font-size: rem(21);
  font-weight: 700;
  line-height: 1.43;
  margin-bottom: 1.15em;
  margin-top: 1.4em;

  @media (min-width: $break-medium) {
    margin-bottom: 1.35em;
    margin-top: 1.85em;
  }
}


/* also CHANGE admin.css for WYSIWYG Editor Styles */

a {
  color: $color-dem-blaze;
  font-weight: 600;
  text-underline-offset: .25em;
  text-decoration-thickness: 1px;

  &:hover,
  &:visited {
    color: $color-bronze;
  }
  &.cta--button--primary {
    @include cta-button-primary;
  }
  &.cta--button--secondary {
    @include cta-button-secondary;
  }
}

p {
  margin: 0.8em 0;
}

.node__content ul {
  padding-left: 27px;

  @media (min-width: $break-medium) {
    padding-left: 32px;
  }

  li {
    margin: 0.2em 0;
    position: relative;

    ul {
      padding-left: 15px;
    }
  }
}

.node__content ol {
  padding-left: 27px;


  @media (min-width: $break-medium) {
    padding-left: 32px;
  }

  li {
    margin: 0.2em 0;
    position: relative;
    padding-left: 0.2rem;

    ul {
      padding-left: 15px;
    }

    ol {
      padding-left: 23px;

    }
  }
}

.page__intro {
  @include intro-text();

  .admissions-aidmeet-team &,
  .insidedirectory &,
  .insidepeople & {
    div {
      max-width: $content-max;
      @media (min-width: $break-large) {
        padding: 0 75px;
      }
    }
  }

  .insidedirectory &,
  .insidepeople & {
    margin-bottom: 40px;

    @media (min-width: $break-large) {
      margin-bottom: 60px;
    }
  }
}

.inside-bryn-mawr {
  @media (min-width: $break-large) {
    h2 {
      font-size: rem(36);
    }

    h3 {
      font-size: rem(30);
    }

    h4 {
      font-size: rem(28);
    }
  }
}
.small-label {
  font-family: $font-dunbar;
  font-size: rem(15);
  font-weight: 700;
  line-height: rem(26);
  letter-spacing: 0.4px;
  margin-bottom: 13px;
}
