{#
/**
 * @file
 * Theme override to display Footer Container: Marketing block.
 *
 * @see template_preprocess_block()
 */
#}

{% extends '@bmc_custom/footer-base.html.twig' %}
{% set footer_classes = [
  'footer',
  'footer-container__marketing'
] %}
