{#
/**
 * @file
 * Theme override for Bulletin Footer container block.
 *
 * @see template_preprocess_block()
 */
#}
<div class="footer-container__bulletin">
  <button class="btt">Back to top</button>

  <div class="left-footer">
    <ul class="social-icons">
      <li><a class="facebook" href="{{ social_media_links.facebook }}" target="_blank">Facebook</a></li>
      <li><a class="twitter" href="{{ social_media_links.twitter }}" target="_blank"><img alt="Twitter" src="../themes/bmc_d9/assets/icons/icons_twitterBulletin.svg" /></a></li>
    </ul>
    <div class="footer__menu--magazine">
      {{ drupal_entity('block', 'menu_bulletin_footer_magazine', check_access=false) }}
    </div>
    <div class="footer__menu--alumnae">
      {{ drupal_entity('block', 'menu_bulletin_footer_alumnae', check_access=false) }}
    </div>
  </div>
  <div class="right-footer">
    <div class="footer__logo">
      {{ footer_logo }}
    </div>
    <div class="footer__menu--bmc">
      {{ drupal_entity('block', 'menu_bulletin_footer_bmc', check_access=false) }}
    </div>
  </div>
</div>

