{#
/**
 * @file
 * Theme override to display Footer Container: Marketing block.
 *
 * @see template_preprocess_block()
 */
#}

{% set footer_classes = footer_classes|default([
  'footer',
]) %}

<div {{ attributes.addClass(footer_classes) }}">
{% block prefooter %}
  {% if prefooter %}
  <div class="footer__prefooter">
    {{ prefooter }}
  </div>
  {% endif %}
{% endblock prefooter %}

  {% block footer %}
<div class="footer-container">

  <button class="btt">Back to top</button>

  <div class="footer-container__main">
    {% block left_footer %}
      <div class="left-footer">
        {% if footer_logo_mobile is not empty %}
          <div class="footer__logo footer__logo--desktop">
            {{ footer_logo }}
          </div>
          <div class="footer__logo footer__logo--mobile">
            {{ footer_logo_mobile }}
          </div>
        {% else %}
          <div class="footer__logo">
            {{ footer_logo }}
          </div>
        {% endif %}
        <div class="footer__contact">
          <div class="footer__address">
            {{ footer_address | nl2br }}
          </div>
          <div class="footer__phone"><a
              href="tel:{{ footer_phone }}">{{ footer_phone }}</a></div>
          <div class="footer__contact_link">{{ footer_contact_link }}</div>
        </div>
        <div class="footer__social">
          <ul class="social-icons">
            {% for link in footer_social_media_links %}
              <li>
                <a class="{{ link.service }}" href="{{ link.url }}"
                   target="_blank"><span
                    class="{{ link.service }}">{{ link.service|replace({'sm-callout--': ''})|title }}</span></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endblock left_footer %}

    {% block mid_footer %}
      <div class="mid-footer">
        {% if footer_links %}
          <div class="mid-footer-wrapper">
            <ul class="mid-footer-wrapper--links">
              {% for link in footer_links %}
                <li class="mid-footer-wrapper--links-item">
                  <a href="{{ link.url }}">{{ link.title }}</span></a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endblock mid_footer %}

    {% block right_footer %}
      <div class="right-footer">
        {% if footer_image %}
          <div class="footer-image">
            {{ footer_image }}
          </div>
        {% endif %}
        {# TODO: need to remove css .footer__giving-block .block-content__content in _footer.scss #}
      </div>
    {% endblock right_footer %}

  </div>



  {% block footer_bottom %}
    <div class="footer-container__bottom">
      <span
        class="footer-container__copyright">&copy; {{ now | date('Y') }} {{ footer_copyright_text }}</span>
      <div
        class="footer-container__menu--utility">{{ drupal_entity('block', 'menu_footer_utility', check_access=false) }}</div>
    </div>
  {% endblock %}

</div>
{% endblock footer %}
</div>
