{#
/**
 * @file
 * Theme override to display Header Container: Inside BMC block.
 *
 * @see template_preprocess_block()
 */
#}

<div class="header-container__inside">
  <div class="header__menu--theme-switcher">
    {{ drupal_entity('block', 'theme_switcher', check_access=false) }}
  </div>
  {% if header_logo_mobile %}
    <div class="header__logo header__logo--desktop">
      {% if header_logo_link %}
        <a href="{{ header_logo_link }}" rel="home">{{ header_logo }}</a>
      {% else %}
        {{ header_logo }}
      {% endif %}
    </div>
    <div class="header__logo header__logo--mobile">
      {% if header_logo_link %}
        <a href="{{ header_logo_link }}" rel="home">{{ header_logo_mobile }}</a>
      {% else %}
        {{ header_logo_mobile }}
      {% endif %}
    </div>
  {% else %}
    <div class="header__logo">
      {% if header_logo_link %}
        <a href="{{ header_logo_link }}" rel="home">{{ header_logo }}</a>
      {% else %}
        {{ header_logo }}
      {% endif %}
    </div>
  {% endif %}
  <div class="header-container__menu-wrapper">
    <button class="header-container__nav-button" aria-expanded="false"><span>Menu</span></button>
    <div class="header-container__menu">
      <div class="header__menu--theme-switcher">
        {{ drupal_entity('block', 'theme_switcher', check_access=false) }}
      </div>
      <div class="header-container__menu-cols">
        <div class="header-container__menu--right">
          {{ drupal_entity('block', 'menu_inside_main', check_access=false) }}
        </div>
        <div class="header-container__menu--left" role="navigation" aria-label="Tools">
          <div class="accordion__item accordion--directions">
            <button class="accordion__toggle" aria-expanded="false">Open Location menu</button>
            <div class="inside__panel">
              <h2>Visit Guide</h2>
              {{ drupal_entity('block', 'menu_inside_location', check_access=false) }}
            </div>
          </div>
          <div class="accordion__item accordion--tools">
            <button class="accordion__toggle" aria-expanded="false">Open Tools menu</button>
            <div class="inside__panel">
              <h2>Tools &amp; Resources</h2>
              {{ drupal_entity('block', 'menu_inside_tools_resources', check_access=false) }}
            </div>
          </div>
          <div class="accordion__item accordion--resources">
            <button class="accordion__toggle" aria-expanded="false">Open Resources menu</button>
            <div class="inside__panel">
              <h2>Resources For</h2>
              {{ drupal_entity('block', 'menu_inside_resources_for', check_access=false) }}
              <h2>Faculty/Staff and Department Directories</h2>
              {{ drupal_entity('block', 'menu_inside_directory', check_access=false) }}
            </div>
          </div>
          <span class="accordion-bar"></span>
        </div>
      </div>
    </div>
    <div role="search">
      <button class="header-container__search-button" aria-expanded="false"><span class="visually-hidden">Search</span></button>
      <div class="header-container__search">
        <form action="/inside/search">
          <label for="headerSearch" class="visually-hidden">Search</label>
          <input id="headerSearch" placeholder="Search Inside BMC" type="search" name="keys">
          <input type="submit" value="submit">
        </form>
      </div>
    </div>
  </div>
</div>
