{#
/**
 * @file
 * Theme override to display Header Container: Marketing block.
 *
 * @see template_preprocess_block()
 */
#}

<div class="header-container__marketing">
  {% if header_logo_mobile %}
    <div class="header__logo header__logo--desktop">
      {% if header_logo_link %}
        <a href="{{ header_logo_link }}" rel="home">{{ header_logo }}</a>
      {% else %}
        {{ header_logo }}
      {% endif %}
    </div>
    <div class="header__logo header__logo--mobile">
      {% if header_logo_link %}
        <a href="{{ header_logo_link }}" rel="home">{{ header_logo_mobile }}</a>
      {% else %}
        {{ header_logo_mobile }}
      {% endif %}
    </div>
  {% else %}
    <div class="header__logo">
      {% if header_logo_link %}
        <a href="{{ header_logo_link }}" rel="home">{{ header_logo }}</a>
      {% else %}
        {{ header_logo }}
      {% endif %}
    </div>
  {% endif %}
  <div class="header__menu--top">
    {{ drupal_entity('block', 'menu_marketing_main_top', check_access=false) }}
  </div>
  <div class="header-container__menu-wrapper" role="navigation" aria-label="Full">
    <button class="header-container__nav-button" aria-expanded="false"><span><span class="show-large">Full</span> Menu</span></button>
    <div class="header-container__menu" role="dialog">
      <div class="header__menu--theme-switcher theme-switcher--main-site">
        <button class="toggle-theme--switcher" aria-expanded="false">Grad Programs and More</button>
        {{ drupal_entity('block', 'theme_switcher', check_access=false) }}
      </div>
      <div class="header-container__menu-cols">
        <div class="header-container__menu--right">
            {{ attach_library('bmc_d9/marketing-grad-menu') }}
          <div class="section-menu" id="marketing-grad-menu">

          </div>


        </div>
        <div class="header-container__menu--left">
          {{ drupal_entity('block', 'menu_marketing_ancillary', check_access=false) }}
          <h2>Resources for</h2>
          {{ drupal_entity('block', 'menu_marketing_resources_for', check_access=false) }}

        </div>
      </div>
    </div>
    <div role="search">
      <button class="header-container__search-button" aria-expanded="false"><span class="visually-hidden">Search</span></button>
      <div class="header-container__search">
        <form action="/search">
          <label for="header-search" class="visually-hidden">Search</label>
          <input id="header-search" placeholder="Search Bryn Mawr College" type="search" name="keys">
          <input value="submit" type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
