{#
/**
 * @file
 * Theme override to display Header Container: Bulletin block.
 *
 * @see template_preprocess_block()
 */
#}
<div class="header-container__bulletin">
  {% if issue_identifier.name %}
    <div class="issue-logo">
      <div class="bulletin-issue">
        <a href="{{ issue_identifier.url }}"><h3 class="rotated">{{ issue_identifier.name }}</h3></a>
      </div>
    </div>
  {% endif %}
  {% if header_logo_link %}
    <a href="{{ header_logo_link }}" title="Home" rel="home" class="header__logo" id="logo">{{ header_logo }}</a>
  {% else %}
    {{ header_logo }}
  {% endif %}
  <button aria-expanded="false" class="meanmenu-reveal">
    <span class="visually-hidden">Toggle Menu</span>
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="header__menu">
    <div class="header__menu--top">
      {{ drupal_entity('block', 'menu_bulletin_main', check_access=false) }}
      <div class="back-to-edu">
        <a href="/">brynmawr.edu</a>
      </div>
    </div>
    <button class="open-search">Search</button>
    <div role="search" class="search">
      <form action="/bulletin/search">
        <label class="visually-hidden" for="bulletin-search-input">Search</label>
        <input placeholder="Search Alumnae Bulletin" type="search" name="keys" id="bulletin-search-input">
        <input type="submit" value="Submit Search">
      </form>
    </div>
  </div>
</div>
