{#
/**
 * @file
 * Theme override to display News Listing Container: Marketing block.
 *
 * Term IDs used in the Twig Tweak embeds below correspond to the terms from the 'Themes' taxonomy vocabulary.
 *
 * @see template_preprocess_block()
 */
#}
{% if tagged %}
  {% set tags = tagged %}
{% else %}
  {% set tags = 'all' %}
{% endif %}
<div class="news-listing__container">
  {% if first_or_only_page and (tags == 'all') %}
    <!--MARKETING NEWS ABOUT BLURB-->
    {% if about_this_content.0 %}
      <div class="listing_about_this_content news__listing_about_this_content">
        {{ about_this_content }}
      </div>
    {% endif %}
  {% endif %}
  {% if featured_news_mkt_nid and first_or_only_page and (tags == 'all') %}

    <!--FEATURED NEWS ARTICLE-->
    {{ drupal_view('news', '1up', 'all', 'all', featured_news_mkt_nid) }}
    <!--NON FEATURED NEWS ARTICLES-->
    {{ drupal_view('news', 'listing', '5', 'all', featured_news_mkt_nid) }}
  {% else %}
    <!--NO FEATURED NEWS ARTICLE ON THIS PAGE-->
    {{ drupal_view('news', 'listing', '5', tags) }}
  {% endif %}
</div>
