{#
/**
 * @file
 * Theme override to display News Listing Container: GSSWSR block.
 *
 * Term IDs used in the Twig Tweak embeds below correspond to the terms from the 'Themes' taxonomy vocabulary.
 *
 * @see template_preprocess_block()
 */
#}
{% if tagged %}
  {% set tags = tagged %}
{% else %}
  {% set tags = 'all' %}
{% endif %}
<div class="news-listing__container">
  {% if first_or_only_page and (tags == 'all') %}
    <!--GSSWSR NEWS ABOUT BLURB-->
    {% if about_this_content.0 %}
      <div class="listing_about_this_content news__listing_about_this_content">
        {{ about_this_content }}
      </div>
    {% endif %}
   {% endif %}
    {% if featured_news_gsswsr_nid and first_or_only_page and (tags == 'all') %}

      <!--FEATURED NEWS ARTICLE-->
      {{ drupal_view('news', '1up', 'all', 'all', featured_news_gsswsr_nid) }}
      <!--NON FEATURED NEWS ARTICLES-->
      {{ drupal_view('news', 'listing', '3', tags, featured_news_gsswsr_nid) }}
    {% else %}
      <!--NON FEATURED NEWS ARTICLES-->
      {{ drupal_view('news', 'listing', '3', tags) }}
    {% endif %}
</div>
