{#
/**
 * @file
 * Theme override to display News Listing Container: GSAS block.
 *
 * Term IDs used in the Twig Tweak embeds below correspond to the terms from the 'Themes' taxonomy vocabulary.
 *
 * @see template_preprocess_block()
 */
#}

{% if tagged %}
  {% set tags = tagged %}
{% else %}
  {% set tags = 'all' %}
{% endif %}
<div class="news-listing__container">
  {% if first_or_only_page and (tags == 'all') %}
    <!--GSAS NEWS ABOUT BLURB-->
    {% if about_this_content.0 %}
      <div class="listing_about_this_content news__listing_about_this_content">
        {{ about_this_content }}
      </div>
    {% endif %}
  {% endif %}
  {% if featured_news_gsas_nid and first_or_only_page and (tags == 'all') %}

    <!--FEATURED NEWS ARTICLE-->
    {{ drupal_view('news', '1up', 'all', 'all', featured_news_gsas_nid) }}
    <!--NON FEATURED NEWS ARTICLES-->
    {{ drupal_view('news', 'listing', '2', tags, featured_news_gsas_nid) }}
  {% else %}
    <!--NON FEATURED NEWS ARTICLES-->
    {{ drupal_view('news', 'listing', '2', tags) }}
  {% endif %}
</div>
