{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'prefooter',
] %}

<div{{ attributes.addClass(classes) }}>
    {% block prefooter_image %}
      {% if prefooter_image %}
        <div class="prefooter__img">
          {{ prefooter_image }}
        </div>
      {% endif %}
    {% endblock prefooter_image %}

    {% block prefooter_text %}
      <div class="prefooter__text">
        {% if prefooter_title %}
          <h2
            class="prefooter__title">{{ prefooter_title }}</h2>
        {% endif %}
        {% if prefooter_cta.0 %}
          <div class="prefooter__ctas">
            {{ prefooter_cta }}
          </div>
        {% endif %}
      </div>
    {% endblock prefooter_text %}
</div>
