{#
/**
 * @file
 * Theme override to display Story Listing Container: Postbac block.
 *
 * Term IDs used in the Twig Tweak embeds below correspond to the terms from the 'Themes' taxonomy vocabulary.
 *
 * @see template_preprocess_block()
 */
#}
{% if tagged %}
  {% set tags = tagged %}
{% else %}
  {% set tags = 'all' %}
{% endif %}
<div class="story-listing__container">
  {% if featured_story_postbac_nid and first_or_only_page and (tags == 'all') %}
    <!--FEATURED STORY-->
    {{ drupal_view('stories', '1up', 'all', 'all', featured_story_postbac_nid) }}
    <!--NON FEATURED STORIES-->
    {{ drupal_view('stories', 'listing', '6', tags, featured_story_postbac_nid) }}
  {% else %}
    <!--NON FEATURED STORIES-->
    {{ drupal_view('stories', 'listing', '6', tags) }}
  {% endif %}
</div>
