{#
/**
 * @file
 * Theme override to display Theme Switcher block.
 *
 * @see template_preprocess_block()
 */
#}
<nav role="navigation" aria-labelledby="block-menu-theme-switcher-menu" id="block-menu-theme-switcher" class="block block-menu navigation menu--theme-switcher">
  <h2 class="visually-hidden" id="block-menu-theme-switcher-menu">Grad Programs and More</h2>
  <ul class="menu">
    {% for link in links %}
      {% if link.active %}
        {% if link.child_links %}
          <li class="menu-item menu-item--expanded {{ link.machine_name }} is-active remove-delay">
            <button type="button" aria-current="true" aria-expanded="false">{{ link.title }}</button>
            <ul class="menu">
              {% for child_link in link.child_links %}
                {% if child_link.active %}
                  <li class="menu-item {{ child_link.machine_name }} is-active">
                    <a href="{{ child_link.url }}" data-drupal-link-system-path="{{ child_link.path }}" class="is-active" aria-current="true">{{ child_link.title }}</a>
                  </li>
                {% else %}
                  <li class="menu-item {{ child_link.machine_name }}">
                    <a href="{{ child_link.url }}" data-drupal-link-system-path="{{ child_link.path }}">{{ child_link.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="menu-item {{ link.machine_name }} is-active">
            <a href="{{ link.url }}" data-drupal-link-system-path="{{ link.path }}" class="is-active" aria-current="true">{{ link.title }}</a>
          </li>
        {% endif %}
      {% else %}
        {% if link.child_links %}
          <li class="menu-item menu-item--expanded {{ link.machine_name }} remove-delay">
            <button type="button" aria-expanded="false">{{ link.title }}</button>
            <ul class="menu">
              {% for child_link in link.child_links %}
                <li class="menu-item {{ child_link.machine_name }}">
                  <a href="{{ child_link.url }}" data-drupal-link-system-path="{{ child_link.path }}">{{ child_link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="menu-item {{ link.machine_name }}">
            <a href="{{ link.url }}" data-drupal-link-system-path="{{ link.path }}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>

