{#
/**
 * @file
 * Theme override to display the default Remote Video view mode
 *
 * @see template_preprocess_media()
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}

{% if content %}
  {{ content.field_media_remote_video_url.0.children['#url'] }}
{% endif %}
